<div style="background: rgba(248, 248, 127, 0.9); padding: 10px; position: relative; z-index: 9999; color: #888844; font-size: 12pt; font-family: sans-serif; text-shadow: #dddd66 1px 1px 0px; text-align: center; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); border-bottom: #ddddaa 1px solid;">
	Chcete skutočne aplikovať štýl?
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<form action="{{ url("template-change") }}" method="post" style="display: inline">
		{{ form }}
		<input type="submit" name="change_style" value="Áno" />
		<input type="submit" name="not_change_style" value="Nie" />
	</form>
</div>
