{% extends "base.html" %}

{% block breadcrumbs %}
	{{ breadcrumb("Notifications") }}
	{{ super() }}
{% endblock %}

{% block head_title %}
	{{ _("Notifications") }}
{% endblock %}

{% block content %}

	<h1>{{ _("Notifications") }}</h1>

	<div class="module notifications">
		{% for notification in notifications %}
			<div class="module-row{% if notification.readed %} inactive{% endif %}">
				<div class="links">
					{% if not notification.readed or notification.event.object_id %}
						<div class="btn"><span class="wrap"><a class="text" href="{{ notification.get_absolute_url() }}">Prečítať</a></span></div>
					{% endif %}
				</div>
				<p>
					{{ notification.event.message }}
				</p>
				<div class="info bottom">
					<span class="label {{ notification.readed|yesno("standard,important") }}">{{ notification.readed|yesno("Prečítané,Neprečítané") }}</span>
					{% if notification.content_type %}
						{% with content_type=notification.content_type %}
							{% include "widgets/content_type_label.html" %}
						{% endwith %}
					{% endif %}
					{{ notification.event.time|humandatetime }}
					{% if notification.event.author %}
					| <a href="{{ notification.event.author.get_absolute_url() }}">{{ notification.event.author }}</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
