{% extends "email_base.html" %}

{% block head_title %}Poznámka pridaná k správe{% endblock %}
{% block title %}Poznámka pridaná k správe{% endblock %}

{% block content %}

<p>
Poznámka bola pridaná k správe: <a href="{{ base_uri }}{{ news.get_absolute_url() }}">{{ news }}</a>
</p>

<h2>Poznámka</h2>

<p><strong>{{ note.subject }}</strong></p>

<p>
	<strong>Autor:</strong> <a href="{{ base_uri }}{{ note.author.get_absolute_url() }}">{{ note.author }}</a><br />
	{{ note.text|safe }}
</p>

<h2>Správa</h2>

<p>
	<strong>{{ news.title }}</strong><br />
	{{ news.short_text|safe }}
</p>
{% if news.short_text != news.long_text %}
	<hr />
	<p>
		{{ news.long_text|safe }}
	</p>
{% endif %}

{% endblock %}
