{% if user.is_authenticated %}
	<a class="user notouch" href="{{ user.get_absolute_url() }}" rel="nofollow">
		<span class="avatar">
			<img src="{{ avatar_for_user(user, 32) }}" class="gravatar photo" alt="Avatar" />
		</span>
		{{ firstof(user.get_full_name(), user.username) }}
		{% set unread_notifications=get_unread_notifications() %}
		{% if unread_notifications %}
			&nbsp;<span class="badge badge-important">{{ unread_notifications|length }}</span>
		{% endif %}
	</a>
{% else %}
	<a class="user notouch" href="{{ url('account_login') }}?next={{ url('home') }}" rel="nofollow">
		{{ _("Log in") }}
	</a>
{% endif %}
<ul id="userlinks" class="dropdown menu">
	{% include "partials/userlinks.html" %}
</ul>
