<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"  lang="{{ LANGUAGE_CODE|default("en-us") }}" xml:lang="{{ LANGUAGE_CODE|default("en-us") }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} {% block html_extra %}{% endblock %}>
<head>
	<title>{% block head_title %}LinuxOS.sk{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{{ static('386/style.scss') }}" />
	{% endcompress %}
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="canonical" href="{{ get_base_uri() }}{{ request.path }}" />
	<!-- <base href="{{ request.build_absolute_uri('/') }}" /> Asi sa nevyhnem oprave článkov -->
	<meta property="og:site_name" content="LinuxOS.sk" />
	{{ render_all_feeds(template="feeds/header_feeds.html") }}
	{% include "includes/common_headers.html" %}
	{% include "partials/microformats_header.html" %}
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{% if form %}{{ form.media.css }}{% endif %}
	{% block extrastyle %}{% endblock %}{% block extraheaders %}{% endblock %}
	{% block socialheaders %}
		{% with
			name="LinuxOS.sk",
			description="Najväčší slovenský komunitný portál venujúci sa open-source, Linuxu a Unixom. nájdete tu diskusné fórum, pravidelné novinky a zaujímavé články."
		%}
			{% include "partials/social_media.html" %}
		{% endwith %}
	{% endblock %}
</head>
<body>
	{% include 'includes/analytics.html' %}
	<header>
	{% block site_header %}
		<div id="top_header">
			<div class="hdrleft">
				<a id="linuxos_logo" href="{{ url('home') }}">LinuxOS</a>
			</div>
			<div class="hdrmain">
				<ul id="main_menu" class="tabs">
					{% block site_menu %}{% include "partials/site_menu.html" %}{% endblock %}
				</ul>
				<div id="top_right">
					<a href="{{ url("template-list") }}">Zmeniť štýl</a>   
					<div id="user_panel" class="username {% if user.is_authenticated %} authenticated{% endif %}">
						{% if user.is_authenticated %}
							<span class="wrap">
								<a class="text" href="{{ request.user.get_absolute_url() }}">
									<span class="icon-user"></span>
									{{ firstof(request.user.get_full_name(), request.user.username) }}
									{% set unread_notifications=get_unread_notifications() %}
									{% if unread_notifications %}
										&nbsp;<span class="badge important">{{ unread_notifications|length }}</span>
									{% endif %}
								</a>
							</span>
							<ul id="userlinks" class="dropdown menu">
								<li>
									<a href="{{ request.user.get_absolute_url() }}" rel="nofollow">{{ _("Profile") }}</a>
								</li>
									<li>
									<a href="{{ url('notifications:list') }}" rel="nofollow">{{ _("Notifications") }}{% if unread_notifications %}&nbsp;<span class="badge important">{{ unread_notifications|length }}</span>{% endif %}</a>
									</li>
								{% if user.is_staff %}
								<li>
									<a href="{{ url('admin:index') }}" rel="nofollow">{{ _('Site administration') }}</a>
								</li>
								{% endif %}
								<li>
									<a href="{{ url('account_logout') }}" rel="nofollow">{{ _('Log out') }}</a>
								</li>
								{% if user.blog and user.blog.pk %}
									<li>
										<a rel="nofollow" href="{{ user.blog.get_absolute_url() }}">{{ _('Blog') }}</a>
									</li>
								{% else %}
									<li>
										<a rel="nofollow" href="{{ url('blog:blog-update') }}">{{ _('Setup blog') }}</a>
									</li>
								{% endif %}
								<li>
									<a href="{{ url('account_change_password') }}" rel="nofollow">{{ _("Change password") }}</a>
								</li>
							</ul>
						{% else %}
							<span class="wrap"><a class="text" href="{{ url('account_login') }}?next={{ url('home') }}" rel="nofollow">{{ _("Log in") }}</a></span>
							<ul id="userlinks" class="dropdown menu">
								<li>
									<a href="{{ url('account_login') }}?next={{ url('home') }}" rel="nofollow">{{ _("Log in") }}</a>
								</li>
								<li>
									<a href="{{ url('account_signup') }}" rel="nofollow">{{ _('Sign up') }}</a>
								</li>
								<li>
									<a href="{{ url('account_reset_password') }}" rel="nofollow">{{ _("Password reset") }}</a>
								</li>
							</ul>
						{% endif %}
					</div>
					<div id="rss_panel">
						<span class="wrap"><a class="rss-icon text" href="#">RSS</a></span>
						{{ render_all_feeds(template="feeds/home_feeds.html") }}
					</div>
					<div id="search_panel">
						<form method="get" action="{{ url('fulltext:search', page=1) }}" class="search">
							<div class="search-input">
								<span class="input-container"><input type="text" name="q" onfocus="this.parentNode.parentNode.parentNode.className='active'" onblur="this.parentNode.parentNode.parentNode.className=''" /></span><button class="btn-search" title="Hľadať">Hľadať</button>
							</div>
						</form>
					</div>
				</div>
				{% block breadcrumbs %}
					{{ breadcrumb('LinuxOS.sk', class='home', url='home') }}
					{{ render_breadcrumbs(breadcrumbs) }}
				{% endblock %}
			</div>
		</div>
	{% endblock %}
	</header>
	<div id="mainwrap" class="main">
		<div id="colmask">
			<div id="colmid">
				<div id="colleft">
					<div id="col1">
						{% block messages %}
						{{ render_messages(messages) }}
						{% endblock %}
						<div id="site_content">
							{% block content %}{% endblock %}
							{% block discussion %}{% endblock %}
						</div>
					</div>
					<aside>
						<div id="aside">
							<div id="col2">
								<div id="aside_left">
									{% block left %}
										<div class="module news">
											<h2>Správy</h2>
											{{ news_frontpage() }}
											<div class="module-links bottom">
												<a href="{{ url('news:list', page=1) }}" class="next">Ďalšie</a>
											</div>
											{{ news_calendar() }}
											<div class="module-links bottom">
												<a href="{{ url('news:event-list', page=1) }}" class="next">Všetky udalosti</a>
											</div>
											{% if request.user.is_authenticated or ANONYMOUS_NEWS %}
												<div class="submit-row">
													<div class="positive">
														<div class="btn"><span class="wrap"><a class="text" href="{{ url("news:create") }}">Pridať správu</a></span></div>
													</div>
												</div>
											{% endif %}
										</div>
									{% endblock %}
								</div>
							</div>
							<div id="col3">
								<div id="aside_right">
									{% block right %}
										<div class="module-group">
											<div class="module linux">
												<h2>O Linuxe</h2>
												<ul class="menu">
													{% include "partials/menu_linux.html" %}
												</ul>
											</div>
											{% if tweets is defined %}
												<div class="module tweets">
													<h2>Tweety</h2>
													{% include "partials/tweets.html" %}
												</div>
											{% endif %}
											<div class="module portal">
												<h2>Portál</h2>
												<ul class="menu">
													{% include "partials/menu_portal.html" %}
												</ul>
											</div>
											<div class="module odporucam">
												<h2>Odporúčame</h2>
												{% include "static/block-odporucame.html" %}
											</div>
											<div class="module podporte">
												<h2>Podporte nás</h2>
												{% include "static/block-podporte.html" %}
											</div>
											<div class="module polls">
												<h2>Anketa</h2>
												{{ render_messages(messages, 'polls') }}
												{{ polls_frontpage() }}
											</div>
										</div>
									{% endblock %}
								</div>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="page-footer">
	<a href="http://linuxos.sk/" style="font-weight: bold;">LinuxOS.sk</a> © 2004-{{ now("Y") }} | <a href="http://linuxos.sk/team/" style="font-weight: bold;">LinuxOS.sk - Team</a> | <b>ISSN 1337-7639</b> | <a href="{{ url("page_ochrana-osobnych-udajov") }}">Osobné údaje</a><br />
Hosting sponzorovaný <a href="https://vpsfree.cz/">vpsFree.cz</a> o.s.
	</div>
	<script type="text/javascript">
	//<![CDATA[
	window._urls = window._urls || {};
	window._urls.static_base = '{{ static("") }}';
	//]]>
	</script>
	{% include "template_overrides/2013/js.compress.html" %}
	{% compress js %}{% if form and not form.no_compress %}{{ form.media.js }}{% endif %}{% endcompress %}
	{% if form and form.no_compress %}
		{{ form.media.js }}
	{% endif %}
	{% block extrajs %}
	{% endblock %}
</body>
</html>

