{% extends "base.html" %}

{% block head_title %}LinuxOS.sk - slovenský linuxový portál{% endblock %}

{% block extraheaders %}
<meta name="description" lang="sk" content="Najväčší slovenský komunitný portál venujúci sa open-source, Linuxu a Unixom. nájdete tu diskusné fórum, pravidelné novinky a zaujímavé články." />
{% endblock %}

{% block header %}
{{ super() }}
<h1 style="display: none">LinuxOS.sk - slovenský linuxový portál</h1>
{% endblock %}

{% block content %}
{{ add_discussion_attributes_heterogenous(articles, top_articles, posts, top_posts, forum_new, forum_no_comments, forum_most_comments, posts, new_items, desktops, tweets) }}
{{ add_hitcount(articles, top_articles, desktops) }}
<div class="module forum">
	<h2>Články a blogy</h2>
	<div class="module-row">
		{% with caption="Najnovšie články a blogy", topic_list=new_items %}
			{% include "partials/object_list_table.html" %}
		{% endwith %}
	</div>
	<h2>Diskusné fórum</h2>
	<div class="module-row">
		{% with caption="Najnovšie komentáre", topic_list=forum_new %}
			{% include "forum/block_topics_table.html" %}
		{% endwith %}
	</div>
	{% if forum_no_comments %}
	<div class="module-row">
		{% with caption="Nediskutované témy", topic_list=forum_no_comments %}
			{% include "forum/block_topics_table.html" %}
		{% endwith %}
	</div>
	{% endif %}
	<div class="module-row">
		{% with caption="Najdiskutovanejšie témy", topic_list=forum_most_comments %}
			{% include "forum/block_topics_table.html" %}
		{% endwith %}
	</div>
	<div class="module-row">
		{% with caption="Najnovšie blogy", topic_list=posts %}
			{% include "forum/block_topics_table.html" %}
		{% endwith %}
	</div>
	<div class="module-links bottom">
		{% if request.user.is_authenticated or ANONYMOUS_TOPIC %}
			<a href="{{ url("forum:create") }}">Pridať novú tému</a> |
		{% endif %}
		<a href="{{ url("forum:overview", page=1) }}" class="next">Prezerať celé fórum</a>
	</div>
</div>

<div class="module article">
	<h2>Články</h2>
	{% for top_article in top_articles %}
		<div class="article top">
			{% with article=top_article, show_thumbnail=1 %}
				{% include "article/block_list_item.html" %}
			{% endwith %}
		</div>
	{% endfor %}
	{% for top_post in top_posts %}
		{% with content_indicator=1, post=top_post %}
			{% include "blog/partials/item.html" %}
		{% endwith %}
	{% endfor %}
	{% for article in articles %}
		{% if article not in top_articles %}
			{% with show_thumbnail=0 %}
				{% include "article/block_list_item.html" %}
			{% endwith %}
		{% endif %}
	{% endfor %}
	<div class="module-links bottom">
		{% for category in article_categories %}
			<a href="{{ category.get_absolute_url() }}">{{ category }}</a>
			|
		{% endfor %}
		<a href="{{ url("article:series", page=1) }}">Seriály</a> |
		<a href="{{ url("article:list", page=1) }}" class="next">Ďalšie</a>
	</div>
</div>

<div class="module blog">
	<h2>Blogy</h2>
	{% for post in posts %}
		{% if article not in top_articles %}
			{% include "blog/partials/item.html" %}
		{% endif %}
	{% endfor %}
	<div class="module-links bottom">
		<a href="{{ url("blog:post-list", page=1) }}" class="next">Ďalšie</a>
	</div>
</div>

<div class="module desktops horizontal">
	<h2>Desktopy</h2>
	<div class="module-row">
		{% for desktop in desktops %}
			{% include "desktops/partials/desktop_link.html" %}
		{% endfor %}
	</div>
	<div class="module-links bottom">
		{% if request.user.is_authenticated %}
			<a href="{{ url("desktops:create") }}">Pridať nový</a> |
		{% endif %}
		<a href="{{ url("desktops:list", page=1) }}" class="next">Ďalšie</a>
	</div>
</div>

{% endblock %}
