{% load url from future %}

{% if survey %}
<h3><a href="{{ survey.get_absolute_url }}">{{ survey }}</a></h3>

<form action="{% url 'survey:post' pk=survey.pk %}" method="post" id="survey-form">{% csrf_token %}
{% with next_link=1 %}
{% include "survey/block_survey_detail_embedded.html" with input=1 %}
{% endwith %}
<div class="submit-row">
	<input type="hidden" name="next" value="{{ request.path }}" />
	{% if request.user.is_authenticated %}
	<div class="negative">
		<div class="btn flat"><span><a href="{% url 'survey:create' %}">Navrhnúť</a></span></div>
	</div>
	{% endif %}
	{% if survey %}
	<div class="positive">
		<button class="btn" type="submit"><span>Hlasovať</span></button>
	</div>
	{% endif %}
</div>

</form>
{% endif %}
