{% load i18n threaded_comments %}{% load url from future %}
{% for answer in survey.answers %}
<div class="module-row">
	<label>
		{% if input %}
			{% if survey.checkbox %}
				<input type="checkbox" name="answer" value="{{ forloop.counter0 }}" />
			{% else %}
				<input type="radio" name="answer" value="{{ forloop.counter0 }}" />
			{% endif %}
		{% endif %}
		{{ answer }}
	</label>
	<div class="progress">
		<div class="bar" style="width: {{ answer.percent|floatformat:0 }}%">
			{{ answer.percent|floatformat:0 }} %
		</div>
	</div>
</div>
{% endfor %}
<div class="module-links bottom">
	<span class="info">Hlasov: {{ survey.answer_count }}</span> |
	<span class="comments">
		{% get_comments_for_item survey %}
	</span>
	{% if next_link %}
		| <a class="next" href="{% url 'survey:list' %}">Ďalšie</a>
	{% endif %}
</div>
