{% load i18n %}{% load url from future %}
{% for answer in survey.answers %}
<div class="module-row">
	<label>
		{% if input %}
			{% if survey.checkbox %}
				<input type="checkbox" name="answer" value="{{ forloop.counter0 }}" />
			{% else %}
				<input type="radio" name="answer" value="{{ forloop.counter0 }}" />
			{% endif %}
		{% endif %}
		{{ answer }}
	</label>
	<div class="progressbar">
		<div class="completed" style="width: {{ answer.percent|floatformat:0 }}%">
			{{ answer.percent|floatformat:0 }} %
		</div>
	</div>
</div>
{% endfor %}
<div class="module-links bottom">
	<span class="info">Hlasov: {{ survey.answer_count }}</span> |
	<span class="comments">
		{% if survey.comment_count %}
			<a href="{{ survey.get_absolute_url }}#comments">{% blocktrans count counter=survey.comment_count %}{{ counter }} comment{% plural %}{{ counter }} commens{% endblocktrans %}</a>
		{% else %}
			<a href="{{ survey.get_absolute_url }}#comments">{% trans "No comments" %}</a>
		{% endif %}
	</span>
	{% if next_link %}
		| <a class="next" href="{% url 'survey:list' %}">Ďalšie</a>
	{% endif %}
</div>
