{% extends "survey/survey_base.html" %}

{% load breadcrumbs_tags threaded_comments %}
{% load threaded_comments %}

{% block breadcrumbs %}
{% breadcrumb %}{{ survey }}{% endbreadcrumb %}
{{ block.super }}
{% endblock %}

{% block title %}{{ survey }}{% endblock %}

{% block content %}
{% add_discussion_attributes survey %}
<h1>{{ survey }}</h1>

<div class="module survey">
{% include "survey/block_survey_detail_embedded.html" %}
</div>

{% endblock %}

{% block discussion %}{% render_threaded_comments_toplevel survey %}{% endblock %}
