{% extends "survey/survey_base.html" %}

{% load paginator_tags i18n %}
{% load threaded_comments %}

{% block title %}Zoznam ankiet{% endblock %}

{% block content %}
<h1>Ankety</h1>
<div class="module survey compact">
	{% autopaginate surveys pagenum items_per_page=10 %}
	{% add_discussion_attributes surveys %}
	{% for survey in surveys %}
		<div class="module-row">
			<h3><a href="{{ survey.get_absolute_url }}">{{ survey }}</a></h3>
			{% include "survey/block_survey_detail_embedded.html" %}
		</div>
	{% endfor %}
	{% paginator survey:list-page %}
</div>
{% endblock %}
