{% extends "account/base.html" %}

{% block breadcrumbs %}
{{ breadcrumb("Obnovenie hesla") }}
{{ super() }}
{% endblock %}

{% block head_title %}Obnovenie hesla{% endblock %}

{% block content %}
	<h1>Obnovenie hesla</h1>
	{% if user.is_authenticated %}
		{% include "account/snippets/already_logged_in.html" %}
	{% endif %}

	<p>Zabudnuté heslo? Zadajte sem Vašu e-mailovú adresu pre obnovu hesla.</p>

	<form method="POST" action="{{ url('account_reset_password') }}" class="password_reset">{% csrf_token %}
		<fieldset class="module">
			{% include "includes/form_loop.html" %}
			<div class="submit-row">
				<div class="positive">
					<button class="btn primary" type="submit" title="Obnoviť heslo"><span class="wrap"><span class="text">Obnoviť heslo</span></span></button>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock %}
