{% extends "account/base.html" %}

{% block breadcrumbs %}
{{ breadcrumb("Nastaviť heslo") }}
{{ super() }}
{% endblock %}

{% block head_title %}Nastaviť heslo{% endblock %}

{% block content %}
	<h1>Nastaviť heslo</h1>

	<form method="POST" action="{{ url('account_set_password') }}" class="password_set">
		{% csrf_token %}
		<fieldset class="module">
			{% include "includes/form_loop.html" %}
			<div class="submit-row">
				<div class="positive">
					<button class="btn primary" type="submit" title="Nastaviť heslo"><span class="wrap"><span class="text">Nastaviť heslo</span></span></button>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock %}
