{% extends "account/base.html" %}

{% block head_title %}Zmeniť heslo{% endblock %}

{% block breadcrumbs %}
{{ breadcrumb("Zmeniť heslo") }}
{{ super() }}
{% endblock %}

{% block content %}
	<h1>Zmeniť  heslo</h1>

	{% include "account/partials/profile_tabs.html" %}
	{% include "account/partials/profile_edit_tabs.html" %}

	<form method="POST" action="{{ url('account_change_password') }}" class="password_change">{% csrf_token %}
		<fieldset>
			{% include "includes/form_loop.html" %}
			<div class="submit-row">
				<div class="positive">
					<button type="submit" name="action" class="btn primary"><span class="wrap"><span class="text">Zmeniť heslo</span></span></button>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock %}
