{% extends "account/base.html" %}

{% block breadcrumbs %}
{{ breadcrumb("Obnovenie hesla") }}
{{ super() }}
{% endblock %}

{% block head_title %}Zmeniť heslo{% endblock %}

{% block content %}
	<h1>{% if token_fail %}Nesprávny token{% else %}Zmeniť heslo{% endif %}</h1>

	{% if token_fail %}
		<p>Odkaz na obnovu hesla je nesprávny, alebo už bol použitý. Vyžiadajte si <a href="{{ url("account_reset_password") }}">obnovu hesla znovu</a>.</p>
	{% else %}
		{% if form %}
			<form method="POST" action="{{ url(request.resolver_match.url_name, **request.resolver_match.kwargs) }}">{% csrf_token %}
				<fieldset class="module">
					{% include "includes/form_loop.html" %}
					<div class="submit-row">
						<div class="positive">
							<button class="btn primary" type="submit" title="Zmeniť heslo"><span class="wrap"><span class="text">Zmeniť heslo</span></span></button>
						</div>
					</div>
				</fieldset>
			</form>
		{% else %}
			<p>Vaše heslo bolo zmenené.</p>
		{% endif %}
	{% endif %}
{% endblock %}
