{% extends "account/base.html" %}

{% block head_title %}Upraviť profil{% endblock %}

{% block breadcrumbs %}
	{{ breadcrumb("Avatar") }}
	{{ breadcrumb(firstof(user.get_full_name(), user.username), url="accounts:profile", pk=user.pk) }}
	{{ super() }}
{% endblock %}

{% block extraheaders %}
<meta name="robots" content="noindex, nofollow" />
{{ super() }}
{% endblock %}

{% block content %}
<h1>Zmeniť avatar</h1>

{% include "account/partials/profile_tabs.html" %}
{% include "account/partials/profile_edit_tabs.html" %}

<form action="{{ url("accounts:my_profile_avatar_edit") }}" method="post" id="edit-user-avatar-form" enctype="multipart/form-data">{% csrf_token %}
	<fieldset class="module">
		{% include "includes/form_loop.html" %}
		<div class="submit-row">
			<div class="negative">
				<div class="btn"><span class="wrap"><a class="text" href="{{ url("accounts:my_profile") }}">Späť do profilu</a></span></div>
			</div>
			<div class="positive">
				<button class="btn primary" type="submit" title="Uložiť"><span class="wrap"><span class="text">Uložiť</span></span></button>
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}

