{% extends "account/base.html" %}

{% block head_title %}Registrovať{% endblock %}

{% block breadcrumbs %}
{{ breadcrumb("Registrácia") }}
{{ super() }}
{% endblock %}

{% block extraheaders %}
<meta name="robots" content="noindex, nofollow" />
{{ super() }}
{% endblock %}

{% block content %}
<h1>Registrovať</h1>

<p>Už ste registrovaní? V tom prípade pokračujte <a href="{{ login_url }}">prihlásením</a>.</p>

<form class="signup" id="signup_form" method="post" action="{{ url('account_signup') }}">{% csrf_token %}
	<fieldset class="module">
		{% include "includes/form_loop.html" %}
		{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}

		<div class="submit-row">
			<div class="positive">
				<button class="btn primary" type="submit" title="Vytvoriť účet"><span class="wrap"><span class="text">Vytvoriť účet</span></span></button>
			</div>
		</div>
	</fieldset>
</form>

{% endblock %}
