{% extends "account/user_posts_base.html" %}

{% block head_title %}Zoznam príspevkov | {{ super() }}{% endblock %}

{% block content %}

<h1>{{ user_profile }} - Zoznam príspevkov</h1>

<div class="module">
	<h2>Počet príspevkov</h2>

	<ul>
		{% for stat in stats %}
			{% if stat.count %}
				<li><a href="{{ stat.url }}">{{ stat.label }} ({{ stat.count }})</a></li>
			{% endif %}
		{% endfor %}
	</ul>
</div>

{% if daily_stats and monthly_stats and (not page_obj or page_obj.number == 1) %}
	<div class="module monthly-stats-container">
		<div class="monthly-stats">
			<div id="monthly_stats"></div>
		</div>
	</div>
	<div class="module daily-stats-container">
		<div class="daily-stats">
			<div id="daily_stats"></div>
			<div style="clear: both"></div>
		</div>
	</div>
{% endif %}

{% endblock %}
