{% extends "account/user_posts_base.html" %}

{% block head_title %}Zoznam komentovaných diskusií | {{ super() }}{% endblock %}

{% block breadcrumbs %}
{{ breadcrumb("Komentované diskusie") }}
{{ super() }}
{% endblock %}

{% block content %}

<h1>{{ user_profile }} - Zoznam komentovaných diskusií</h1>

{{ super() }}

{% with caption="Komentované diskusie" %}
	{{ add_discussion_attributes_heterogenous(object_list) }}
	{% include "account/partials/post_list.html" %}
{% endwith %}

{% endblock %}
