{% extends "account/user_posts_base.html" %}

{% block head_title %}{{ objects_name|capfirst }}| {{ super() }}{% endblock %}

{% block breadcrumbs %}
{% if day %}{{ breadcrumb(day|localtime|date("SHORT_DATE_FORMAT")) }}{% endif %}
{{ breadcrumb(objects_name|capfirst, url=url(request.resolver_match.view_name, pk=view.kwargs.pk, page=1)) }}
{{ super() }}
{% endblock %}

{% block content %}

<h1>{{ user_profile }} - {{ objects_name }}</h1>

{% include "account/partials/profile_tabs.html" %}

{{ super() }}

{% with caption=objects_name|capfirst %}
	{{ add_discussion_attributes(object_list) }}
	{% include "account/partials/post_list.html" %}
{% endwith %}

{% endblock %}
