@import "sprites";
@import "utility";
@import "../css/code_light";

$transition-duration: 0.1s;

$code-color: #d14;

$generic-background: white;
$generic-foreground: black;
$generic-font: sans-serif;

$hdr-high: #4c4e5a;
$hdr-mid: #5d6370;
$hdr-low: #000000;

$link-color: #1d5886;
$link-color-hover: darken($link-color, 10%);

$header-bg: #4d9dd9;

$menu-active-background: mix($header-bg, $link-color, 70%);

$help-color: #888;
$inactive-color: $hdr-mid;
$info-color: $hdr-mid;
$highlight-color: #fafa40;
$breadcrumb-background: #d6eeff;

$title-padding: 1em;
$td-padding: 3px;
$row-padding: .7em;

$btn-height: 32px;
$big-btn-height: 38px;

$module-padding: 5px;
$module-margin: 1.5em;
$base-margin: $module-margin;
$module-header-background: white;
$module-row-border: 1px solid #eee;
$module-links-color: #aaa;

$light-border: 1px solid #e6e4e4;
$layout-padding: $module-margin;

$left-background: #e0ebff;
$comment-border: $left-background;

$form-label-width: 10em;

$table-row-bg: $generic-background;
$table-row-alternate-bg: mix($header-bg, $generic-background, 9%);

@mixin no-space() {
	margin: 0; padding: 0;
}

@mixin generic-color() {
	background-color: $generic-background;
	color: $generic-foreground;
}

@mixin generic-font() {
	font-family: $generic-font;
	font-size: 13px;
}

@mixin module-shadow() {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

@mixin input() {
	background-color: $generic-background;
	color: $generic-foreground;
	padding: 3px 6px; border: $light-border;
}

/* === Layout === */

#colmask {
	float: left; clear: both;
	width: 100%; height: 100%;
	overflow: hidden;
	position: relative;
}

#col1 {
	width: 68%;
	left: 100%;
	float: left;
	position: relative;
	overflow: hidden;
}

#colleft {
	float: left;
	right: 68%;
	width: 100%;
	position: relative;
	background: $left-background;
	border-right: solid 1px #c4d1e3;
}

#aside {
	float: left;
	position: relative;
	overflow: hidden;
	width: 32%;
}

/* 2 stĺpce */
@media only screen and (max-width: 1279px) {

#aside #aside_right {
	padding-top: 0;
}

}

/* 3 stĺpce */
@media only screen and (min-width: 1280px) {

#col1, #col2, #col3 {
	float: left;
	position: relative;
	overflow: hidden;
}

#colright, #colmid, #colleft {
	float: left;
	width: 100%;
	position: relative;
}

#colmask {
	background: $left-background;
}

#colmid {
	right: 25%;
	background: $generic-background;
	border-right: solid 1px #c4d1e3;
}

#colleft {
	right: 50%;
	background: $left-background;
	border-right: solid 1px #c4d1e3;
}

#col1 {
	width: 50%;
	left: 100%;
}

#col2 {
	width: 25%;
	left: 25%;
}

#col3 {
	width: 25%;
	left: 75%;
}

#aside {
	float: none;
	overflow: visible;
	width: auto;
}

#top_header .hdrleft {
	width: 25%;
}

#top_header .hdrmain {
	width: 75%;
}

}

.column-left {
	width: 50%;
	margin-top: $module-margin;
	float: left;
	clear: left;
	.module {
		margin-right: $module-margin / 2;
	}
}

.column-right {
	width: 50%;
	margin-top: $module-margin;
	float: right;
	clear: right;
	.module {
		margin-right: $module-margin / 2;
	}
}

.module.preview {
	padding-bottom: .7em;
	overflow-y: auto;
}


/* === Nastavenia základných prvkov === */

body {
	min-width: 800px;
	@include generic-color();
	@include generic-font();
	@include no-space();
}

header, aside, nav, ul, form { display: block; @include no-space(); }

h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1 a, h2 a, h3 a { text-decoration: none; }
h1, h2 { color: $hdr-high; }
h3, h4 { color: $hdr-mid; }
h5, h6 { color: $hdr-low; }

h1 { font-size: 2em;    margin: 0px 0px $row-padding*1.0 0px; }
h2 { font-size: 1.5em;  margin: $row-padding*1.0 0px $row-padding*0.5 0px; }
h3 { font-size: 1.25em; margin: $row-padding*0.7 0px $row-padding*0.5 0px; }
h4 { font-size: 1em;    margin: $row-padding*0.5 0px $row-padding*0.4 0px; }
h5 { font-size: 0.85em; margin: $row-padding*0.4 0px $row-padding*0.3 0px; }
h6 { font-size: 0.66em; margin: $row-padding*0.3 0px $row-padding*0.2 0px; }

hr { background: #eee; display: block; height: 1px; border: none; }

p { margin: 1em 0; }
ul { padding-left: 2em; }
img { border: none; }

ul > li { list-style: square; }
li ul > li { list-style: circle; }

a       { color: $link-color; text-decoration: underline; }
a:hover { color: $link-color-hover; background-color: rgba(215, 228, 239, 0.5); border-radius: 3px; }

dl { @include no-space(); }
dt { @include no-space(); font-weight: bold; }
dd { @include no-space(); margin-left: 4em; }

.pull-left { float: left; }
.pull-right { float: right; }

pre, .codeblock { color: mix($generic-foreground, $generic-background, 60%); }
code { color: $code-color; background: mix($generic-background, $generic-foreground, 98%); }
pre, .annotation, .codeblock { margin: $module-padding; padding: $module-padding; background: mix($generic-background, $generic-foreground, 98%); border: $light-border; overflow: auto; }

blockquote {
	font-style: italic;
	background: #eff3f7;
	padding: $module-margin / 2;
	margin: $module-margin / 2;
	border-left: #cbe2fe 10px solid;
	&:before {
		font-family: serif;
		content: "”";
		font-size: 600%;
		display: block;
		float: right;
		margin-top: -$module-margin / 6;
		color: $generic-background;
	}
}

textarea { width: 30em; height: 20em; @include input(); }
textarea.wymeditor { width: auto; height: 15em; display: block; clear: both; }
.textareawrapper {
	clear: both;
	padding: $row-padding 12px 3px 0;
	position: relative;
	.btn.settings {
		position: absolute;
		right: 0px;
		a.settings {
			width: 16px;
			height: 15px;
			overflow: hidden;
			margin-top: 9px;
			text-indent: -9999px;
			@include sprite-generated(settings_icon_14, $setSize: false);
		}
	}
	textarea {
		width: 100%;
		padding: 0;
	}
}

form .formatwrapper {
	display: none;
}

.highlighted { background: $highlight-color; }

.clear, fieldset, .module { clear: both; }

/* === Bloky === */

@mixin styled_header() {
	font-size: 1.5em;
	padding: 0 $title-padding;
	margin: 0 (-$module-padding);
	color: $module-header-background;
	text-shadow: 1px 1px 0px darken($header-bg, 10%);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	@include sprite-generated(block_header_bg, $setSize: false);
	background-color: $header-bg;
	background-repeat: repeat-x;
	line-height: 37px;
	height: 37px;
	width: auto;
}

fieldset, .module {
	margin: 0;
	padding: 0 $module-padding;
	background: $generic-background;
	border: $light-border;
	@include module-shadow();
	h2 {
		@include styled_header();
	}
}

table.bigheader th {
	@include styled_header();
}

* + .module, .module + form {
	margin-top: $module-margin;
}

.module-group .module {
	margin-top: -1px;
}

.module .clearpadding {
	margin: 0 -$module-padding;
}

.module-row {
	padding: $row-padding;
	border-bottom: $module-row-border;
	overflow: hidden;
	.inactive {
		color: #888;
	}
	.module-row {
		padding: $row-padding*0.4;
		border: none;
	}
}

.module-links, .pagination {
	padding: $row-padding * 0.5;
	text-align: center;
	color: $module-links-color;
	clear: both;
	a {
		text-decoration: none;
		&.prev:before { content: "\00AB "; }
		&.next:after { content: " \00BB"; }
	}
}

#aside_left, #aside_right {
	.module { border: mix($generic-foreground, $left-background, 15%) 1px solid; }
	.module-row { padding: $row-padding / 2; }
	.module-row h3 { margin: 1px 0px; }
	.info { font-size: 0.875em; }
	p { margin: .2em 0; }
}

/* === Tabuľka === */

table { width: 100%; border-collapse: collapse; }
tr:nth-child(odd) { background-color: $table-row-bg; }
tr:nth-child(even) { background-color: $table-row-alternate-bg; }
tr { border-top: 1px solid mix($table-row-alternate-bg, $generic-foreground, 95%); }
th { font-weight: bold; text-align: center; }
td { padding: $td-padding; }
th { padding: $td-padding * 2 $td-padding; }
.module table tr:first-child { border: none; }

td, th { &.title { text-align: left; } }
th, td { &.icons, &.number, &.date { text-align: center; } }

th.title a, td.title a {
	display: block;
	margin: -$td-padding;
	padding: $td-padding;
	height: 100%;
	text-decoration: none;
	&:hover {
		background: none;
		border-radius: 0px;
		text-decoration: underline;
	}
}

/* === UI prvky === */

.info {
	color: $info-color;
	.subject {
		color: $generic-foreground;
		font-weight: bold;
	}
	&.items-count {
		font-size: 80%;
		&:before {
			content: ' (';
			display: inline;
		}
		&:after {
			content: ') ';
			display: inline;
		}
	}
}

.object-tools {
	float: right;
	.btn {
		float: left;
	}
}

.links {
	min-height: $btn-height;
	padding: $row-padding;
}

/* Tlačidlo */

button:focus { outline: none; }

.banner_button {
	text-indent: -9999px;
	overflow: hidden;
	background-position: top left;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top;
}

.btn::-moz-focus-inner {
	padding: 0;
	border: 0
}

.btn {
	padding: 0;
	margin: 0 5px 0 0;
	background: none;
	border: none;
	line-height: $btn-height;
	list-style: none;
	cursor: pointer;
	display: block;

	.wrap {
		padding: 0;
		margin: 0 0 0 12px;
		border: none;
		vertical-align: middle;
		line-height: $btn-height;
		color: #333;
		cursor: pointer;
	}

	.wrap, .search-input {
		@include sprite-generated(btn_content_std, $setSize: false, $right: true);
		display: block;
		float: left;
		padding-right: 12px;
		font-size: 12px;
		text-shadow: 0px 1px 0px white;
		text-decoration: none;

		&:before {
			@include sprite-generated(btn_content_std, $setSize: false);
			content: " ";
			width: 12px;
			margin-left: -12px;
			overflow: hidden;
			float: left;
			height: $btn-height;
		}

		.dropdown {
			display: block;
			margin-right: 15px;
			position: relative;
			.icon {
				@include sprite-generated(dropdown_icon_14);
				position: absolute;
				right: -18px;
				top: 11px;
			}
		}
	}

	.search-input {
		margin-left: 0;
	}

	.text {
		text-decoration: none;
		line-height: $btn-height;
		display: block;
		white-space: nowrap;
		color: #333;
		&:hover {
			background: none;
		}
		&:before {
			content: " ";
			display: none;
			float: left;
			width: 16px;
			height: 15px;
			margin: 9px 4px 0 -2px;
			overflow: hidden;
		}
	}

	/*&.reply .text:before { @include sprite-generated(comment_icon_14); display: block; }*/
	&.watch .text:before { @include sprite-generated(watch_icon_14); display: block; }
	&.resolved .text:before { @include sprite-generated(tick_icon_14); display: block; }
	&.lock .text:before { @include sprite-generated(lock_icon_14); display: block; }
	&.delete .text:before { @include sprite-generated(delete_icon_14); display: block; }
	&.private .text:before { @include sprite-generated(watch_icon_14); display: block; }
	/*
	&.up .text:before { @include sprite-generated(up_icon_14); display: block; }
	&.down .text:before { @include sprite-generated(down_icon_14); display: block; }
	*/

	&:hover {
		.wrap { @include sprite-generated(btn_content_std_hover, $setSize: false, $right: true); }
		.wrap:before { @include sprite-generated(btn_content_std_hover, $setSize: false); }
	}
	&:active, &:focus {
		.wrap { @include sprite-generated(btn_content_act, $setSize: false, $right: true); }
		.wrap:before { @include sprite-generated(btn_content_act, $setSize: false); }
	}
	&:active:hover {
		.wrap { @include sprite-generated(btn_content_act_hover, $setSize: false, $right: true); }
		.wrap:before { @include sprite-generated(btn_content_act_hover, $setSize: false); }
	}
}

.btn.reply, .btn.login {
	float: right;
}

.btn-group.reply, .btn-group.voting, .btn-group.admin {
	float: right;
}

.btn-group {
	white-space: nowrap;
	margin: 0 5px 0 0;

	.btn {
		padding-left: 0;
		margin-right: 0;
		float: left;

		.wrap {
			background-position: (- map-get(map-get($sprites, btn_content_std), x) - 16px) (- map-get(map-get($sprites, btn_content_std), y));
			background-repeat: repeat-x;
			padding: 0px 7px;
			margin-left: 0px;
			&:before {
				width: 1px;
				margin-left: -7px;
				background-position: (- map-get(map-get($sprites, btn_content_std), w) + 4px) (- map-get(map-get($sprites, btn_content_std), y));
			}
		}
		&:first-child {
			margin-left: -7px;
			.text {
				padding-left: 0px;
			}
			.wrap {
				margin-left: 12px;
			}
			.wrap:before {
				background-position: (0px) (- map-get(map-get($sprites, btn_content_std), y));
				margin-left: -12px;
				width: 5px;
			}
		}
		&:last-child {
			.wrap {
				background-position: right (- map-get(map-get($sprites, btn_content_std), y));
				background-repeat: no-repeat;
				padding-right: 12px;
				margin-right: 5px;
			}
		}
	}
}

#top_header {
	.icon-user {
		margin: 12px 5px 0 3px;
		@include sprite-generated(profile_icon_14);
		float: left;
	}
}

#top_header .btn, .submit-row .btn {
	@include no-space();
	line-height: $big-btn-height;

	.wrap, .search-input {
		@include sprite-generated(btn_std, $setSize: false, $right: true);
		padding-right: 15px;
		font-size: 14px;
		font-weight: bold;
		color: $link-color;
		line-height: $big-btn-height;
		.dropdown {
			.icon { top: 13px; }
		}
	}
	.text {
		line-height: $big-btn-height;
		color: $link-color;
	}
	.wrap:before, .search-input:before {
		content: ".";
		@include sprite-generated(btn_std, $setSize: false);
		width: 15px; margin-left: -15px;
		text-indent: -9999px; overflow: hidden;
		float: left;
		height: $big-btn-height;
	}
	&:hover {
		.wrap { @include sprite-generated(btn_std_hover, $setSize: false, $right: true); }
		.wrap:before { @include sprite-generated(btn_std_hover, $setSize: false); }
		.wrap.dropdown { background: none; }
	}
	&:active, &:focus {
		.wrap { @include sprite-generated(btn_act, $setSize: false, $right: true); }
		.wrap:before, &:focus span:before { @include sprite-generated(btn_act, $setSize: false); }
	}
	&:active:hover {
		.wrap { @include sprite-generated(btn_act_hover, $setSize: false, $right: true); }
		.wrap:before { @include sprite-generated(btn_act_hover, $setSize: false); }
	}
}

.module .menu {
	padding: $title-padding 0px;
}

.menu {
	/* Dropdown zoznam */
	&.dropdown {
		position: absolute;
		right: 0px;
		z-index: 1;
		display: none;
		border-radius: 3px;
		border: rgba(0, 0, 0, 0.4) 1px solid;
		@include module-shadow();
		padding: 3px 0px;
		margin: $big-btn-height 1px 0 0;
		&:hover {
			display: block;
		}
		a {
			white-space: nowrap;
			line-height: 32px;
		}
	}
	background: $generic-background;
	a {
		color: $link-color;
		display: block;
		text-decoration: none;
		line-height: 24px;
		&:hover {
			border-radius: 0;
			background: none;
		}
	}
	padding: 0; margin: 0;
	li {
		position: relative;
		list-style: none; padding: 0px $title-padding; margin: 0px;
		&:hover {
			background: $menu-active-background;
			color: $generic-background;
			a {
				color: $generic-background;
			}
		}
	}
}

/* === Formulár === */
.form-row {
	padding: $row-padding;
	border-bottom: $light-border;
	.field-label, .formset-label {
		display: block;
		padding: 5px 10px 0 0;
		float: left;
		width: $form-label-width;
		color: $inactive-color;
	}
	.required {
		color: $generic-foreground;
		font-weight: bold;
	}
	.help {
		padding-left:
		$form-label-width+2em;
		font-size: 0.875em;
		color: $help-color;
		margin: .3em 0;
	}
	.radio-description {
		@include no-space();
		font-size: 0.875em;
		color: $help-color;
	}
	input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"] {
		vertical-align: middle;
		width: 15em;
	}
	ul {
		@include no-space();
		margin-left: $form-label-width+1em;
	}
	li {
		list-style: none;
	}
}

.submit-row {
	@include sprite-generated(submit_row_bg, $setSize: false);
	padding: 1px 2px;
	height: 39px; margin: -1px (-$module-padding) 0 (-$module-padding);
	border-top: 1px solid #e6e4e4;
	border-left: 1px solid #74a8d1;
	border-right: 1px solid #74a8d1;
	background-repeat: repeat-x;
	background-color: #8cccfe;
	.positive { float: right; .btn { float: left; } }
	.negative { float: left; .btn { float: left; } }
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"] {
	@include input();
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"] {
	@include sprite-generated(input_bg, $setSize: false);
	background-repeat: repeat-x;
	background-color: #fff;
}

textarea {
	background-color: #fff;
}

.formset {
	clear: both;
	.attachment_visibility {
		text-align: right;
		label {
			float: none;
			padding: 0;
			text-align: right;
			width: auto;
		}
	}
}

.formset-field {
	padding: 0 3px;
	input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"], textarea {
		padding: 3px 0; width: 100%;
	}
}

/* === Obsah stránky */

#site_content, #aside_left, #aside_right { padding: $layout-padding; } #site_content img, #site_content > img, #site_content > a > img { max-width: 100%; }
#aside_left .module, #aside_right .module { font-size: 85%; }

/* === Stránkovač === */
.pagination li {
	padding: 2px 0px;
	border: $light-border;
	display: inline;
	list-style: none;
	margin: 0;
	a { padding: 2px 3px; text-decoration: none; }
	a:hover { border-radius: 0px; border: none; color: $generic-background; background: $menu-active-background; }
	&.disabled a { color: $module-links-color; cursor: default; }
	&.disabled a:hover { border: none; color: $module-links-color; background: white; }
	&.active { border-color: $link-color; }
	&.active a { background: $table-row-alternate-bg; }
	&.active a:hover { color: $link-color; }
	&.skip { border: none; }
}

/* === Ikony === */

@mixin icon() {
	display: block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -9999px;
}

.trashcan-icon { @include icon(); @include sprite-generated(trashcan); }

/* === Hlavička === */

#linuxos_logo {
	display: block;
	text-align: center;
	margin: 0px auto;
	overflow: hidden;
	text-indent: -9999px;
	@include sprite-generated(logo);
}

.hdrleft {
	width: 32%;
	float: left;
}

.hdrmain {
	width: 68%;
	float: right;
	position: relative;
}

.tabs {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 31px;
	margin: 15px 0 0 0;
	height: 33px;
	li {
		float: left;
		list-style: none;
		a {
			display: block;
			line-height: 25px;
			padding: 8px 10px 0 0;
			font-size: 13px;
			font-weight: bold;
			color: #e5f4ff;
			text-shadow: 0px 1px 0px #2c6c99;
			text-decoration: none;
			@include sprite-generated(tabs_std, $setSize: false, $right: true);
			margin-right: 5px;
			&:hover {
				background-color: transparent;
			}
		}
		a:before {
			content: ".";
			@include sprite-generated(tabs_std, $setSize: false);
			width: 10px; margin-left: -10px;
			text-indent: -9999px; overflow: hidden;
			float: left;
			height: 33px;
			margin-top: -8px;
		}
		&:hover, &.active {
			a {
				@include sprite-generated(tabs_act, $setSize: false, $right: true);
				border-radius: 0px;
				color: $link-color;
				text-shadow: 0px 1px 0px $generic-background;
				line-height: 30px;
				padding-top: 3px;
			}
			a:before {
				@include sprite-generated(tabs_act, $setSize: false);
				margin-top: -3px;
			}
		}
		ul {
			position: absolute;
			line-height: 31px;
			top: 33px;
			right: 0px;
			left: 0px;
			margin-left: 16px;
			background: $breadcrumb-background;
			z-index: 1;
			display: none;
		}
		&:hover ul {
			display: block;
			padding: 0 0 0 6px;
			li {
				a {
					background: none;
					line-height: 31px;
					padding: 0 6px;
				}
				a:before {
					background: none;
				}
				a:hover {
					background: mix($breadcrumb-background, $generic-foreground, 95%);
				}
			}
		}
	}
}

ul#main_menu {
	padding-left: 6px;

	li {
		position: relative;
	}

	li:first-child {
		margin-left: 2px;
	}

	.badge {
		position: absolute;
		top: 0;
		right: 0;
		margin-right: 14px;
		margin-top: -4px;
		z-index: 1;
	}
}

#search-panel {
	margin-top: 5px;
	float: right;
	&:hover, &.active {
		width: 237px;
	}
}

.hdrleft, .hdrmain {
	height: 80px;
}

#top_header {
	height: 80px;
	.pull-right { right: 0px; position: absolute; }
	@include sprite-generated(header_bg, $setSize: false);
	background-repeat: repeat-x;
	background-color: #4d9dd9;
	@mixin btn_icon() {
		width: 32px;
		border: none;
		margin: 0 -5px;
		padding: 0;
		line-height: 38px;
		cursor: pointer;
		text-indent: -9999px;
		height: 38px;
	}
	.search {
		line-height: inherit;
		height: 38px;
		input {
			width: 200px;
			color: $link-color;
			display: none;
			border: none;
			outline: none;
			color: $link-color;
			background: none;
			font-weight: bold;
			font-size: 14px;
			height: 20px;
			line-height: 20px;
			margin: 6px 0 0 0;
			padding: 3px 0;
		}
	}
	.active .search, .search:hover {
		width: 237px;
		position: absolute;
		input {
			display: inline;
		}
	}
	.btn-search {
		@include btn_icon();
		@include sprite-generated(search_icon);
		background-color: transparent;
	}
	#user_panel {
		float: right;
		margin: 5px 5px 0 0;
		position: relative;
		&:hover #userlinks {
			display: block;
		}
		.username a {
			max-width: 200px;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		@media only screen and (max-width: 1024px) {
			.username a {
				max-width: 100px;
			}
		}
	}
	#rss_panel {
		float: right;
		margin: 5px 0 0 0;
		position: relative;
		.rss-icon {
			@include btn_icon();
			@include sprite-generated(rss_icon);
			&:hover {
				border-radius: 0px;
				@include sprite-generated(rss_icon);
			}
		}
		&:hover #rsslinks {
			display: block;
		}
	}
	#settings_panel {
		float: right;
		margin: 5px 0 0 0;
		position: relative;
		.settings-icon {
			@include btn_icon();
			@include sprite-generated(settings_icon);
			&:hover {
				border-radius: 0px;
				@include sprite-generated(settings_icon);
			}
		}
	}
	.dropdown.menu {
		margin-top: 38px;
		&:before {
			content: ".";
			text-indent: -9999px;
			overflow: hidden;
			top: -7px; right: 10px;
			@include sprite-generated(corner_arrow_up);
			position: absolute;
			display: block;
		}
	}
}

/* Prihlásenie */

#login-form {
	width: 30em;
	margin: 2em auto 0 auto;
}

dl.profile {
	margin-left: 200px;
	margin-top: $module-margin * 2;
	dt { width: 13em; float: left; text-align: right; line-height: 1.5em; }
	dd { margin-left: 14em; clear: right; line-height: 1.5em; }
}

.avatar-profile {
	@include module-shadow();
	border: $light-border;
	float: left;
	padding: $module-padding;
	margin: $module-margin;
	img {
		display: block;
	}
}

/* Breadcrumbs */

#site_breadcrumbs {
	height: 36px; bottom: 0px; margin-left: -3px; padding-left: 5px;
	@include sprite-generated(breadcrumb_bg, $setSize: false);
	margin-top: 44px;
	ul {
		@include no-space();
		height: 36px;
		@include sprite-generated(breadcrumb_panel_bg, $setSize: false);
		background-repeat: repeat-x;
		overflow: hidden;
	}
	li {
		height: 31px; line-height: 31px; margin-top: 5px; padding-right: 5px;
		list-style: none;
		float: left;
		@include sprite-generated(breadcrumb_std, $setSize: false, $right: true);
		@media only screen and (max-width: 904px) {
			white-space: nowrap;
			overflow: hidden;
			max-width: 33%;
		}
		.crumb {
			display: block;
			position: relative;
			right: 17px; height: 31px; padding-left: 25px;
			@include sprite-generated(breadcrumb_std, $setSize: false);
			font-weight: bold; font-size: 0.875em;
			text-shadow: 0px -1px 0px #cedfeb, 0px 1px 0px #fcfdfe;
			color: $link-color;
			@media only screen and (max-width: 904px) {
				text-overflow: ellipsis;
				overflow: hidden;
			}
			a {
				text-decoration: none;
				display: block;
				height: 31px;
				color: $link-color;
			}
		}
		&.home {
			width: 58px;
			border-left: 1px solid #c5dcec;
			.crumb {
				background: none !important;
			}
			a {
				display: block;
				overflow: hidden;
				text-indent: -9999px;
				position: relative;
			}
			.icon {
				top: 6px; left: 8px;
				position: absolute;
				@include sprite-generated(breadcrumb_home);
			}
		}
		&:hover {
			@include sprite-generated(breadcrumb_act, $setSize: false, $right: true);
			.crumb {
				@include sprite-generated(breadcrumb_act, $setSize: false);
			}
		}
	}
	a:hover {
		background: none;
	}
}

/* === Systémové správy === */

.errorlist, .errornote {
	background: #fcc;
	border: 1px solid #faa;
	border-radius: 3px;
	padding: 2px 3px; margin: 3px;
	li {
		list-style: none;
	}
}

.error {
	color: red;
	&.passive {
		font-size: 130%;
		font-weight: bold;
	}
}

ul.messages {
	padding: 0px; margin: 1.5em 1.5em 0 1.5em;
	color: black;
	position: relative;
	li {
		padding: 5px; margin: 0px;
		display: block;
		list-style: none;
		border-radius: 3px;
		&.info { background: #eefaff; border: 1px solid #cdf; }
		&.success { background: #efe; border: 1px solid #afa; }
		&.warning { background: #ffffe0; border: 1px solid #ff4; }
		&.error { background: #fcc; border: 1px solid #faa; }
	}
}

.under-construction {
	border: 1px solid $generic-foreground;
	color: $generic-background;
	padding: $module-margin / 2;
	background: url('images/warning_pattern.png') repeat;
}

.under-construction .warning {
	display: block;
	padding: $module-padding $module-padding $module-padding (48px + $module-padding * 2);
	background: mix($generic-foreground, $generic-background, 90%) url('images/warning_construction.png') $module-padding center no-repeat;
	font-weight: bold;
	min-height: 48px;
}

/* === Články === */

.perex {
	margin: 5px 0px;
}

.info .stat {
	font-weight: bold;
}

.article.thumbnail {
	float: left;
	margin: 5px 5px 0 0;
}

.article.top {
	margin: 0 -5px 0 -5px;
	background: #f2f6fc;
}

/* === Diskusia === */
.forum caption {
	color: #999;
	font-weight: bold;
	text-align: center;
	padding: $td-padding;
	border-bottom: 1px solid mix($table-row-alternate-bg, $generic-foreground, 95%);
	&:before { content: '::'; }
	&:after { content: '::'; }
}

.discussion.header {
	border-top: 1px solid #dbdfe3;
	background: #eff3f7;
	min-height: 56px;
	position: relative;
	&.me {
		background: #e0ebff;
		.user { background: #e0ebff; }
	}
	&.resolved {
		background: mix(#eff3f7, #00ff00, 90%);
		.user { background: mix(#eff3f7, #00ff00, 90%); }
	}
	&.deleted {
		background: mix(#eff3f7, #ff0000, 70%);
		.user { background: mix(#eff3f7, #ff0000, 70%); }
	}
	&.new, &.highlight {
		background-color: #fffae0;
		.user { background: #fffae0; }
	}
	&.entry {
		&.me { border-left-color: #1d5886; }
		&.resolved { border-left-color: #00ff00; }
		&.private { border-left-color: #ff6000; }
		&.deleted { border-left-color: #ff0000; }
	}
	ul.files {
		border-top: 1px solid rgba(0, 0, 0, 0.05);
		margin-top: 4px;
		padding-bottom: 4px;
		padding-top: 4px;
		clear: both;
		small {
			color: $info-color;
		}
	}
	.user {
		float: right;
		display: block;
		text-align: right;
		padding-right: 3px;
		min-height: 56px;
		position: absolute;
		right: 56px;
		top: 0px;
		background: #eff3f7;
	}
	.user_link {
		display: block;
		line-height: 22px;
		vertical-align: bottom;
		a {
			line-height: 22px;
			vertical-align: bottom;
		}
	}
	.distribution, .rank {
		display: block;
		font-size: 80%;
		color: $info-color;
		white-space: nowrap;
		padding-right: 28px;
		line-height: 14px;
	}
	&.deleted {
		.distribution, .rank, .info {
			color: mix(mix(#eff3f7, #ff0000, 70%), $generic-foreground, 40%);
		}
	}
	.comment_info {
		margin-left: 5px;
		margin-right: 180px;
		.subject {
			display: block;
			line-height: 25px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			width: 100%;
		}
		.info {
			line-height: 25px;
		}
	}
	.user_rating {
		float: right;
		width: 20px;
		height: 36px;
		margin: -3px 0 0 8px;
		&.admin { @include sprite-generated(user_rating_admin, $setSize: false); }
		&.rating_0 { @include sprite-generated(user_rating_0, $setSize: false); }
		&.rating_1 { @include sprite-generated(user_rating_1, $setSize: false); }
		&.rating_2 { @include sprite-generated(user_rating_2, $setSize: false); }
		&.rating_3 { @include sprite-generated(user_rating_3, $setSize: false); }
		&.rating_4 { @include sprite-generated(user_rating_4, $setSize: false); }
		&.rating_5 { @include sprite-generated(user_rating_5, $setSize: false); }
	}
	.icon {
		display: block;
		float: right;
		width: 48px;
		height: 48px;
		padding: 4px;
		position: absolute;
		right: 0px;
		top: 0px;
		@include sprite-generated(avatar_placeholder, $setSize: false);
	}
	.comment_link {
		position: absolute;
		top: 0px;
	}
}

.thread_1 .discussion.header {
	border-left-color: #2e82bc;
}

.thread_2 .discussion.header {
	border-left-color: #3d9de1;
}

.thread_3 .discussion.header {
	border-left-color: #8bcafb;
}

.thread_4 .discussion.header {
	border-left-color: #add7fc;
}

.thread_5 .discussion.header {
	border-left-color: #cbe2fe;
}

.thread_6 .discussion.header {
	border-left: none;
}

.content ul.messages {
	margin: 1.5em;
}

.comments_tree form, .links form {
	display: inline;
}

.comments_tree .thread_1 .comment {
	border: 1px solid #eff3f7;
	border-top: 1px solid #dbdfe3;
	background: #fafbfc;
}

.comments_tree .thread_1 > .comment + .comment {
	margin-top: 0.5em;
}

.comments_tree .thread_2 .comment {
	margin-bottom: 0;
	border: none;
	border-top: 1px solid #dbdfe3;
	border-left: 1px solid #eff3f7;
	background: white;
}

.discussion.header.new, .discussion.header.highlight {
	border-left-color: #ffee55;
}

.discussion.header {
	border-left: 10px solid #e0ebff;
	border-top: none;
}

.discussion.header.topic {
	border-top: 1px solid #dbdfe3;
	border-left: none;
}

.discussion.header.entry .subject {
	font-weight: bold;
}

.text p {
	margin: .2em 0;
}

.comments_tree ul.comment_thread {
	margin: 0 0 0 $module-margin / 3;
	padding: 0;
	clear: both;
}

.comments_tree ul.comment_thread.thread_1 {
	margin-left: 0;
}

.comments_tree {
	margin: 0 .5em;
}

.discussion.content, .topic.content {
	padding: .7em .7em 0 .7em;
}

.comments_tree li.comment {
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: 1px solid #dbdfe3;
}

.module.notifications  p {
	margin: 0.2em 0;
	clear: none;
}

.module.odporucam p {
	text-align: center;
}

.desktop.item {
	img {
		max-height: 256px;
		max-width: 100%;
	}

	.title {
		font-weight: bold;
	}

	.info {
		margin: $module-padding 0;
	}

	&:last-child {
		border-bottom: none;
	}
}

.module.desktops {
	&.sidebar {
		.desktop.item {
			float: none;
			width: auto;
			border-bottom: $light-border;

			img {
				max-height: 256px;
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}

	.desktop {
		float: left;
		width: 25%;

		.desktop-content {
			margin: $module-padding;
		}

		img {
			max-width: 100%;
			max-height: 128px;
			display: block;
		}
	}
}

#site_content > .module.desktop-list {
	.image {
		float: left;
		margin-right: $module-margin;
		width: 256px;

		a {
			display: block;
		}

		img {
			max-width: 256px;
			max-height: 256px;
			display: block;
		}
	}

	.detail {
		margin-left: 256px;
		padding-left: $module-margin;

		.title {
			font-weight: bold;
		}
	}
}

.comments_tree .links, .notifications .links {
	float: right;
	padding: 0 .7em .7em .7em;
	margin: 0 -8px -2px 0;
}

.comments_tree ul.messages {
	margin: 0;
	margin-bottom: .5em;
}

.preview ul.messages {
	margin: .7em;
}

.signature {
	color: #616b7a;
	font-size: 85%;
	font-style: italic;
	margin-top: .5em;
}

.comment-link.first {
	float: left;
	line-height: 38px;
	margin-left: .5em;
	margin-right: 1em;
}

.comment-link.first:after {
	content: ' ⇓';
}

.comment-link.next:before, .comment-link.prev:before {
	content: ' | ';
}

/* === Anketa === */
.progress {
	border: solid 1px #e4e5e7;
	border-radius: 3px;
	height: 13px;
	margin: .3em 0;
	@include sprite-generated(progress, $setSize: false);
	background-repeat: repeat-x;
	.bar {
		border: solid 1px #2f83bb;
		border-radius: 3px;
		overflow: hidden;
		text-indent: -9999px;
		position: relative;
		top: -1px; left: -1px; height: 13px;
		background-repeat: repeat-x;
		@include sprite-generated(progress_bar, $setSize: false);
	}
}

.module.polls.compact label {
	display: block;
	width: 30%;
	float: left;
	text-align: right;
	margin: .3em 0;
	clear: both;
}

.module.polls.compact .progress {
	width: 69%;
	float: right;
}

.module.polls.compact .module-links.bottom {
	margin-left: 30%;
}

/* === Zoznam tém fóra === */

.table-topics .status {
	width: 2em;
	text-align: right;
	white-space: nowrap;
}

.table-topics .comments {
	width: 2em;
}

.table-topics .date {
	width: 9em;
}

td.status, td.comments, td.date {
	text-align: center;
	font-weight: bold;
}

td.actions {
	width: 1%;
	white-space: nowrap;
	text-align: right;
}

/* === Wiki === */
.module.subpages, .module.sidebar {
	width: 30%;
	float: right;
	clear: right;
	margin-left: $module-margin;

	ul {
		margin: $row-padding 0;
	}
}

.module.blog, .module.blackhole {
	clear: none;
}

.module.blog.category, .module.blackhole {
	overflow: auto;
}

/* === Prvky požičané z bootsrap-u === */

.label, .badge {
	display: inline-block;
	padding: 2px 4px;
	font-size: 0.85em;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.1em;
	color: white;
	text-shadow: 0 -1px 0 darken(#999, 10%);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999;
	&:hover {
		color: white;
	}
}

.badge {
	padding-right: 0.8em;
	padding-left: 0.8em;
	border-radius: 0.8em;
	&:hover {
		border-radius: 0.8em;
	}
}

.btn .badge {
	padding: 2px 0.5em;
	position: relative;
	top: -0.1em;
}

.label {
	border-radius: 3px;
}

.badge.info, .label.info, .badge.watch {
	text-shadow: 0 -1px 0 darken(#3a87ad, 10%);
	background-color: #3a87ad;
	&:hover { background-color: #3a87ad; }
}

.badge.warning, .label.warning {
	text-shadow: 0 -1px 0 darken(#f89406, 10%);
	background-color: #f89406;
	&:hover { background-color: #f89406; }
}

.badge.success, .label.success, .badge.new {
	text-shadow: 0 -1px 0 darken(#468847, 10%);
	background-color: #468847;
	&:hover { background-color: #468847; }
}

.badge.important, .label.important {
	text-shadow: 0 -1px 0 darken(#b94a48, 10%);
	background-color: #b94a48;
	&:hover { background-color: #b94a48; }
}

.label.new, .label.locked, .label.resolved, .label.watch {
	width: 16px;
	height: 16px;
	text-indent: 9999px;
	overflow: hidden;
	border-radius: 0px;
	padding: 0;
	margin: -$td-padding;
	background-color: transparent;
}

.label {
	&.label.new {
		@include sprite-generated(new_icon);
	}

	&.label.resolved {
		@include sprite-generated(tick_icon);
	}

	&.label.locked {
		@include sprite-generated(locked_icon);
	}

	&.label.watch {
		@include sprite-generated(watch_icon);
		&:hover { background-color: transparent; }
	}
}

.page-footer {
	background-color: #e0ebff;
	clear: both;
	border-top: #c4d1e3 solid 1px;
	text-align: center;
}

.gallery {
	.image {
		margin: $td-padding;
		display: inline-block;
		position: relative;
		.title {
			position: absolute;
			bottom: 0;
			width: 100%;
			background: rgba(0, 0, 0, 0.5);
			padding: 5px 0;
			text-align: center;
			color: $generic-background;
		}
	}
}

.headerlink {
	text-decoration: none;
	color: $code-color;
	display: none;
	&:after {
		content: "¶"
	}
}

.comment_info:hover .headerlink {
	display: inline;
}

.daily-stats-container .daily-stats {
	position: relative;
}

.daily-stats {
	.block {
		border: 1px solid #ffffff;
		background: #eeeeee;
	}

	.block.a-0 { background: rgb(250,240,225); }
	.block.a-1 { background: rgb(250,236,202); }
	.block.a-2 { background: rgb(249,238,179); }
	.block.a-3 { background: rgb(249,245,157); }
	.block.a-4 { background: rgb(240,248,134); }
	.block.a-5 { background: rgb(222,248,112); }
	.block.a-6 { background: rgb(198,248,89); }
	.block.a-7 { background: rgb(170,247,67); }
	.block.a-8 { background: rgb(136,247,44); }
	.block.a-9 { background: rgb(97,246,22); }
	.block.a-10 { background: rgb(53,246,0); }
	.block.a-11 { background: rgb(49,227,0); }
	.block.a-12 { background: rgb(45,207,0); }
	.block.a-13 { background: rgb(40,188,0); }
	.block.a-14 { background: rgb(36,168,0); }
	.block.a-15 { background: rgb(32,149,0); }
	.block.a-16 { background: rgb(28,129,0); }
	.block.a-17 { background: rgb(24,110,0); }
	.block.a-18 { background: rgb(19,90,0); }
	.block.a-19 { background: rgb(15,71,0); }
	.block.a-20 { background: rgb(11,51,0); }
}

.monthly-stats-container .monthly-stats {
	margin: 10px 0px;
}

#monthly_stats {
	height: 200px;
}

.content-tabs {
	padding: ($module-margin / 2) 0;
	margin: 0;
	display: block;
	list-style: none;
	border-bottom: $light-border;
	overflow: auto;

	li {
		list-style: none;
		display: inline;
		margin: 0;
		padding: 0;
	}

	a {
		display: block;
		float: left;
		margin-right: $module-margin / 2;
		padding: 3px 4px;
		text-decoration: none;
		border-radius: 10px;
		&:hover, &:active {
			background: mix($link-color, $generic-background);
			color: $generic-background;
		}
	}

	.active a {
		background: $link-color;
		color: $generic-background;
	}
}

.main-content.with-sidebar {
	margin-right: 35%;
}

.fieldset {
	border-top: $light-border;
	margin: 2em 0 0 0;

	.legend {
		float: left;
		background: white;
		font-size: 1.25em;
		color: $hdr-high;
		font-weight: bold;
		line-height: 1;
		margin-top: -0.5em;
		padding-right: 1em;
	}

	.content {
		clear: both;
		padding: 1em 0 0 0;
	}
}

.social {
	ul, li {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		padding: 0 10px 0 0;
		display: inline-block;
	}

	a {
		display: block;
		line-height: 32px;
		text-decoration: none;
		padding: 0 6px 0 0;
	}

	li a:before {
		content: " ";
		display: inline-block;
		margin-right: 8px;
		vertical-align: middle;
	}

	li.facebook a:before {
		@include sprite-generated(facebook);
	}

	li.twitter a:before {
		@include sprite-generated(twitter);
	}
}

#aside .social {
	margin: 8px 0;
	border-top: $light-border;
	text-align: center;

	li {
		display: inline-block;
		float: none;
	}
}

.related_documents {
	clear: both;
	margin: $module-padding;
	padding: $module-padding;
	background: mix($generic-background, $generic-foreground, 98%);
	border: $light-border;
	overflow: auto;

	h3 {
		text-align: center;
	}

	.directnav {
		clear: both;
		list-style: none;
		padding: 0;
		margin: ($module-margin / 2) 0 0 0;
		font-size: 120%;
		text-decoration: none;
		height: 1.5em;

		li {
			display: inline;
			padding: 0;
			margin: 0;
		}

		a {
			display: block;
			float: left;
			width: 25%;
			text-align: center;
			text-decoration: none;
		}

		.disabled a {
			cursor: default;
			color: $info-color;
			&:hover {
				background: none;
			}
		}

		.first a:before {
			content: "« ";
		}

		.last a:after {
			content: " »";
		}

		.prev a:before {
			content: "‹ ";
		}

		.next a:after {
			content: " ›";
		}
	}

	.relatednav {
		clear: both;
		margin: ($module-margin / 2) 0 0 0;
		padding-top: $module-padding;
		padding-bottom: $module-padding;

		.current {
			a {
				color: black;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
}

.parent-link {
	display: none;
}

.tooltip {
	position: relative;
	.tooltip-bubble {
		background-color: white;
		border: $light-border;
	}

	&.closed, &.onhover .tooltip-bubble {
		z-index: -1;
		transition: z-index 0s $transition-duration ease, transform $transition-duration ease-in, opacity $transition-duration ease;
		transform: translateY(100px);
		opacity: 0;
	}

	&.onhover .tooltip-bubble {
		position: absolute;
	}

	&.onhover:hover .tooltip-bubble {
		z-index: 2;
		transition: z-index 0s 0s ease, transform $transition-duration ease-in, opacity $transition-duration ease;
		transform: translateY(0px);
		opacity: 1;
	}

	.tooltip-spacing {
		padding: $base-margin / 2;
	}
}

.calendar-widget {
	caption {
		background-color: $header-bg;
		color: white;
		font-weight: bold;
		font-size: 120%;
		padding: 4px;
	}
	tr {
		background-color: transparent;
	}
	th {
		font-weight: bold;
		background-color: mix($header-bg, $generic-background);
		color: $generic-foreground;
	}
	td, th {
		text-align: center;
		width: 14.2857%;
	}
	.extra {
		opacity: 0.25;
	}
	.active .day {
		background-color: $header-bg;
		color: white;
		font-weight: bold;
		padding-left: 3px;
		padding-right: 3px;
		border-radius: 3px;
	}
	.tooltip-content {
		width: 200px;
		text-align: left;
	}
	.events {
		padding: 0;
		margin: 0;
		list-style: none;
		a {
			display: block;
		}
	}
}

.text-color-alert {
	color: #d53;
}

.module .article-image {
	display: none;
}
