<h3><a href="{{ item.get_absolute_url() }}">{{ item }}</a></h3>
<div class="info">
	<span class="time">{{ item.created|humandatetime }}</span> |
	<span class="user">{{ user_link(item.author, item.authors_name) }}</span>
</div>
{% if long and not item.long_text|length > 1000 %}
<p>{{ item.long_text|safe }}</p>
{% else %}
<p>{{ item.short_text|safe }}</p>
{% endif %}
<div class="info bottom">
	<span class="comments">
		{{ get_comments_for_item(item) }}
	</span> |
	<span class="category"><a href="{{ item.category.get_absolute_url() }}">{{ item.category }}</a></span>
</div>
