{{ add_discussion_attributes(news) }}
{% for item in news %}
	{% if dates and loop.changed(item.event_date) %}
		<h2 class="block-title">{{ item.event_date|date("SHORT_DATE_FORMAT") }}</h2>
	{% endif %}
	<div class="module-row">
		<h3><a href="{{ item.get_absolute_url() }}">{{ item }}</a></h3>
		<div class="info">
			<span class="time">{{ item.created|humandatetime }}</span> |
			<span class="user">{{ user_link(item.author, item.authors_name) }}</span>
		</div>
		{% if item.event_date %}
			<div class="info">
				Dátum udalosti: <span class="time">{{ item.event_date|date("SHORT_DATE_FORMAT") }}</span>
			</div>
		{% endif %}
		{{ item.short_text|safe }}
		{% with news=item %}
			{% include "news/partials/source.html" %}
		{% endwith %}
		<div class="info bottom">
			<span class="comments">
				{{ get_comments_for_item(item) }}
			</span> |
			<span class="category"><a href="{{ item.category.get_absolute_url() }}">{{ item.category }}</a></span>
		</div>
	</div>
{% endfor %}
