<div style='text-align : center;'>
	<a href="http://www.linuxsoft.cz" target="_new"><img src="/media/IMG/linuxsoft.png" title="Linux Software" width="88" height="31" alt="" /></a> <br /><br />
	<a href="http://www.blackhole.sk" target="_new"><img src="http://blackhole.sk/files/pictures/blackhole.gif" alt="BlackHole.sk" /></a><br /><br />
	<a href="http://www.linux-mint-czech.cz/" target="_new"><img src="/media/IMG/lmcz.png" title="Linux-Mint-Czech" width="88" height="29" alt="linux-mint-czech" /></a> <br /><br />
	<a href="http://sk-spell.sk.cx/"  target="_new">SK-spell</a><br /><br />
	<a href="http://mediator-mrg.com/"  target="_new">Prekladatelia</a><br />
	<br />


	<!-- Begin W3Counter Tracking Code -->
	<script type="text/javascript" src="http://www.w3counter.com/tracker.js"></script>
	<script type="text/javascript">
	w3counter(44282);
	</script>
	<noscript>
	<div>
	<a href="http://www.w3counter.com"><img src="http://www.w3counter.com/tracker.php?id=44282" style="border: 0" alt="W3Counter" /></a></div>
	</noscript>
	<br />
	<!-- End W3Counter Tracking Code-->
</div>
