<div style='text-align : center;'>
<p>
Ak sa vám táto stránka páči, môžete nás podporiť tak, že si na vaše stránky umiestnite tento banner.<br /><a href="http://LinuxOS.sk"><img src="/static/banners/linuxos150x40.png" alt="Slovenský Linuxový portál" title="Slovenský linuxový portál" /></a>
</p>

<p>
Náš Twitter tag je <a href="https://twitter.com/LinuxOS_sk" rel="nofollow">#LinuxOSsk</a>
</p>


<div class="social">
	<p>
		Sledujte nás aj na sociálnej sieti
	</p>

	<ul>
		<li class="facebook"><a href="https://www.facebook.com/LinuxOS.sk/" rel="nofollow">Facebook</a></li>
		<li class="twitter"><a href="https://twitter.com/LinuxOS_sk" rel="nofollow">Twitter</a></li>
	</ul>
</div>

<br />

</div>
