<p>
	<a href="http://vpsfree.cz" class="banner_button" style="background: url('{{ static("banners/banners.png") }}?hash=53cb63dd80456ccd4cb5c345d1a760da') 0px -57px; width: 88px; height: 31px;" onclick="window.open(this.href); return false;">Banner vpsFree.cz o.s. - Virtuální Privátní Servery svobodně</a><br /><br />
	<a href="http://greenie.elist.sk/" class="banner_button" style="background: url('{{ static("banners/banners.png") }}?hash=53cb63dd80456ccd4cb5c345d1a760da') 0px -128px; width: 150px; height: 40px;" title="Bezplatná online knižnica, chcem vydať knihu, knihy v PDF, epub či mobi pre Kindle" onclick="window.open(this.href); return false;">Knihy, e-book, PDF, knižnica, Greenie</a><br /><br />
	<a href="http://www.wisdomtech.sk/" class="banner_button" style="background: url('{{ static("banners/banners.png") }}?hash=53cb63dd80456ccd4cb5c345d1a760da') 0px -168px; width: 150px; height: 40px;" onclick="window.open(this.href); return false;" title="Online Marketingová Agentúra | Wisdom Technologies s.r.o.">Online Marketingová Agentúra | Wisdom Technologies s.r.o.</a>
	<a href="https://www.amerys.sk/" class="banner_button" style="background: url('{{ static("banners/banners.png") }}?hash=53cb63dd80456ccd4cb5c345d1a760da') 0px -208px; width: 150px; height: 40px;" onclick="window.open(this.href); return false;" title="Tvorba web stránok a eshopov, web aplikácie a reklama">Tvorba web stránok a eshopov, web aplikácie a reklama</a><br /><br />

	<a href="http://sk-spell.sk.cx/" onclick="window.open(this.href); return false;">SK-spell</a>
	<!--
	<script type="text/javascript" src="http://www.w3counter.com/tracker.js"></script> <script type="text/javascript">//<![CDATA[
	w3counter(44282);//]]>
	</script> <noscript> <div> <a href="http://www.w3counter.com"><img src="http://www.w3counter.com/tracker.php?id=44282" style="border: 0" alt="W3Counter"/></a></div> </noscript>
	-->
</p>
