<p>
	<a href="http://vpsfree.cz" class="banner_button" style="background: url('{{ static("banners/banners.png") }}?hash=1ca9eb4caece33be489823366c3f104e') 0px -57px; width: 88px; height: 31px;" onclick="window.open(this.href); return false;">Banner vpsFree.cz o.s. - Virtuální Privátní Servery svobodně</a><br /><br />
	<a href="http://www.linux-mint-czech.cz/" class="banner_button" style="background: url('{{ static("banners/banners.png") }}?hash=1ca9eb4caece33be489823366c3f104e') 0px -88px; width: 150px; height: 40px;" onclick="window.open(this.href); return false;">Linux-Mint-Czech</a><br /><br />
	<a href="http://www.wisdomtech.sk/" class="banner_button" style="background: url('{{ static("banners/banners.png") }}?hash=1ca9eb4caece33be489823366c3f104e') 0px -168px; width: 150px; height: 40px;" onclick="window.open(this.href); return false;" title="Wisdom Technologies s.r.o. | Online Marketingová Agentúra">Wisdom Technologies s.r.o. | Online Marketingová Agentúra</a><br /><br />
	<a href="http://knihy.rs-design.sk" class="banner_button" style="background: url('{{ static("banners/banners.png") }}?hash=1ca9eb4caece33be489823366c3f104e') 0px -128px; width: 150px; height: 40px;" title="Bezplatná online knižnica, chcem vydať knihu, knihy v PDF, epub či mobi pre Kindle" onclick="window.open(this.href); return false;">Knihy, e-book, PDF, knižnica, Greenie</a><br /><br />

	<a href="http://sk-spell.sk.cx/" onclick="window.open(this.href); return false;">SK-spell</a> <a href="http://prekladatelia.info/" onclick="window.open(this.href); return false;">Prekladatelia</a>
	<!--
	<script type="text/javascript" src="http://www.w3counter.com/tracker.js"></script> <script type="text/javascript">//<![CDATA[
	w3counter(44282);//]]>
	</script> <noscript> <div> <a href="http://www.w3counter.com"><img src="http://www.w3counter.com/tracker.php?id=44282" style="border: 0" alt="W3Counter"/></a></div> </noscript>
	-->
</p>
