<div style='text-align : center;'>
Ak sa vám táto stránka páči, môžete nás podporiť tak, že si na vaše stránky umiestnite tento banner.<br /><a href="http://LinuxOS.sk"><img src="http://linuxos.sk/static/banners/linuxos150x40.png" alt="Slovenský Linuxový portál" title="Slovenský linuxový portál" /></a>

<br />
<!--  VOLAME TOTO URI:  hry/index.html -->
<!-- odstaveny etarget -->

  <br />
Náš Twitter tag je <a href="http://twittags.info/sk/tag_info/61/LinuxOSsk" rel="nofollow">#LinuxOSsk</a>
<br />
<br />
Finančne nás môžte podporiť cez PayPal:<br />
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="UER5ZSPVDW6K6" />
<button type="submit" name="submit" class="banner_button" style="width: 92px; height: 26px; background-image: url({{ static("banners/banners.png") }});">Podporiť</button>
</form>

</div>

