{% extends "base.html" %}
{% load breadcrumbs_tags %}
{% block title %}Export dát{% endblock %}
{% block breadcrumbs %}{% breadcrumb %}Export dát{% endbreadcrumb %}{{ block.super }}{% endblock %}

{% block content %}
<h1>Export dát</h1>

<p><font color="#616b7a"><b>RSS</b> je skratkou pre "Really Simple Syndication". Prostredníctvom neho môžeme získať prístup k aktuálnym novinkám na jednotlivých sledovaných serveroch v podobe zoznamu publikovaných článkov či správičiek za posledné obdobie.</font>
</p>

<p>Ak používate prehliadač <a href="http://www.mozilla.com/firefox">Firefox</a> alebo <a href="http://www.opera.com">Opera</a>, v navigačnom paneli sa vám zobrazí ikona <img src="/media/IMG//rss15.png" alt=""> (resp. <img src="/media/IMG//operarss.png" alt="">), po kliknutí na ktorú môžete jednoducho pridať zdroj našich najnovších článkov, správičiek či príspevkov vo fóre do svojich záložiek.</p>

<p>Čítanie z RSS zdrojov funguje takisto v niektorých PIM (Personal Information Manager) programoch ako <a href="http://www.kontact.org/">Kontact</a>, <a href="http://gnome.org/projects/evolution/">Evolution</a> alebo <a href="http://www.mozilla.com/thunderbird/">Mozilla Thunderbird</a>. Existujú na to aj špecializované programy s rozšírenými funkciami, napríklad <a href="http://akregator.sourceforge.net">aKregator</a>.</p>

<h3>RSS zdroje</h3>
<b>Články</b>: <a href="http://www.linuxos.sk/?show=clanok_rss">http://www.linuxos.sk/?show=clanok_rss</a>
<br /><br />

<b>Diskusné fórum</b>: <a href="http://www.linuxos.sk/?show=forum_rss">http://www.linuxos.sk/?show=forum_rss</a>
<br /><br />

<b>Správičky</b>: <a href="http://www.linuxos.sk/?show=spravy_rss">http://www.linuxos.sk/?show=spravy_rss</a>
<br /><br />

{% endblock %}
