{% extends "base.html" %}
{% block head_title %}Export dát{% endblock %}
{% block breadcrumbs %}{{ breadcrumb("Export dát") }}{{ super() }}{% endblock %}

{% block content %}
<h1>Export dát</h1>

<p class="annotation"><strong>RSS</strong> je skratkou pre "Really Simple Syndication". Prostredníctvom neho môžeme získať prístup k aktuálnym novinkám na jednotlivých sledovaných serveroch v podobe zoznamu publikovaných článkov či správičiek za posledné obdobie.
</p>

<p>Ak používate prehliadač <a href="http://www.mozilla.com/firefox">Firefox</a> alebo <a href="http://www.opera.com">Opera</a>, v navigačnom paneli sa vám zobrazí ikona <img src="/media/IMG//rss15.png" alt="" /> (resp. <img src="/media/IMG//operarss.png" alt="" />), po kliknutí na ktorú môžete jednoducho pridať zdroj našich najnovších článkov, správičiek či príspevkov vo fóre do svojich záložiek.</p>

<p>Čítanie z RSS zdrojov funguje takisto v niektorých PIM (Personal Information Manager) programoch ako <a href="http://www.kontact.org/">Kontact</a>, <a href="http://gnome.org/projects/evolution/">Evolution</a> alebo <a href="http://www.mozilla.com/thunderbird/">Mozilla Thunderbird</a>. Existujú na to aj špecializované programy s rozšírenými funkciami, napríklad <a href="http://akregator.sourceforge.net">aKregator</a>.</p>

<h3>RSS zdroje</h3>
<p>
	<strong>Články</strong>: <a href="/clanok/feeds/latest/">http://linuxos.sk/clanok/feeds/latest/</a>
</p>

<p>
	<strong>Diskusné fórum</strong>: <a href="/forum/feeds/latest/">http://linuxos.sk/forum/feeds/latest/</a>
</p>

<p>
	<strong>Správičky</strong>: <a href="/spravy/feeds/latest/">http://linuxos.sk/spravy/feeds/latest/</a>
</p>

<p>
	<strong>Diskusné príspevky</strong>: <a href="/komentare/feeds/latest/">http://linuxos.sk/komentare/feeds/latest/</a>
</p>

{% endblock %}
