{% extends "base.html" %}
{% block head_title %}Hry v Linuxe{% endblock %}
{% block breadcrumbs %}{{ breadcrumb("Hry v Linuxe") }}{{ super() }}{% endblock %}
{% block extraheaders %}
<meta name="description" lang="sk" content="Prehľad hier fungujúcich pod Linuxom technológií umožňujúcich spúšťanie hier určených pre iné platformy." />
{% endblock %}

{% block content %}
<h1>Hry v Linuxe</h1>

<p>
Pre mnohých používateľov Windowsu, ktorí by chceli prejsť na Linux, je veľkou prekážkou absencia ich obľúbených hier ako sú Battlefield, Call of Duty, GTA, NHL či MS Flight Simulator. Avšak ani používateľ Linuxu nemusí byť úplne bez týchto hier. Množstvo hier funguje pod emulátorom (komerčným) <a href="http://www.cedegawiki.net/Welcome_to_the_GameTree_Linux_Wiki">Cedega</a> (pôvodne WineX), ktorý je vyvíjaný špeciálne na tento účel. Úplný zoznam hier fungujúcich pod Cedegou nájdete na <a href="http://www.cedegawiki.net/Category:Working">jej domovskej stránke</a></p>

<p>Veľké množstvo prevažne komerčných hier pre Linux je dostupné cez distribučnú platformu <a href="http://store.steampowered.com/">Steam</a> alebo <a href="http://www.desura.com/">Desura</a>. Tieto platformy otvorili svet Linuxu viacerým vývojárom hier, a aj vďaka tomu portfólio dostupných Linux hier rastie vcelku pekným tempom.</p>

<p>Niekoľko hier má svoje ekvivalenty pre Linux (napríklad MS Flight Simulator má svojho brata v hre <a href="http://www.flightgear.org">FlightGear</a>) a zopár hier je programovaných na oba operačné systémy (<a href="http://americasarmy.com/">America's Army</a>, Return to Castle Wolfenstein, Unreal Tournament, <a href="http://www.idsoftware.com/games/quake/quake4/">Quake</a>...).
Sú aj hry primárne programované pre Linux (často však majú aj svoju Windows verziu). Medzi ne patrí veľmi obľúbený <a href="/clanok/tuxracer-vlajkova-lod-linuxovych-hier/">Tuxracer</a> alebo ťahová stratégia <a href="http://www.wesnoth.org">Battle for Wesnoth</a>.
</p>

<table>
<tr>
<td><img src="/media/IMG/hry/graph.png" alt="Logos" /></td>
<td>
Pre hranie hier v Linuxe sa odporúčajú skôr grafické karty s čipmi <a href="http://www.nvidia.com">NVIDIA</a> ako <a href="http://www.amd.com/">AMD</a>, pretože firma NVIDIA vydáva pravidelne kvalitné <a href="http://www.nvidia.com/object/unix.html">ovládače pre Linux</a>, podporujúce jej najnovšie technológie, zatiaľ čo s <a href="http://support.amd.com/us/gpudownload/Pages/index.aspx">ovládačmi AMD</a> nie je prílišná spokojnosť medzi linuxovými hráčmi.</td>
</tr>
</table>

<h2>Prehľad hier</h2>

<table>

<!--   Zaznam   -->
<tr>
	<td><a href="/media/IMG/hry/tuxracer.jpg"><img src="/media/IMG/hry/thumbs/tuxracer.jpg" alt="Tuxracer" /></a></td>
	<td><h3>Tuxracer</h3><p><b>Žáner</b>: arkáda<br /><b>Licencia</b>: GNU/GPL<br />Obľúbená hra, v ktorej sa maskot Linuxu - tučniak Tux obrovskou rýchlosťou spúšťa zasneženými svahmi. Body získavate za čas a za ryby, ktoré cestou dole zachytíte. Svahmi sa môžete spúšťať len tak voľne alebo aj súťažne, kde v každom kole musíte splniť určité limity pre postup ďalej. Originálny Tuxracer sa už niekoľko rokov nevyvíja, v jeho šlapajách pokračuje <a href="http://developer.berlios.de/projects/ppracer/">PPRacer</a>.</p><a href="http://tuxracer.sourceforge.net/">Domovská stránka</a> | <a href="http://tuxracer.sourceforge.net/download.html">Download</a></td>
</tr>
<!--  #Zaznam   -->

<!--   Zaznam   -->
<tr>
	<td><a href="/media/IMG/hry/supertuxkart.png"><img src="/media/IMG/hry/thumbs/supertuxkart.png" alt="SuperTuxKart" /></a></td>
	<td><h3>SuperTuxKart</h3><p><b>Žáner</b>: racing game<br /><b>Licencia</b>: GNU/GPL<br />Super Tux Kart je skvelá zábava tak povediac pre celú rodinu.  Super závody tučniakovského štýlu v peknej 3D grafike. Prioritou je samozrejme skončiť na 1. mieste, k čomu vám poslúži aj množstvo add-ons, ktoré nájdete na trati. Bude už len na vás a vašej šikovnosti ako sa postaráte o súperov. Na výber máte množstvo postáv, skvelé trate s príjemnou grafikou a samozrejme „zbrane“ v. SuperTuxKart sa po dlhšej dobe dočkal updatu, ktorý nám prináša rôzne vylepšenia, v podobe nových tratí, postáv a zbraní. Hra podporuje aj split-screen mode pre viac zábavy na jednom PC.</p><a href="http://www.americasarmy.com/">Domovská stránka</a> | <a href="http://supertuxkart.sourceforge.net/Downloads">Download</a> | <a href="http://stkaddons.net/">SuperTuxKart Add-Ons</a></td>
</tr>
<!--  #Zaznam   -->

<!--   Zaznam   -->
<tr>
	<td><img src="/media/IMG/hry/racer.jpg" alt="Racer" /></td>
	<td><h3>Racer</h3><p><b>Žáner</b>: simulácia<br /><b>Licencia</b>: GNU/GPL<br />
Automobilový simulátor so slušnou grafikou a veľmi dobrou fyzikou a ovládaním. Dá sa hrať ako multiplayer po sieti, aj ako singleplayer, počítačoví protivníci sú však zatiaľ vo vývoji. Po inštalácii máte k dispozícii iba jedno auto a trať, mnoho ďalších, ktoré vytvára komunita naokolo, si však môžete stiahnuť a doinštalovať.
</p><a href="http://www.racer.nl/">Domovská stránka</a> | <a href="http://liflg.org/?catid=6&amp;gameid=13">Download</a> | <a href="http://www.racer-xtreme.com/">Autá &amp;amp; trate</a></td>
</tr>
<!--  #Zaznam   -->

<!--   Zaznam   -->
<tr>
	<td><a href="/media/IMG/hry/fg.jpg"><img src="/media/IMG/hry/thumbs/fg.jpg" alt="FlightGear" /></a></td>
	<td><h3>FlightGear</h3><p><b>Žáner</b>: simulácia<br /><b>Licencia</b>: GNU/GPL<br />
		Vynikajúci (avšak náročný na ovládanie) realistický letecký simulátor s množstvom <a href="http://www.flightgear.org/download/aircraft-2-10-filterable/">lietadiel</a> a scenérií, vďaka ktorým môžete lietať doslova <a href="http://www.flightgear.org/about/gallery-v2-10/">po celom svete</a>. Hra je dostupná zadarmo, ale je možné si objednať aj set troch DVD so všetkými mapami, ak chcete mať všetky scenérie a nechce sa vám všetko ťahať z internetu :).
</p><a href="http://www.flightgear.org/">Domovská stránka</a> | <a href="http://www.flightgear.org/download/main-program/">Download</a> | <a href="http://www.flightgear.org/download/aircraft-2-10-filterable/">Lietadlá</a> | <a href="http://www.flightgear.org/download/scenery/">Scenérie</a></td>
</tr>
<!--  #Zaznam   -->

<!--   Zaznam   -->
<tr>
	<td><a href="/media/IMG/hry/foobillard.png"><img src="/media/IMG/hry/thumbs/foobillard.jpg" alt="Foobillard" /></a></td>
	<td><h3>Foobillard</h3><p><b>Žáner</b>: simulácia<br /><b>Licencia</b>: GNU/GPL<br />
Simulátor biliardu, podľa mnohých jedna z mála dokonalých hier. Vynikajúca fyzika, grafika, textúry, svetelné efekty, zvuky a hrateľnosť. Foobillard sa dá hrať medzi dvoma hráčmi ako multiplayer (aj po sieti), proti počítaču (aj celý turnaj), alebo ako voľný tréning. Obsahuje 4 typy hier (carambol, snooker, 8ball, 9ball).
</p><a href="http://foobillard.sourceforge.net/">Domovská stránka</a> | <a href="http://foobillard.sourceforge.net/">Download</a></td>
</tr>
<!--  #Zaznam   -->

<!--   Zaznam   -->
<tr>
	<td><a href="/media/IMG/hry/wesnoth.jpg"><img src="/media/IMG/hry/thumbs/wesnoth.jpg" alt="Battle for Wesnoth" /></a></td>
	<td><h3>Battle for Wesnoth</h3><p><b>Žáner</b>: TBS (ťahová stratégia)<br /><b>Licencia</b>: GNU/GPL<br />Battle for Wesnoth je ťahová stratégia zasadená do fantasy prostredia. Obsahuje 4 oficiálne kampane. Každý hráč má počas jedného ťahu obmedzený počet pohybov. Úlohy sú v jednotlivých kampaniach odlišné, niekde musíte ochrániť hlavného hrdinu, obsadiť dedinu, či udržať sa niekoľko kôl. Hra je vynikajúco prepracovaná, je to jedna z najlepších strategických hier pre Linux, čo do hrateľnosti. Hudba je vynikajúca, grafika však mierne zaostáva za svojimi komerčnými príbuznými, ale aj napriek tomu je pomerne kvalitná.</p><a href="http://www.wesnoth.org">Domovská stránka</a> | <a href="http://sourceforge.net/project/showfiles.php?group_id=89495">Download</a></td>
</tr>
<!--  #Zaznam   -->

<!--   Zaznam   -->
<tr>
	<td><a href="/media/IMG/hry/dark_oberon.png"><img src="/media/IMG/hry/thumbs/dark_oberon.jpg" alt="Dark Oberon" /></a></td>
	<td><h3>Dark Oberon</h3><p><b>Žáner</b>: RTS (real-time stratégia)<br /><b>Licencia</b>: GNU/GPL<br />
Česká stratégia Dark Oberon je podobná druhému dielu Warcraft. Vašou úlohou je v čo najkratšej dobe vybudovať silnú armádu a s jej pomocou zničiť všetkých nepriateľov. Budovy a jednotky sú z plastelíny, čo dodáva hre neobyčajný efekt :). Dark Oberon je možné hrať ako singleplayer, ale aj po sieti v multiplayer móde.
</p><a href="http://dark-oberon.sourceforge.net">Domovská stránka</a> | <a href="http://dark-oberon.sourceforge.net/?page=download">Download</a></td>
</tr>
<!--  #Zaznam   -->

<!--   Zaznam   -->
<tr>
	<td><a href="/media/IMG/hry/simutrans.jpg"><img src="/media/IMG/hry/thumbs/simutrans.jpg" alt="Simutrans" /></a></td>
	<td><h3>Simutrans</h3><p><b>Žáner</b>: simulátor<br /><b>Licencia</b>: freeware<br />
Simutrans je ekonomický a dopravný simulátor. Za úlohu máte s malým počiatočným kapitálom vytvárať autobusové, vlakové, električkové, lodné a letecké spojenia, prepravovať pasažierov a tovar od výmyslu sveta a tým budovať spojenia miest a priemyselných objektov. Simutrans môžete hrať sami alebo proti počítaču.
</p><a href="http://www.simutrans.com/">Domovská stránka</a> | <a href="http://www.simutrans.com/en/download">Download</a></td>
</tr>
<!--  #Zaznam   -->

<!--   Zaznam   -->
<tr>
	<td><a href="/media/IMG/hry/boson.jpg"><img src="/media/IMG/hry/thumbs/boson.jpg" alt="Boson" /></a></td>
	<td><h3>Boson</h3><p><b>Žáner</b>: RTS<br /><b>Licencia</b>: GNU/GPL<br />
Boson je real-time strategická hra, ktorá je veľmi podobná svojim
komerčným bratom. Hra sa odohráva na ostrove podľa vymysleného príbehu.
Vašou úlohou je, ako býva zvykom, zničiť nepriateľa. Na výber máte z
pomerne veľkého množstva tankov a lietadiel.
</p><a href="http://boson.sourceforge.net/">Domovská stránka</a> | <a href="http://boson.sourceforge.net/download.php">Download</a></td>
</tr>
<!--  #Zaznam   -->

<!--   Zaznam   -->
<tr>
	<td><a href="/media/IMG/hry/cw1.jpg"><img src="/media/IMG/hry/thumbs/cw1.jpg" alt="Cold War" /></a></td>
	<td><h3>Cold War</h3><p><b>Žáner</b>: akčná<br /><b>Licencia</b>: komerčná<br />
Komerčná hra od českej firmy Mindware Studios síce ešte na trhu nie je, ale jej demo (2 plné misie hry) si môžete stiahnuť už teraz. Hlavnou postavou je americký novinár, ktorý počas studenej vojny plní tajnú misiu v ZSSR. Vynikajúca grafika a hrateľnosť predpovedajú tejto hre veľký úspech na linuxovom hernom poli.
</p><a href="http://www.desura.com/games/cold-war-linux">Domovská stránka</a></td>
</tr>
<!--  #Zaznam   -->

<!--   Zaznam   -->
<tr>
	<td><a href="/media/IMG/hry/neverball.png"><img src="/media/IMG/hry/thumbs/neverball.png" alt="Neverball" /></a></td>
	<td><h3>Neverball</h3><p><b>Žáner</b>: arkáda<br /><b>Licencia</b>: GNU/GPL<br />
Jednoduchá hra, v ktorej je účelom hráča pozbierať dostatok mincí a dostať guličku cez bludisko do cieľa. Ovládanie guličky je vyriešené netradične nahláňaním samotného bludiska. Pozor: pri dlhšom hraní môže hra spôsobiť žalúdočné problémy, alebo závislosť ;).
	</p><a href="http://neverball.org/">Domovská stránka</a> | <a href="http://neverball.org/download.php">Download</a></td>
</tr>
<!--  #Zaznam   -->

<!--   Zaznam   -->
<tr>
	<td><a href="/media/IMG/hry/xmoto.png"><img src="/media/IMG/hry/thumbs/xmoto.png" alt="X-Moto" /></a></td>
	<td><h3>X-Moto</h3><p><b>Žáner</b>: simulátor<br /><b>Licencia</b>: GNU/GPL<br />
X-Moto je 2D motokrosová hra. Úlohou hráča je najskôr pozbierať všetky jahody (alebo iné predmety) a dostať sa do cieľa. Hra je založená na reálnom fyzikálnom modeli. K dispozícii je niekoľko tisíc levelov, ktoré je možné hrať aj v multiplayer režime.
	</p><a href="http://xmoto.tuxfamily.org/">Domovská stránka</a> | <a href="http://xmoto.tuxfamily.org/">Download</a></td>
</tr>
<!--  #Zaznam   -->

<!--   Zaznam   -->
<tr>
	<td><a href="/media/IMG/hry/0ad.jpg"><img src="/media/IMG/hry/thumbs/0ad.jpg" alt="0 A.D." /></a></td>
	<td><h3>0 A.D.</h3><p><b>Žáner</b>: RTS<br /><b>Licencia</b>: GNU/GPL<br />
0A.D. je historická real-time stratégia (RTS) v súčasnej dobe vo vývoji Wildfire Games, skupiny dobrovoľníkov herných vývojárov. Ako vodca starovekej civilizácie, musíte zhromaždiť potrebné zdroje, ktoré ako to už býva zvykom potrebujete na zabezpečenie chodu mesta, výskum a armádu. Hra je stále vo vývoji, no každý nový update nám prináša množstvo vylepšení a radosti z hrania. Po grafickej stránke je hra výborne spracovaná.
	</p><a href="http://boson.sourceforge.net/">Domovská stránka</a> | <a href="http://play0ad.com/download/">Download</a></td>
</tr>
<!--  #Zaznam   -->

<!--   Zaznam   -->
<tr>
	<td><a href="/media/IMG/hry/otherlife.jpg"><img src="/media/IMG/hry/thumbs/otherlife.jpg" alt="Other Life" /></a></td>
	<td><h3>Other Life</h3><p><b>Žáner</b>: MMORPG<br /><b>Licencia</b>: komerčná<br />
		Other Life je roztomilá hra v štýle old schol fantasy mmorpg. Hra je postavená na Eternal Lands engine. Hra však prináša množstvo vylepšení a skvelého clienta. Hra je stále vo vývoji, no je však plne hrateľná.<br /><br />

Už ste niekedy snívali o tom aké by to bolo byť kováč? Alchymista? Alebo dokonca žoldnier? Tak potom ste na správnom mieste.
	</p><a href="http://www.other-life.com/">Domovská stránka</a> | <a href="http://www.other-life.com/downloads.php">Download</a></td>
</tr>
<!--  #Zaznam   -->

<!--   Zaznam   -->
<tr>
	<td><a href="/media/IMG/hry/paxbritannica.jpg"><img src="/media/IMG/hry/thumbs/paxbritannica.jpg" alt="X-Moto" /></a></td>
	<td><h3>Pax Britannica</h3><p><b>Žáner</b>: one-button RTS<br /><b>Licencia</b>: GNU/GPL<br />
Pax Britanica je pekná jednotlačítková stratégia, v ktorej je vašou úlohou poraziť súperove lode. Hru môžu hrať až 4 súperi na jednom PC, nakoľko používate len jedno tlačítko na klávesnici. Podržaním klávesy sa zvyšuje hodnota na ukazovateli a podľa toho môžete vyrobiť tri druhy jednotiek, štvrté pole umožní rýchlejšie generovanie energie.
	</p><a href="http://paxbritannica.henk.ca/">Domovská stránka</a> | <a href="http://paxbritannica.henk.ca/pax-britannica.tar.gz">Download</a></td>
</tr>
<!--  #Zaznam   -->

<!--   Zaznam   -->
<tr>
	<td><a href="/media/IMG/hry/stuntrally.jpg"><img src="/media/IMG/hry/thumbs/stuntrally.jpg" alt="Stunt Rally" /></a></td>
	<td><h3>Stunt Rally</h3><p><b>Žáner</b>: simulátor<br /><b>Licencia</b>: GNU/GPL<br />
Stunt Rally je závodná hra, ktorá sa zameriava predovšetkým na rally preteky ale môžete taktiež využiť aj svoje kaskadérske schopnosti napr. rampách. K dispozícií máte jazdu na čas, championship alebo multiplayer mode. Stunt Rally však prichádza aj s editorom tratí, môžete meniť počasie, polohu slnka ale napr. aj terén. Koncom roka 2013 sa hra dočkala update. V hre nájdete 46 tratí, 19 áut a spomínaný Track Editor
	</p><a href="https://code.google.com/p/vdrift-ogre/">Domovská stránka</a> | <a href="http://sourceforge.net/projects/stuntrally/files/2.2.1/">Download</a></td>
</tr>
<!--  #Zaznam   -->

</table>

<p>V Linuxe je, samozrejme, oveľa väčšie množstvo hier. Ešte by sme vám chceli odporúčať niekoľko jednoduchých hier vhodných na dlhé zimné večery:</p>
<ul>
<li><a href="http://kde-apps.org/content/show.php?content=10019">Atlantik</a> - hry typu monopoly hrateľné po sieti</li>
<li><a href="http://knights.sourceforge.net/">Knights</a> - vynikajúci šach, s rôznymi témami šachovníc a figúrok</li>
<li><a href="http://www.kde.org/applications/games/kspaceduel">KSpaceDuel</a> - vesmírna arkádovka, kde sa dve vesmírne lode snažia navzájom zničiť</li>
<li>KPatience - sada obľúbených kartových hier, štandardná hra v KDE</li>
<li>Kolf - jednoduchý, veľmi dobre hrateľný 2D golf, takisto ho nájdete medzi KDE hrami</li>
<li><a href="http://www.frozen-bubble.org/">Frozen Bubble</a> - obľúbená logická hra s peknou grafikou</li>
<li>... a mnoho, mnoho ďalších :)</li>
</ul>

{% endblock %}
