{% extends "base.html" %}
{% block head_title %}Linux a multimédia{% endblock %}
{% block breadcrumbs %}{{ breadcrumb("Linux a multimédia") }}{{ super() }}{% endblock %}
{% block extraheaders %}
<meta name="description" lang="sk" content="Prehľad užitočných linuxových programov pre prácu s multimediálnymi súbormi." />
{% endblock %}

{% block content %}
<h1>Linux a multimédia</h1>

<p>
<img src="/media/IMG/Vmultimedia.jpg" class="pull-left" alt="Linux a multimédia" />
Aj v tejto, pre bežného používateľa dôležitej, oblasti práce z PC má Linux mnoho softvéru: Mp3 prehrávače, DVD prehrávače, práca s audio súbormi, grafické prehliadače, grafické editory v štýle Photoshopu, vektorové grafické editory, tvorba 3D grafiky, flash animácii, DVD enkódery, strihanie a editovanie videa. <br /><a href="/multimedia/screenshoty/">Pozrite si screenshoty multimediálnych programov pre Linux</a>
</p>

<p>V nasledujúcej tabuľke sú uvedené ekvivalenty a náhrady softvéru, ktorý poznáte z prostredia Windows. Mala by vám uľahčiť prechod na tento operačný systém.</p>

<section>
<h3>Vysvetlivky</h3>
<dl>
	<dt>[Prop]</dt><dd>Takto označené programy sú proprietárne</dd>
	<dt>[NF]</dt><dd>Nie free softvér (alebo relatívne free s určitými obmedzeniami)</dd>
	<dt>[***]</dt><dd>Skvelý program, ktorý vám vrelo odporúčame</dd>
</dl>
</section>

<h3>Prehľad</h3>

<table class="module bigheader">
	<tr>
		<th>Opis&nbsp;programu</th>
		<th>Windows</th>
		<th>Linux</th>
	</tr>

	<tr>
		<th colspan="3">Audio / CD</th>
	</tr>

	<tr>
		<td>Užitočné webstránky:</td>
		<td>-</td>
		<td>
			<a href="http://linux-sound.org/">Linux MIDI &amp; Sound Applications</a><br />
			<a href="http://sound.condorow.net/">Sound Software</a>
		</td>
	</tr>

	<tr>
		<td>Hudba / mp3 / ogg prehrávače</td>
		<td>
			1) <a href="http://www.winamp.com">Winamp</a><br />
			2) <a href="http://www.zinf.org/">Zinf</a><br />
			3) <a href="http://snackamp.sourceforge.net/">SnackAmp</a><br />
			4) <a href="http://www.sorinara.com/">Soritong</a><br />
			5) <a href="http://apollo.audiogalaxy.com/">Apollo</a><br />
			6) <a href="http://www.kjofol.org/">K-jofol 2000</a><br />
			7) <a href="http://www.sonique.com/">Sonique</a><br />
			8) <a href="http://www.c4players.com/">C-4</a><br />
			9) <a href="http://www.e-soft.co.uk/">Media Box Audio / Video </a><a href="http://www.e-soft.co.uk/">Workstation 5</a><br />
			10) <a href="http://www.blazemp.com/">Blaze Media Pro</a><br />
			11) <a href="http://www.orionstudios.net/liquidburn/NEX3.html">NEX 3</a><br />
			12) <a href="http://www.real.com/">Real Jukebox</a><br />
			13) Windows Media Player
		</td>
		<td>
			1) <a href="http://www.xmms.org/">XMMS (X multimedia system)</a> (<a href="/clanok/xmms-zaciname/">recenzia</a>).<br />
			2) <a href="http://noatun.kde.org/">Noatun.</a><br />
			3) <a href="http://www.zinf.org/">Zinf</a>. (former <a href="http://www.freeamp.org/">Freeamp</a>)<br />
			4) <a href="http://www.winamp.com">Winamp</a>.<br />
			5) Xamp.<br />
			6) <a href="http://gqmpeg.sourceforge.net/">GQmpeg</a>.<br />
			7) <a href="http://snackamp.sourceforge.net/">SnackAmp</a>.<br />
			8) <a href="http://www.mplayerhq.hu/">Mplayer.</a> (Frontend: <a href="http://kplayer.sourceforge.net/">Kplayer</a>).<br />
			9) <a href="http://xine.sourceforge.net/">Xine.</a> (Frontendy: <a href="http://sinek.sourceforge.net/">Sinek</a>, <a href="http://www.hadess.net/totem.php3">Totem</a>) <br />
			10) <a href="http://amarok.kde.org/">Amarok</a>
		</td>
	</tr>
	<tr>
		<td>Konzolová hudba / mp3 / ogg players</td>
		<td>mpg123,<br />dosamp,<br /><a href="http://www.mplayerhq.hu">Mplayer</a></td>
		<td>
			1) Cplayer.<br />
			2) <a href="http://www.sci.fi/%7Etobo/mpg123">mpg123</a>.<br />
			3) <a href="http://www.xiph.org/">ogg123</a>.<br />
			4) <a href="http://mpg321.sourceforge.net/">mpg321</a>.<br />
			5) <a href="http://konst.org.ua/rus/software/orpheus/info.html">Orpheus</a>.<br />
			6) <a href="http://www.stack.nl/%7Ebrama/mp3blaster.html">Mp3blaster</a>.<br />
			7) <a href="http://www.mars.org/home/rob/proj/mpeg/">Madplay</a>.<br />
			8) <a href="http://www.xmms.org/plugins_general.html">Console utils for  xmms</a>.<br />
			9) <a href="http://www.mplayerhq.hu/">Mplayer.</a>
		</td>
	</tr>

	<tr>
		<td>Programy pre napaľovanie s GUI</td>
		<td>Nero,<br />Roxio Easy CD Creator,<br />…</td>
		<td>
			1) <a href="http://www.k3b.org/">K3b</a>[***] (<a href="/clanok/k3b-vykonny-napalovaci-program/">recenzia</a>). <br />
			2) <a href="http://www.xcdroast.org/">XCDRoast</a>.<br />
			3) <a href="http://www.koncd.org/">KOnCd.</a><br />
			4) <a href="http://sourceforge.net/projects/eroaster/">Eclipt Roaster</a>.<br />
			5) <a href="http://gnometoaster.rulez.org/">Gnome Toaster</a>.<br />
			6) <a href="http://cdbakeoven.sourceforge.net/">CD Bake Oven.</a><br />
			7) KreateCD.<br />
			8) <a href="http://ogre.rocky-road.net/cdr.shtml">SimpleCDR-X</a>.<br />
			9) <a href="http://www.iki.fi/jmunsin/gcombust/">GCombust</a>.<br />
			10) <a href="http://wwwhomes.uni-bielefeld.de/jhaeger/webCDwriter/">WebCDWriter</a>. (CD napaľovací server, použiteľný z akéhokoľvek vzdialeného prehliadača s podporou Javy)<br />
			11) <a href="http://www.jump.net/%7Ebrooke/cdrtoast/">CDR Toaster.</a><br />
			12) <a href="http://arson.sourceforge.net/">Arson.</a><br />
			13) <a href="http://freshmeat.net/redir/cdme/41932/url_homepage/files.html">CD-Me</a> (Vytváranie audio CD).<br />
			14) <a href="http://www.nero.com">Nero</a> [Prop]
		</td>
	</tr>

	<tr>
		<td>Prehrávače audio CD</td>
		<td>CD prehrávač,<br />Winamp,<br />Windows Media Player,<br />…</td>
		<td>
			1) <a href="http://zorbla.de/milliByte/index.html">KsCD</a>.<br />
			2) Gtcd (Gnome) + tcd (konzolový).<br />
			3) <a href="http://konst.org.ua/rus/software/orpheus/info.html">Orpheus</a>. (konzolový)<br />
			4) <a href="http://www.geocities.com/xsadp/">Sadp</a>.<br />
			5) <a href="http://www.x.org/contrib/applications/WorkMan/">WorkMan</a>.<br />
			6) <a href="http://www.amb.org/Xmcd/">Xmcd</a>.<br />
			7) <a href="http://www.nostatic.org/grip/">Grip</a>.<br />
			8) XPlayCD.<br />
			9) ccd / cccd.  (konzolový)<br />
			10) <a href="http://cdp.sourceforge.net">cdp</a>. (konzolový)<br />
			11) <a href="http://bebocd.sourceforge.net">BeboCD</a>.
		</td>
	</tr>

	<tr>
		<td>Spmalenie rotácie CD</td>
		<td>Slowcd,<br />Cdslow</td>
		<td>
			1) <code>mount -o speed=&lt;speed&gt;</code><br />
			2) <code>hdparm -E &lt;speed&gt;</code><br />
			3) <code>eject -x &lt;speed&gt;</code><br />
			4) <code>cdspeed.</code>
		</td>
	</tr>

	<tr>
		<td>Ripovanie / grabovanie CD</td>
		<td>
			1) <a href="http://www.cdex.n3.net/">Cdex</a><br />
			2) <a href="http://www.musicmatch.com/">MusicMatch</a><br />
			3) <a href="http://www.streambox.com/Products/ripper_index.asp">Streambox Ripper</a><br />
			4) <a href="http://www.xingtech.com/">Audiocatalyst</a><br />
			5) <a href="http://www.windac.de/">WinDac</a><br />
			6) <a href="http://www.audiograbber.com-us.net/">Audiograbber</a><br />
			7) <a href="http://www.e-soft.co.uk/">Media Box Audio / Video Workstation</a><br />
			8) <a href="http://www.cdcopy.sk/">CD-Copy</a><br />
			9) <a href="http://www.blazemp.com/">Blaze Media Pro</a><br />
			10) <a href="http://www.real.com/">Real Jukebox</a><br />
			11) Windows Media Player<br />
			12) Nero<br />
			13) VirtualDrive<br />
			14) VirtualCD<br />
			15) <a href="http://audacity.sourceforge.net/">Audacity</a>
		</td>
		<td>
			1) <a href="http://www.nostatic.org/grip/">Grip.</a><br />
			2) <a href="http://audacity.sourceforge.net/">Audacity</a>.<br />
			3) <a href="http://prdownloads.sourceforge.net/riperx/">RipperX.</a><br />
			4) <a href="http://www.thekompany.com/projects/tkcoggripper/">tkcOggRipper.</a><br />
			5) A Better CD Encoder.<br />
			6) <a href="http://www.cdda2wav.de/">cdda2wav</a>.<br />
			7) <a href="http://gnometoaster.rulez.org/">Gnome Toaster.</a><br />
			8) <a href="http://www.xiph.org/paranoia">Cdparanoia.</a><br />
			9) <a href="http://www.jamiesdomain.org.uk/">Cd2mp3.</a><br />
			10) <a href="http://web.tiscalinet.it/marcellou/dagrab.html">Dagrab.</a><br />
			11) <a href="http://ogre.rocky-road.net/cdr.shtml">SimpleCDR-X</a>.<br />
			12) <a href="http://www.linuxrat.org/projects.html">RatRip</a>.<br />
			13) <a href="http://sourceforge.net/projects/autorip/">AutoRip.</a><br />
			14) <a href="http://freshmeat.net/redir/sj/39776/url_homepage/computers">Sound Juicer</a>.
		</td>
	</tr>

	<tr>
		<td>Tracker music prehrávač</td>
		<td>Winamp,<br />Windows Media Player,<br />…</td>
		<td>
			1) <a href="http://www.multimania.com/miodrag/mikmod">xmms + MikMod-plugin</a>.<br />
			2) <a href="http://xmp.sourceforge.net">xmms + xmp-plugin</a>.<br />
			3) <a href="http://mikmod.darkorb.net/">MikMod</a>.<br />
			4) <a href="http://xmp.sourceforge.net">xmp</a>. Dokáže prehrávať hudbu pomocou Midi zariadení.<br />
			5) <a href="http://www.goice.co.jp/member/mo/timidity/">TiMidity++</a>. Len mod súbory.
		</td>
	</tr>

	<tr>
		<td>Midi prehrávač</td>
		<td>Winamp,<br />Windows Media Player,<br />…</td>
		<td>
			1) <a href="http://ban.joh.cam.ac.uk/%7Ecr212/xmms-midi/">xmms + midi-plugin</a>. (Využíva TiMidity)<br />
			2) <a href="http://benge.mybravenet.com/programming/">xmms + awemidi-plugin</a>. (Využíva drvmidi)<br />
			3) <a href="http://benge.mybravenet.com/programming/">xmms + playmidi-plugin</a>. (Využíva playmidi)<br />
			4) <a href="http://www.goice.co.jp/member/mo/timidity/">TiMidity++</a>.<br />
			4) <a href="http://www.stardate.bc.ca/eawpatches/html/default.htm">timidity-eawpatches</a>.<br />
			5) <a href="http://developer.kde.org/%7Elarrosa/kmid.html">Kmid</a>.<br />
			6) <a href="http//bahamut.mm.t.u-tokyo.ac.jp/%7Eiwai/awedrv/">drvmidi / awemidi.</a><br />
			7) <a href="http://pmidi.sourceforge.net">pmidi</a> (konzolový).<br />
			8) playmidi.<br />
			9) atmidi.
		</td>
	</tr>

	<tr>
		<td>Midi + karaoke prehrávač</td>
		<td><a href="http://www.vanbasco.com/">VanBasco</a></td>
		<td>
			1) <a href="http://developer.kde.org/%7Elarrosa/kmid.html">Kmid</a>.<br />
			2) <a href="http://gkaraoke.sourceforge.net/">Gkaraoke.</a><br />
			3) <a href="http://www.goice.co.jp/member/mo/timidity/">TiMidity++</a>.
		</td>
	</tr>

	<tr>
		<td>Mp3 enkódery</td>
		<td>
			1) <a href="http://lame.sourceforge.net/">Lame</a><br />
			2) <a href="http://www.cdex.n3.net/">Cdex</a><br />
			3) <a href="http://www.musicmatch.com/">MusicMatch</a><br />
			4) <a href="http://www.streambox.com/Products/ripper_index.asp">Streambox Ripper</a><br />
			5) <a href="http://www.xingtech.com/">Audiocatalyst</a><br />
			6) <a href="http://www.blazemp.com/">Blaze Media Pro</a><br />
			7) <a href="http://www.e-soft.co.uk/">Media Box Audio / Video Workstation</a><br />
			8) <a href="http://www.midirunner.com/">AudioSlimmer</a><br />
			9) <a href="http://www.real.com/">Real Jukebox</a>
		</td>
		<td>
			1) <a href="http://lame.sourceforge.net/">Lame</a>.<br />
			2) Bladeenc.<br />
			3) <a href="http://hive.me.gu.edu.au/not_lame/">NotLame</a>.<br />
			4) L3enc. [Prop]<br />
			5) gogo.
		</td>
	</tr>

	<tr>
		<td>Ogg enkódery</td>
		<td>oggenc</td>
		<td>oggenc.</td>
	</tr>

	<tr>
		<td>Práca s Real protokolom</td>
		<td>
			1) <a href="http://www.real.com/">RealPlayer</a>. [Prop]<br />
			2) <a href="http://www.mplayerhq.hu/">Mplayer</a> + libraries.</td>
		<td>
			1) <a href="http://forms.real.com/real/player/unix/unix.html">RealPlayer</a>. [Prop]<br />
			2) <a href="http://www.mplayerhq.hu/">Mplayer</a> + libraries.<br />
			3) <a href="http://freshmeat.net/redir/remedial/35332/url_homepage/remedial">ReMedial</a>.
		</td>
	</tr>

	<tr>
		<td>Rádio</td>
		<td>VC Radio,<br />FMRadio,<br />Digband Radio</td>
		<td>
			1) <a href="http://xradio.sf.net/">xradio</a>.<br />
			2) <a href="http://www.leg.uct.ac.za/cRadio/">cRadio</a>.<br />
			3) Xmradio.<br />
			4) RDJ.<br />
			5) <a href="http://cactus.rulez.org/projects/radioactive/">RadioActive.</a><br />
			6) <a href="http://silicone.free.fr/xmms-FMRadio/">XMMS-FMRadio</a>.<br />
			7) <a href="http://gqmpeg.sourceforge.net/radio.html">Gqradio.</a><br />
			8) <a href="http://freshmeat.net/redir/qtradio/37738/url_homepage/project.php?prj_name=qtradio">Qtradio</a>.<br />
			9)  <a href="http://www.nongnu.org/streamtuner/">streamtuner</a>
		</td>
	</tr>

	<tr>
		<td>Audio editory</td>
		<td>SoundForge,<br />Cooledit,<br /><a href="http://audacity.sourceforge.net/">Audacity</a>,<br />…</td>
		<td>
			1) <a href="http://glame.sourceforge.net/en/index.var">Glame</a>.<br />
			2) <a href="http://rezound.sf.net">Rezound.</a><br />
			3) <a href="http://sweep.sf.net">Sweep</a>.<br />
			4) <a href="http://www.tfm.ro/waveforge/">WaveForge</a>.<br />
			5) Sox.<br />
			6) <a href="http://audacity.sourceforge.net/">Audacity</a>.<br />
			7) <a href="http://awacs.dhs.org/software/gnusound">GNUSound</a>.<br />
			8) <a href="http://ecasound.seul.org/">Ecasound.</a><br />
			9) SoundStudio.<br />
			10) <a href="http://www.mtek.chalmers.se/%7Ehjormagn/mhwaveedit.html">mhWaveEdit</a>.
		</td>
	</tr>

	<tr>
		<td>Multitrack audio processor</td>
		<td>Cubase</td>
		<td>
			1) <a href="http://ecasound.seul.org/">Ecasound.</a><br />
			2) <a href="http://ardour.sourceforge.net/">Ardour.</a>
		</td>
	</tr>

	<tr>
		<td>Sound tracker</td>
		<td>Fasttracker,<br />ImpulseTracker</td>
		<td>
			1) <a href="http://soundtracker.org/">Soundtracker</a>.<br />
			2) <a href="http://insotracker.sourceforge.net/">Insotracker</a>.<br />
			3) <a href="http://www.reduz.com.ar/cheesetracker/">CheeseTracker</a>.
		</td>
	</tr>

	<tr>
		<td>Zvukový mixer</td>
		<td>sndvol32</td>
		<td>
			1) <a href="http://optronic.sourceforge.net/sites/projects.php">Opmixer</a>.<br />
			2) aumix.<br />
			3) mix2000.<br />
			4) KMix.<br />
			5) <a href="http://www.alsa-project.org/">Alsamixer</a>.<br />
			6) <a href="http://www1.tcnet.ne.jp/fmurata/linux/down/">GMix</a>.<br />
			7) <a href="http://www.ne.jp/asahi/linux/timecop/software/">wmix</a>  (for WindowMaker)<br />
			8) Mixer_app (for WindowMaker)<br />
			9) <a href="http://www.bensinclair.com/dockapp/">Many applets for AfterStep / WindowMaker / FluxBox</a>.
		</td>
	</tr>

	<tr>
		<td>Notové editory</td>
		<td><a href="http://www.codamusic.com/finale/">Finale</a>,<br /><a href="http://www.sibelius.com/products/sibelius/">Sibelius</a>,<br /><a href="http://www.musitek.com/smartscre.html/">SmartScore</a></td>
		<td>
			1) <a href="http://lilypond.org/stable/">LilyPond.</a><br />
			2) <a href="http://rnvs.informatik.tu-chemnitz.de/~jan/noteedit/noteedit.html">Noteedit</a>.<br />
			3) <a href="http://mux2d.sourceforge.net/">MuX2d</a>.
		</td>
	</tr>

	<tr>
		<td>Midi-sequencer</td>
		<td>Cakewalk</td>
		<td>
			1) <a href="http://www.all-day-breakfast.com/rosegarden/">RoseGarden</a>.<br />
			2) <a href="http://brahms.sourceforge.net/">Brahms</a>.<br />
			3) <a href="http://anthem.sourceforge.net/">Anthem</a>.<br />
			4) <a href="http://www.parabola.demon.co.uk/melys/">Melys</a>.<br />
			5) <a href="http://muse.seh.de/">MuSE</a>.<br />
			6) <a href="http://www.music-community.ch/midimountain">MidiMountain</a>. (KDE)<br />
			More infrormation: <a href="http://www.tldp.org/HOWTO/MIDI-HOWTO-8.html">Midi-Howto</a>.
		</td>
	</tr>

	<tr>
		<td>Tvorba hudby</td>
		<td>Cakewalk,<br />FruityLoops</td>
		<td>
			1) <a href="http://www.all-day-breakfast.com/rosegarden/">RoseGarden</a>.<br />
			2) <a href="http://ardour.sf.net">Ardour</a>.
		</td>
	</tr>

	<tr>
		<td>Synthesizer</td>
		<td>Virtual waves,<br /><a href="http://www.csounds.com/whatis/index.html">Csound</a></td>
		<td>
			1) <a href="http://www.csounds.com/whatis/index.html">Csound</a>.<br />
			2) <a href="http://www.fluidsynth.org">FluidSynth</a>.<br />
			3) Arts Builder (???).
		</td>
	</tr>

	<tr>
		<td>ID3-Tag Editory</td>
		<td><a href="http://mp3tag.de/">Mp3tag</a></td>
		<td>
			1) <a href="http://easytag.sf.net">EasyTAG</a>.<br />
			2) <a href="http://software.manicsadness.com/?site=project&amp;project=1">Cantus</a>.<br />
			3) <a href="http://kitsumi.xware.cx/id3tool/">id3tool</a> (konzolový).<br />
			4) <a href="http://www.azstarnet.com/%7Edonut/programs/">id3ed</a> (konzolový).<br />
			5) <a href="http://id3edit.sourceforge.net/">id3edit</a>  (konzolový).
		</td>
	</tr>

	<tr>
		<td>Gitarový/Instrument Tuning softvér</td>
		<td>
			1) <a href="http://www.musicmasterworks.com/tuning_software.html">In-Tune Multi-Instrument Tuner</a><br />
			2) Digital Guitar Tuner<br />
		</td>
		<td>
		???
		</td>
	</tr>

	<tr>
		<td>Záznam streamov do .MP3 súborov</td>
		<td><a href="http://www.twins-software.com/TwinsStreamRipper/Overview.php">Twins Stream Ripper</a></td>
		<td><a href="http://streamripper.sourceforge.net/">Stream Ripper</a>.</td>
	</tr>

	<tr>
		<th colspan="3">Grafika</th>
	</tr>

	<tr>
		<td>Prehliadače grafických súborov</td>
		<td>
			1) ACDSee<br />
			2) IrfanView<br />
			3) <a href="http://www.xnview.com/">Xnview</a><br />
			4) <a href="http://www.photodex.com/">CompuPic</a> [Prop]<br />
			5) Windows Fax and Image viewer<br />
			5) Akýkoľvek internetový prehliadač
		</td>
		<td>
			1) <a href="http://www.xnview.com/">Xnview.</a><br />
			2) <a href="http://gqview.sourceforge.net/">GQview</a>.<br />
			3) <a href="http://www.klografx.net/qiv/">Qiv</a>.<br />
			4) <a href="http://www.photodex.com/">CompuPic</a> [Prop]<br />
			5) <a href="http://kuickshow.sourceforge.net/">Kuickshow.</a><br />
			6) Kview.<br />
			7) <a href="http://gtksee.berlios.de/">GTKSee</a>.<br />
			8) <a href="http://www.trilon.com/xv/xv.html">xv</a>. [Prop]<br />
			9) pornview.<br />
			10) <a href="http://www.seekrut.com/toxicpulse/imgv/imgv.html">imgv</a>.<br />
			11) <a href="http://gwenview.sourceforge.net/">Gwenview.</a><br />
			12) <a href="http://gliv.tuxfamily.org/">Gliv</a>.<br />
			13) <a href="http://www.jalix.org/projects/showimg/">Showimg</a>.<br />
			14) Fbi.<br />
			15) <a href="http://gthumb.sourceforge.net/">Gthumb.</a><br />
			16) PixiePlus.[***]<br />
			17) Electric Eyes (Gnome).<br />
			18) <a href="http://www.gnome.org/gnome-office/eog.shtml">Eye of Gnome</a>.<br />
			19) <a href="http://gtkmmviewer.sourceforge.net/">GImageView</a>.<br />
			20) <a href="http://freshmeat.net/projects/ht_imview/">Hugues Image Viewer</a>.<br />
			21) Akýkoľvek internetový prehliadač.
		</td>
	</tr>

	<tr>
		<td>Konzolové prehliadače grafických súborov</td>
		<td>QPEG</td>
		<td>
			1) zgv.<br />
			2) aalib.
		</td>
	</tr>

	<tr>
		<td>Jednoduché grafické editory</td>
		<td>Paint</td>
		<td>
			1) Kpaint.<br />
			2) <a href="http://www.newbreedsoftware.com/tuxpaint/">Tuxpaint.</a><br />
			3) <a href="http://sf-xpaint.sourceforge.net/">Xpaint.</a> <br />
			4) <a href="http://www.gnu.org/software/gpaint/">Gpaint</a>.<br />
			5) <a href="http://wwwiti.cs.uni-magdeburg.de/%7Esattler/killustrator.html">Killustrator.</a><br />
			6) <a href="http://savannah.nongnu.org/projects/graphtool/">Graphtool</a>.
		</td>
	</tr>

	<tr>
		<td>Výkonné grafické editory v štýle Photoshopu</td>
		<td>1) Adobe Photoshop [Prop]<br />
			2) <a href="http://www.gimp.org/win32/">Gimp</a><br />
			3) Paint Shop Pro [Prop]<br />
			4) <a href="http://pixel32.box.sk/">Pixel32</a> [Prop]<br />
			5) Corel PhotoPaint [Prop]<br />
			6) Macromedia Fireworks
		</td>
		<td>
			1) <a href="http://www.gimp.org/">Gimp</a>.[***]<br />
			2) <a href="http://www.imagemagick.org/">ImageMagick</a>.<br />
			3) <a href="http://pixel32.box.sk/">Pixel32</a>. [Prop]<br />
			4) <a href="http://filmgimp.sourceforge.net/">CinePaint</a>.<br />
			5) <a href="http://www.acc.ne.jp/%7Etam/RubyMagick/">RubyMagick</a>.<br />
			6) <a href="ftp://ftp2.corel.com/pub/linux/PhotoPaint9/CorelPHOTOPAINT9Lnx.tar.gz">Corel PhotoPaint 9.</a> [Prop]
		</td>
	</tr>

	<tr>
		<td>Programy na prácu z vektorovou grafikou</td>
		<td>Adobe Illustrator,<br />Corel Draw,<br />Freehand,<br />AutoSketch,<br /><a href="http://www.openoffice.org/">OpenOffice Draw</a></td>
		<td>
			1) <a href="http://www.inkscape.org">Inkscape</a>[***]<br />
			2) <a href="http://www.sk1project.org/">sK1</a><br />
			3) <a href="http://sodipodi.sourceforge.net/">Sodipodi.</a><br />
			4) <a href="http://www.xfig.org/">xfig.</a><br />
			5) <a href="http://sketch.sourceforge.net/">Sketch.</a><br />
			6) <a href="http://www.koffice.org/">Karbon14 and Kontour.</a><br />
			7) <a href="http://www.openoffice.org/">OpenOffice Draw.</a><br />
			8) <a href="http://www.lysator.liu.se/~alla/dia/">Dia.</a><br />
			9) <a href="http://bourbon.usc.edu:8001/tgif/">Tgif.</a><br />
			10) <a href="http://www.linotux.ch/gestalter/">Gestalter</a>.<br />
			11) <a href="http://www.ntlug.org/%7Eccox/impress/">ImPress</a>.<br />
			12) <a href="http://mars.netanya.ac.il/%7Esamy/tkpaint.html">Tkpaint</a>.<br />
			13) <a href="http://bourbon.cs.umd.edu:8001/tgif/">Tgif</a>.<br />
			14) Corel Draw 9. [Prop]
		</td>
	</tr>

	<tr>
		<td>SVG editor</td>
		<td>WebDraw [Prop]</td>
		<td>
			1) <a href="http://www.inkscape.org">Inkscape</a><br />
			2) <a href="http://www.sk1project.org/">sK1</a><br />
			3) <a href="http://sodipodi.sourceforge.net/">Sodipodi.</a><br />
			4) <a href="http://www.lysator.liu.se/~alla/dia/">Dia.</a><br />
			5) <a href="http://sketch.sourceforge.net/">Sketch.</a>
		</td>
	</tr>

	<tr>
		<td>SVG prehliadač</td>
		<td>
			1) Squiggle <br />
			2) X-Smiles<br />
			3) <a href="http://www.mozilla.org/projects/svg/">SVG podpora v Mozilla</a>
		</td>
		<td>
			1) Squiggle.<br />
			2) X-Smiles.<br />
			3) <a href="http://www.mozilla.org/projects/svg/">SVG podpora v Mozilla</a>.<br />
			4) <a href="http://svg.kde.org/">SVG podpora v Konquerore</a>.
		</td>
	</tr>

	<tr>
		<td>Programy pre dekoráciu textu</td>
		<td>Wordart,<br /><a href="http://www.openoffice.org/">OpenOffice Draw</a></td>
		<td><a href="http://www.openoffice.org/">OpenOffice Draw.</a></td>
	</tr>

	<tr>
		<td>Program pre ASCII-kreslenie</td>
		<td>ANSI DRAW,<br /><a href="http://mazaika.tripod.com/">Mazaika</a></td>
		<td>
			1) <a href="http://kolos.math.uni.lodz.pl/ap/canvascii">CanvASCII</a>.<br />
			2) <a href="http://www.jave.de/">Jave</a>.<br />
			3) ANSI Draw.<br />
			4) <a href="http://www.naskita.com/linux/edascii/edascii.shtml">EDASCII</a>.
		</td>
	</tr>

	<tr>
		<td>Konvertovanie grafických súborov do pseudografických súborov</td>
		<td>???</td>
		<td>aalib.</td>
	</tr>

	<tr>
		<td>Flash prehrávanie</td>
		<td>Flash Player</td>
		<td>
			1) <a href="http://www.openswf.org/">SWF Macromedia Flash Player</a>.<br />
			2) <a href="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">Flash Player</a>. [Prop]<br />
			3) Plugin for Netscape/Mozilla (download <a href="http://www.macromedia.com/shockwave/download/alternates/">tu</a> or <a href="http://macromedia.mplug.org/">tu</a>).
		</td>
	</tr>

	<tr>
		<td>Flash tvorba</td>
		<td>Macromedia Flash</td>
		<td>
			1) <a href="http://drawswf.sourceforge.net/index.html">DrawSWF</a>.<br />
			2) <a href="http://ming.sourceforge.net/">Ming</a>. (Tvorba flash swf výstupov z programovacích jazykov))
		</td>
	</tr>

	<tr>
		<td>3D-grafika</td>
		<td>3D Studio MAX,<br /><a href="http://www.aliaswavefront.com/en/products/maya/index.shtml">Maya</a> [Prop],<br /><a href="http://www.povray.org">Povray</a>,<br />…</td>
		<td>
			1) <a href="http://www.blender3d.org/">Blender</a>.[***]<br />
			2) <a href="http://www.aliaswavefront.com/en/products/maya/index.shtml">Maya</a>. [Prop]<br />
			3) <a href="http://www.kpovmodeler.org/">KPovModeler.</a> <br />
			4) <a href="http://k3studio.sourceforge.net/">K3Studio.</a> <br />
			5) <a href="http://www.moonlight3d.net/">Moonlight</a>.<br />
			6) <a href="http://www.gig3d.com/">GIG3DGO</a>.<br />
			7) <a href="http://www.povray.org">Povray</a>.<br />
			8) <a href="http://megapov.inetart.net">MegaPov</a>.<br />
			9) <a href="http://k3d.sourceforge.net/new/">K3D</a>.<br />
			10) <a href="http://www.wings3d.com/">Wings 3D.</a><br />
			11) <a href="http://www.softimage.com/corporate/press/pressreleases/010914_ibc_xsi_linux.htm">Softimage XSI.</a>[Prop]<br />
			12) <a href="http://kludge3d.sourceforge.net">Kludge3d</a>.
		</td>
	</tr>

	<tr>
		<td>Programy na tvorbu kvalitných fotografických scén založených na ArchiCAD 3D-modelov</td>
		<td>ArtLantis Render</td>
		<td>???</td>
	</tr>

	<tr>
		<td>Editor ikon</td>
		<td>Microangelo</td>
		<td>
			1) Gnome-iconedit.<br />
			2) Kiconedit.
		</td>
	</tr>

	<tr>
		<td>Malé programy pre snímanie obrazovky (tvorba screenshotov)</td>
		<td>Integrované v systéme (PrintScreen),<br />Snag it,<br />…</td>
		<td>
			1) Ksnapshot.<br />
			2) Xwpick.<br />
			3) Xwd, xgrabsc.<br />
			5) Streamer (video)<br />
			6) Integrované do window manažéra
		</td>
	</tr>

	<tr>
		<td>Programy na tvorbu štrukturovaných databáz</td>
		<td>Access</td>
		<td>
			1) <a href="http://www.lysator.liu.se/%7Ealla/dia/">Dia</a>.<br />
			2) <a href="http://www.cs.utwente.nl/%7Etcm">Toolkit for Conceptual Modelling</a>.
		</td>
	</tr>

	<tr>
		<td>Tvorba tlačených kalendárov, pohľadníc, atď., z klipart kolekcie</td>
		<td>Broderbund Print Shop</td>
		<td>???</td>
	</tr>

	<tr>
		<td>Sťahovanie obrázkov z fotoaparátu</td>
		<td>Polaroid Drivers</td>
		<td>
			1) Camera Tool (gtkam)<br />
			2) Gphoto2.
		</td>
	</tr>

	<tr>
		<th colspan="3">Video a iné …</th>
	</tr>

	<tr>
		<td>Video / mpeg4 prehrávače</td>
		<td>
			1) <a href="http://www.bsplayer.com">BSplayer</a><br />
			2) Zoomplayer<br />
			3) Windows Media Player<br />
			4) <a href="http://www.videolan.org">VideoLAN</a><br />
			5) Winamp3<br />
			6) <a href="http://www.mplayerhq.hu/">Mplayer</a><br />
			7) RealPlayer<br />
			8) Xing<br />
			9) Simplayer
		</td>
		<td>
			1) <a href="http://www.mplayerhq.hu/">Mplayer</a>[***] (Najlepší prehrávač sveta. Prehrá viac formátov ako Windows Media Player, Real Player a Quick Time dokopy!). (Frontend: <a href="http://kplayer.sourceforge.net/">Kplayer</a>).<br />(LiveCD distribúcia MPlayera - <a href="http://movix.sourceforge.net/">MoviX</a>). <br />
			2) <a href="http://xine.sourceforge.net/">Xine.</a> (Frontendy: <a href="http://sinek.sourceforge.net/">Sinek</a>, <a href="http://www.hadess.net/totem.php3">Totem</a>) <br />
			3) <a href="http://www.videolan.org">VideoLAN</a>.<br />
			4) <a href="http://aviplay.sf.net">Aviplay</a>.<br />
			5) Winamp3.<br />
			6) <a href="http://noatun.kde.org/">Noatun</a>.<br />
			7) KDE Media Player.<br />
			8) XMovie.<br />
			9) Kaboodle.<br />
			10) <a href="http://www.mpegtv.com/player.html">MpegTV</a>.<br />
			11) <a href="http://avifile.sf.net">Avifile</a>.<br />
			12) <a href="http://xmps.sourceforge.net/">Xmps</a>.<br />
			13) Ogg Tarkin. (???)<br />
			14) Theora. (???)
		</td>
	</tr>

	<tr>
		<td>Konzolové video / mpeg4 prehrávače</td>
		<td><a href="http://multimediaware.com/qv">QuickView</a></td>
		<td>
			1) <a href="http://www.mplayerhq.hu/">Mplayer</a>.<br />
			2) <a href="http://linuxvideo.info/">QuickView</a>.
		</td>
	</tr>

	<tr>
		<td>DVD prehrávače</td>
		<td>PowerDVD,<br />WinDVD,<br />MicroDVD,<br />Windows Media Player,<br /><a href="http://www.videolan.org">VideoLAN</a></td>
		<td>
			1) <a href="http://www.dtek.chalmers.se/%7Edvd/">Ogle.</a><br />
			2) <a href="http://www.mplayerhq.hu/">Mplayer.</a><br />
			3) <a href="http://xine.sourceforge.net/">Xine.</a><br />
			4) <a href="http://aviplay.sf.net">Aviplay</a>.<br />
			5) <a href="http://www.videolan.org">VideoLAN</a>.<br />
			6) <a href="http://www.linuxvideo.org/oms/">OMS</a>.
		</td>
	</tr>

	<tr>
		<td>DVD rippery / enkódery</td>
		<td>Gordian Knot,<br /><a href="http://www.mplayerhq.hu/">Mencoder</a> (z Mplayeru)</td>
		<td>
			1) <a href="http://drip.sourceforge.net/">Drip</a>.<br />
			2) <a href="http://www.theorie.physik.uni-goettingen.de/%7Eostreich/transcode/">Transcode</a>.<br />
			3) <a href="http://www.mplayerhq.hu/">Mencoder</a>. (z Mplayeru)<br />
			4) <a href="http://ffmpeg.sourceforge.net">Ffmpeg</a>.<br />
			5) <a href="http://www.exit1.org/dvdrip/">DVD::Rip</a>.
		</td>
	</tr>

	<tr>
		<td>Programy na jednoduchú tvorbu a editáciu video súborov</td>
		<td>Windows Movie Maker</td>
		<td>
			1) <a href="http://esolutions.ulead.com/imediting/sysreq.htm">iMira Editing</a>. [Prop]<br />
			2) <a href="http://www.mainconcept.com/mainactor_v5.shtml">MainActor</a>. [Prop]<br />
			3) Broadcast 2000.<br />
			4) <a href="http://freshmeat.net/projects/avidemux/">Avidemux.</a>
		</td>
	</tr>

	<tr>
		<td>Programy pre profesionálnu tvorbu a editáciu video súborov</td>
		<td>Adobe Premiere,<br />Media Studio Pro</td>
		<td>
			1) <a href="http://esolutions.ulead.com/imediting/sysreq.htm">iMira Editing</a>.<br />
			2) <a href="http://heroinewarrior.com/cinelerra.php3">Cinelerra</a>.<br />
			3) MainActor.<br />
			4) Broadcast 2000.<br />
			5) <a href="http://www.xs4all.nl/%7Esalsaman/lives">Lives</a>.<br />
			6) <a href="http://filmgimp.sourceforge.net/">CinePaint</a>.<br />
			7) Heroine Virtual.
		</td>
	</tr>

	<tr>
		<td>Strihanie video</td>
		<td>Virtual Dub</td>
		<td>
			1) <a href="http://freshmeat.net/projects/avidemux/">Avidemux.</a><br />
			2) <a href="http://kino.schirmacher.de/">Kino.</a>
		</td>
	</tr>

	<tr>
		<td>Konvertovanie videa</td>
		<td>Virtual Dub,<br /><a href="http://www.mplayerhq.hu/">Mencoder</a> (z Mplayeru)</td>
		<td>
			1) <a href="http://www.theorie.physik.uni-goettingen.de/%7Eostreich/transcode/">Transcode</a>.<br />
			2) <a href="http://www.mplayerhq.hu/">Mencoder</a>. (z Mplayeru)<br />
			3) <a href="http://ffmpeg.sourceforge.net">Ffmpeg</a>.
		</td>
	</tr>

	<tr>
		<td>Práca s TV-tunerom</td>
		<td>AVerTV,<br />PowerVCR 3.0,<br />CinePlayer DVR,<br /><a href="http://www.mplayerhq.hu/">Mplayer</a>,<br />…</td>
		<td>
			1) <a href="http://tvtime.sourceforge.net/">Tvtime</a>.<br />
			2) <a href="http://www.kwintv.org/">Kwintv.</a><br />
			3) <a href="http://bytesex.org/xawtv/">Xawtv</a>.<br />
			4) <a href="http://zapping.sourceforge.net/">Zapping</a>.<br />
			5) <a href="http://gnometv.sourceforge.net/">GnomeTV.</a><br />
			6) <a href="http://www.mplayerhq.hu/">Mplayer</a>.<br />
			7) <a href="http://icewalkers.com/jump.php?AID=1771&amp;src=home">Xawdecode</a>.
		</td>
	</tr>

	<tr>
		<td>Práca s TV-tunerom v konzole</td>
		<td>-</td>
		<td>
			1) <a href="http://www.mplayerhq.hu/">Mplayer</a>.<br />
			2) fbtv.<br />
			3) aatv.
		</td>
	</tr>

	<tr>
		<td>Programy na prácu s QuickTime formátom</td>
		<td>QuickTime Player</td>
		<td>
			1) <a href="http://heroinewarrior.com/quicktime.php3">QuickTime</a>.<br />
			2) <a href="http://www.mplayerhq.hu/">Mplayer</a> + Sorenson kodek.<br />
			3) <a href="http://www.openquicktime.org/">OpenQuicktime</a>.<br />
			4) <a href="http://smurfland.cit.buffalo.edu/xanim/home.html">Xanim</a>.
		</td>
	</tr>

	<tr>
		<td>Tvorba 2D a 3D efektov</td>
		<td>Adobe After Effects</td>
		<td>
			1) <a href="http://www.apple.com/shake/">Shake</a>. [Prop, $129.95]<br />
			2) Pluginy pre Gimp.
		</td>
	</tr>

	<tr>
		<td>Animácia</td>
		<td>Animation Shop,<br />…</td>
		<td>
		1) <a href="http://filmgimp.sourceforge.net/">CinePaint</a>.<br />
		2) Pluginy pre Gimp.
		</td>
	</tr>

	<tr>
		<td>Landscape / terrain generation</td>
		<td>Bryce</td>
		<td><a href="http://terraform.sourceforge.net/">Terraform</a>.</td>
	</tr>

	<tr>
		<td>Generovanie krajiny, terénu</td>
		<td>World Construction Set,<br />Animatek<br />
		World Builder</td>
		<td>???</td>
	</tr>

	<tr>
		<td>Prostredia pre vývoj video aplikácii</td>
		<td>???</td>
		<td>
			1) <a href="http://www.gstreamer.net">Gstreamer</a>.<br />
			2) <a href="http://live.sf.net">Live</a>.
		</td>
	</tr>
</table>

<p>Túto tabuľku preložil Ondrej Hučko, upravil Miroslav Bendík zo stránky <a href="http://www.linuxrsp.ru/win-lin-soft/table-eng.html">http://www.linuxrsp.ru/win-lin-soft/table-eng.html</a>.</p>

{% endblock %}
