{% extends "base.html" %}
{% load breadcrumbs_tags %}
{% block title %}Screenshoty internetových programov{% endblock %}
{% block breadcrumbs %}
{% breadcrumb %}Screenshoty internetových programov{% endbreadcrumb %}
{% breadcrumb url='page_internet' %}Linux a Internet{% endbreadcrumb %}{{ block.super }}
{% endblock %}

{% block content %}
<h1>Screenshoty internetových programov</h1>

<table>
<tr>
<td align='center' style="padding: 1em">
<a href="/media/IMG/d4x.png"><img border="0" src="/media/IMG/thumbs/d4x.png" width="140" height="99" alt="thumbs/d4x.png"/></a>
<div><font face="Verdana" size="2">Downloader 4 X 2.5</div>
</td>
<td align='center' style="padding: 1em">
<a href="/media/IMG/evolution-fullscreen.png"><img border="0" src="/media/IMG/thumbs/evolution-fullscreen.png" width="140" height="105" alt="thumbs/evolution-fullscreen.png"/></a>
<div><font face="Verdana" size="2">Evolution</div>
</td>
<td align='center' style="padding: 1em">
<a href="/media/IMG/evolution.png"><img border="0" src="/media/IMG/thumbs/evolution.png" width="140" height="98" alt="thumbs/evolution.png"/></a>
<div><font face="Verdana" size="2">Evolution</div>
</td>
</tr>
<tr>
<td align='center'>
<a href="/media/IMG/exchange_folders_email.png"><img border="0" src="/media/IMG/thumbs/exchange_folders_email.png" width="140" height="99" alt="thumbs/exchange_folders_email.png"/></a>
<div><font face="Verdana" size="2">Evolution</div>
</td>
<td align='center'>
<a href="/media/IMG/firebird.png"><img border="0" src="/media/IMG/thumbs/firebird.png" width="140" height="99" alt="thumbs/firebird.png"/></a>
<div><font face="Verdana" size="2">Mozilla Firefox</div>
</td>
<td align='center'>
<a href="/media/IMG/kbear.png"><img border="0" src="/media/IMG/thumbs/kbear.png" width="140" height="98" alt="thumbs/kbear.png"/></a>
<div><font face="Verdana" size="2">KBear FTP klient</div>
</td>
</tr>
<tr>
<td align='center'>
<a href="/media/IMG/konqueror.png"><img border="0" src="/media/IMG/thumbs/konqueror.png" width="140" height="98" alt="thumbs/konqueror.png"/></a>
<div><font face="Verdana" size="2">Konqueror browser</div>
</td>
<td align='center'>
<a href="/media/IMG/mozilla1.5.png"><img border="0" src="/media/IMG/thumbs/mozilla1.5.png" width="140" height="99" alt="thumbs/mozilla1.5.png"/></a>
<div><font face="Verdana" size="2">Mozilla 1.5</div>
</td>
<td align='center'>
<a href="/media/IMG/opera.png"><img border="0" src="/media/IMG/thumbs/opera.png" width="140" height="98" alt="thumbs/opera.png"/></a>
<div><font face="Verdana" size="2">Opera</div>
</td>
</tr>
<tr>
<td align='center'>
<a href="/media/IMG/quanta.png"><img border="0" src="/media/IMG/thumbs/quanta.png" width="140" height="99" alt="thumbs/quanta.png"/></a>
<div><font face="Verdana" size="2">Quanta</div>
</td>
<td align='center'>
<a href="/media/IMG/sim.jpg"><img border="0" src="/media/IMG/thumbs/sim.png" width="140" height="105" alt="thumbs/sim.png"/></a>
<div><font face="Verdana" size="2">SIM ICQ klient</div>
</td>
<td align='center'>
<a href="/media/IMG/tb.png"><img border="0" src="/media/IMG/thumbs/tb.png" width="140" height="98" alt="thumbs/tb.png"/></a>
<div><font face="Verdana" size="2">Mozilla Thunderbird</div>
</td>
</tr>
</table>
{% endblock %}
