{% extends "base.html" %}
{% load breadcrumbs_tags %}
{% block title %}Informačné zdroje SK/CZ{% endblock %}
{% block breadcrumbs %}{% breadcrumb %}Informačné zdroje SK/CZ{% endbreadcrumb %}{{ block.super }}{% endblock %}

{% block content %}
<h1>Informačné zdroje SK/CZ</h1>

<p>Každý z vás, ktorý surfuje po internete, si časom obľúbi zopár stránok, na ktoré chodí rád a často. Chvíľu však trvá, kým si vytvoríte takýto zoznam serverov, ktoré ponúkajú kvalitný a hlavne čerstvý obsah z oblasti Linuxu.</p>
<p>Tento zoznam by mal pomôcť ľudom, ktorí sa začínajú zaujímať o linuxovú komunitu a potrebujú sa zorientovať, kde majú hľadať ďalšie informácie. Všetky odkazy sa týkajú len slovenských a českých stránok.</p>
<p>Ak máte zaujímavé stránky, ktoré by ste tu radi videli, <a href="/forum/446/">tu je priestor pre vaše návrhy</a>.</p>

<h2>Linux všeobecne</h2>
<table>
	<tr>
		<td>
			<a href="http://www.linuxos.sk/">www.linuxos.sk</a>
		</td>
		<td>
			<a href="http://www.linuxOS.sk/rss.php?ktore=clanky">
				<img src="/media/IMG/rss.png" alt="RSS feed"/>
			</a>
		</td>
		<td>Slovenský linuxový portál (- správy - články - recenzie programov - otázky nováčikov - oblasti využitia linuxu - fórum - obchod - linky -)</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.linux.cz/">www.linux.cz</a>
		</td>
		<td>-</td>
		<td>Český linuxový portál (-novinky - konferencia - linky -)</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.abclinuxu.cz/">www.abclinuxu.cz</a>
		</td>
		<td>
			<a href="http://www.abclinuxu.cz/auto/">
				<img src="/media/IMG/rss.png" alt="RSS feed"/>
			</a>
		</td>
		<td>Český linuxový portál (- základy linuxu - diskusie - hardware -
články - seriály - blogy - práca - slovník - ovládače - správičky<br/>
PDF časopis <a href="http://www.abclinuxu.cz/download/abicko.jsp">Abíčko</a>
vychádza ako príloha serveru AbcLinuxu.cz.
Obsahuje výber tých najzaujímavejších článkov zo serveru
spolu s vybranými komentármi.<br/>
<a href="http://www.abclinuxu.cz/clanky/show/20310">AbcSeriály</a>
-
prehľad všetkých seriálov, ktoré kedy na Abc vyšli.</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.linuxsoft.cz/">www.linuxsoft.cz</a>
		</td>
		<td>
			<a href="http://www.linuxsoft.cz/export/">
				<img src="/media/IMG/rss.png" alt="RSS feed"/>
			</a>
		</td>
		<td>Český linuxový portál zameraný na linuxový software (- CD shop - kurzy -
služby - seriály - software - distribúcie - skripty - diskusné fórum -
práca - news - wallpapers - screenshoty - linuxový piatok (stretnutia) - odkazy -)</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.root.cz/">www.root.cz</a>
		</td>
		<td>
			<a href="http://www.root.cz/texty/exporty/">
				<img src="/media/IMG/rss.png" alt="RSS feed"/>
			</a>
		</td>
		<td>Český linuxový portál (- články - správičky - zamestnanie - školenia/kurzy - diskusné fóra - rubriky - nálepky(filter tém podľa kľúč. slova) - seriály - slovník pojmov - tutoriály -)</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.linuxzone.cz/">www.linuxzone.cz</a>
		</td>
		<td>
			<a href="http://www.linuxzone.cz/export/rssexport.phtml">
				<img src="/media/IMG/rss.png" alt="RSS feed"/>
			</a>
		</td>
		<td> Český linuxový portál (- články - administrácia - literatúra -
bezpečnosť - programovanie - distribúcie - siete - lokalizácie -
aplikácie - multimédiá - hardware - začíname - aktuality - relax -)</td>
	</tr>
	<tr>
		<td>
			<a href="http://proc.linux.cz/">proc.linux.cz/</a>
		</td>
		<td>-</td>
		<td>Prečo používať Linux? Propagačný web - predstavenie výhod, zoznam vhodných distribúcií pre začiatočníka...</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.lbw.cz/">www.linuxbizworld.cz</a>
		</td>
		<td>
			<a href="http://www.lbw.cz/lw.rss">
				<img src="/media/IMG/rss.png" alt="RSS feed"/>
			</a>
		</td>
		<td> Český enterprise Linux portál (- bezpečnost - databáze - desktop - hardware - přecházíme - rozhovory - sítě - software - státní správa -)</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.penguin.cz/">www.penguin.cz</a>
		</td>
		<td>-</td>
		<td> Český linuxový portál  - neziskový server pre podporu Unixu a free softwaru - (- novinky - Czech HowTo - prekladateľské stránky - návody - novinky o Debiane - security announce - názory - databáza linkov na software - odkazy na dokumentáciu CZ/SK - odkazy US - noviny a časopisy - skriptová banka - CVS Server - UTX (projekty na ktorých spolupracoval autor) - PUK(klub užívateľov Penguina) - Linux na starých strojoch -)</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.mylinux.cz/">www.mylinux.cz</a>
		</td>
		<td>
			<a href="http://www.mylinux.cz/node/feed">
				<img src="/media/IMG/rss.png" alt="RSS feed"/>
			</a>
		</td>
		<td> Osobný český linuxový portál "o tučniakoch, diablikoch a ľuďoch" (- kalendár akcií -
slovník - odkazy - správičky - články -)</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.tucnacek.com/">www.tucnacek.com</a>
		</td>
		<td>
			<a href="http://www.tucnacek.com/backend.php">
				<img src="/media/IMG/rss.png" alt="RSS feed"/>
			</a>
		</td>
		<td>Server slobodných technológií (- na stiahnutie - články - témy - fórum -)</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.reboot.cz/">www.reboot.cz</a>
		</td>
		<td>-</td>
		<td> Z každého rožku trošku, prevažne však informácie o linuxe, bezpečnosti a programovaní, žiaľ od 10.12.2004 je zastavená jeho činnosť (- linky - články - programovanie - web - hardware - software - operačné systémy - databázy - siete/internet - grafika/webdesign - bezpečnosť - diskusné fóra -)</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.openland.cz/">www.openland.cz</a>
		</td>
		<td>
			<a href="http://www.openland.cz/backend.php">
				<img src="/media/IMG/rss.png" alt="RSS feed"/>
			</a>
		</td>
		<td>Webový portál zameraný na podporu a šírenie otvoreného a slobodného
software (- aktuality - komentáre - recenzie - seriály - tlačové správy - eObchod -)</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.linuxem.cz/">www.linuxem.cz</a>
		</td>
		<td>-</td>
		<td>Sprievodca linuxom - (- ankety - články - hry a zábava - informácie - návody - recenzie - odkazy -)</td>
	</tr>
</table>

<h2>Diskusné fóra</h2>
<!--<h3>Alebo kde sa môžete obrátiť s prosbou o pomoc</h3>-->
<table>
	<tr>
		<td><a href="http://www.linuxos.sk/?show=forum">www.linuxos.sk/forum</a> - <a href="http://www.linuxos.sk/rss.php?ktore=forum"><img src="/media/IMG/rss.png" alt="RSS feed"/></a>        </td>
		<td>Najväčšie a najživšie linuxové diskusné fórum na slovenskom internete</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.abclinuxu.cz/diskuse.jsp">www.abclinuxu.cz/diskuse.jsp</a>
		</td>
		<td>Najväčšie fórum v celom Československu :) Rozdelené prehľadne do podkategórií.</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.linuxforum.sk">linuxforum.sk</a>
		</td>
		<td>Pomerne mladé linuxové fórum. Rozdelené prehľadne do podkategórií.</td>
	</tr>
	<tr>
		<td>
			<a href="http://lists.linux.sk/mailman/listinfo">lists.linux.sk/mailman/listinfo</a>
		</td>
		<td>Linux.sk mailing listy</td>
	</tr>
	<tr>
		<td>
			<a href="http://pandora.idnes.cz/process_fulltext.php?dotaz=linux&amp;x=0&amp;y=0">www.pandora.cz</a>
		</td>
		<td>Mailové konferencie (napr.: LINUX, SuSE Linux, RedHat Linux, Linux vs. Windows, C++(CPP) a Linux, Linux, GIMP, GENTOO)</td>
	</tr>
	<tr>
		<td>
			<a href="http://linux.nfo.sk/">linux.nfo.sk</a>
		</td>
		<td>Všeobecné linuxové fórum</td>
	</tr>
</table>

<h2>Underground</h2>
<table>
	<tr>
		<td>
			<a href="http://www.blackhole.sk/">www.blackhole.sk</a>
		</td>
		<td>-</td>
		<td>Nekomerčný portál o všetkom, čo sa týka internetu, počítačov, linuxu, programovania a bezpečnosti (- články - programovanie c/c++ - security - php - linux -
freestyle (rôzne témy) - BSD OS - MySQL - links - news - hacked gallery - boardy na rôzne témy -)</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.hysteria.sk/">www.hysteria.sk</a>
		</td>
		<td>-</td>
		<td> Posledné útočisko binárnych sxizofrenikov a jej ezin binárnych sxizofrenikov - <a href="http://www.hysteria.sk/prielom/">prielom</a>.</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.underground.cz/">www.underground.cz</a>
		</td>
		<td>
			<a href="http://underground.cz/backend.php">
				<img src="/media/IMG/rss.png" alt="RSS feed"/>
			</a>
		</td>
		<td>Linuxový portál (- články - hacked gallery - konference security - chat -)</td>
	</tr>
</table>

<h2>LUG-y alebo združenia užívateľov Linuxu</h2>
<table>
	<tr>
		<td>
			<a href="http://www.sklug.sk/">www.sklug.sk</a>
		</td>
		<td>Slovak Linux Users Group</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.linux.cz/czlug/">www.linux.cz/czlug/</a>
		</td>
		<td>Czech Linux Users Group</td>
	</tr>
	<tr>
		<td>
			<a href="http://czslug.cz/">www.czslug.cz</a>
		</td>
		<td>Czech Slackware Linux Users Group</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.gentoo.cz/">www.gentoo.cz</a>
		</td>
		<td>csGLUG Czech/Slovak Gentoo Linux Users Group</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.cstug.cz/">www.cstug.cz/</a>
		</td>
		<td>Československé sdružení uživatelů TeXu</td>
	</tr>
</table>

<h2>LICENCIE - o nich a ich preklady</h2>
<table>
	<tr>
		<td>
			<a href="http://www.gnu.cz/">www.gnu.cz</a>
		</td>
		<td>O slobodnom softvéri a jeho preložené licencie</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.gnu.sk/">www.gnu.sk</a>
		</td>
		<td>Licencia slobodného softvéru v slovenčine</td>
	</tr>
</table>

<h2>DISTRIBÚCIE - stránky jednotlivých distribúcií</h2>
<table>
	<tr>
		<td><a href="http://www.mandrake.cz/">www.mandrake.cz</a> = <a href="http://www.mandrake.sk/">www.mandrake.sk</a></td>
	</tr>
	<tr>
		<td>
			<a href="http://portal.suse.cz/">portal.suse.cz/</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.23.cz/fedoracore.cz/index.html">www.fedoracore.cz</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.fedora-linux.cz/">www.fedora-linux.cz</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.slackware.cz/">www.slackware.cz</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.debian.sk">www.debian.sk</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.debian.cz">www.debian.cz</a>
		</td>
	</tr>
	<tr>
		<td><a href="http://www.aurox.sk/">www.aurox.sk</a> = <a href="http://www.auroxlinux.cz/">www.auroxlinux.cz</a></td>
	</tr>
</table>

<h2>Live distribúcie</h2>
<table>
	<tr>
		<td>
			<a href="http://www.danix.cz">www.danix.cz</a>
		</td>
		<td>Distribúcia vytvorená z live CD Knoppix (ktorý je postavený na Debiane)</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.slax.cz/">www.slax.cz</a>
		</td>
		<td>Live CD založené na Slackware Linuxe</td>
	</tr>
	<tr>
		<td>
			<a href="http://saxana.cz/">saxana.cz</a>
		</td>
		<td>Česká live distribúcia Linuxu založená na Gentoo</td>
	</tr>
</table>

<h2>APLIKÁCIE</h2>

<h3>KDE</h3>
<table>
	<tr>
		<td><a href="http://www.kde.org/international/czechia/">www.kde.org</a> - desktopové prostredie</td>
	</tr>
</table>

<h3>OpenOffice.org</h3>
<table>
	<tr>
		<td>
			<a href="http://sk.openoffice.org/">www.openoffice.sk</a>
		</td>
		<td>-</td>
		<td>Slovenský web o OOo</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.openoffice.cz/">www.openoffice.cz</a>
		</td>
		<td>
			<a href="http://www.openoffice.cz/rss.xml">
				<img src="/media/IMG/rss.png" alt="RSS feed"/>
			</a>
		</td>
		<td>Portál pre používateľov</td>
	</tr>
	<tr>
		<td>
			<a href="http://cs.openoffice.org">cs.openoffice.org</a>
		</td>
		<td>-</td>
		<td>Stránky pre vývojárov</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.openthesaurus.tk/">www.openthesaurus.tk</a>
		</td>
		<td>-</td>
		<td>Otvorený slovenský synonymický slovník</td>
	</tr>
</table>

<h3>Mozilla</h3>
<table>
	<tr>
		<td>
			<a href="http://www.mozilla.sk/">www.mozilla.sk</a>
		</td>
		<td>
			<a href="http://www.mozilla.sk/feed/rss/">
				<img src="/media/IMG/rss.png" alt="RSS feed"/>
			</a>
		</td>
		<td>Slovenská lokalizácia produktov Mozilly, mirror</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.czilla.cz/">www.czilla.cz</a>
		</td>
		<td>
			<a href="http://www.czilla.cz/rss/rss.html">
				<img src="/media/IMG/rss.png" alt="RSS feed"/>
			</a>
		</td>
		<td>Projekt CZilla - pravidelné správy, česká lokalizácia produktov Mozilly a ich rozšírení</td>
	</tr>
	<tr>
		<td>
			<a href="http://firefox.czilla.cz/">Firefox.czilla.cz</a>
		</td>
		<td>-</td>
		<td>Česká stránka propagujúca prehliadač Firefox</td>
	</tr>
	<tr>
		<td>
			<a href="http://forum.czilla.cz/">CZilla Fórum</a>
		</td>
		<td>-</td>
		<td>Podpora používateľov Mozilla Suite, Mozilla Firefox a Mozilla Thunderbird</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.mozilla-europe.org/sk/">Mozilla Europe</a>
		</td>
		<td>-</td>
		<td/>
	</tr>
	<tr>
		<td>
			<a href="https://addons.update.mozilla.org">update.mozilla.org</a>
		</td>
		<td>
			<a href="https://addons.update.mozilla.org/rss/?application=firefox&amp;list=newest">
				<img src="/media/IMG/rss.png" alt="RSS feed"/>
			</a>
		</td>
		<td>Rozšírenia, témy a pluginy pre Firefox, Thunderbird a Mozilla Suite</td>
	</tr>
</table>

<h3>GIMP</h3>
<table>
	<tr>
		<td><a href="http://gimp.cz/">gimp.cz</a> - GIMP .cz/.sk - portál o grafickom bitmapovom editore GIMP</td>
	</tr>
</table>

<h2>DOKUMENTÁCIA</h2>
<table>
	<tr>
		<td>
			<a href="http://knihy.cpress.cz/DataFiles/Book/00000675/Download/K0819.pdf">Linux Dokumentačný Projekt</a>
		</td>
		<td>Kniha tlačená alebo zdarma vo formáte PDF</td>
	</tr>
	<tr>
		<td>
			<a href="http://docs.linux.cz">docs.linux.cz</a>
		</td>
		<td>Archív dokumentácie</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.manualy.sk/">www.manualy.sk</a>
		</td>
		<td/>
	</tr>
	<tr>
		<td>
			<a href="http://deja-vix.sk/sysadmin/">deja-vix.sk/sysadmin</a>
		</td>
		<td>Príručka systémového administrátora</td>
	</tr>
</table>

<h2>DOWNLOAD</h2>
<table>
	<tr>
		<td>
			<a href="http://www.linuxsoft.cz">www.linuxsoft.cz</a>
		</td>
		<td>Možstvo distribúcii a linuxového softvéru zo všetkých oblastí práce s PC. Ku každej je položke popis a prípadne aj screenshot.</td>
	</tr>
	<tr>
		<td>
			<a href="ftp://ftp.linux.cz/">ftp.linux.cz</a>
		</td>
		<td>FTP server</td>
	</tr>
	<tr>
		<td>
			<a href="ftp://ftp.sanet.sk/">ftp.sanet.sk</a>
		</td>
		<td>FTP server</td>
	</tr>
	<tr>
		<td>
			<a href="ftp://ftp.tuke.sk">ftp.tuke.sk</a>
		</td>
		<td>FTP server</td>
	</tr>
</table>

<h2>TLAČ</h2>

<h3>Časopisy</h3>
<table>
	<tr>
		<td>
			<a href="http://www.linuxexpres.cz/">LinuxEXPRES</a>
		</td>
		<td>Magazín nielen o Linuxe</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.lpmagazine.org/cz/">Linux+</a>
		</td>
		<td>Európsky mesačník o Linuxe</td>
	</tr>
</table>

<h3>Knihy</h3>
<table>
	<tr>
		<td>
			<a href="http://knihy.cpress.cz/pocitac/Edition.asp?ID=123">knihy.cpress.cz</a>
		</td>
		<td>Vydavateľstvo Computer Press. Počítačová literatúra - Linux</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.unixshop.cz/index.php?kod=&amp;page=shop&amp;action=kategorie&amp;sidk=99&amp;extra=">www.unixshop.cz</a>
		</td>
		<td>Knihy o Linuxe</td>
	</tr>
</table>

<h2>KOMERCIA</h2>

<h3>SR</h3>
<table>
	<tr>
		<td>
			<a href="http://www.linuxos.sk/shop">www.linuxos.sk/shop</a>
		</td>
		<td>Zásielková služba distribujúca systémy Linux na CD/DVD</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.ossc.sk/">www.ossc.sk</a>
		</td>
		<td>Zásielková služba distribujúca open source software na CD</td>
	</tr>
	<tr>
		<td>
			<a href="http://magnificent.sk/24/">www.magnificent.sk/24/</a>
		</td>
		<td>Elektronický obchod ponúkajúci OS Linux, BSD a kancelársky softvér</td>
	</tr>
</table>

<h3>ČR</h3>
<table>
	<tr>
		<td>
			<a href="http://qwert.cz/">qwert.cz</a>
		</td>
		<td>Zásielková služba distribujúca systémy Linux na CD a knihy</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.qwert.cz/">www.qwert.cz</a>
		</td>
		<td>Zásielková služba distribujúca systémy Linux na CD a knihy</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.dvdlinux.cz/">www.dvdlinux.cz</a>
		</td>
		<td>Zásielková služba ponúkajúca linuxové distribúcie na DVD</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.openland.cz/modules.php?name=catalog">www.openland.cz</a>
		</td>
		<td>Predaj a distribúcia slobodného a otvoreného softvéru</td>
	</tr>
</table>
<br/>
<p>Ak máte zaujímavé stránky, ktoré by ste tu radi videli, <a href="http://linuxos.sk//forum/446/">tu je priestor pre vaše návrhy</a>.</p>
<p>
--<br/>
Túto sekciu pripravil <a href="http://linuxos.sk/profil/255/">Yorik</a>.</p>
{% endblock %}
