{% extends "base.html" %}
{% block head_title %}Informačné zdroje SK/CZ{% endblock %}
{% block breadcrumbs %}{{ breadcrumb("Informačné zdroje SK/CZ") }}{{ super() }}{% endblock %}

{% block content %}
<h1>Informačné zdroje SK/CZ</h1>

<p>Každý z nás, kto surfuje po internete, si časom obľúbi zopár stránok, na ktoré chodí rád a často. Chvíľu však trvá, kým si vytvoríte takýto zoznam serverov, ktoré ponúkajú kvalitný a hlavne čerstvý obsah z oblasti Linuxu.</p>
<p>Tento zoznam by mal pomôcť ľudom, ktorí sa začínajú zaujímať o linuxovú komunitu a potrebujú sa zorientovať, kde majú hľadať ďalšie informácie. Všetky odkazy sa týkajú len slovenských a českých stránok.</p>
<p>Ak máte zaujímavé stránky, ktoré by ste tu radi videli, <a href="/forum/446/">tu je priestor pre vaše návrhy</a>.</p>

<h2>Linux všeobecne</h2>
<table>
	<tr>
		<td>
			<a href="http://www.linuxos.sk/">www.linuxos.sk</a>
		</td>
		<td>Slovenský linuxový portál (- správy - články - recenzie programov - otázky nováčikov - oblasti využitia linuxu - fórum - obchod - linky -)</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.linux.cz/">www.linux.cz</a>
		</td>
		<td>Český linuxový portál (-novinky - konferencia - linky -)</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.abclinuxu.cz/">www.abclinuxu.cz</a>
		</td>
		<td>Český linuxový portál (- základy linuxu - diskusie - hardware - články - seriály - blogy - práca - slovník - ovládače - správičky.<br/> <a href="http://www.abclinuxu.cz/serialy">AbcSeriály</a> - prehľad všetkých seriálov, ktoré kedy na Abc vyšli.</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.root.cz/">www.root.cz</a>
		</td>
		<td>Český linuxový portál (- články - správičky - zamestnanie - školenia/kurzy - diskusné fóra - rubriky - nálepky(filter tém podľa kľúč. slova) - seriály - slovník pojmov - tutoriály -)</td>
	</tr>
</table>

<h2>Diskusné fóra</h2>
<!--<h3>Alebo kde sa môžete obrátiť s prosbou o pomoc</h3>-->
<table>
	<tr>
		<td><a href="http://www.linuxos.sk/?show=forum">www.linuxos.sk/forum</a> - <a href="http://www.linuxos.sk/rss.php?ktore=forum"><img src="/media/IMG/rss.png" alt="RSS feed"/></a>        </td>
		<td>Najväčšie a najživšie linuxové diskusné fórum na slovenskom internete</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.abclinuxu.cz/poradna">www.abclinuxu.cz/poradna</a>
		</td>
		<td>Najväčšie fórum v celom Československu :) Rozdelené prehľadne do podkategórií.</td>
	</tr>
	<tr>
		<td>
			<a href="http://lists.linux.sk/mailman/listinfo">lists.linux.sk/mailman/listinfo</a>
		</td>
		<td>Linux.sk mailing listy</td>
	</tr>
</table>

<h2>Underground</h2>
<table>
	<tr>
		<td>
			<a href="http://www.hysteria.sk/">www.hysteria.sk</a>
		</td>
		<td>-</td>
		<td> Posledné útočisko binárnych sxizofrenikov.</td>
	</tr>
</table>

<h2>LUG-y alebo združenia užívateľov Linuxu</h2>
<table>
	<tr>
		<td>
			<a href="http://www.sklug.sk/">www.sklug.sk</a>
		</td>
		<td>Slovak Linux Users Group</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.linux.cz/czlug/">www.linux.cz/czlug/</a>
		</td>
		<td>Czech Linux Users Group</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.cstug.cz/">www.cstug.cz/</a>
		</td>
		<td>Československé sdružení uživatelů TeXu</td>
	</tr>
</table>

<h2>APLIKÁCIE</h2>

<h3>OpenOffice.org</h3>
<table>
	<tr>
		<td>
			<a href="http://sk.openoffice.org/">www.openoffice.sk</a>
		</td>
		<td>-</td>
		<td>Slovenský web o OOo</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.openoffice.cz/">www.openoffice.cz</a>
		</td>
		<td>
			<a href="http://www.openoffice.cz/rss.xml">
				<img src="/media/IMG/rss.png" alt="RSS feed"/>
			</a>
		</td>
		<td>Portál pre používateľov</td>
	</tr>
	<tr>
		<td>
			<a href="http://cs.openoffice.org">cs.openoffice.org</a>
		</td>
		<td>-</td>
		<td>Stránky pre vývojárov</td>
	</tr>
</table>

<h3>Mozilla</h3>
<table>
	<tr>
		<td>
			<a href="http://www.mozilla.sk/">www.mozilla.sk</a>
		</td>
		<td>
			<a href="http://www.mozilla.sk/feed/rss/">
				<img src="/media/IMG/rss.png" alt="RSS feed"/>
			</a>
		</td>
		<td>Slovenská lokalizácia produktov Mozilly, mirror</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.czilla.cz/">www.czilla.cz</a>
		</td>
		<td>-</td>
		<td>Projekt CZilla - pravidelné správy, česká lokalizácia produktov Mozilly a ich rozšírení</td>
	</tr>
</table>

<h2>DOWNLOAD</h2>
<table>
	<tr>
		<td>
			<a href="ftp://ftp.linux.cz/">ftp.linux.cz</a>
		</td>
		<td>FTP server</td>
	</tr>
</table>

<h2>TLAČ</h2>

<h3>Časopisy</h3>
<table>
	<tr>
		<td>
			<a href="http://www.linuxexpres.cz/">LinuxEXPRES</a>
		</td>
		<td>Magazín nielen o Linuxe</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.lpmagazine.org/cz/">Linux+</a>
		</td>
		<td>Európsky mesačník o Linuxe</td>
	</tr>
</table>

<br/>

{% endblock %}
