{% extends "base.html" %}

{% block head_title %}Vývoj LinuxOS{% endblock %}
{% block breadcrumbs %}{{ breadcrumb("Vývoj LinuxOS") }}{{ super() }}{% endblock %}

{% block content %}
<h1>Vývoj LinuxOS</h1>

<div class="under-construction">
	<span class="warning">
		Portál LinuxOS sa aktívne vyvíja. Časť funkcií môže byť nedokončená, alebo chybná. Chyby prosim hlásiť cez issue tracking systém na Github-e.
	</span>
</div>

<div class="module">
	<h2 class="block-title">Dôležité odkazy</h2>
	<div class="module-row">
		<ul>
			<li><a href="https://github.com/LinuxOSsk/Shakal-NG">Github stránka projektu</a></li>
			<li><a href="https://github.com/LinuxOSsk/Shakal-NG/issues">Hlásenie chýb</a></li>
			<li><a href="git://github.com/LinuxOSsk/Shakal-NG.git">Git repozitár</a></li>
			<li><a href="https://github.com/LinuxOSsk/Shakal-NG/commits/master">Prehľad aktivity</a></li>
		</ul>
	</div>
</div>

{% cache 1800 "shakal_rss_feeds" %}
	<div class="module feeds tabular">
		<h2 class="block-title">Aktuálne zmeny</h2>
		<div class="module-row">
			{{ pull_feeds("https://github.com/LinuxOSsk/Shakal-NG/commits/master.atom", max_count=20) }}
		</div>
		<div class="module-links bottom">
			<a href="https://github.com/LinuxOSsk/Shakal-NG/commits/master" rel="nofollow" class="next">Zobraziť všetky</a>
		</div>
	</div>
{% endcache %}
{% endblock %}
