{% extends "base.html" %}
{% load breadcrumbs_tags %}
{% block title %}Podporte nás{% endblock %}
{% block breadcrumbs %}{% breadcrumb %}Podporte nás{% endbreadcrumb %}{{ block.super }}{% endblock %}

{% block content %}
<h1>Podporte nás</h1>

<p>Ak sa vám táto stránka páči, môžete nás podporiť tak, že si na svoje stránky umiestnite
jeden z nasledujúcich bannerov.</p>

<h3>88x31</h3>

<p><a href="http://www.linuxos.sk"><img src="/media/IMG//linuxos.png" border="0" alt=""></a>
<br />&lt;a href=<a href="http://www.linuxos.sk/">&quot;http://www.linuxos.sk/&quot;</a>&gt;
<br />&lt;img src=<a href="http://www.linuxos.sk//media/IMG//linuxos.png">&quot;http://www.linuxos.sk//media/IMG//linuxos.png&quot;</a>
alt=&quot;www.linuxOS.sk&quot; border=&quot;0&quot;&gt;&lt;/a&gt;</p>
<br />

<h3>150x40</h3>
<p>
<a href="http://www.linuxos.sk"><img src="/media/IMG//linuxos150x40.png" border="0" alt=""></a>
<br />&lt;a href=<a href="http://www.linuxos.sk/">&quot;http://www.linuxos.sk/&quot;</a>&gt;
<br />&lt;img src=<a href="http://www.linuxos.sk//media/IMG//linuxos150x40.png">&quot;http://www.linuxos.sk//media/IMG//linuxos150x40.png&quot;</a>
alt=&quot;www.linuxOS.sk&quot; border=&quot;0&quot;&gt;&lt;/a&gt;
</p>
<br />

<h3>124x140</h3>
<p>
<a href="http://www.linuxos.sk"><img src="/media/IMG//penguin.png" border="0" alt=""></a>
<br />&lt;a href=<a href="http://www.linuxos.sk/">&quot;http://www.linuxos.sk/&quot;</a>&gt;
<br />&lt;img src=<a href="http://www.linuxos.sk//media/IMG//penguin.png">&quot;http://www.linuxos.sk//media/IMG//penguin.png&quot;</a>
alt=&quot;www.linuxOS.sk&quot; border=&quot;0&quot;&gt;&lt;/a&gt;
</p>

{% endblock %}
