{% extends "base.html" %}
{% block head_title %}Podporte nás{% endblock %}
{% block breadcrumbs %}{{ breadcrumb("Podporte nás") }}{{ super() }}{% endblock %}

{% block content %}
<h1>Podporte nás</h1>

<p>Ak sa vám táto stránka páči, môžete nás podporiť tak, že si na svoje stránky umiestnite jeden z nasledujúcich bannerov.</p>

<h2>88x31</h2>

<a href="http://www.linuxos.sk"><img src="/media/IMG/linuxos.png" alt="" /></a>

<pre>
&lt;a href=<a href="http://www.linuxos.sk/">&quot;http://www.linuxos.sk/&quot;</a>&gt;
&lt;img src=<a href="http://www.linuxos.sk/media/IMG/linuxos.png">&quot;http://www.linuxos.sk/media/IMG/linuxos.png&quot;</a> alt=&quot;www.linuxOS.sk&quot; border=&quot;0&quot;&gt;&lt;/a&gt;</pre>

<h2>150x40</h2>

<a href="http://www.linuxos.sk"><img src="/media/IMG//linuxos150x40.png" alt="" /></a>

<pre>&lt;a href=<a href="http://www.linuxos.sk/">&quot;http://www.linuxos.sk/&quot;</a>&gt;
&lt;img src=<a href="http://www.linuxos.sk/media/IMG/linuxos150x40.png">&quot;http://www.linuxos.sk/media/IMG/linuxos150x40.png&quot;</a> alt=&quot;www.linuxOS.sk&quot; border=&quot;0&quot;&gt;&lt;/a&gt;</pre>

<h2>124x140</h2>

<a href="http://www.linuxos.sk"><img src="/media/IMG//penguin.png" alt="www.linuxOS.sk" /></a>

<pre>&lt;a href=<a href="http://www.linuxos.sk/">&quot;http://www.linuxos.sk/&quot;</a>&gt;
&lt;img src=<a href="http://www.linuxos.sk/media/IMG/penguin.png">&quot;http://www.linuxos.sk/media/IMG/penguin.png&quot;</a> alt=&quot;www.linuxOS.sk&quot; border=&quot;0&quot;&gt;&lt;/a&gt;</pre>

{% endblock %}
