{% extends "base.html" %}
{% block head_title %}Reklama{% endblock %}
{% block breadcrumbs %}{{ breadcrumb("Reklama") }}{{ super() }}{% endblock %}

{% block content %}
<h1>Reklama</h1>

<p>
Slovenský linuxový portál <a href="http://www.linuxos.sk">LinuxOS.sk</a> je odborný server, ktorý denne navštevuje priemerne tisíc ľudí so znalosťami hardvéru, softvéru, operačných systémov, zvlášť Linuxu, programovania a s prehľadom v IT. Umiestnenie reklamy na našom portáli je preto účinný spôsob prezentácie vašich služieb, produktov či pracovných ponúk, pretože ňou oslovíte konkrétnu skupinu ľudí.
</p>

<h3>Návštevnosť</h3>
<ul>
<li>mesačný počet unikátnych návštev: <strong>81 432</strong></li>
<li>mesačný počet unikátnych IP adries: <strong>48 590</strong></li>
<li>mesačný počet zobrazených stránok: <strong>224 607</strong></li>
</ul>

<p>
Zdroj: <a href="http://www.google-analytics.com">Google-analytics</a> (január 2009 - <a href="/media/downloads/Analytics_www.linuxos.sk_200901_(DashboardReport).pdf">PDF</a>)</p>


<h3>Referencie</h3>
<p>Klienti, ktorí si u nás objednali reklamnú kampaň</p>
<ul>
<li><a href="http://www.manpower.com/">Manpower</a></li>
<li><a href="http://www.ibm.cz">IBM</a></li>
<li><a href="http://www.sonyericsson.com">Sony Ericsson</a></li>
<li><a href="http://www.core4.sk">Core4</a></li>
<li><a href="http://www.zooom.sk">zooom.sk s.r.o.</a></li>
</ul>

<!--
<p>Kampane v rámci sponzorstva (bezplatné)</p>
<ul>
<li><a href="http://www.darujkrv.sk">DarujKRV.sk</a></li>
<li><a href="http://www.nosoftwarepatents.com/">No software patents!</a></li>
<li><a href="http://www.unicef.sk">UNICEF</a></li>
</ul>
-->

<h3>Reklamné plochy</h3>

<table>
	<tr>
		<td>
			<img src="/media/IMG//reklamne_plochy.png" alt="Reklamné plochy" class="pull-left" />
		</td>
		<td>
			<ol>
				<li>Screen banner [728 x 90 pixelov]</li>
				<li>Full banner [468 x 60 pixelov]</li>
				<li>Square banner [180 x 180 pixelov]</li>
				<li>...iné formy podľa priania klienta</li>
			</ol>
		</td>
	</tr>
</table>


<h3>Cena</h3>
<p>Podrobný cenník Vám radi poskytneme na dole uvedenej e-mailovej adrese. Reklamné plochy po zvážení poskytujeme zadarmo pre dobročinné organizácie a ich akcie a rôzne open-source projekty až do 100 000 impresií. </p>

<h3>Kontakt</h3>
<b>Milan "eMDi" Dvorský</b><br />
vedúci projektu a šéfredaktor<br />
e-mail: <a href="mailto:support@linuxsro.sk">support@linuxsro.sk</a><br />
Jabber: emdi@jabber.emdi.sk<br />

{% endblock %}
