{% extends "base.html" %}
{% block head_title %}LinuxOS Team{% endblock %}
{% block breadcrumbs %}{{ breadcrumb("LinuxOS Team") }}{{ super() }}{% endblock %}

{% block content %}
<h1>LinuxOS Team</h1>

<p>
Slovenský linuxový portál LinuxOS.sk je odborný server, ktorý denne navštevuje takmer tisíc ľudí. LinuxOS.sk plní úlohu informačného portálu, denne prináša novinky zo sveta Linuxu, open-source a IT, odborné články týkajúce sa linuxového softvéru a distribúcií, bezpečnosti či konfigurácie. Takisto obsahuje množstvo článkov a návodov pre úplných začiatočníkov. Obrovskou devízou portálu je veľmi aktívne diskusné fórum, kde si naši čitatelia vymieňajú svoje skúsenosti a názory a pomáhajú riešiť problémy.
</p>

<p>
Zdrojové kódy CMS Shakal, na ktorom beží LinuxOS.sk, sú zverejnené pod licenciou <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a>. Pokiaľ máte záujem o nahliadnutie do zdrojových kódov, prípadne o ich vylepšenie, neváhajte a navštívte <a href="http://github.com/LinuxOSsk/Shakal-NG">Shakal github</a>.
</p>

<h3>Tím LinuxOS.sk:</h3>

<ul>
<li><a href="/profil/424/">Miroslav Bendík</a> - šéfredaktor, programátor Django &amp; PostgreSQL</li>
</ul>

<h3>Správičky a články:</h3>

<ul>
<li><a href="/profil/19884/">mirek biňas</a> (články)</li>
<li><a href="/profil/1321/">LUcoRP</a> (správičky)</li>
<li><a href="/profil/41957/">Livan</a> (články)</li>
</ul>

<h3>Externí spolupracovníci:</h3>

<ul>
<li><a href="/profil/6/">Marián Ščerbák</a></li>
<li><a href="/profil/1210/">Jaroslav Petráš</a></li>
<li><a href="/profil/538/">RNDr. Eduard Šurina</a></li>
</ul>

<h3>Za dlhodobú spoluprácu ďakujeme:</h3>
<ul>
<li><a href="/profil/13656/">Mario "Bedňa" Chorvath</a> - (články, správičky)</li>
<li><a href="/profil/41900/">Mario Radev</a> - šéfredaktor</li>
<li><a href="/profil/1312/">Milan eMDi Dvorský</a> - šéfredaktor, programátor PHP &amp; MySQL (31.8.2009 - 7.5.2018)</li>
<li><a href="/profil/28/">Tomáš Srnka</a> - šéfredaktor, vedúci projektu a správca serverov (23.4.2008 - 30.8.2009)</li>
<li><a href="/profil/1/">Ondrej Hučko</a> - zakladateľ, šéfredaktor a vedúci projektu (1.1.2004 - 22.4.2008)</li>
<li><a href="/profil/4/">Štefan Tomečko</a> - redaktor</li>
<li><a href="/profil/2/">Daniel Mičko</a> - redaktor</li>
<li><a href="/profil/3/">Jozef Breza</a> - redaktor, e-shop</li>
</ul>

<h3>Hlásenie chýb</h3>

<p>Chyby vo funkčnosti portálu je možné hlásiť cez <a href="https://github.com/LinuxOSsk/Shakal-NG/issues">github issue tracker</a>.</p>
{% endblock %}
