{% extends "base.html" %}
{% block head_title %}LinuxOS Team{% endblock %}
{% block breadcrumbs %}{{ breadcrumb("LinuxOS Team") }}{{ super() }}{% endblock %}

{% block content %}
<h1>LinuxOS Team</h1>

<p>
Slovenský linuxový portál LinuxOS.sk je odborný server, ktorý denne navštevuje takmer tisíc ľudí. LinuxOS.sk plní úlohu informačného portálu, denne prináša novinky zo sveta Linuxu, open-source a IT, odborné články týkajúce sa linuxového softvéru a distribúcií, bezpečnosti či konfigurácie. Takisto obsahuje množstvo článkov a návodov pre úplných začiatočníkov. Obrovskou devízou portálu je veľmi aktívne diskusné fórum, kde si naši čitatelia vymieňajú svoje skúsenosti a názory a pomáhajú riešiť problémy.
</p>

<p>
Zdrojové kódy CMS Shakal, na ktorom beží LinuxOS.sk, sú zverejnené pod licenciou <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a>. Pokiaľ máte záujem o nahliadnutie do zdrojových kódov, prípadne o ich vylepšenie, neváhajte a navštívte <a href="http://github.com/LinuxOSsk/Shakal-NG">Shakal github</a>.
</p>

<h3>Tím LinuxOS.sk:</h3>

<ul>
<li><a href="http://linuxos.sk/profil/13656/">Mário Chorváth</a> - Šéfredaktor</li>
<li><a href="http://linuxos.sk/profil/424/">Miroslav Bendík</a> - programátor Django &amp; PostgreSQL</li>
</ul>

<h3>Správičky a články:</h3>

<ul>
<li><a href="http://linuxos.sk/profil/19884/">mirek biňas</a> (články)</li>
<li><a href="http://linuxos.sk/profil/41900/">vxmery</a> (články, správičky)</li>
<li><a href="http://linuxos.sk/profil/1321/">LUcoRP</a> (správičky)</li>
</ul>

<h3>Externí spolupracovníci:</h3>

<ul>
<li><a href="http://linuxos.sk/profil/6/index.html">Marián Ščerbák</a></li>
<li><a href="http://linuxos.sk/profil/1210/index.html">Jaroslav Petráš</a></li>
<li><a href="http://linuxos.sk/profil/538/index.html">RNDr. Eduard Šurina</a></li>
</ul>

<h3>Za dlhodobú spoluprácu ďakujeme:</h3>
<ul>
<li><a href="http://linuxos.sk/profil/1312/index.html">Milan eMDi Dvorský</a> - šéfredaktor, programátor PHP &amp; MySQL (2006-2018)</li>
<li><a href="http://linuxos.sk/profil/28/index.html">Tomáš Srnka</a> - šéfredaktor, vedúci projektu a správca serverov (23.4.2008 - 30.8.2009)</li>
<li><a href="http://linuxos.sk/profil/1/index.html">Ondrej Hučko</a> - zakladateľ, šéfredaktor a vedúci projektu (1.1.2004 - 22.4.2008)</li>
<li><a href="http://linuxos.sk/profil/4/index.html">Štefan Tomečko</a> - redaktor</li>
<li><a href="http://linuxos.sk/profil/2/index.html">Daniel Mičko</a> - redaktor</li>
<li><a href="http://linuxos.sk/profil/3/index.html">Jozef Breza</a> - redaktor, e-shop</li>
</ul>

<h3>Hlásenie chýb</h3>

<p>Chyby vo funkčnosti portálu je možné hlásiť cez <a href="https://github.com/LinuxOSsk/Shakal-NG/issues">github issue tracker</a>.</p>
{% endblock %}
