.git
static/CACHE
media/
.ropeproject
*.xcf
*.pyc
*.pyo
*.mo
static/compressed_images.less
static/2013/images/backgrounds*.png
static/2013/base.css
static/2013/scss/_sprites*.scss
static/2013/_sprites*.scss
static/alpha/images/sprites*.png
static/alpha/scss/_sprites*.scss
static/old/images/backgrounds.png
static/old/base.css
static/old/_sprites*.scss
web/settings_local.py
web/settings_production.py
shakal.db
test.db
xapian_index
whoosh_index
.coverage
upgrade.sh
