*.xcf
*.pyc
*.pyo
*.mo
/media
/wsgi_app.py
/dump.gz
/templates/cache
/static/compressed_images.less
/static/default/images/backgrounds.png
/static/default/base.css
/static/default/_sprites*.scss
/venv
/shakal/settings_local.py
/shakal/settings_production.py
/shakal.db
/test.db
/virtualenv.py
/dump.sql
/xapian_index
/.coverage
/htmlcov
/static/CACHE
