*.xcf
*.pyc
*.pyo
*.mo
/media
/wsgi_app.py
/dump.gz
/templates/cache
/static/compressed_images.less
/static/default/images/backgrounds*.png
/static/default/base.css
/static/default/scss/_sprites*.scss
/static/default/_sprites*.scss
/static/new/images/sprites*.png
/static/new/scss/_sprites*.scss
/static/old/images/backgrounds.png
/static/old/base.css
/static/old/_sprites*.scss
/venv
/web/settings_local.py
/web/settings_production.py
/shakal.db
/test.db
/virtualenv.py
/dump.sql
/xapian_index
/whoosh_index
/.coverage
/htmlcov
/static/CACHE
/db.sqlite3
