*.xcf
*.pyc
*.mo
/media
/wsgi_app.py
/dump.gz
/templates/cache
/static/compressed_images.less
/static/desktop/default/images/backgrounds.png
/static/desktop/default/base.css
/venv
/shakal/settings-local.py
/shakal.db
/virtualenv.py
