django-allauth
django-braces
django-compressor
django-haystack
django-hijack
django-hijack-admin
django-jinja
django-libsass
django-mptt
django-reversion
django-static-sitemaps
django-suit
django<2.0
easy-thumbnails
feedparser
future
pillow
pip-tools
pygments
pytz
raven
-e git+https://github.com/mireq/django-assets-manager.git@19fee178cc7abf80f05ee4fac8631c3bf5121371#egg=django_assets_manager
-e git+https://github.com/mireq/django-autoslugfield.git@ba4c052145ef3e19bc3bad88cc32ab003ebddb38#egg=django_autoslugfield
-e git+https://github.com/mireq/django-sample-data-generator.git@a0a9e0b850b225ee651fda48e3cb577692c45d72#egg=django_sample_data_generator
-e git+https://github.com/mireq/django-simple-paginator.git@c22f2daee5c2c4e21e0fadc9de51c0f5257a60ca#egg=django_simple_paginator
-e git+https://github.com/mireq/django-email-log-backend.git@066abda2dc86bf40b0b3fc65caa153a7e3e87599#egg=django_email_log_backend
-e git+https://github.com/mireq/django-geoposition-field.git@6a639773f3cbd959e33fcedc991a4e3f50a38ab6#egg=django_geoposition_field
Werkzeug
django-debug-toolbar
django-debugtools
django-extensions
django-extensions
ipython
ptpython
pylint-django
pyinotify
watchdog
