Django>=1.5
django-tools
hg+https://bitbucket.org/mireq/django-registration#egg=django-registration
git+git://github.com/mireq/django-auth-remember.git#egg=django-auth-remember
pil
phpserialize
django-mptt
progressbar
git+git://github.com/citylive/django-template-preprocessor.git
django-bootstrap-toolkit
git+https://github.com/toastdriven/django-haystack.git@master#egg=django-haystack
git+git://github.com/notanumber/xapian-haystack.git
hg+https://bitbucket.org/izi/django-admin-tools#egg=django-admin-tools
git+git://github.com/etianen/django-reversion.git@master#egg=django-reversion
feedparser
selenium
mock
pycrypto
pytz
git+git://github.com/toastdriven/queued_search.git
queues
python-dateutil
django-qsstats-magic
simplejson
