bleach
django-allauth
django-compressor
django-email-log-backend
django-hijack
django-jinja
django-libsass
django-mptt
django-reversion
django-static-sitemaps
django>=4.0,<4.1
easy-thumbnails
feedparser
html5lib
jinja2
lxml
pillow
pip-tools
pygments
pytz
tinycss2
