Django
Pillow
django-allauth
django-braces
django-compressor
django-haystack
django-jinja
django-libsass
django-mptt
django-qsstats-magic
django-reversion
django-static-sitemaps
django-suit
feedparser
pip-tools
python-dateutil
pytz
-e git+git://github.com/mireq/django-assets-manager.git#egg=django_assets_manager
-e git+git://github.com/mireq/django-autoslugfield.git#egg=django_autoslugfield
-e git+git://github.com/mireq/django-sample-data-generator.git#egg=django_sample_data_generator
-e git://github.com/mireq/django-simple-paginator.git@#egg=django_simple_paginator
