@import "../../compressed_images.less";

@generic-background: white;
@generic-foreground: black;
@generic-font: sans-serif;

@hdr-high: #4c4e5a;
@hdr-mid: #5d6370;
@hdr-low: #000000;

@link-color: #1d5886;
@link-color-hover: @link-color - #0e2940;
@info-color: @hdr-mid;
@highlight-color: #fafa40;
@breadcrumb-background: #d6eeff;

@title-padding: 1em;
@td-padding: 3px;
@row-padding: .7em;
@module-padding: 5px;
@module-margin: 1.5em;
@module-header-background: white;
@module-row-border: 1px solid #eee;
@input-border: 1px solid #e6e4e4;
@layout-padding: @module-margin;

@left-background: #e0ebff;
@comment-border: @left-background;

@form-label-width: 10em;

@header-bg: #4d9dd9;

@table-row-bg: @generic-background;
@table-row-alternate-bg: mix(@header-bg, @generic-background, 9%);

.sprite (@pos, @repeat: no-repeat, @color: 0) when (iscolor(@color)) {
	background: url(images/backgrounds.png) @pos @color @repeat;
}

.sprite (@pos, @repeat: no-repeat, @color: 0) when not (iscolor(@color)) {
	background: url(images/backgrounds.png) @pos @repeat;
}

.no-space () {
	margin: 0; padding: 0;
}

.generic-color () {
	background-color: @generic-background;
	color: @generic-foreground;
}

.generic-font () {
	font-family: @generic-font;
}

.module-shadow () {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* === Layout === */

#colmask {
	float: left; clear: both;
	width: 100%; height: 100%;
	overflow: hidden;
	position: relative;
}

#colinner {
	float: left;
	right: 68%;
	width: 100%;
	position: relative;
	background: @left-background;
	border-right: solid 1px #c4d1e3;
}

#colmain, #colleft {
	float: left;
	position: relative;
	overflow: hidden;
}

#colmain {
	width: 68%;
	left: 100%;
}

#colleft {
	width: 32%;
}

/* === Nastavenia základných prvkov === */

body { min-width: 800px; .generic-color; .generic-font; .no-space; }

header, nav, ul, form { display: block; .no-space; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1 a, h2 a, h3 a { text-decoration: none; }
h1, h2 { color: @hdr-high; }
h3, h4 { color: @hdr-mid; }
h5, h6 { color: @hdr-low; }

h1 { font-size: 2em;    margin: @row-padding*1.0 0px; }
h2 { font-size: 1.5em;  margin: @row-padding*1.0 0px; }
h3 { font-size: 1.25em; margin: @row-padding*0.7 0px; }
h4 { font-size: 1em;    margin: @row-padding*0.5 0px; }
h5 { font-size: 0.85em; margin: @row-padding*0.4 0px; }
h6 { font-size: 0.66em; margin: @row-padding*0.3 0px; }

hr { background: #EEE; display: block; height: 1px; border: none; }

p { margin: 2em 0; }
ul { padding-left: 2em; }

li    { list-style: square; }
li li { list-style: circle; }

a       { color: @link-color; text-decoration: underline; }
a:hover { color: @link-color-hover; background-color: rgba(215, 228, 239, 0.5); border-radius: 3px; }

dl { .no-space(); }
dt { .no-space(); font-weight: bold; }
dd { margin-left: 4em; }

textarea { width: 30em; height: 10em; }

fieldset, .module {
	margin: 0; padding: 0 @module-padding; .module-shadow; .generic-color;
	border: #e8e8e8 1px solid;
	clear: both;
	h2 {
		font-size: 1.5em;
		line-height: 37px; height: 37px;
		padding: 0 @title-padding; margin: 0 -@module-padding;
		color: @module-header-background; text-shadow: 1px 1px 0px darken(@header-bg, 10%);
		.sprite(@backgrounds_block_header_bg_imgpos, repeat-x, @header-bg);
	}
}
#aside_left .module { border: #c0cbef 1px solid; }

.clear { clear: both; }

.module + .module, .content + .module, .module + form, ul + .module { margin-top: @module-margin; }
.module .clearpadding { margin: 0 -@module-padding; }

.highlighted { background: @highlight-color; }

/* === Tabuľka === */

table { width: 100%; border-collapse: collapse; }
tr:nth-child(odd) { background-color: @table-row-bg; }
tr:nth-child(even) { background-color: @table-row-alternate-bg; }
tr { border-top: 1px solid mix(@table-row-alternate-bg, @generic-foreground, 95%); }
th { font-weight: bold; text-align: center; }
td { padding: @td-padding; }
th { padding: @td-padding * 2 @td-padding; }
.module table tr:first-child { border: none; }

td, th { &.title { text-align: left; } }
th, td { &.icons, &.number, &.date { text-align: center; } }

th.title a, td.title a {
	display: block;
	margin: -@td-padding;
	height: 100%;
	padding: @td-padding;
	text-decoration: none;
	&:hover {
		background: none;
		border-radius: 0px;
		text-decoration: underline;
	}
}

/* === UI prvky === */

.info { color: @info-color; }
.object-tools {
	float: right;
	margin: 10px 0 0 0;
	.btn {
		float: left;
	}
}

/* Tlačidlo */

button:focus { outline: none; }

.btn {
	padding: 0px 0px 0px 6px; margin: 0;
	background: none; border: none;
	line-height: 32px;
	list-style: none;
	cursor: pointer;
	span, search-input {
		.sprite(@backgrounds_btn_content_std_imgpos_right);
		display: block;
		float: left;
		padding-right: 15px;
		font-size: 12px;
		color: @generic-foreground;
		text-shadow: 0px 1px 0px white;
		text-decoration: none;
		span {
			background: none;
			display: inline;
			padding: 0;
		}
		span:before {
			content: "";
			display: none;
		}
		span.dropdown {
			display: block;
			margin-right: 15px;
			position: relative;
			.icon {
				.sprite(@backgrounds_down_icon_14_imgpos);
				width: 9px;
				height: 14px;
				position: absolute;
				right: -18px;
				top: 11px;
			}
		}
	}
	a {
		text-decoration: none;
		line-height: 32px;
		display: block;
		white-space: nowrap;
		&:hover {
			background: none !important;
		}
	}
	span:before, .search-input:before {
		content: ".";
		.sprite(@backgrounds_btn_content_std_imgpos);
		width: 15px; margin-left: -15px;
		text-indent: -9999px; overflow: hidden;
		float: left;
		height: 32px;
	}
	&:hover {
		span { .sprite(@backgrounds_btn_content_std_hover_imgpos_right); }
		span:before { .sprite(@backgrounds_btn_content_std_hover_imgpos); }
		span.dropdown { background: none; }
	}
	&:active, &:focus {
		span { .sprite(@backgrounds_btn_content_act_imgpos_right); }
		span:before, &:focus span:before { .sprite(@backgrounds_btn_content_act_imgpos); }
	}
	&:active:hover {
		span { .sprite(@backgrounds_btn_content_act_hover_imgpos_right); }
		span:before { .sprite(@backgrounds_btn_content_act_hover_imgpos); }
	}
	&.reply, .login {
		float: right;
	}
}

#top_header .btn, .submit-row .btn {
	padding: 0px 0px 0px 15px; margin: 0;
	background: none; border: none;
	line-height: 38px;
	span, .search-input {
		.sprite(@backgrounds_btn_std_imgpos_right);
		padding-right: 15px;
		font-size: 14px;
		font-weight: bold;
		color: @link-color;
		span {
			padding: 0;
		}
		span.dropdown {
			.icon { top: 13px; }
		}
	}
	a {
		line-height: 38px;
	}
	span:before, .search-input:before {
		content: ".";
		.sprite(@backgrounds_btn_std_imgpos);
		width: 15px; margin-left: -15px;
		text-indent: -9999px; overflow: hidden;
		float: left;
		height: 38px;
	}
	&:hover {
		span { .sprite(@backgrounds_btn_std_hover_imgpos_right); }
		span:before { .sprite(@backgrounds_btn_std_hover_imgpos); }
		span.dropdown { background: none; }
	}
	&:active, &:focus {
		span { .sprite(@backgrounds_btn_act_imgpos_right); }
		span:before, &:focus span:before { .sprite(@backgrounds_btn_act_imgpos); }
	}
	&:active:hover {
		span { .sprite(@backgrounds_btn_act_hover_imgpos_right); }
		span:before { .sprite(@backgrounds_btn_act_hover_imgpos); }
	}
	.username .icon-user {
		margin: 12px 5px 0 3px;
		width: 9px; height: 14px;
		.sprite(@backgrounds_profile_icon_14_imgpos);
		float: left;
	}
}

/* Dropdown zoznam */
.dropdown.menu {
	background: @generic-background;
	position: absolute;
	right: 0px;
	padding: 3px 0px;
	margin: 38px 1px 0 0;
	border-radius: 3px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
	display: none;
	z-index: 1;
	&:hover {
		display: block;
	}
	&:before {
		content: ".";
		text-indent: -9999px;
		overflow: hidden;
		width: 13px; height: 7px;
		top: -7px; right: 10px;
		.sprite(@backgrounds_corner_arrow_up_imgpos);
		position: absolute;
	}
	li {
		list-style: none; padding: 0px @title-padding; margin: 0px;
		&:hover {
			background: @breadcrumb-background;
		}
	}
}

/* === Prvky požičané z bootsrap-u === */

.label, .badge {
	display: inline-block;
	padding: 2px 4px;
	font-size: 0.85em; font-weight: bold;
	line-height: 1.1em;
	color: white;
	text-shadow: 0 -1px 0 darken(#999, 10%);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999;
}

.badge {
	padding-right: 0.8em;
	padding-left: 0.8em;
	border-radius: 0.8em;
}

.label {
	border-radius: 3px;
}

.badge-info, .label-info, .badge-watch {
	text-shadow: 0 -1px 0 darken(#3a87ad, 10%);
	background-color: #3a87ad;
}

.badge-warning, .label-warning {
	text-shadow: 0 -1px 0 darken(#f89406, 10%);
	background-color: #f89406;
}

.badge-success, .label-success, .badge-new {
	text-shadow: 0 -1px 0 darken(#468847, 10%);
	background-color: #468847;
}

.label.label-new, .label.label-locked, .label.label-resolved, .label.label-watch {
	width: 16px;
	height: 16px;
	text-indent: 9999px;
	overflow: hidden;
	border-radius: 0px;
	padding: 0;
	margin: -@td-padding;
}

.label {
	&.label-new {
		.sprite(@backgrounds_new_icon_imgpos);
	}

	&.label-resolved {
		.sprite(@backgrounds_tick_icon_imgpos);
	}

	&.label-locked {
		.sprite(@backgrounds_locked_icon_imgpos);
	}

	&.label-watch {
		.sprite(@backgrounds_watch_icon_imgpos);
	}
}

/* Formulár */
.form-row {
	padding: @row-padding @row-padding; border-bottom: @module-row-border; overflow: hidden;
	.field_label, .formset_label { display: block; padding: 5px 10px 0 0; float: left; width: @form-label-width; color: #555; }
	.required { color: black; font-weight: bold; }
	.help { padding-left: @form-label-width+2em; font-size: 0.875em; color: #888; }
	.radio-description { .no-space; font-size: 0.875em; color: #888; }
	input[type="text"], input[type="password"] { vertical-align: middle; width: 15em; }
	ul { .no-space; margin-left: @form-label-width+1em; }
	li { list-style: none; }
}

.submit-row {
	height: 41px; margin: 0 -5px;
	.sprite(@backgrounds_submit_row_bg_imgpos, repeat-x, #8cccfe);
	.positive { float: right; }
	.negative { float: left; }
}

.input () { padding: 3px 6px; border: @input-border; }

input[type="text"], input[type="password"] { .input; .sprite(@backgrounds_input_bg_imgpos, repeat-x, #fff); }
textarea { .input; background: #fff url('images/input_bg.png') 0px 0px repeat-x; }

.formset-field {
	padding: 0 3px;
	input[type="text"], input[type="password"], textarea {
		padding: 3px 0; width: 100%;
	}
}

/* === Obsah stránky */

#site_content, #aside_left { padding: @layout-padding; }
#aside_left .module { font-size: 85%; }

.module-row {
	padding: @row-padding @row-padding; border-bottom: @module-row-border;
	.module-row { padding: @row-padding*0.4 @row-padding*0.4; border: none; }
}

.module-links, .pagination {
	padding: .5em;
	text-align: center;
	color: #aaa;
	clear: both;
	a {
		text-decoration: none;
		&.prev:before { content: "\00AB "; }
		&.next:after { content: " \00BB"; }
	}
}

/* === Stránkovač === */
.pagination li {
	padding: 2px 0px;
	border: #eee solid 1px;
	display: inline;
	list-style: none;
	margin: 0;
	a { padding: 2px 3px; text-decoration: none; }
	a:hover { border-radius: 0px; border: none; color: white; background: @link-color; }
	&.disabled a { color: #aaa; cursor: default; }
	&.disabled a:hover { border: none; color: #aaa; background: white; }
	&.active { border-color: @link-color; }
	&.active a { background: @table-row-alternate-bg; }
	&.active a:hover { color: @link-color; }
	&.skip { border: none; }
}

/* === Ikony === */

.icon () {
	display: block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -9999px;
}

.trashcan-icon { .icon; .sprite(@backgrounds_trashcan_imgpos); }

/* === Hlavička === */

#linuxos_logo {
	width: 240px; height: 80px;
	display: block;
	text-align: center;
	margin: 0px auto;
	overflow: hidden;
	text-indent: -9999px;
	.sprite(@backgrounds_logo_imgpos);
}

.hdrleft {
	width: 32%;
	float: left;
}

.hdrmain {
	width: 68%;
	float: right;
	position: relative;
}

.tabs {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 31px;
	margin: 15px 0 0 -@module-margin;
	height: 33px;
	li {
		float: left;
		list-style: none;
		a {
			display: block;
			line-height: 25px;
			padding: 8px 10px 0 0;
			font-size: 12px;
			font-weight: bold;
			color: #e5f4ff;
			text-shadow: 0px 1px 0px #2c6c99;
			text-decoration: none;
			.sprite(@backgrounds_tabs_std_imgpos_right);
			margin-right: 5px;
		}
		a:before {
			content: ".";
			.sprite(@backgrounds_tabs_std_imgpos);
			width: 10px; margin-left: -10px;
			text-indent: -9999px; overflow: hidden;
			float: left;
			height: 33px;
			margin-top: -8px;
		}
		&:hover, &.active {
			a {
				.sprite(@backgrounds_tabs_act_imgpos_right);
				border-radius: 0px;
				color: @link-color;
				text-shadow: 0px 1px 0px @generic-background;
				line-height: 30px;
				padding-top: 3px;
			}
			a:before {
				.sprite(@backgrounds_tabs_act_imgpos);
				margin-top: -3px;
			}
		}
		ul {
			position: absolute;
			line-height: 31px;
			top: 33px;
			right: 0px;
			left: 0px;
			margin-left: 16px;
			background: @breadcrumb-background;
			z-index: 1;
			display: none;
		}
		&:hover ul {
			display: block;
			padding: 0 0 0 6px;
			li {
				a {
					background: none;
					line-height: 31px;
					padding: 0 6px;
				}
				a:before {
					background: none;
				}
				a:hover {
					background: mix(@breadcrumb-background, @generic-foreground, 95%);
				}
			}
		}
	}
}

ul#main_menu li:first-child {
	margin-left: 2px;
}

#search-panel {
	margin-top: 5px;
	float: right;
	&:hover {
		width: 262px;
	}
}

.hdrleft, .hdrmain {
	height: 80px;
}

#top_header {
	height: 80px;
	.pull-right { right: 0px; position: absolute; }
	.sprite(@backgrounds_header_bg_imgpos, repeat-x, #4d9dd9);
	.search {
		line-height: inherit;
		height: 38px;
		input {
			width: 200px;
			color: @link-color;
			display: none;
			border: none;
			outline: none;
			color: @link-color;
			background: none;
			font-weight: bold;
			font-size: 14px;
			height: 20px;
			line-height: 20px;
			margin: 6px 0 0 0;
			padding: 3px 0;
		}
		&:hover input {
			display: inline;
		}
		&:hover {
			width: 247px;
			position: absolute;
		}
	}
	.btn-search {
		width: 32px;
		border: none;
		margin: 0;
		padding: 0;
		line-height: 38px;
		cursor: pointer;
		text-indent: -9999px;
		.sprite(@backgrounds_search_icon_imgpos);
		height: 38px;
	}
	#user_panel {
		float: right;
		margin: 5px 5px 0 0;
		position: relative;
		&:hover #userlinks {
			display: block;
		}
	}
}

/* Prihlásenie */

#login-form {
	width: 30em;
	margin: 2em auto 0 auto;
}

dl.profile {
	dt { width: 13em; float: left; text-align: right; clear: left; }
	dd { margin-left: 14em; }
}

/* Breadcrumbs */

#site_breadcrumbs {
	height: 36px; bottom: 0px; margin-left: -3px; padding-left: 5px;
	.sprite(@backgrounds_breadcrumb_bg_imgpos, no-repeat, @breadcrumb-background);
	margin-top: 44px;
	ul {
		.no-space;
		height: 36px;
		.sprite(@backgrounds_breadcrumb_panel_bg_imgpos, repeat-x);
	}
	li {
		height: 31px; line-height: 31px; margin-top: 5px; padding-right: 5px;
		list-style: none;
		float: left;
		.sprite(@backgrounds_breadcrumb_std_imgpos_right);
		.crumb {
			display: block;
			position: relative;
			right: 17px; height: 31px; padding-left: 25px;
			.sprite(@backgrounds_breadcrumb_std_imgpos);
			font-weight: bold; font-size: 0.875em;
			text-shadow: 0px -1px 0px #cedfeb, 0px 1px 0px #fcfdfe;
			color: @link-color;
			a {
				text-decoration: none;
				display: block;
				height: 31px;
				color: @link-color;
			}
		}
		&.home {
			width: 58px;
			border-left: 1px solid #c5dcec;
			.crumb {
				background: none !important;
			}
			a {
				display: block;
				overflow: hidden;
				text-indent: -9999px;
				position: relative;
			}
			.icon {
				width: 18px; height: 18px; top: 6px; left: 8px;
				position: absolute;
				.sprite(@backgrounds_breadcrumb_home_imgpos);
			}
		}
		&:hover {
			.sprite(@backgrounds_breadcrumb_act_imgpos_right);
			.crumb {
				.sprite(@backgrounds_breadcrumb_act_imgpos);
			}
		}
	}
	a:hover {
		background: none;
	}
}

/* === Systémové správy === */

.errorlist, .errornote {
	background: #fcc;
	border: 1px solid #faa;
	border-radius: 3px;
	padding: 2px 3px; margin: 3px;
	li {
		list-style: none;
	}
}

.error {
	color: red;
	&.passive {
		font-size: 130%;
		font-weight: bold;
	}
}

ul.messages {
	padding: 0px; margin: 1.5em 1.5em 0 1.5em;
	color: black;
	position: relative;
	li {
		padding: 5px; margin: 0px;
		display: block;
		list-style: none;
		border-radius: 3px;
		&.info { background: #eefaff; border: 1px solid #cdf; }
		&.success { background: #efe; border: 1px solid #afa; }
		&.warning { background: #ffffe0; border: 1px solid #ff4; }
		&.error { background: #fcc; border: 1px solid #faa; }
	}
}

/* === Články === */

.perex {
	margin: 5px 0px;
}

.info .stat {
	font-weight: bold;
}

.article.thumbnail {
	float: left;
	margin: 5px 5px 0 0;
}

.article.top {
	margin: 0 -5px 0 -5px;
	background: #f2f6fc;
}

/* === Diskusia === */
.forum caption {
	color: #999;
	font-weight: bold;
	text-align: center;
	padding: @td-padding;
	border-bottom: 1px solid mix(@table-row-alternate-bg, @generic-foreground, 95%);
	&:before { content: '::'; }
	&:after { content: '::'; }
}

.discussion.header {
	border-top: 1px solid #dbdfe3;
	background: #eff3f7;
	padding: 0.3em;
	margin: 0 0 1em 0;
	.title { float: left; clear: left; padding-bottom: 10px; }
	.user { float: right; display: block; text-align: right; }
	.distribution { padding-top: 10px; display: block; }
	.info { display: block; clear: left; }
	.icon { display: block; float: right; width: 23px; height: 34px; padding: 3px 5px; }
}

.thread_1 .discussion.header.entry {
	border-left-color: #2e82bc;
}

.thread_2 .discussion.header.entry {
	border-left-color: #3d9de1;
}

.thread_3 .discussion.header.entry {
	border-left-color: #8bcafb;
}

.thread_4 .discussion.header.entry {
	border-left-color: #add7fc;
}

.thread_5 .discussion.header.entry {
	border-left-color: #cbe2fe;
}

.thread_6 .discussion.header.entry {
	border-left-color: #eff3f7;
}

.comments_tree .thread_1 .comment {
	border: 1px solid #eff3f7;
	background: #fafbfc;
	margin-bottom: .5em;
}

.comments_tree .thread_2 .comment {
	margin-bottom: 0;
	border: none;
	border-top: 1px solid #dbdfe3;
	border-left: 1px solid #eff3f7;
	background: white;
}

.comments_tree .thread_2 .comment:hover {
	background: #eff3f7;
	border-left: 1px solid #e0ebff;
}

.comments_tree .thread_2 .comment:hover .discussion.header.entry {
	background: #e0ebff;
}

.discussion.header.entry.me {
	border-left-color: #1d5886;
	background: #e0ebff;
}

.discussion.header.entry.new {
	border-left-color: #ffee55;
	background-color: #fffae0;
}

.comments_tree .thread_2 .comment:hover .discussion.header.entry.new {
	background-color: mix(#fffae0, #eff3f7, 20%);
}

.discussion.header.entry {
	border-left: 10px solid #e0ebff;
	border-top: none;
}

.discussion.header.entry .title {
	font-weight: bold;
}

.preview .header, .preview .text, .preview .signature {
	padding: 0 1em .5em 1em;
}

.text p {
	margin: .2em 0;
}

.comments_tree ul.comment_thread {
	margin: 0 0 0 1em;
	padding: 0;
	clear: both;
}

.comments_tree ul.comment_thread.thread_1 {
	margin-left: 0;
	margin-top: .5em;
}

.comments_tree {
	padding: .5em;
}

.comments_tree .content {
	padding: .5em;
}

.comments_tree li.comment {
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: 1px solid #dbdfe3;
}

.comments_tree .links {
	height: 38px;
}

.signature {
	color: #616b7a;
	font-size: 85%;
	font-style: italic;
	margin-top: .5em;
	float: left;
	clear: left;
}

.comment-link.first {
	float: left;
	line-height: 38px;
	margin-left: .5em;
}

.comment-link.first:after {
	content: ' ⇓';
}

/* === Správy === */

.news h3 {
	margin: 1px 0px;
}

.news .info {
	font-size: 0.875em;
}

.news p {
	margin: .2em 0;
}

.news .module-row {
	padding: .5em .5em .3em .5em;
}

/* === Anketa === */
.progress {
	border: solid 1px #e4e5e7;
	border-radius: 3px;
	height: 16px;
	margin: .3em 0;
	.sprite(@backgrounds_progress_imgpos, repeat-x);
	.bar {
		border: solid 1px #2f83bb;
		border-radius: 3px;
		overflow: hidden;
		text-indent: -9999px;
		position: relative;
		top: -1px; left: -1px; height: 16px;
		@ypos: -@backgrounds_progress_bar_y1 - 1px;
		@pos: 0px @ypos;
		.sprite(@pos, repeat-x);
	}
}

.module.survey.compact label {
	display: block;
	width: 30%;
	float: left;
	text-align: right;
}

.module.survey.compact .progress {
	width: 69%;
	float: right;
}

.module.survey.compact .module-links.bottom {
	margin-left: 30%;
}

/* === Zoznam tém fóra === */

.table-topics .status {
	width: 2em;
	text-align: right;
	white-space: nowrap;
}

.table-topics .comments {
	width: 2em;
}

.table-topics .date {
	width: 9em;
}

td.status, td.comments, td.date {
	text-align: center;
	font-weight: bold;
}

/* === Wiki === */
.module.subpages {
	width: 30%;
	float: right;

	ul {
		margin: @row-padding 0;
	}
}
