body {
	background-color: white;
	color: black;
	margin: 0;
	padding: 0;
	min-width: 800px;
	font-family: sans-serif;
	height: 100%;
}

/* === Nastavenia základných prvkov === */

header, nav {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 16px 0px;
}

h2 {
	font-size: 1.5em;
	margin: 16px 0px;
}

h3 {
	font-size: 1.25em;
	margin: 10px 0px;
}

h4 {
	font-size: 1em;
	margin: 5px 0px;
}

h5 {
	font-size: 0.85em;
	margin: 4px 0px;
}

h6 {
	font-size: 0.66em;
	margin: 3px 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1, h2 {
	color: #4c4e5a;
}

h3, h4 {
	color: #5d6370;
}

h5, h6 {
	color: black;
}

a {
	color: #1d5886;
	text-decoration: underline;
}

a:hover {
	color: #0f2e46;
	text-decoration: underline;
}

fieldset, .module {
	padding: 0 5px;
	margin: 0;
	border: #e8e8e8 1px solid;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

fieldset h2, .module h2 {
	display: block;
	line-height: 37px;
	height: 37px;
	padding: 0 1em;
	margin: 0 -5px;
	background: url(images/block_header_bg.png) repeat-x;
	font-size: 1.5em;
	color: white;
	text-shadow: 1px 1px 0px #418cc0;
}

textarea {
	width: 30em;
	height: 10em;
}

/* === UI prvky === */

.info {
	color: #5d6370;
}

/* Tlačidlo */
button, .button.flat, .object-tools li {
	line-height: 38px;
	border: none;
	padding: 0px 0px 0px 15px;
	margin: 0;
	background: none;
	cursor: pointer;
	list-style: none;
}

button:focus {
	outline: none;
}

button span:before, .button.flat span:before, .object-tools a:before {
	content: ".";
	width: 15px;
	background: url('images/button_flat.png') no-repeat top left;
	float: left;
	margin-left: -15px;
	text-indent: -9999px;
	overflow: hidden;
}

button:hover span:before, .button.flat:hover span:before {
	background: url('images/button_flat.png') no-repeat left -38px !important;
}

button:focus span:before, .button.flat:active span:before, button:active span:before, .button.flat:focus span:before {
	background: url('images/button_flat.png') no-repeat left -76px !important;
}

button:active:hover span:before, .button.flat:active:hover span:before {
	background: url('images/button_flat.png') no-repeat left -76px !important;
}

button span, .button.flat span, .object-tools a {
	background: url('images/button_flat.png') no-repeat top right;
	display: block;
	float: left;
	padding-right: 15px;
	font-size: 14px;
	font-weight: bold;
	color: #1d5886;
	text-shadow: 0px 1px 0px white;
	text-decoration: none;
}

#site_content button span, #site_content .button.flat span, #site_content .object-tools a:hover {
	background: url('images/button_flat.png') no-repeat top right;
}

#site_content .button.flat span a {
	background: none;
}

button:hover span, .button.flat:hover span {
	background: url('images/button_flat.png') no-repeat right -38px !important;
}

button:active span, .button.flat:active span, button:focus span, .button.flat:focus span {
	background: url('images/button_flat.png') no-repeat right -76px !important;
}

button:active:hover span, .button.flat:active:hover span {
	background: url('images/button_flat.png') no-repeat right -76px !important;
}

.button.flat a {
	color: #1d5886;
	text-decoration: none;
	line-height: 38px;
	display: block;
}

.object-tools {
	float: right;
	margin: 10px 0 0 0;
}

/* Dropdown zoznam */
.dropdown.menu {
	background: white;
	position: relative;
	right: 0px;
	padding: 3px 0px;
	margin: 38px 1px 0 0;
	border-radius: 3px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
	display: none;
	z-index: 1;
}

.dropdown.menu:before {
	content: ".";
	text-indent: -9999px;
	overflow: hidden;
	width: 13px;
	height: 7px;
	background: url('images/corner_arrow_up.png') no-repeat;
	position: absolute;
	top: -7px;
	right: 10px;
}

.dropdown.menu li {
	list-style: none;
	padding: 0px 10px;
	margin: 0px;
}

.dropdown.menu li:hover {
	background: #d5eeff;
}

/* Formulár */
.form-row {
	padding: .7em .7em;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}

.form-row label {
	display: block;
	padding: 5px 10px 0 0;
	float: left;
	width: 10em;
	color: #555;
}

.form-row input[type="text"], .form-row input[type="password"] {
	vertical-align: middle;
	width: 15em;
}

.form-row label.required {
	color: black;
	font-weight: bold;
}

.form-row p.help {
	padding-left: 12em;
	font-size: 0.875em;
	color: #888;
}

.submit-row {
	height: 41px;
	background: url('images/submit_row_bg.png') repeat-x;
	margin: 0 -5px;
}

.submit-row .positive {
	float: right;
}

.submit-row .negative {
	float: left;
}

input[type="text"], input[type="password"], textarea {
	background: #fff url('images/input_bg.png') repeat-x;
	border: 1px solid #e6e4e4;
	padding: 3px 6px;
}

/* === Layout === */

#colmask {
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#colinner {
	float: left;
	width: 100%;
	position: relative;
	right: 68%;
	background: #e0ebff;
	border-right: solid 1px #c4d1e3;
}

#colmain, #colleft {
	float: left;
	position: relative;
	overflow: hidden;
}

#colmain {
	width: 68%;
	left: 100%;
}

#colleft {
	width: 32%;
}

/* === Obsah stránky */

#site_content {
	padding: 1.5em;
}

h1 a, h2 a, h3 a {
	text-decoration: none;
}

#site_content a:hover {
	color: #0c3875;
	background: rgba(215, 228, 239, 0.5);
	border-radius: 3px;
}

.module-row {
	padding: .7em .7em;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}

.module-links, .paginator {
	padding: .5em;
	text-align: center;
}

a.prev:before {
	content: "\00AB";
}

a.next:after {
	content: "\00BB";
}

/* === Stránkovač === */
.paginator {
	color: #aaa;
}

.paginator span {
	padding: 2px 0px;
	border: #eee solid 1px;
}

.paginator span a {
	padding: 2px 3px;
	text-decoration: none;
}

.paginator span.current {
	border-color: #1d5886;
}

.paginator span.current a {
	background: #eaf1f6;
}

#site_content .paginator span a:hover {
	border-radius: 0px;
	border: none;
	color: white;
	background: #1d5886;
}

.paginator span.skip {
	border: none;
}

/* === Hlavička === */

#linuxos_logo {
	width: 240px;
	height: 80px;
	background: url('images/logo.png') no-repeat;
	display: block;
	text-align: center;
	margin: 0px auto;
	overflow: hidden;
	text-indent: -9999px;
}

.hdrleft {
	width: 32%;
	float: left;
}

.hdrmain {
	width: 68%;
	float: right;
}

.hdrleft, .hdrmain {
	height: 80px;
}

#top_header {
	height: 80px;
	background: url('images/header_bg.png') repeat-x;
}

/* Prihlásenie */

#user_panel {
	float: right;
	margin: 5px 5px 0 0;
	position: relative;
}

.button.flat span {
	float: right;
}

.button.flat span.username a {
	padding-left: 15px;
	background: url('images/profile_icon_14.png') no-repeat center left;
}

#user_panel:hover #userlinks {
	display: block;
}

#login-form {
	width: 30em;
	margin: 2em auto 0 auto;
}

/* Breadcrumbs */
#site_breadcrumbs {
	height: 36px;
	bottom: 0px;
	margin-left: -3px;
	padding-left: 5px;
	background: url('images/breadcrumb_bg.png') no-repeat;
	margin-top: 44px;
}

#site_breadcrumbs ul {
	padding: 0;
	margin: 0;
	height: 36px;
	background: url('images/breadcrumb_panel_bg.png') repeat-x;
}

#site_breadcrumbs li {
	list-style: none;
	display: block;
	float: left;
	height: 31px;
	line-height: 31px;
	margin-top: 5px;
	background: url('images/breadcrumb.png') no-repeat right top;
	padding-right: 5px;
}

#site_breadcrumbs li:hover {
	background: url('images/breadcrumb.png') no-repeat right bottom;
}

#site_breadcrumbs li span {
	display: block;
	padding-left: 25px;
	background: url('images/breadcrumb.png') no-repeat left top;
	position: relative;
	right: 17px;
	height: 31px;
	font-weight: bold;
	font-size: 0.875em;
	text-shadow: 0px -1px 0px #cedfeb, 0px 1px 0px #fcfdfe;
	color: #1d5682;
}

#site_breadcrumbs li span a {
	text-decoration: none;
	display: block;
	height: 31px;
	color: #1d5682;
}

#site_breadcrumbs li:hover span {
	background: url('images/breadcrumb.png') no-repeat left bottom;
}

#site_breadcrumbs li.home {
	width: 58px;
	border-left: 1px solid #c5dcec;
}

#site_breadcrumbs li.home span {
	background: none;
}

#site_breadcrumbs li.home span a {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	background: url('images/breadcrumb_home.png') no-repeat center center;
}


/* === Systémové správy === */

.errorlist, .errornote {
	background: #fcc;
	border: 1px solid #faa;
	border-radius: 3px;
	padding: 2px 3px;
	margin: 3px;
}

.errorlist li {
	list-style: none;
}

.error {
	color: red;
}

.error.passive {
	font-size: 130%;
	font-weight: bold;
}

ul.messages {
	padding: 0px;
	margin: 0 -1em 0 -1em;
	color: black;
	position: relative;
	top: -1em;
}

ul.messages li {
	display: block;
	padding: 5px;
	margin: 0px;
	list-style: none;
	border-radius: 3px;
}

ul.messages li.info {
	background: #eefaff;
	border: 1px solid #cdf;
}

ul.messages li.success {
	background: #efe;
	border: 1px solid #afa;
}

ul.messages li.warning {
	background: #ffffe0;
	border: 1px solid #ff4;
}

ul.messages li.error {
	background: #fcc;
	border: 1px solid #faa;
}

/* === Články === */

.perex {
	margin: 5px 0px;
}

.info .stat {
	font-weight: bold;
}

.article.thumbnail {
	float: left;
	margin: 5px 5px 0 0;
}

.article.top {
	margin: 0 -5px 0 -5px;
	background: #f2f6fc;
}
