{% for choice in poll.choices %}
<div class="module-row">
	<label>
		{% if input %}
			{% if poll.checkbox %}
				<input type="checkbox" name="choice" value="{{ choice.pk }}" />
			{% else %}
				<input type="radio" name="choice" value="{{ choice.pk }}" />
			{% endif %}
		{% endif %}
		{{ choice }}
	</label>
	<div class="progress">
		<div class="bar" style="width: {{ choice.percent()|round|int }}%">
			{{ choice.percent()|round|int }} %
		</div>
	</div>
</div>
{% endfor %}
<div class="module-links bottom">
	<span class="info">Hlasov: {{ poll.answer_count }}</span> |
	<span class="comments">
		{{ get_comments_for_item(poll) }}
	</span>
	{% if next_link %}
		| <a class="next" href="{{ url('polls:list', page=1) }}">Ďalšie</a>
	{% endif %}
</div>
