{% extends "registration/user_base.html" %}{% load i18n breadcrumbs_tags %}

{% block title %}{% trans "E-mail change" %}{% endblock %}
{% block breadcrumbs %}{% breadcrumb %}{% trans 'E-mail change' %}{% endbreadcrumb %}{{ block.super }}{% endblock %}

{% block content %}

<h1>{% trans "E-mail change" %}</h1>

<p>{% trans "Enter your new e-mail address below." %}</p>

<form action="{% url 'auth_email_change' %}" method="post">{% csrf_token %}
	<fieldset>
		{% include "includes/form_loop.html" %}
		<div class="submit-row">
			<div class="positive">
				<button class="btn" type="submit" title="Hľadať"><span>{% trans 'Change my e-mail' %}</span></button>
			</div>
		</div>
	</fieldset>
</form>

{% endblock %}
