{% extends "registration/user_base.html" %}

{% block title %}{{ _("E-mail change") }}{% endblock %}
{% block breadcrumbs %}
{{ breadcrumb(_("E-mail change")) }}
{{ super() }}
{% endblock %}

{% block content %}

<h1>{{ _("E-mail change") }}</h1>

<p>{{ _("Enter your new e-mail address below.") }}</p>

<form action="{{ url("auth_email_change") }}" method="post">{% csrf_token %}
	<fieldset>
		{% include "includes/form_loop.jinja.html" %}
		<div class="submit-row">
			<div class="positive">
				<button class="btn" type="submit" title="Hľadať"><span>{{ _("Change my e-mail") }}</span></button>
			</div>
		</div>
	</fieldset>
</form>

{% endblock %}
