{% extends "registration/user_base.html" %}

{% block title %}{{ _("E-mail change complete") }}{% endblock %}
{% block breadcrumbs %}
{{ breadcrumb(_("E-mail change complete"))
{{ super() }}
{% endblock %}

{% block content %}

{% if validlink %}

<h1>{{ _("E-mail change complete") }}</h1>

<p>{{ _("Your e-mail has been changed.") }}</p>

<p><a href="{{ request.user.get_absolute_url() }}">{{ _("Back to my profile") }}</a></p>

{% else %}

<h1>{{ _("E-mail change unsuccessful") }}</h1>

<p>{{ _("The e-mail change link was invalid.") }} {{ error_message }}</p>

{% endif %}

{% endblock %}
