{% extends "base.html" %}{% load i18n %}{% load url from future %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block main %}
{% if error_message %}
<p class="message error">{{ error_message }}</p>
{% endif %}

<form action="{% url 'auth_login' %}" method="post" id="login-form">{% csrf_token %}
	<fieldset class="login">
		<h2>{% trans "Log in" %}</h2>
		{% include 'includes/form_loop.html' with form=form %}
		<div class="submit-row">
			<div class="positive">
				<button type="submit" title="{% trans "Log in" %}"><span>{% trans "Log in" %}</span></button>
			</div>
		</div>
		<input type="hidden" name="next" value="{{ next }}" />
	</fieldset>
</form>

{% endblock %}
