{% extends "registration/user_base.html" %}

{% block title %}{{ _("Password change") }}{% endblock %}
{% block breadcrumbs %}
{{ breadcrumb(_("Password change")) }}
{{ super() }}
{% endblock %}

{% block content %}

<h1>{{ _("Password change") }}</h1>

<p>{{ _("Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.") }}</p>

<form action="{{ url("password_change") }}" method="post">{% csrf_token %}
	<fieldset>
		{{ include "includes/form_loop.jinja.html" }}
		<div class="submit-row">
			<div class="positive">
				<button class="btn" type="submit" title="{{ _("Change my password") }}"><span>{{ _("Change my password") }}</span></button>
			</div>
		</div>
	</fieldset>
</form>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>

{% endblock %}
