{% extends "registration/user_base.html" %}

{% block title %}{{ _("Password reset" }}{% endblock %}
{% block breadcrumbs %}
{{ breadcrumb(_("Password reset") }}
{{ super() }}
{% endblock %}

{% block content %}

{% if validlink %}

<h1>{{ _("Enter new password") }}</h1>

<p>{{ _("Please enter your new password twice so we can verify you typed it in correctly.") }}</p>

<form action="" method="post">{% csrf_token %}
	<fieldset>
		{% include "includes/form_loop.jinja.html" %}
		<div class="submit-row">
			<div class="positive">
				<button class="btn" type="submit" title="{{ _("Submit") }}"><span>{{ _("Submit") }}</span></button>
			</div>
		</div>
	</fieldset>
</form>

{% else %}

<h1>{{ _("Password reset unsuccessful") }}</h1>

<p>{{ _("The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.") }}</p>

{% endif %}

{% endblock %}
