{% extends "registration/user_base.html" %}{% load i18n breadcrumbs_tags %}

{% block title %}{% trans 'Password change' %}{% endblock %}
{% block breadcrumbs %}{% breadcrumb %}{% trans 'Password change' %}{% endbreadcrumb %}{{ block.super }}{% endblock %}

{% block content %}

<h1>{% trans 'Password change' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="{% url 'auth_password_change' %}" method="post">{% csrf_token %}
	<fieldset>
		{% include 'includes/form_loop.html' with form=form %}
		<div class="submit-row">
			<div class="positive">
				<button class="btn" type="submit" title="{% trans "Change my password" %}"><span>{% trans "Change my password" %}</span></button>
			</div>
		</div>
	</fieldset>
</form>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>

{% endblock %}
