{% extends "base.html" %}{% load i18n %}{% load url from future %}

{% block title %}{% trans 'Edit user profile' %}{% endblock %}

{% block main %}
<h1>{% trans 'Edit user profile' %}</h1>
<ul class="object-tools">
	<li><a href="{% url 'auth_password_change' %}">{% trans 'Change password' %}</a></li>
</ul>

<form action="{% url 'auth_my_profile_edit' %}" method="post" id="edit-user-profile-form">{% csrf_token %}
	<fieldset>
		{% include 'includes/form_loop.html' with form=form %}
		<div class="submit-row">
			<div class="negative">
				<div class="button flat"><span><a href="{% url 'auth_my_profile' %}">{% trans "Back to profile" %}</a></span></div>
			</div>
			<div class="positive">
				<button type="submit" title="{% trans "Save" %}"><span>{% trans "Save" %}</span></button>
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}
