{% extends "registration/user_base.html" %}

{% block title %}{{ _("Edit user profile") }}{% endblock %}

{% block extraheaders %}
<meta name="robots" content="noindex, nofollow" />
{{ form.media }}
{% endblock %}

{% block breadcrumbs %}
	{{ breadcrumb(_("Edit")) }}
	{{ breadcrumb(firstof(user.get_full_name(), user.username), url="auth_profile", pk=user.pk) }}
	{{ super() }}
{% endblock %}

{% block content %}
<ul class="object-tools btn-group">
	<li class="btn"><span><a href="{{ url("auth_email_change") }}">{{ _("Change e-mail") }}</a></span></li>
	<li class="btn"><span><a href="{{ url("password_change") }}">{{ _("Change password") }}</a></span></li>
</ul>
<h1>{{ _("Edit user profile") }}</h1>

<form action="{{ url("auth_my_profile_edit") }}" method="post" id="edit-user-profile-form">{% csrf_token %}
	<fieldset>
		{% include "includes/form_loop.html" %}
		<div class="submit-row">
			<div class="negative">
				<div class="btn"><span><a href="{{ url("auth_my_profile") }}">{{ _("Back to profile") }}</a></span></div>
			</div>
			<div class="positive">
				<button class="btn" type="submit" title="{{ _("Save") }}"><span>{{ _("Save") }}</span></button>
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}
