{% extends "base.html" %}{% load i18n %}{% load url from future %}

{% block title %}{% trans 'User profile' %}{% endblock %}

{% block main %}

<h1>{% trans 'User profile' %}</h1>
{% if is_my_profile %}
<ul class="object-tools">
	<li><a href="{% url 'auth_my_profile_edit' %}">{% trans 'Edit my profile' %}</a></li>
</ul>
{% endif %}

<table>
	{% for user_property in user_table %}
	<tr class="{% cycle odd even %}">
		<th>{{ user_property.name|capfirst }}:</th>
		<td>{{ user_property.value }}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
