{% if paginated %}
{% load paginator_tags %}
<div class="pagination">
	<ul>
		<li class="prev{% if previous %}{% else %} disabled{% endif %}"><a href="{% if previous %}{% pager_url previous %}{% else %}#{% endif %}">&lt;</a></li>

		{% for page in pages %}
			{% if page %}
			<li class="page {% ifequal current_page page %}active{% endifequal %}"><a href="{% pager_url page %}">{{ page }}</a></li>
			{% else %}
			<li class="disabled"><a href="#">...</a></li>
			{% endif %}
		{% endfor %}
		<li class="next{% if next %}{% else %} disabled{% endif %}"><a href="{% if previous %}{% pager_url next %}{% else %}#{% endif %}">&gt;</a></li>
	</ul>
</div>
{% endif %}
