{% if paginated %}
{% load paginator_tags %}
<div class="paginator">
	<span class="prev">{% if previous %}<a href="{% pager_url previous %}">&lt;</a>{% else %}&lt;{% endif %}</span>

	{% for page in pages %}
		{% if page %}
		<span class="page {% ifequal current_page page %}current{% endifequal %}"><a href="{% pager_url page %}">{{ page }}</a></span>
		{% else %}
		<span class="skip">...</span>
		{% endif %}
	{% endfor %}
	<span class="next">{% if next %}<a href="{% pager_url next %}">&gt;</a>{% else %}&gt;{% endif %}</span>
</div>
{% endif %}
