body {
	background-color: white;
	color: black;
	margin: 0;
	padding: 0;
	min-width: 800px;
	font-family: sans-serif;
}

/* === Nastavenia základných prvkov === */

article a, section a, p a {
	color: #1d5886;
	text-decoration: none;
	border-bottom: 1px solid #c6c8e8;
}

article a:hover, section a:hover, p a:hover {
	color: #0c3875;
	border-bottom: 1px solid #1d5886;
}

header, nav {
	display: block;
}

h1 {
	font-size:2.5em;
	margin: 16px 0px;
}

h2 {
	font-size: 1.5em;
	margin: 16px 0px;
}

h3 {
	font-size: 1.25em;
	margin: 10px 0px;
}

h4 {
	font-size: 1em;
	margin: 5px 0px;
}

h5 {
	font-size: 0.85em;
	margin: 4px 0px;
}

h6 {
	font-size: 0.66em;
	margin: 3px 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1, h2 {
	color: #4c4e5a;
}

h3, h4 {
	color: #5d6370;
}

h5, h6 {
	color: black;
}

/* === Hlavička === */
#linuxos_logo {
	width: 240px;
	height: 80px;
	background: url('images/backgrounds.png') repeat-x 0px 0px;
	display: block;
	text-align: center;
	margin: 0px auto;
	overflow: hidden;
	text-indent: -9999px;
}

.hdrleft {
	width: 32%;
	float: left;
}

.hdrmain {
	width: 68%;
	float: right;
}

.hdrleft, .hdrmain {
	height: 80px;
}

#top_header {
	height: 80px;
	background: url('images/backgrounds.png') repeat-x 0px -142px;
}

/* Breadcrumbs */
#site_breadcrumbs {
	height: 36px;
	bottom: 0px;
	margin-left: -8px;
	padding-left: 5px;
	background: url('images/backgrounds.png') no-repeat -240px 0px;
	margin-top: 44px;
}

#site_breadcrumbs ul {
	padding: 0;
	margin: 0;
	height: 36px;
	background: url('images/backgrounds.png') repeat-x 0px -222px;
}

#site_breadcrumbs li {
	list-style: none;
	display: block;
	float: left;
	height: 31px;
	line-height: 31px;
	margin-top: 5px;
	background: url('images/backgrounds.png') no-repeat right -80px;
	padding-right: 5px;
}

#site_breadcrumbs li:hover {
	background: url('images/backgrounds.png') no-repeat right -111px;
}

#site_breadcrumbs li span {
	display: block;
	padding-left: 25px;
	background: url('images/backgrounds.png') no-repeat left -80px;
	position: relative;
	right: 16px;
	height: 31px;
}

#site_breadcrumbs li span a {
	text-shadow: -1px -1px 0px #cedfeb, 1px 1px 0px #fcfdfe;
	text-decoration: none;
	font-weight: bold;
	color: #2a628d;
	font-size: 0.875em;
	display: block;
	height: 31px;
}

#site_breadcrumbs li:hover span {
	background: url('images/backgrounds.png') no-repeat left -111px;
}

#site_breadcrumbs li.home {
	width: 68px;
	border-left: 1px solid #c5dcec;
}

#site_breadcrumbs li.home span {
	background: none;
}

#site_breadcrumbs li.home span a {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	background: url('images/backgrounds.png') no-repeat -248px 0px;
}

/* === Layout === */
.colmask {
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	overflow: hidden;
}

.colinner {
	float: left;
	width: 100%;
	position: relative;
	right: 68%;
}

.colmain, .colleft {
	float: left;
	position: relative;
	overflow: hidden;
}

.colmain {
	width: 68%;
	left: 100%;
}

.colleft {
	width: 32%;
}

/*

p {

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}


img {
	margin: 0;
	padding: 0;
	border: none;
}

header {
	clear: both;
	float: left;
	width: 100%;
	height: 80px;
	overflow: visible;
}

#top {
	position: absolute;
	height: 84px;
	background: url('images/backgrounds.png') repeat-x left -51px;
	width: 100%;
	z-index: 1;
}

#top_logo {
	margin-top: 1px;
	height: 51px;
}

#top_logo a {
	text-decoration: none;
	width: 184px;
	height: 51px;
	display: block;
	background: url('images/backgrounds.png') no-repeat left 0px;
}

#top .breadcrumb {
	height: 29px;
	width: 300px;
	margin: 0px;
	padding: 0px;
}


#top .breadcrumb li {
	height: 29px; line-height: 29px;
	list-style: none; display: block;
	float: left; position: relative;
	padding: 0px 10px 0px 10px;
	margin: 0px 25px 0px 0px;
	background: url('images/backgrounds.png') repeat-x left -136px;
	color: #eeeeee; font-size: 1.1em;
	text-shadow: #000000 0px 1px 0px;
	font-weight: bold;
}

#top .breadcrumb li a {
	text-decoration: none;
	color: white;
	font-weight: normal;
}

#top .breadcrumb li:after {
	width: 20px; height: 29px; right: -19px; top: 0px;
	display: block; position: absolute; content: "";
	background: url('images/backgrounds.png') repeat-x left -194px;
}

#top .breadcrumb li:before {
	width: 20px; height: 29px; left: -20px; top: 0px;
	display: block; position: absolute; content: "";
	background: url('images/backgrounds.png') repeat-x right -194px;
}

#top .breadcrumb li:hover {
	background: url('images/backgrounds.png') repeat-x left -165px;
}

#top .breadcrumb li:hover:after {
	background: url('images/backgrounds.png') repeat-x left -223px;
}

#top .breadcrumb li:hover:before {
	background: url('images/backgrounds.png') repeat-x right -223px;
}

#colmask {
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	overflow: hidden;
	background: #e4e5e9;
}

#colinner {
	float: left;
	width: 100%;
	position: relative;
}

#colmain, #left {
	float: left;
	position: relative;
	overflow: hidden;
}

#colinner {
	right: 70%;
	background: #cfd0d4;
	border-right: solid 1px #c5c6ca;
}

#colmain {
	width: 70%;
	left: 100%;
}

#main {
}

#left {
	width: 30%;
}

#left aside, #main {
	padding: 4px 20px;
}

aside h2 {
	font-weight: normal;
	text-shadow: #ffffff 0px 1px 0px;
	border-bottom: solid 1px #d8d9dc;
	padding-left: 5px;
	margin-left: -5px; margin-right: -5px;
	margin-bottom: 5px;
}

aside h2:after {
	content: '';
	display: block;
	border-bottom: solid 1px #a5a6a9;
	margin-top: 5px;
	margin-left: -5px;
}

aside p {
	text-align: justify;
}

footer {
	clear: both;
	float: left;
	width: 100%;
	border-top: 1px solid #000;
}

.comment_thread {
	list-style: none;
	padding: 0px;
}

.comments {
	border-top: 2px solid #b8c0d0;
}

.comment {
	border-bottom: 1px solid #b8c0d0;
}

.comment .comment {
	background: white;
	margin-left: 20px;
	border-top: 1px solid #b8c0d0;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

.comment .reply {
	position: relative;
}

.comment .reply a {
	text-align: right;
	display: block;
}
*/
