body {
	background-color: white;
	color: black;
	margin: 0;
	padding: 0;
	min-width: 600px;
	font-family: sans-serif;
}

h1 {
	font-size: 2.0em;
	margin: 16px 0px;
}

h2 {
	font-size: 1.5em;
	margin: 16px 0px;
}

h3 {
	font-size: 1.2em;
	margin: 10px 0px;
}

h4 {
	font-size: 1em;
	margin: 5px 0px;
}

h5 {
	font-size: 0.85em;
	margin: 4px 0px;
}

h6 {
	font-size: 0.66em;
	margin: 3px 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1, h2 {
	color: #4c4e5a;
}

h3, h4 {
	color: #5d6370;
}

h5, h6 {
	color: black;
}

p {

}

img {
	margin: 0;
	padding: 0;
	border: none;
}

#top_container {
	clear: both;
	float: left;
	width: 100%;
	height: 80px;
	overflow: visible;
	/*background: #626a7c;*/
}

#top {
	position: absolute;
	height: 84px;
	background: url('images/backgrounds.png') repeat-x left -51px;
	width: 100%;
	z-index: 1;
}

#top_logo {
	margin-top: 1px;
	height: 51px;
}

#top_logo a {
	text-decoration: none;
	width: 184px;
	height: 51px;
	display: block;
	background: url('images/backgrounds.png') no-repeat left 0px;
}

#top_breadcrumb {
	height: 29px;
	width: 300px;
	margin: 0px;
	padding: 0px;
}


#top_breadcrumb li {
	height: 29px; line-height: 29px;
	list-style: none; display: block;
	float: left; position: relative;
	padding: 0px 10px 0px 10px;
	margin: 0px 25px 0px 0px;
	background: url('images/backgrounds.png') repeat-x left -136px;
	color: #eeeeee; font-size: 1.1em;
	text-shadow: #000000 0px 1px 0px;
	font-weight: bold;
}

#top_breadcrumb li a {
	text-decoration: none;
	color: white;
	font-weight: normal;
}

#top_breadcrumb li:after {
	width: 20px; height: 29px; right: -19px; top: 0px;
	display: block; position: absolute; content: "";
	background: url('images/backgrounds.png') repeat-x left -194px;
}

#top_breadcrumb li:before {
	width: 20px; height: 29px; left: -20px; top: 0px;
	display: block; position: absolute; content: "";
	background: url('images/backgrounds.png') repeat-x right -194px;
}

#top_breadcrumb li:hover {
	background: url('images/backgrounds.png') repeat-x left -165px;
}

#top_breadcrumb li:hover:after {
	background: url('images/backgrounds.png') repeat-x left -223px;
}

#top_breadcrumb li:hover:before {
	background: url('images/backgrounds.png') repeat-x right -223px;
}

#colmask {
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	overflow: hidden;
	background: #e4e5e9;
}

#colinner {
	float: left;
	width: 100%;
	position: relative;
}

#colmain, #colleft {
	float: left;
	position: relative;
	overflow: hidden;
}

#colinner {
	right: 70%;
	background: #cfd0d4;
	border-right: solid 1px #c5c6ca;
}

#colmain {
	width: 70%;
	left: 100%;
}

#main {
}

#colleft {
	width: 30%;
}

#left, #main {
	padding: 4px 20px;
}

#left h2 {
	font-weight: normal;
	text-shadow: #ffffff 0px 1px 0px;
	border-bottom: solid 1px #d8d9dc;
	padding-left: 5px;
	margin-left: -5px; margin-right: -5px;
	margin-bottom: 5px;
}

#left h2:after {
	content: '';
	display: block;
	border-bottom: solid 1px #a5a6a9;
	margin-top: 5px;
	margin-left: -5px;
}

#left p {
	text-align: justify;
}

#footer {
	clear: both;
	float: left;
	width: 100%;
	border-top: 1px solid #000;
}

.comment_thread {
	list-style: none;
	padding: 0px;
}

.comments {
	border-top: 2px solid #b8c0d0;
}

.comment {
	border-bottom: 1px solid #b8c0d0;
}

.comment .comment {
	background: white;
	margin-left: 20px;
	border-top: 1px solid #b8c0d0;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

.comment .reply {
	position: relative;
}

.comment .reply a {
	text-align: right;
	display: block;
}

