<table class="table table-striped table-condensed table-topics">
	{% if caption %}
		<thead>
			<tr>
				<th class="title">{{ caption }}</th>
				<th class="status">Typ</th>
				<th class="comments">Reakcií</th>
				<th class="date">Posledná</th>
			</tr>
		</thead>
	{% endif %}
	<tbody>
		{% for topic in topic_list %}
			<tr>
				<td class="title"><a href="{{ topic.get_absolute_url() }}">{{ topic.title }}</a></td>
				<td class="status">
					<span class="label info">
						{% if topic._meta.proxy_for_model %}
							{{ topic._meta.proxy_for_model._meta.verbose_name|capfirst }}
						{% else %}
							{{ topic._meta.verbose_name|capfirst }}
						{% endif %}
					</span>
				</td>
				<td class="comments"><a href="{{ topic.get_absolute_url() }}#comments"><span class="badge {{ topic.new_comments|yesno("new,watch,default") }}">{{ topic.comment_count }}</span></a></td>
				<td class="date">{{ topic.last_comment|humandatetime("Žiadna reakcia") }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
