
 <!-- Schema.org markup for Google+ -->
<meta itemscope="itemscope" itemtype="http://schema.org/Article" />
{% if name %}<meta itemprop="headline" content="{{ name }}" />{% endif %}
{% if name %}<meta itemprop="name" content="{{ name }}" />{% endif %}
{% if description %}<meta itemprop="description" content="{{ description }}" />{% endif %}
{% if image %}<meta itemprop="image" content="{{ get_base_uri() }}{{ image }}" />{% else %}<meta itemprop="image" content="{{ get_base_uri() }}{{ static("images/share_placeholder.png") }}" />{% endif %}

<!-- Twitter Card data -->
<meta name="twitter:card" content="{% if image %}summary_large_image{% else %}summary{% endif %}" />
{% if name %}<meta name="twitter:title" content="{{ name|truncatechars(70) }}" />{% endif %}
{% if description %}<meta name="twitter:description" content="{{ description|truncatechars(200) }}" />{% endif %}
{% if image %}<meta name="twitter:image:src" content="{{ get_base_uri() }}{{ image }}" />{% endif %}
<!--
<meta name="twitter:site" content="@publisher_handle" />
<meta name="twitter:creator" content="@author_handle" />
-->

<!-- Open Graph data -->
{% if name %}<meta property="og:title" content="{{ name }}" />{% endif %}
{% if is_article %}<meta property="og:type" content="article" />{% endif %}
{% if is_website %}<meta property="og:type" content="website" />{% endif %}
<meta property="og:url" content="{{ get_base_uri() }}{{ request.path }}" />
{% if image %}
	<meta property="og:image" content="{{ get_base_uri() }}{{ image }}" />
{% endif %}
{% if object %}
	<meta property="og:image" content="{{ get_base_uri() }}{{ share_image(object, "opengraph") }}" />
{% endif %}
{% if not image and not object %}
	<meta property="og:image" content="{{ get_base_uri() }}{{ static("images/share_placeholder.png") }}" />
{% endif %}
{% if description %}<meta property="og:description" content="{{ description }}" />{% endif %}

{% if created %}<meta property="article:published_time" content="{{ created|localtime|date("c") }}" />{% endif %}
{% if updated %}<meta property="article:modified_time" content="{{ updated|localtime|date("c") }}" />{% endif %}
{% if category %}<meta property="article:section" content="{{ category }}" />{% endif %}
<meta property="fb:app_id" content="1442727632541333" />
<!--
<meta property="fb:admins" content="Facebook numberic ID" />
-->
