<div class="module sidebar">
	<h2>Informácie</h2>
	<div class="module-row">
		<div class="info top">Autor: <a href="{{ blog.author.get_absolute_url() }}">{{ blog.author }}</a></div>
		{% if blog.author == user %}
			<hr />
			<ul>
				{% if post and blog.slug and post.slug %}
					<li><a href="{{ url("blog:post-update", blog.slug, post.slug) }}">Upraviť zápis</a></li>
					<li><a href="{{ url("blog:post-attachments-update", blog.slug, post.slug) }}">Spravovať prílohy</a></li>
				{% endif %}
				<li><a href="{{ url("blog:post-create") }}">Pridať zápis</a></li>
				<li><a href="{{ url("blog:blog-update") }}">Upraviť informácie</a></li>
			</ul>
		{% endif %}
		<hr />
		{{ blog.sidebar|safe }}
	</div>
	{% with desktop=blog.author.last_desktop %}
		<div class="module-row">
			{% if desktop %}
				<div class="desktop item">
					<a href="{{ desktop.get_absolute_url() }}" class="img-link">
						<img src="{{ desktop.image_standard.url }}" alt="{{ desktop }}" />
					</a>
				</div>
			{% endif %}
		</div>
	{% endwith %}
</div>
