@font-face {
	font-family: 'FixedsysExcelsiorIIIb';
	font-weight: 400;
	font-style: normal;
	src: url('/static/386/fonts/FSEX300.eot');
	src: local('FixedsysExcelsiorIIIb'), local('FixedsysExcelsiorIIIb'), local('Fixedsys Excelsior 3.01'),
		url('/static/386/fonts/FSEX300.eot?#iefix') format('embedded-opentype'),
		url('/static/386/fonts/FSEX300.woff2') format('woff2'),
		url('/static/386/fonts/FSEX300.woff') format('woff'),
		url('/static/386/fonts/FSEX300.ttf') format('truetype'),
		url('/static/386/fonts/FSEX300.svg?#Regular') format('svg');
}

