<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="sk" xml:lang="sk">
<head>
	<title>{% block head_title %}LinuxOS.sk{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	{% if style_options.colorscheme == 'blue' %}
		{% include "template_overrides/new/css.compress_blue.html" %}
	{% elif style_options.colorscheme == 'black' %}
	{% else %}
		{% include "template_overrides/new/css.compress.html" %}
	{% endif %}
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="canonical" href="{{ get_base_uri() }}{{ request.path }}" />
	<meta property="og:site_name" content="LinuxOS.sk" />
	{{ render_all_feeds(template="feeds/header_feeds.html") }}
	{% include "includes/common_headers.html" %}
	{% include "partials/microformats_header.html" %}
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{% block extrastyle %}{% endblock %}{% block extraheaders %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
	{# include 'includes/analytics.html' #}

	{% block messages %}
		{{ render_messages(messages) }}
	{% endblock %}

	<div class="holygrail colmask sitelayout">
		<div class="colright">
			<div class="col1wrap">
				<div class="col1">
					<div id="site_top">
						<header>
							<h1>{% block site_title %}{% endblock %}</h1>
						</header>
					</div>
					<div id="site_content">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
			<div class="col2">
				<div id="site_header">
					<a class="logo no-text-left" title="LinuxOS.sk - Slovenský linuxový portál" href="{{ url("home") }}"><span class="sprite">LinuxOS.sk - Slovenský linuxový portál</span></a>
				</div>
				<div class="touchhover-emul">
					<aside>
						<a id="menu-toggle" href="#">Menu</a>
						<div class="sidebar sprite-after top-inner-shadow">
							<div class="block first margin-container">
								<h2 id="title_menu" class="title">Menu</h2>
								<ul id="main_menu">
									{% block site_menu %}{% include "partials/site_menu.html" %}{% endblock %}
								</ul>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>

	<div id="out">
	</div>

	{% block discussion %}{% endblock %}

	<!--[if lt IE 7]>
	<script src="{{ static("js/fixiepng.js") }}"></script>
	<![endif]-->
	{% include "template_overrides/new/js.compress.html" %}
</body>
