{% extends "base.html" %}

{% block head_title %}LinuxOS.sk - slovenský linuxový portál{% endblock %}
{% block site_title %}Slovenský linuxový portál{% endblock %}

{% block extraheaders %}
{{ super() }}
<meta name="description" lang="sk" content="Slovenský linuxový portál: linux, open source, BSD, komunita, fórum, pomoc nováčikom." />
{% endblock %}

{% block bodyclass %}home blocks{% endblock %}

{% block content %}
{{ add_hitcount(articles, top_articles) }}
{{ add_discussion_attributes(articles, top_articles) }}

<div class="module article">
	<div class="margin-container">
		<h2>Články</h2>
		{% for top_article in top_articles %}
			<div class="article top">
				{% with article=top_article, thumbnail=1 %}
					{% include "article/block_list_item.html" %}
				{% endwith %}
			</div>
		{% endfor %}
		{% for top_post in top_posts %}
			{% with content_indicator=1, post=top_post %}
				{% include "blog/partials/item.html" %}
			{% endwith %}
		{% endfor %}
		{% for article in articles %}
			{% with thumbnail=0 %}
				{% include "article/block_list_item.html" %}
			{% endwith %}
		{% endfor %}
		<div class="module-links bottom">
			{% for category in article_categories %}
				<a href="{{ category.get_absolute_url() }}">{{ category }}</a>
				|
			{% endfor %}
			<span class="next"><a href="{{ url("article:list") }}">Ďalšie</a></span>
		</div>
	</div>
</div>

{% endblock %}
