<div class="module tabular">
	<div class="module-row">
		<table class="table table-striped table-condensed table-topics">
			<tr>
				<th class="title">Názov</th>
				<th>Stav</th>
				<th>Reakcií</th>
				<th>Posledná</th>
			</tr>
			{% for object in object_list %}
				<tr>
					{% if object == None %}
						<td class="title">Zmazané</td>
						<td class="status"></td>
						<td class="comments"></td>
						<td class="date"></td>
					{% else %}
						<td class="title"><a href="{{ object.get_absolute_url() }}">{{ object.title }}</a></td>
						<td class="status">
							{% if object.new_comments %}&nbsp;<span class="label success new">Nové komentáre</span>{% endif %}
							{% if object.is_resolved %}&nbsp;<span class="label success resolved">Vyriešené</span>{% endif %}
							{% if object.is_locked %}&nbsp;<span class="label warning locked">Zamknuté</span>{% endif %}
							{% if object.discussion_watch %}
								<form action="{{ url("comments:watch", object.rootheader_id) }}" method="post">{% csrf_token %}
									<button class="watch active" name="watch" value="" title="Nesledovať">Nesledovať</button>
								</form>
							{% endif %}
						</td>
						{% if object.new_comments == None %}
							<td class="comments"><span class="badge default">{{ object.comment_count }}</span></td>
						{% else %}
							<td class="comments"><a href="{{ url("comments:forget", object.rootheader_id) }}?watch=&amp;next={{ request.get_full_path()|urlquote }}" title="Zabudnúť na diskusiu" class="badge {{ object.new_comments|yesno("new,watch") }}">{{ object.comment_count }}</a></td>
						{% endif %}
						<td class="date">{{ object.last_comment|humandatetime("Žiadna reakcia") }}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>

		{% if page_obj %}
			{{ pagination() }}
		{% endif %}
	</div>
</div>
