<ul class="content-tabs">
	{% with view_name=request.resolver_match.view_name %}
		{% with user_profile=user_profile or object or user %}
			<li{% if view_name in ("accounts:profile", "accounts:my_profile") %} class="active"{% endif %}><span><a href="{{ url("accounts:profile", user_profile.pk) }}">Základné informácie</a></span></li>
			<li{% if view_name in ("accounts:user_posts", "accounts:user_posts_article", "accounts:user_posts_blogpost", "accounts:user_posts_forumtopic", "accounts:user_posts_news", "accounts:user_posts_commented", "accounts:user_posts_wikipage") %} class="active"{% endif %}><span><a href="{{ url("accounts:user_posts", pk=user_profile.pk) }}">Zoznam príspevkov</a></span></li>
			{% if user_profile.geoposition %}
				<li{% if view_name in ("accounts:user_map",) %} class="active"{% endif %}><span><a href="{{ url("accounts:user_map", user_profile.pk) }}">Mapa</a></span></li>
			{% endif %}
			{% if user_profile.pk == request.user.pk %}
				<li{% if view_name in ("accounts:my_watched",) %} class="active"{% endif %}><span><a href="{{ url("accounts:my_watched", page=1) }}">Sledované diskusie</a></span></li>
				<li{% if view_name in ("accounts:my_viewed",) %} class="active"{% endif %}><span><a href="{{ url("accounts:my_viewed", page=1) }}">Navštívené diskusie</a></span></li>
				<li{% if view_name in ("accounts:my_profile_edit", "account_email", "account_change_password", "accounts:my_profile_avatar_edit") %} class="active"{% endif %}><span><a href="{{ url("accounts:my_profile_edit") }}">Upraviť profil</a></span></li>
			{% endif %}
		{% endwith %}
	{% endwith %}
</ul>
