$richedit-switch-padding: 8px !default;
$richedit-chrome-border: 1px solid #b6b6b6 !default;
$richedit-chrome-shadow: rgba(255,255,255,.1) !default;
$richedit-inner-background: #ffffff !default;
$richedit-top-border: 1px solid #0d0d0d !default;
$richedit-top-border-bottom: false !default;
$richedit-top-background-u: #333 !default;
$richedit-top-background-d: #1f1f1f !default;
$richedit-top-box-shadow: 0 1px 0 rgba(255,255,255,.15) inset !default;
$richedit-bottom-background-u: #ebebeb !default;
$richedit-bottom-background-d: #cfd1cf !default;
$richedit-toolgroup-border: 1px solid #070707 !default;
$richedit-toolgroup-border-bottom: 1px solid #060606 !default;
$richedit-toolgroup-backkground: #404040 !default;
$richedit-toolgroup-backkground-u: #595959 !default;
$richedit-toolgroup-backkground-d: #404040 !default;
$richedit-toolgroup-box-shadow: 0 1px 0 rgba(255,255,255,.1),0 0 2px rgba(255,255,255,.15) inset,0 1px 0 rgba(255,255,255,.15) inset !default;
$richedit-buttonon-backkground: #4c4c4c !default;
$richedit-buttonon-backkground-u: #262626 !default;
$richedit-buttonon-backkground-d: #1a1a1a !default;
$richedit-buttonon-box-shadow: 0 0 8px rgba(0,0,0,.75) inset !default;
$richedit-buttonon-box-shadow-hover: 0 1px 6px rgba(0,0,0,.7) inset,0 1px 0 rgba(0,0,0,.2);
$richedit-buttondis-backkground: #4c4c4c !default;
$richedit-buttondis-backkground-u: #666 !default;
$richedit-buttondis-backkground-d: #4c4c4c !default;
$richedit-buttondis-box-shadow: 0 0 2px rgba(255,255,255,.15) inset,0 1px 0 rgba(255,255,255,.15) inset !default;
$richedit-label-color: #e5e5e5 !default;
$richedit-label-shadow: 0 1px 0 #000 !default;
$richedit-separator-color: #272727 !default;
$richedit-separator-color2: rgba(0,0,0,.5) !default;
$richedit-separator-shadow: rgba(255,255,255,.1) !default;

$richedit-icons: '../images/editor_icons_moono_dark.png';
$richedit-icons-2x: '../images/editor_icons_moono_dark@2x.png';

@import "editor";
