{% if formats %}
	<div class="formatwrapper">
		{% for format in formats %}
			<label class="format">
				<input type="radio" name="{{ name }}_format" value="{{ format.format }}"{% if format.checked %} checked="checked"{% endif %} />
				{{ format.label }}
			</label>
		{% endfor %}
	</div>
{% endif %}

<div id="id_textareawrapper_{{ name }}" class="textareawrapper">
	{{ widget|safe }}
</div>

<script type="text/javascript" charset="utf-8">
//<![CDATA[

var settings = {
	lang: '{{ lang }}',
	{% if tags %}tags: {{ tags|safe }},{% endif %}
};
var editor = new _utils.RichEditor(document.getElementById("id_textareawrapper_{{ name }}").getElementsByTagName('TEXTAREA')[0], settings);

//]]>
</script>

<!--
<div id="id_textareawrapper_{{ name }}" class="textareawrapper">
	{{ widget|safe }}
</div>
<script type="text/javascript" charset="utf-8">
//<![CDATA[


{% if formats|length > 1 %}
var switchFormat = function() {
	if ($("input[name='{{ name }}_format'][value='raw']").is(":checked")) {
		window.rich_editors['{{ name }}'].loadFunctions['raw']();
		$("#id_textareawrapper_{{ name }} .settings").hide();
	}
	else {
		var default_editor = 'wymeditor';
		var editor = cookiemanager.getCookie('last_editor');
		var loadFunctions = window.rich_editors['{{ name }}'].loadFunctions;
		if (loadFunctions[editor] != undefined) {
			loadFunctions[editor]();
		}
		else {
			loadFunctions[default_editor]();
		}
		$("#id_textareawrapper_{{ name }} .settings").show();
	}
}
$("input[name='{{ name }}_format']").on("change", switchFormat);
var onLoad = switchFormat;
{% else %}
var onLoad = function() {};
{% endif %}

	initialize_rich_editor(
		'{{ name }}',
		{
			lang: '{{ lang }}',
			{% if tags %}tags: {{ tags|safe }},{% endif %}
			{% if force_editor %}force_editor: '{{ force_editor }}',{% endif %}
			iframe_preview: '{{ static("js/wymeditor/iframe/default/wymiframe.html") }}',
			script_wymeditor: '{{ static("js/wymeditor/jquery.wymeditor.min.js") }}',
			static_base: '{{ static("") }}',
			skin: '{{ skin }}',
			onLoad: onLoad
		}
	);
//]]>
</script>
-->
