{% if formats %}
	<div class="formatwrapper">
		{% for format in formats %}
			<label class="format">
				<input type="radio" name="{{ name }}_format" value="{{ format.format }}"{% if format.checked %} checked="checked"{% endif %} />
				{{ format.label }}
			</label>
		{% endfor %}
	</div>
{% endif %}

<div id="id_textareawrapper_{{ name }}" class="textareawrapper">
	{{ widget|safe }}
</div>

<script type="text/javascript">
//<![CDATA[

window.rich_editors = window.rich_editors || [];
window.rich_editors.push({
	lang: '{{ lang }}',
	{% if tags %}tags: {{ tags|safe }},{% endif %}
	{% if force_editor %}force_editor: '{{ force_editor }}',{% endif %}
	static_base: '{{ static("") }}',
	skin: '{{ skin }}',
	element: document.getElementById("id_textareawrapper_{{ name }}").getElementsByTagName('TEXTAREA')[0]
});

//var editor = new _utils.RichEditor(document.getElementById("id_textareawrapper_{{ name }}").getElementsByTagName('TEXTAREA')[0], settings);

//]]>
</script>
