{% load staticfiles %}
{% for format in formats %}
	<label>
		<input type="radio" name="{{ format.name }}_format" value="{{ format.format }}"{% if format.checked %} checked="checked"{% endif %}/ >
		{{ format.label }}
	</label>
{% endfor %}
<div class="textareawrapper">{{ widget|safe }}</div>
<script type="text/javascript" charset="utf-8">
//<![CDATA[
	initialize_html_editor(
		'{{ name }}',
		{
			lang: '{{ lang }}',
			tags: {{ tags|safe }},
			iframe_preview: '{% static 'js/wymeditor/iframe/default/wymiframe.html' %}',
			script_wymeditor: '{% static 'js/wymeditor/jquery.wymeditor.min.js' %}',
			static_base: '{%static '' %}'
		}
	);
//]]>
</script>
