a {
	text-decoration: none;
	outline: 0;
}

img {
	border: none;
}

.holygrail.sitelayout {
	.col1 {
		background: $body-color;
		color: $text-color;
	}

	.col2 {
		border-top: 1px solid lighten($sidebar-background, 15%);
		color: $sidebar-color;
		a {
			color: $sidebar-color;
		}
	}

	.colleft, .col2 {
		background: $sidebar-background;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQIHWNgUAMAACkAJ4Zom5gAAAAASUVORK5CYII=');
		background-position: top right;
		background-repeat: repeat-y;
	}
}

#site_header {
	@include sprite-generated-repeatx(header_bg);
	background-color: $header-color;
	border-top: 1px solid lighten($header-color, 40%);
	border-bottom: 1px solid darken($header-color, 25%);

}

.logo {
	.sprite {
		margin-left: 10px;
		margin-top: 6px;
		@include sprite-generated(logo);
	}
}

aside {
	#menu-toggle {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 90%;
	}

	.sidebar {
		clear: both;
		background: $sidebar-background;
		border-right: 1px solid darken($sidebar-background, 5%);
	}
}
