html, body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background: $body-color;
	color: $text-color;
}

.margin-container {
	padding: $base-margin 0 0 0;
}

.margin-content {
	margin: 0 $base-margin $base-margin $base-margin;
}

.holygrail.sitelayout {
	@include holygrail-leftmenu-percent(33%);
}

@media #{$netbook-down} {
	.margin-container {
		padding: $base-margin-reduced 0 0 0;
	}

	.margin-content {
		margin: 0 $base-margin-reduced $base-margin-reduced $base-margin-reduced;
	}
}

@media #{$small-down} {
	.col2 #menu-toggle {
		display: block;
		float: right;
		line-height: $header-height;
		padding: 0 $base-margin-reduced 1px $base-margin-reduced;
	}

	.holygrail.sitelayout.body {
		.colleft {
			right: auto;
		}

		.col1 {
			width: 100%;
			float: none;
			position: static;
		}

		.col2 {
			width: auto;
			position: absolute;
			top: -$header-height - 2px;
			left: 0;
			right: 0;
			z-index: 1;
			background: none;
		}

		.colleft, .col2 {
			background-image: none;
		}
	}

	aside .sidebar {
		margin-right: 0;
	}

	.sidebar {
		display: none;
	}

	&:hover .sidebar {
		display: block;
	}
}

#menu-toggle {
	display: none;
}

#site_header {
	.logo {
		display: block;
		float: left;
	}
}
