$sprites: (
_w: 800px,
_size: 800px 880px,
_url: url(/static/old/images/backgrounds.png),
_h: 880px,
logo: (w: 240px, h: 80px, x: 0px, y: 0px, size: 240px 80px, offset: -0px -0px),
avatar_placeholder: (w: 56px, h: 56px, x: 241px, y: 0px, size: 56px 56px, offset: -241px -0px),
breadcrumb_bg: (w: 8px, h: 36px, x: 298px, y: 0px, size: 8px 36px, offset: -298px -0px),
breadcrumb_bg_reverse: (w: 8px, h: 36px, x: 307px, y: 0px, size: 8px 36px, offset: -307px -0px),
breadcrumb_home: (w: 18px, h: 18px, x: 316px, y: 0px, size: 18px 18px, offset: -316px -0px),
dropdown_icon_14: (w: 9px, h: 14px, x: 335px, y: 0px, size: 9px 14px, offset: -335px -0px),
profile_icon_14: (w: 9px, h: 14px, x: 345px, y: 0px, size: 9px 14px, offset: -345px -0px),
search_icon: (w: 32px, h: 38px, x: 0px, y: 81px, size: 32px 38px, offset: -0px -81px),
rss_icon: (w: 32px, h: 38px, x: 33px, y: 81px, size: 32px 38px, offset: -33px -81px),
trashcan: (w: 16px, h: 16px, x: 316px, y: 19px, size: 16px 16px, offset: -316px -19px),
corner_arrow_up: (w: 13px, h: 7px, x: 355px, y: 0px, size: 13px 7px, offset: -355px -0px),
locked_icon: (w: 16px, h: 16px, x: 333px, y: 19px, size: 16px 16px, offset: -333px -19px),
new_icon: (w: 16px, h: 16px, x: 350px, y: 19px, size: 16px 16px, offset: -350px -19px),
tick_icon: (w: 16px, h: 16px, x: 367px, y: 19px, size: 16px 16px, offset: -367px -19px),
watch_icon: (w: 16px, h: 16px, x: 384px, y: 19px, size: 16px 16px, offset: -384px -19px),
comment_icon_14: (w: 16px, h: 15px, x: 401px, y: 19px, size: 16px 15px, offset: -401px -19px),
watch_icon_14: (w: 16px, h: 15px, x: 418px, y: 19px, size: 16px 15px, offset: -418px -19px),
tick_icon_14: (w: 16px, h: 15px, x: 435px, y: 19px, size: 16px 15px, offset: -435px -19px),
lock_icon_14: (w: 16px, h: 15px, x: 452px, y: 19px, size: 16px 15px, offset: -452px -19px),
up_icon_14: (w: 16px, h: 15px, x: 469px, y: 19px, size: 16px 15px, offset: -469px -19px),
down_icon_14: (w: 16px, h: 15px, x: 486px, y: 19px, size: 16px 15px, offset: -486px -19px),
delete_icon_14: (w: 16px, h: 15px, x: 503px, y: 19px, size: 16px 15px, offset: -503px -19px),
settings_icon_14: (w: 16px, h: 15px, x: 520px, y: 19px, size: 16px 15px, offset: -520px -19px),
header_bg: (w: 1px, h: 80px, x: 0px, y: 800px, size: 1px 80px, offset: -0px -800px),
user_rating_0: (w: 20px, h: 36px, x: 66px, y: 81px, size: 20px 36px, offset: -66px -81px),
user_rating_1: (w: 20px, h: 36px, x: 87px, y: 81px, size: 20px 36px, offset: -87px -81px),
user_rating_2: (w: 20px, h: 36px, x: 108px, y: 81px, size: 20px 36px, offset: -108px -81px),
user_rating_3: (w: 20px, h: 36px, x: 129px, y: 81px, size: 20px 36px, offset: -129px -81px),
user_rating_4: (w: 20px, h: 36px, x: 150px, y: 81px, size: 20px 36px, offset: -150px -81px),
user_rating_5: (w: 20px, h: 36px, x: 171px, y: 81px, size: 20px 36px, offset: -171px -81px),
user_rating_admin: (w: 20px, h: 36px, x: 192px, y: 81px, size: 20px 36px, offset: -192px -81px),
btn_std: (w: 800px, h: 38px, x: 0px, y: 120px, size: 800px 38px, offset: -0px -120px),
btn_std_hover: (w: 800px, h: 38px, x: 0px, y: 159px, size: 800px 38px, offset: -0px -159px),
btn_act: (w: 800px, h: 38px, x: 0px, y: 198px, size: 800px 38px, offset: -0px -198px),
btn_act_hover: (w: 800px, h: 38px, x: 0px, y: 237px, size: 800px 38px, offset: -0px -237px),
btn_content_std: (w: 800px, h: 32px, x: 0px, y: 276px, size: 800px 32px, offset: -0px -276px),
btn_content_std_hover: (w: 800px, h: 32px, x: 0px, y: 309px, size: 800px 32px, offset: -0px -309px),
btn_content_act: (w: 800px, h: 32px, x: 0px, y: 342px, size: 800px 32px, offset: -0px -342px),
btn_content_act_hover: (w: 800px, h: 32px, x: 0px, y: 375px, size: 800px 32px, offset: -0px -375px),
breadcrumb_panel_bg: (w: 1px, h: 36px, x: 0px, y: 763px, size: 1px 36px, offset: -0px -763px),
breadcrumb_std: (w: 800px, h: 31px, x: 0px, y: 408px, size: 800px 31px, offset: -0px -408px),
breadcrumb_act: (w: 800px, h: 31px, x: 0px, y: 440px, size: 800px 31px, offset: -0px -440px),
tabs_std: (w: 800px, h: 33px, x: 0px, y: 472px, size: 800px 33px, offset: -0px -472px),
tabs_act: (w: 800px, h: 33px, x: 0px, y: 506px, size: 800px 33px, offset: -0px -506px),
block_header_bg: (w: 1px, h: 37px, x: 0px, y: 725px, size: 1px 37px, offset: -0px -725px),
submit_row_bg: (w: 1px, h: 41px, x: 0px, y: 683px, size: 1px 41px, offset: -0px -683px),
input_bg: (w: 1px, h: 48px, x: 0px, y: 634px, size: 1px 48px, offset: -0px -634px),
progress: (w: 1px, h: 14px, x: 0px, y: 619px, size: 1px 14px, offset: -0px -619px),
progress_bar: (w: 1px, h: 14px, x: 0px, y: 604px, size: 1px 14px, offset: -0px -604px)
);