{% extends "admin/base.html" %}
{% load i18n %}

{% load admin_static %}
{% load staticfiles %}

{% block extrastyle %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/suit_extra.css' %}" media="all" />
	<script src="{% static "js/utils.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block title %}{{ title }} | Shakal CMS{% endblock %}

{% block branding %}
<h1 id="site-name">Shakal CMS</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
