html, body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background: $body-color-background;
	color: $text-color;
}

p {
	line-height: $paragraph-line-height;
	margin: 0 0 $paragraph-margin-bottom 0;
}

#header {
	background: #6b8fc7 url(static('new/images/header_shadow.png')) repeat-x;
}
