html, body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background: $body-color-background;
	color: $text-color;
	line-height: $paragraph-line-height;
}

h1, h2, h2, h3, h4, h5, h6 {
	font-weight: $header-font-weight;
	font-style: $header-font-style;
	color: $header-font-color;
	margin-top: $header-top-margin;
	margin-bottom: $header-bottom-margin;
	line-height: $header-line-height;
	padding: 0;
}

hr { background: #eee; display: block; height: 1px; border: none; }

h1 { font-weight: 300; }

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

@media #{$medium-down} {
	h1 { font-size: $h1-font-size - $h1-font-reduction; }
	h2 { font-size: $h2-font-size - $h2-font-reduction; }
	h3 { font-size: $h3-font-size - $h3-font-reduction; }
	h4 { font-size: $h4-font-size - $h4-font-reduction; }
	h5 { font-size: $h5-font-size - $h5-font-reduction; }
	h6 { font-size: $h6-font-size - $h6-font-reduction; }
}

p {
	line-height: $paragraph-line-height;
	margin: 0 0 $paragraph-margin-bottom 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

a {
	text-decoration: none;
	color: $link-color;
	&:hover {
		color: $link-color-hover;
	}
}

a:hover {
	text-decoration: underline;
}

table, p {
	margin: 0 0 $base-margin-content 0;
}

tr {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}

th {
	background: $primary-color;
	color: $primary-color-complement;
	text-align: left;
	font-weight: normal;
	a {
		color: $primary-color-complement;
	}
}

tr:nth-child(2n) {
	background: $body-color;
}

tr:nth-child(2n + 1) {
	background: mix($body-color, $primary-color, 95%);
}

td, th {
	padding: $base-margin-table-vertical $base-margin-table-horizontal;
}

#header {
	background-color: #6b8fc7;
	background-position: sprite_position(header_shadow);
	@include sprite_background;
}

#logo {
	a {
		display: block;
		text-indent: -9999px;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		@include sprite(logo);
	}
}

#main_menu {
	padding: 0;
	margin: 0 $base-margin;
	list-style: none;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
	background: rgba(0, 0, 0, 0.05);

	li {
		background: darken($primary-color, 15%);
		float: left;
		position: relative;
		margin-left: 2px;

		&:first-child {
			margin-left: 0;
		}

		&.active, &:hover {
			z-index: 1;
			background: $primary-color-complement;
			color: $link-color;
			a {
				color: $link-color;
			}
		}

		a {
			display: block;
			line-height: 40px;
			padding: 0 16px;
			color: $primary-color-complement;
			&:hover {
				text-decoration: none;
			}
		}
		.badge {
			position: absolute;
			top: -8px;
			right: 8px;
		}
	}
}
