.shadow-box {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	background: white;
}

.side-margin {
	margin-left: 8px;
	margin-right: 8px;
}

.content-box {
	padding: 16px;
}

.block-title {
	font-weight: 300;
}

.module {
	@extend .side-margin;
	@extend .shadow-box;
	@extend .content-box;
}

.label {
	font-size: 0.8em;
	font-weight: bold;
	padding: 0.1em 0.4em;
	display: inline-block;
	border-radius: 3px;
}

.label.info {
	color: white;
	background: #6b8fc7;
}
