.shadow-top-box {
	box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.1);
	background: $body-color;
	border: 1px solid #dddddd;
}

.content-box {
	@include content-box;
}

.block-title {
	font-weight: 300;
}

.module {
	@include side-margin;
	@include shadow-box;
	@extend .content-box;
	margin-bottom: $base-margin;

	@media #{$large-down} {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: -1px;
		//border-bottom: 1px solid #eee;
		box-shadow: none;
	}

	&.sidebar {
		width: 33%;
		margin: $base-margin;
		float: right;
		border: 1px solid #ddd;
		@extend .shadow-top-box;
	}
}

.body-wrap {
	@include side-margin;
}

.label, .badge {
	display: inline-block;
	padding: 2px 4px;
	font-size: 0.8em;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.1em;
	color: white;
	text-shadow: 0 -1px 0 darken(#999, 10%);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999;
}

.badge {
	padding-right: 0.8em;
	padding-left: 0.8em;
	border-radius: 0.8em;
	&:hover {
		border-radius: 0.8em;
	}
}

.label {
	border-radius: 3px;
}

.clearfix {
	clear: both;
}

.info {
	color: $info-color;
	margin: 0 0 $paragraph-margin-bottom 0;
	font-size: 90%;
	.subject {
		color: $text-color;
		font-weight: bold;
	}
}

.subject {
	font-weight: bold;
}

.label, .badge {
	color: white;
	margin: 0;
	&.info, &.watch {
		text-shadow: 0 -1px 0 darken(#6b8fc7, 10%);
		background-color: #6b8fc7;
		color: white;
	}
	&.warning {
		text-shadow: 0 -1px 0 darken(#468847, 10%);
		background-color: #468847;
		color: white;
	}
	&.success, &.new {
		text-shadow: 0 -1px 0 darken(#468847, 10%);
		background-color: #468847;
		color: white;
	}
	&.important {
		text-shadow: 0 -1px 0 darken(#b94a48, 10%);
		background-color: #b94a48;
		color: white;
	}
}

%label-icon {
	background-color: transparent;
	padding: 0;
	margin: 0 ($base-margin-reduced / 2) 0 0;
	display: block;
	float: right;
}

.label {
	&.new {
		@extend %label-icon;
		@include no-text-right;
		@include sprite(star_yellow);
	}
	&.resolved {
		@extend %label-icon;
		@include no-text-right;
		@include sprite(tick_green);
	}
	&.locked {
		@extend %label-icon;
		@include no-text-right;
		@include sprite(lock);
	}
	&.watch {
		@extend %label-icon;
		@include no-text-right;
		@include sprite(eye_blue);
	}
}

.reset-module {
	box-shadow: none;
	padding: 0;
	margin: 0;
	background: none;
	border: none;
}

.info {
	color: $info-color;
	.subject {
		color: $text-color;
		font-weight: bold;
	}
}

.notifications .links {
	float: right;
}

.clear, fieldset, .module { clear: both; }

td, th {
	&.date {
		width: 6em;
		text-align: right;
	}
	&.comments {
		width: 4em;
		text-align: center;
	}
	&.status {
		width: 100px;
		text-align: right;
	}
}

td.date {
	width: 6em;
	font-size: 90%;
	color: $info-color;
}

td.comments {
	text-align: center;
}

ul.messages {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	@include content-fullwidth;
	padding: 0;
	li {
		padding: $base-margin-reduced 3em $base-margin-reduced $base-margin;
		margin: 0;
		color: $text-color;
		font-size: 100%;
		position: relative;

		&.debug {
			@include messages-item($debug-background, $debug-border-color, $debug-text-color);
		}
		&.info {
			@include messages-item($info-background, $info-border-color, $info-text-color);
		}
		&.success {
			@include messages-item($success-background, $success-border-color, $success-text-color);
		}
		&.warning {
			@include messages-item($warning-background, $warning-border-color, $warning-text-color);
		}
		&.error {
			@include messages-item($error-background, $error-border-color, $error-text-color);
		}

		a.delete-action {
			position: absolute;
			top: $base-margin-reduced;
			right: $base-margin;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

#global_messages ul.messages {
	margin-left: 0;
	margin-right: 0;
}
