.module.comments {
	background: $body-color;
	box-shadow: none;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: $base-margin;

	.links {
		&.top, &.bottom {
			@include content-box;
			@include content-fullwidth;
			@include shadow-box;
			overflow: hidden;
		}
		&.top {
			border-bottom: none;
		}
		&.bottom {
			border-top: none;
		}
	}

	.comment_thread {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.comment {
		padding: 0;
		margin: 0;
		clear: both;
		position: relative;
	}

	.thread_0 {
		margin-left: -$base-margin;
		margin-right: -$base-margin;
		background: $body-color-background;
	}

	.thread_1 .comment {
		margin-bottom: $base-margin-reduced;
		background: $body-color;
		position: relative;
		border-left: $base-margin-reduced solid #ddd;

		&:last-child {
			margin-bottom: 0;
		}

		@include comment-shadow-box;

		@if $comments-tree-fancy {
			.discussion.header {
				border-bottom: 1px solid #eee;
			}
		}

		.comment {
			margin-top: 0;
			margin-bottom: 0;
			box-shadow: none;
			border: none;
		}

		.discussion.header {
			border-top: none;
			margin-right: 0;
		}
	}

	.thread_1 .thread_2 {
		.comment {
			&:before {
				content: " ";
				display: block;
				top: 0;
				left: 0;
				bottom: 0;
				width: 1px;
				background: #eee;
				position: absolute;
			}
		}
		.discussion.header {
			border-top: 1px solid $light-border-color;
			//border-bottom: 1px solid #eee;
		}
	}
	@for $i from 1 through 16 {
		.thread_#{$i} {
			.comment {
				@if $i > 1 {
					margin-left: $base-margin;
				}
			}
			.discussion.header {
				margin-left: -$base-margin-reduced + (-$base-margin * ($i - 1));
				padding-left: $base-margin * $i;
			}
		}
	}
	@media #{$large-down} {
		@for $i from 1 through 16 {
			.thread_#{$i} {
				.comment {
					@if $i > 1 {
						margin-left: $base-margin-reduced;
					}
				}
				.discussion.header {
					margin-left: -$base-margin-reduced + (-$base-margin-reduced * ($i - 1));
					padding-left: $base-margin-reduced * ($i + 1);
				}
			}
		}
	}
	.thread_17 {
		.coment {
			margin-left: 0;
		}
	}

	.signature {
		font-size: 80%;
		font-style: italic;
		color: $info-color;
	}
}

.discussion.header {
	@include content-fullwidth-nopadding;
	margin-bottom: $base-margin-reduced;
	position: relative;
	padding: $base-margin-reduced;
	border-top: 1px solid $light-border-color;
	padding-left: $base-margin;

	&:before {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: $base-margin-reduced;
		background: $primary-color;
	}

	&.me {
		&:before {
			background: $me-color;
		}
	}

	&.new {
		&:before {
			background: $new-color;
		}
	}

	.icon {
		position: absolute;
		top: -1px;
		right: 0;
	}

	.role {
		display: none;
	}

	.comment_info {
		.info {
			float: right;
			margin: -1.5em 86px 0 0;
			font-size: 70%;
			@media #{$small-down} {
				margin: -1.5em 48px 0 0;
			}
		}
		.subject {
			@include text_ellipsis;
			line-height: 1.2;
			text-align: left;
			display: block;
			padding-right: 7em;
			margin-right: 180px;
			@media #{$small-down} {
				margin-right: 48px;
			}
		}
	}
	.distribution {
		bottom: 0px;
		font-size: 80%;
		padding-left: 1em;
	}
	.user {
		display: inline;
		color: $info-color;
	}
	.user_link {
		display: inline;
		font-size: 80%;
	}
	.user_rating {
		width: 20px;
		height: 36px;
		position: absolute;
		top: $base-margin-reduced;
		right: 48px + $base-margin-reduced * 3 / 2;
		&.admin    { @include sprite(user_rating_admin, $setSize: false); }
		&.rating_0 { @include sprite(user_rating_0, $setSize: false); }
		&.rating_1 { @include sprite(user_rating_1, $setSize: false); }
		&.rating_2 { @include sprite(user_rating_2, $setSize: false); }
		&.rating_3 { @include sprite(user_rating_3, $setSize: false); }
		&.rating_4 { @include sprite(user_rating_4, $setSize: false); }
		&.rating_5 { @include sprite(user_rating_5, $setSize: false); }
		@media #{$small-down} {
			visibility: hidden;
		}
	}
}

.discussion.content {
	padding: 0 $base-margin-reduced;
}

.parent-link {
	display: block;
	float: left;
	margin-right: $base-margin-reduced;
	@include sprite(reply);
}

.comments_tree {
	.discussion.content .text {
		margin-bottom: $base-margin-content;
	}

	.links {
		padding-left: $base-margin-content;
		padding-right: $base-margin-content;
	}

	.reply {
		margin-left: $base-margin-reduced;
	}

	.reply,  .admin {
		float: right;
	}
}
