$text-color: #000000 !default;
$body-color: #ffffff !default;
$body-color-background:  #e7edf6 !default;

$paragraph-line-height: 1.4 !default;
$paragraph-margin-bottom: 12px !default;

$primary-color: #6b8fc7 !default;
$primary-color-complement: #ffffff !default;
//
//$secondary-color: #119922 !default;
//$secondary-color-complement: #ffffff !default;

$link-color: #003399 !default;;
$link-color-hover: mix($link-color, $text-color) !default;

$info-color: #888 !default;

//$sidebar-color: $primary-color-complement !default;
//$sidebar-background: $primary-color !default;
//
//$menu-color: mix($sidebar-color, $sidebar-background, 80%) !default;
//$menu-toggle-color: $primary-color-complement;
//
//$header-color: lighten(adjust-hue($primary-color, 2%), 15%) !default;
//
$base-margin: 16px !default;
$base-margin-content: 12px !default;
$base-margin-reduced: $base-margin / 2 !default;
$base-margin-table-vertical: 4px !default;
$base-margin-table-horizontal: 6px !default;
//$base-margin-horizontal: 30px !default;
//$base-margin-vertical: 20px !default;
//$base-margin-horizontal-reduced: $base-margin-horizontal / 2 !default;
//$base-margin-vertical-reduced: $base-margin-vertical / 2 !default;

$header-line-height: 1.4 !default;
$header-font-weight: 700 !default;
$header-font-style: none !default;
$header-font-color: mix($primary-color, $text-color, 75%) !default;
$header-top-margin: $base-margin-content / 4 !default;
$header-bottom-margin: $base-margin-content !default;

$h1-font-size: 200% !default;
$h2-font-size: 150% !default;
$h3-font-size: 130% !default;
$h4-font-size: 120% !default;
$h5-font-size: 110% !default;
$h6-font-size: 100% !default;

$h1-font-reduction: 20% !default;
$h2-font-reduction: 20% !default;
$h3-font-reduction: 10% !default;
$h4-font-reduction: 5% !default;
$h5-font-reduction: 0% !default;
$h6-font-reduction: 0% !default;

$button-font-size: 13px !default;

//$sidebar-width: 20em !default;
//$header-height: 62px !default;
