.form-row {
	margin-bottom: $base-margin-content;
	&:after {
		content: " ";
		display: block;
		clear: both;
	}

	.field-label, .formset-label {
		float: left;
		width: 12em;
		padding-right: 0.5em;
		padding-top: $base-margin-reduced;
		padding-bottom: $base-margin-reduced / 2;
		vertical-align: middle;
	}

	input[type=text],
	input[type=password],
	input[type=email],
	input[type=number] {
		width: 18em;
	}

	@media #{$medium-down} {
		.field-label, .formset-label {
			float: none;
			display: block;
			width: auto;
		}

		.form-control {
			display: block;
			margin: 0 $base-margin-reduced;
		}

		input[type=text],
		input[type=password],
		input[type=email],
		input[type=number],
		textarea {
			margin-left: -$base-margin-reduced;
			margin-right: -$base-margin-reduced;
			width: 100%;
		}
	}
}

.submit-row {
	@include content-padding;
	@include content-fullwidth;
	@include content-margin-bottom-cancel;
	background: $body-color;
	border-top: 1px solid $light-border-color;
}

.btn {
	border: none;
	padding: 0;
	margin: 0;
	background: transparent;
	cursor: pointer;
	display: inline-block;

	@include button(mix($primary-color, $body-color, 30%), mix($primary-color, $text-color));

	&.primary {
		@include button($primary-color, $primary-color-complement);
	}
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea {
	background: $body-color;
	color: $label-color;
	line-height: $paragraph-line-height;
	vertical-align: middle;
	padding: $base-margin-reduced;
	border: 1px solid $input-border-color;
	background: linear-gradient(to bottom, mix($body-color, $text-color, 97%) 0%, $body-color 50%, $body-color 100%);
}

fieldset {
	border-top: 1px solid $light-border-color;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid $light-border-color;
	background: $light-block-background;
	margin-bottom: $base-margin-content;
	@include content-fullwidth;
	@include content-box;
}

form {
	fieldset:last-child {
		margin-bottom: 0;
		border-bottom: none;
	}
	@include content-block-margin;
}
