.holygrail {

&.colmask {
	position: relative;
	clear: both;
	float: left;
	width: 100%;
}


.colright, .colmid, .colleft {
	float: left;
	width: 100%;
	position: relative;
}

.col1, .col2, .col3 {
	position: relative;
}

}

@mixin holygrail-leftmenu-percent($col-width) {
	.col1, .col2, .col3 {
		float: left;
		overflow: hidden;
	}

	.colleft {
		right: 100% - $col-width;
	}

	.col1 {
		width: 100% - $col-width;
		left: 100%;
	}

	.col2 {
		width: $col-width;
		left: 0%;
	}
}

@mixin holygrail-leftmenu-fixed($col-width) {
	&.colmask {
		overflow: hidden;
	}

	.colright {
		float: left;
		width: 200%;
		position: relative;
		left: $col-width;
	}

	.col1wrap {
		float: right;
		width: 50%;
		position: relative;
		right: $col-width;;
		padding-bottom: 1em;
	}

	.col1 {
		margin-left: $col-width;
		position: relative;
		right: 100%;
		overflow: hidden;
	}

	.col2 {
		float: left;
		position: relative;
		width: $col-width;
		right: $col-width;
	}
}
