#header {
	height: 120px;
}

#logo {
	float: left;
	margin-left: $base-margin;
}

#layout_main {
	float: left;
	width: 75%;
	margin-top: -40px;
	position: relative;
}

#layout_sidebar {
	width: 25%;
	float: left;
	margin-top: -20px;
}

#main_menu {
	right: 25%;
	position: absolute;
	right: 0;
	top: 40px;
	right: 25%;
}

@media #{$large-down} {
	#layout_main {
		width: 67%;
	}

	#layout_sidebar {
		width: 33%;
	}

	#main_menu {
		right: 33%;
	}

	#logo {
		float: right;
		margin-left: 0;
		margin-top: 10px;
		width: 33%;
		margin-right: $base-margin / 2;
	}

	#main_menu {
		left: 0;
		right: auto;
	}
}

@media #{$medium-down} {
	#layout_main, #layout_sidebar {
		float: none;
		width: auto;
	}

	#layout_sidebar {
		margin-top: $base-margin;
	}

	#logo {
		float: left;
		margin-left: $base-margin;
		margin-top: 0;
		width: auto;
	}
}
