#header {
	height: 120px;
	position: relative;
}

#logo {
	float: left;
	margin-left: $base-margin;
}

#layout_main {
	float: left;
	width: 75%;
	margin-top: -40px;
	position: relative;
}

#layout_sidebar {
	width: 25%;
	float: left;
	margin-top: -20px;
	position: relative;
}

#main_menu {
	right: 25%;
	position: absolute;
	right: 0;
	top: 40px;
	right: 25%;
}

@media #{$large-down} {
	#layout_main {
		float: none;
		width: auto;
	}

	#layout_sidebar {
		margin-top: $base-margin;
	}

	#main_menu {
		right: 0;
	}
}

@media #{$medium-down} {
}
