body.home {
	#content_module {
		@extend .reset-module;
	}

	#content_module .module-row {
		margin-left: -$base-margin;
		margin-right: -$base-margin;

		table {
			margin-bottom: 0;
		}

		tr:last-child {
			border-bottom: none;
		}

		td:first-child, th:first-child {
			padding-left: $base-margin;
		}
		td:last-child, th:last-child {
			padding-right: $base-margin;
		}
	}
}
