$sprites_2x: (
_w: 800px,
_size: 800px 800px,
_url: url(/static/new/images/sprites_black@2x.png),
_h: 800px,
logo: (w: 194px, h: 50px, x: 0px, y: 0px, size: 194px 50px, offset: -0px -0px),
penguin: (w: 124px, h: 140px, x: 195px, y: 0px, size: 124px 140px, offset: -195px -0px)
);