$sprites: (
_w: 400px,
_size: 400px 400px,
_url: url(/static/new/images/sprites_white.png),
_h: 400px,
logo: (w: 194px, h: 50px, x: 0px, y: 0px, size: 194px 50px, offset: -0px -0px),
penguin: (w: 124px, h: 140px, x: 195px, y: 0px, size: 124px 140px, offset: -195px -0px)
);