$sprites: (
_w: 200px,
_size: 200px 200px,
_url: url(/static/default/images/backgrounds.png),
_h: 200px,
logo: (w: 193px, h: 50px, x: 0px, y: 0px, size: 193px 50px, offset: -0px -0px),
header_bg: (w: 8px, h: 62px, x: 0px, y: 138px, size: 8px 62px, offset: -0px -138px),
bottom_shadow: (w: 1px, h: 10px, x: 0px, y: 127px, size: 1px 10px, offset: -0px -127px)
);