$primary-color: #1d5886;
$sidebar-background: #58aeea;
$menu-color: #ffffff;

@import "sprites_white";
@import "sprites_white_2x";
@import "utils";
@import "constants";
@import "holygrail";
@import "base";
@import "components";
@import "layout";

#site_header .logo {
	border-bottom: 1px solid lighten($sidebar-background, 7%);
	background: url(static("new/images/blue_bg.png")) repeat-x top left $sidebar-background;
}
