{% extends "includes/form_loop.jinja.html" %}

{% block nested %}
	{{ super() }}
	{{ form.attachments.management_form }}
	{% if form.attachments.forms %}
	<div class="form-row">
		<div>
			<table class="formset">
				<thead>
					<tr>
						<td style="width: 16px"><span class="trashcan-icon">Zmazať</span></td>
						<td><label class="formset_label">Prílohy</label></td>
					</tr>
				</thead>
				{% for attachment in form.attachments.forms %}
					<tr class="{{ loop.cycle("row1", "row2") }}">
						<td>
							{% for hidden in attachment.hidden_fields() %}{{ hidden }}{% endfor %}
							{{ attachment.DELETE }}
						</td>
						<td>
							<a href="{{ attachment.instance.attachment.url }}">{{ attachment.instance.basename() }}</a>
							({{ attachment.instance.attachment.size|filesizeformat }})
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% endif %}
{% endblock %}

