{% if form.non_field_errors() %}
	<p class="errornote">
		{% for error in form.non_field_errors() %}
			{{ error }}
		{% endfor %}
	</p>
{% endif %}

<div>
	{% for hidden in form.hidden_fields() %}
		{{ hidden }}
	{% endfor %}
	{% for field in form.visible_fields() %}
		<div class="form-row{% if field.errors %} errors{% endif %}"{% if field.name == "honeypot" %} style="display: none"{% endif %}>
			<div>
				{{ field.errors }}
				<label for="{{ field.auto_id }}" class="field-label{% if field.field.required %} required{% endif %}">
					{{ field.label|safe }}:
				</label>
				<span class="form-control">
					{{ field }}
				</span>
				{% if field.help_text %}<p class="help">{{ field.field.help_text|safe }}</p>{% endif %}
			</div>
		</div>
	{% endfor %}
	{% block nested %}
	{% if form.nested %}
		{% for subform in form.nested %}
			<div class="form-row tabular">
				<div>
					{% if subform.label %}
						<label class="formset-label">{{ subform.label }}:</label>
					{% endif %}
					{% with formset=subform %}
						{% include "includes/form_set_loop.html" %}
					{% endwith %}
				</div>
			</div>
		{% endfor %}
	{% endif %}
	{% endblock %}
</div>
