html, body {
	padding: 0;
	margin: 0;
	font-family: $body-font-family;
	background: $body-color-background;
	color: $text-color;
	line-height: $paragraph-line-height;
}

h1, h2, h2, h3, h4, h5, h6 {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
	font-style: $header-font-style;
	color: $header-font-color;
	margin-top: $header-margin;
	margin-bottom: $header-margin;
	line-height: $header-line-height;
	padding: 0;
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

@media #{$medium-down} {
	h1 { font-size: $h1-font-size - $h1-font-reduction; }
	h2 { font-size: $h2-font-size - $h2-font-reduction; }
	h3 { font-size: $h3-font-size - $h3-font-reduction; }
	h4 { font-size: $h4-font-size - $h4-font-reduction; }
	h5 { font-size: $h5-font-size - $h5-font-reduction; }
	h6 { font-size: $h6-font-size - $h6-font-reduction; }
}

hr {
	background: $light-border-color;
	display: block;
	height: 1px;
	border: none;
}

p {
	line-height: $paragraph-line-height;
	margin: $paragraph-margin 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin: $table-margin 0;
	box-sizing: border-box;
}

td {
	border-bottom: 1px solid $light-border-color;
	border-top: 1px solid $light-border-color;
}

th {
	background: $primary-color;
	color: $primary-color-complement;
	text-align: left;
	font-weight: normal;
	a {
		color: $primary-color-complement;
	}
}

td, th {
	padding: 4px 6px;
}

tr:nth-child(2n) {
	background: $body-color;
}

tr:nth-child(2n + 1) {
	background: mix($body-color, $primary-color, 95%);
}

tr:last-child td {
	border-bottom: none;
}

a {
	text-decoration: none;
	color: $link-color;
	&:hover {
		color: $link-color-hover;
		text-decoration: underline;
	}
}

button {
	font-size: 100%;
	line-height: 1.4;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0
}

ul, ol {
	margin: $base-spacing-content 0 $base-spacing-content 24px;
	padding: 0;
}

ul {
	list-style: square;
}

ul > li > ul {
	list-style: circle;
}

img {
	border: none;
}

dl {
	padding: 0;
	margin: $base-spacing-content 0;
}

dt, dd {
	padding: 0;
	margin: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 4EM;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

#main_content img {
	max-width: 100%;
}

pre, .codeblock {
	color: mix($text-color, $body-color, 60%);
}

code {
	color: $code-color;
	background: mix($body-color, $text-color, 98%);
}

pre, .annotation, .codeblock {
	margin: $base-spacing-content 0;
	padding: $base-spacing-content;
	background: mix($body-color, $text-color, 98%);
	border: 1px solid $light-border-color;
}

.annotation {
	overflow: auto;
}

.article.thumbnail {
	margin-right: $base-spacing-content;
}

.highlighted {
	background: $highlight-color;
	color: $highlight-text-color;
}

pre, .codeblock {
	overflow: auto;
}

blockquote {
	font-style: italic;
	margin: $base-spacing-content 0;
	padding: $base-spacing-content $base-spacing-content $base-spacing-content (32px + $base-spacing-content);
	background: mix($primary-color, $body-color, 10%);
	position: relative;
	&:before {
		font-family: "Georgia", "Times New Roman", serif;
		content: "”";
		font-size: 300%;
		display: block;
		position: absolute;
		width: 32px;
		text-align: center;
		top: 0;
		left: 0;
		bottom: 0;
		color: $body-color;
		background: mix($primary-color, $body-color, 40%) ;
	}
}
