.desktop.item {
	margin: $base-spacing-content 0;

	img {
		max-height: 256px;
		display: block;
	}

	.title {
		font-weight: bold;
	}
}

.module.desktops {
	.module-row {
		overflow: hidden;
	}

	img {
		width: 100%;
	}

	.img-link {
		display: block;
		overflow: hidden;
		max-height: 256px;
	}

	@media #{$small-up} {
		.module-row {
			padding-right: 0;
		}
		.desktop.item {
			float: left;
			width: 50%;
			max-width: 256px + $base-spacing-content;
		}
		.desktop-content {
			margin-right: $base-spacing-content;
		}
	}
	@media #{$medium-up} {
		.desktop.item {
			width: 25%;
		}
	}

	&.sidebar {
		.desktop.item {
			float: none;
			width: auto;
		}
		.module-row {
			overflow: visible;
		}
	}
}
