#header {
	background-color: #6b8fc7;
	background-position: sprite_position(header_shadow);
	@include sprite_background;
}

#logo {
	a {
		display: block;
		text-indent: -9999px;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		@include sprite(logo);
	}
}

#main_menu {
	padding: 0;
	margin: 0 $base-margin;
	list-style: none;
	z-index: 1;

	li {
		float: left;
		position: relative;
		margin-left: 1px;
		margin-right: 1px;

		a {
			display: block;
			padding: 0.5em 0.75em 0.4em 0.75em;
			background: darken($primary-color, 15%);
			color: $primary-color-complement;
			border-bottom: 1px solid #dddddd;
		}

		&.active a, a:hover {
			text-decoration: none;
			color: mix($text-color, $primary-color);
			background: $primary-color-complement;
			border-bottom: 1px solid $primary-color-complement;
			box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.1), -5px 0px 5px -5px rgba(0, 0, 0, 0.1), 5px 0px 5px -5px rgba(0, 0, 0, 0.1);
		}

		.badge {
			position: absolute;
			top: -8px;
			right: 8px;
		}
	}
}

#user_panel {
	padding: $base-margin;
	z-index: 1;

	.user {
		display: block;
		text-align: right;
		color: $primary-color-complement;
		line-height: 32px;
		vertical-align: middle;
		a, a:hover {
			color: $primary-color-complement;
		}
		@include text-ellipsis();
		&:before {
			content: "";
			float: right;
			margin-left: $base-spacing-content;
			@include sprite(user);
		}
	}

	.avatar {
		float: right;
		margin-left: $base-spacing-content;
		border: 2px solid $primary-color-complement;
		overflow: hidden;
		img {
			display: block;
			width: 32px;
			height: 32px;
		}
	}

	a:hover {
		text-decoration: none;
	}

	&:hover #userlinks {
		display: block;
	}

	&.authenticated .user:before {
		display: none;
	}
}

#userlinks {
	float: right;
	width: 80%;
	margin: 0 -6px 0 0;
}
