#header {
	background-color: $header-background-color;
	@include sprite-background-position(header_shadow);
	@include sprite-background;
	background-size: map-get($sprites, _size);

	.actions {
		top: $header-height - sprite-height(gear);
		right: $base-margin;
		margin-top: -$base-margin - 24px;
		position: absolute;
	}

	.templates, .feeds, .search-link {
		overflow: hidden;
		text-indent: -9999px;
		float: right;
		margin-left:$base-spacing-content;
		cursor: pointer;
	}

	.templates {
		@include sprite(gear_light);
	}

	.feeds {
		@include sprite(rss_light);
		position: relative;
		overflow: visible;
		.dropdown {
			position: absolute;
			right: 0;
			top: sprite-height(rss);
			width: 200px;
			text-indent: 0;
			z-index: 2;
		}
	}

	.search-link {
		@include sprite(search_light);
		display: none;
	}

	a {
		outline: none;
	}
}

#logo {
	a {
		display: block;
		text-indent: -9999px;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		@include sprite(logo);
	}
}

#main_menu {
	padding: 0;
	margin: 0 $base-margin;
	list-style: none;
	z-index: 1;

	li {
		float: left;
		position: relative;
		margin-left: 0px;
		margin-right: 2px;

		a {
			display: block;
			padding: 0.5em 0.75em 0.4em 0.75em;
			background: darken($primary-color, 15%);
			color: $primary-color-complement;
		}

		&.active a, a:hover {
			text-decoration: none;
			color: mix($text-color, $primary-color);
			background: $body-color;
			box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.1), -5px 0px 5px -5px rgba(0, 0, 0, 0.1), 5px 0px 5px -5px rgba(0, 0, 0, 0.1);
		}

		.badge {
			position: absolute;
			top: -8px;
			right: 8px;
		}
	}
}

#main_menu_toggle {
	display: none;
	&:after {
		@include sprite(menu_light);
	}
}

#main_menu_back {
	display: none;
	@include sprite(menu_back_light);
}

#user_panel {
	padding: $base-margin;
	margin-right: 0;
	z-index: 1;

	.user {
		display: block;
		text-align: right;
		color: $primary-color-complement;
		line-height: 32px;
		height: 36px;
		vertical-align: middle;
		position: relative;
		a, a:hover {
			color: $primary-color-complement;
		}
		@include text-ellipsis();
		&:before {
			content: "";
			float: right;
			margin-left: $base-spacing-content * 2 + sprite-width(arrow_down);
			@include sprite(user_light);
		}
		&:after {
			content: "";
			position: absolute;
			right: 36px + $base-spacing-content;
			top: 50%;
			margin-top: -(sprite-height(arrow_down)) / 2;
			@include sprite(arrow_down_light);
		}
	}

	.avatar {
		float: right;
		margin-left: $base-spacing-content * 2 + sprite-width(arrow_down);
		border: 2px solid $primary-color-complement;
		overflow: hidden;
		img {
			display: block;
			width: 32px;
			height: 32px;
		}
	}

	a:hover {
		text-decoration: none;
	}

	&.touchhover-emul:hover #userlinks, &.touchhover #userlinks {
		display: block;
	}

	&.authenticated .user:before {
		display: none;
	}
}

#userlinks {
	float: right;
	width: 80%;
	margin: 0 -6px 0 0;
}

#menu_shadow {
	display: none;
}

#search_panel {
	.search-input {
		@include component-shadow();
	}

	input {
		border: none;
		box-shadow: none;
		padding-top: 12px;
		padding-bottom: 12px;
	}

	button {
		border: none;
		text-indent: -9999px;
		overflow: hidden;
		background-color: transparent;
		@include sprite-bw(search_transparent, $dark: true);
	}
}

#menu_panel {
	.module {
		display: none;
	}
}

#main_menu_toggle_input {
	z-index: -1;
	position: absolute;
	visibility: hidden
}

#menu_shadow, #main_menu_back, #main_menu_toggle {
	cursor: pointer;
}

@media #{$large-down} {
	#header {
		.search-link {
			display: block;
		}
		.actions {
			margin-top: -$base-margin - 32px;
		}
	}

	#search_panel {
		display: none;
	}
}

@media #{$medium-down} {
	#main_menu_toggle_input:checked ~ header #menu_panel {
		transform: none;
		transition: transform 200ms ease, visibility 0ms ease 0ms;
		visibility: visible;
	}

	#menu_panel {
		background: $body-color;
		box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.5);
		#user_panel {
			background: $primary-color;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
			height: 36px;
			position: relative;
			#userlinks {
				position: absolute;
				right: $base-margin;
			}
		}

		.avatar {
			float: left;
			margin-left: 0;
			margin-right: $base-spacing-content;
		}

		.user {
			padding-right: sprite-width(gear) + $base-spacing-content * 2;
			text-align: left;
			margin-left: $base-spacing-content * 2 + sprite-width(menu_back);
			&:after {
				right: $base-margin;
			}
			&:before {
				display: none;
			}
		}

		.module {
			display: block;
		}
	}

	.menu, #main_menu {
		border-bottom: 1px solid $light-border-color;
	}

	#main_menu {
		position: static;
		padding: $base-margin-reduced 0;
		margin: 0;
		li {
			float: none;
			padding: 0;
			margin: 0;
			position: relative;
			a {
				background: $body-color;
				border: none;
				color: $link-color;
				padding: $base-margin-reduced $base-spacing-content;
			}

			a:hover, a:active, &.active a:hover, &.active a:active {
				box-shadow: none;
				border: none;
				color: $primary-color-complement;
				background: $primary-color;
			}

			&.active a {
				box-shadow: none;
				border: none;
				background: mix($primary-color, $body-color, 75%);
				color: $primary-color-complement;
			}

			.badge {
				top: 50%;
				margin-top: -.7em;
			}
		}
	}

	#main_menu_toggle_input:checked ~ #menu_shadow {
		display: block;
		background: rgba(0, 0, 0, .5);
	}

	#main_menu_toggle {
		display: block;
		vertical-align: middle;
		height: sprite-height(logo_mini) + ($base-margin-reduced * 2);
		line-height: sprite-height(logo_mini) + ($base-margin-reduced * 2);
		color: white;
		font-weight: bold;
		text-transform: uppercase;

		&:hover {
			text-decoration: none;
		}

		&:after {
			content: "";
			float: right;
			position: relative;
			top: 50%;
			margin-top: -(sprite-height(menu) / 2);
			margin-left: $base-spacing-content;
		}
	}

	#main_menu_back {
		display: block;
		text-indent: -9999px;
		position: absolute;
		left: $base-spacing-content;
		z-index: 1;
		top: 50%;
		margin-top: -(sprite-height(menu_back) / 2);
	}

	#search_panel {
		display: block;
		bottom: 0;
		margin: $base-margin 0;
		.search-input {
			box-shadow: none;
			border: 1px solid $light-border-color;
		}
		input {
			padding-top: $base-margin-reduced;
			padding-bottom: $base-margin-reduced;
		}
	}

	#header {
		.actions {
			margin-top: $base-margin;
			margin-right: $base-margin;
			top: auto;
			right: auto;
			position: relative;
			float: right;
			z-index: 2;
		}

		.search-link {
			display: none;
		}
	}

	#logo a {
		@include sprite(logo_mini);
		margin-top: $base-margin-reduced;
		margin-bottom: $base-margin-reduced;
	}
}
