$header-height: 120px;

#main_content {
	float: left;
	width: 50%;
	margin-left: 25%;
	overflow: hidden;
	margin-top: -(40px + $base-margin);
	position: relative;
}

#sidebar_1 {
	width: 25%;
	float: left;
	margin-left: -75%;
	margin-top: -(40px + $base-margin);
	position: relative;

	.module {
		margin-left: $base-margin;
	}
}

#sidebar_2 {
	width: 25%;
	float: left;
	margin-top: -(20px + $base-margin);
	position: relative;

	.module {
		margin-right: $base-margin;
	}
}

#header {
	height: $header-height;
	position: relative;
}

#logo {
	top: 0;
	left: $base-margin;
	position: absolute;
	z-index: 1;
}

#main_menu {
	position: absolute;
	left: 25%;
	bottom: 39px;
}

#user_panel {
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
}

@media #{$xlarge-down} {
	#main_content {
		width: 66%;
		margin-left: 0;
		float: left;
	}

	#sidebar_1 {
		width: 34%;
		float: right;
		margin-top: -(20px + $base-margin);
		&:before {
			display: none;
		}
		.module {
			padding-top: 0;
		}
	}

	#sidebar_2 {
		width: 34%;
		float: right;
		clear: right;
		margin-top: -$base-margin;
	}

	#sidebar_1 .module, #sidebar_2 .module {
		margin-left: 0;
		margin-right: $base-margin;
	}

	#main_menu {
		left: auto;
		right: 34%;
	}
}

@media #{$large-down} {
	#main_content, #sidebar_1, #sidebar_2 {
		width: auto;
		margin-left: 0;
		float: none;
		.module {
			margin-left: 0;
			margin-right: 0;
		}
	}

	#main_content {
		margin-top: -40px;
	}

	#sidebar_1, #sidebar_2 {
		margin-top: 0;
	}

	#sidebar_1 {
		margin-bottom: 0;
	}

	#main_menu {
		right: 0;
	}
}
