$header-height: 120px;

#main_content {
	float: left;
	width: 50%;
	margin-left: 25%;
	overflow: hidden;
	margin-top: -(40px + $base-margin);
	position: relative;
}

#sidebar_1 {
	width: 25%;
	float: left;
	margin-left: -75%;
	margin-top: -(40px + $base-margin);
	position: relative;

	.module {
		margin-left: $base-margin;
	}
}

#sidebar_2 {
	width: 25%;
	float: left;
	margin-top: -(20px + $base-margin);
	position: relative;

	.module {
		margin-right: $base-margin;
	}
}

#header {
	height: $header-height;
	position: relative;
}

#logo {
	top: 0;
	left: $base-margin;
	position: absolute;
	z-index: 1;
}

#main_menu {
	position: absolute;
	left: 25%;
	bottom: 39px;
}

#user_panel {
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
}

#main_menu_toggle {
	position: absolute;
	right: $base-margin;
}

#search_panel {
	width: 25%;
	position: absolute;
	right: 0;
	bottom: 20px + $base-margin;

	form {
		display: inline;
	}

	.search-input {
		margin-right: $base-margin;
	}

	input {
		margin: 0;
		width: 100%;
		box-sizing: border-box;
		padding-right: $base-margin + sprite-width(search);
	}

	button {
		position: absolute;
		right: $base-margin + $base-margin-reduced;
		top: 50%;
		padding: 0;
		margin: (-(sprite-height(search)) / 2) 0 0 0;
	}
}

@media #{$xlarge-down} {
	#main_content {
		width: 66%;
		margin-left: 0;
		float: left;
	}

	#sidebar_1 {
		width: 34%;
		float: right;
		margin-top: -(20px + $base-margin);
		&:before {
			display: none;
		}
		.module {
			padding-top: 0;
		}
	}

	#sidebar_2 {
		width: 34%;
		float: right;
		clear: right;
		margin-top: -$base-margin;
	}

	#sidebar_1 .module, #sidebar_2 .module {
		margin-left: 0;
		margin-right: $base-margin;
	}

	#main_menu {
		left: auto;
		right: 34%;
	}
}

@media #{$large-down} {
	#main_content, #sidebar_1, #sidebar_2 {
		width: auto;
		margin-left: 0;
		float: none;
		.module, .content-module {
			margin-left: 0;
			margin-right: 0;
		}
	}

	#sidebar_1, #sidebar_2 {
		margin-top: 0;
	}

	#sidebar_1 {
		margin-bottom: 0;
	}

	#main_menu {
		left: sprite-width(logo) + $base-margin;
		right: auto;
	}
}

@media #{$medium-down} {
	#menu_panel {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: $menu-width;
		margin-left: -($menu-width + 20px);
		transform: translateX(-103%);
		z-index: 10;
		overflow-y: auto;
		will-change: transform;
		transition: transform 200ms ease, margin-left 0ms ease 200ms;
		#user_panel {
			width: 100%;
		}
	}

	#menu_shadow {
		z-index: 10;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
