%shadow-box {
	box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.1);
	background: $body-color;
	border: 1px solid #dddddd;
	@media #{$large-down} {
		box-shadow: none;
	}
}

%content-padding {
	padding-left: $base-spacing-content;
	padding-right: $base-spacing-content;
}

@mixin shadow-box {
	@extend %shadow-box;
}

@mixin content-padding {
	@extend %content-padding;
}
