%shadow-box {
	box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.1);
	background: $body-color;
	border: 1px solid #dddddd;
	@media #{$large-down} {
		box-shadow: none;
	}
}

%content-padding {
	padding-left: $base-spacing-content;
	padding-right: $base-spacing-content;
}

@mixin shadow-box {
	@extend %shadow-box;
}

@mixin content-padding {
	@extend %content-padding;
}

@mixin no-text {
	overflow: hidden;
	text-indent: -9999px;
}

@mixin no-text-right {
	overflow: hidden;
	text-indent: 9999px;
}

@mixin messages-item($background, $border, $text) {
	background: $background;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	color: $text;
	a {
		color: $text;
		text-decoration: none;
		font-weight: bold;
		&:hover {
			text-decoration: underline;
		}
	}
}
