.pagination {
	text-align: center;

	a, span {
		text-decoration: none;
		display: inline-block;
		padding: ($base-margin-reduced / 4) 0.3em;
		min-width: 1.25em;
		border-radius: 5px;
		&.prev:before { content: "\00AB "; }
		&.next:after { content: " \00BB"; }
		&:hover { color: $primary-color-complement; background: $primary-color; }
	}

	li {
		display: inline;
		list-style: none;
		margin: 0;
		padding: 0;

		&.disabled a, &.disabled span, &.disabled a:hover &.disabled span:hover { color: $info-color; background: $body-color; cursor: default; }
		&.active a, &.active span, &.active a:hover, &.active span:hover { color: $primary-color-complement; background: $primary-color; }
	}

	.module.tabular & {
		border-top: 1px solid $light-border-color;
	}
}
