$sprites: (
_w: 400px,
_ratio: (1 2),
_size: 400px 400px,
_h: 400px,
_url: (url(static("alpha/images/sprites.png")) url(static("alpha/images/sprites@2x.png"))),
header_shadow: (w: 400px, h: 120px, x: 0px, y: 280px, size: 400px 120px, offset: -0px -280px),
logo: (w: 228px, h: 80px, x: 0px, y: 0px, size: 228px 80px, offset: -0px -0px),
avatar_placeholder: (w: 56px, h: 56px, x: 229px, y: 0px, size: 56px 56px, offset: -229px -0px),
user_rating_0: (w: 20px, h: 36px, x: 286px, y: 0px, size: 20px 36px, offset: -286px -0px),
user_rating_1: (w: 20px, h: 36px, x: 307px, y: 0px, size: 20px 36px, offset: -307px -0px),
user_rating_2: (w: 20px, h: 36px, x: 328px, y: 0px, size: 20px 36px, offset: -328px -0px),
user_rating_3: (w: 20px, h: 36px, x: 349px, y: 0px, size: 20px 36px, offset: -349px -0px),
user_rating_4: (w: 20px, h: 36px, x: 370px, y: 0px, size: 20px 36px, offset: -370px -0px),
user_rating_5: (w: 20px, h: 36px, x: 0px, y: 81px, size: 20px 36px, offset: -0px -81px),
user_rating_admin: (w: 20px, h: 36px, x: 21px, y: 81px, size: 20px 36px, offset: -21px -81px),
delete: (w: 19px, h: 19px, x: 286px, y: 37px, size: 19px 19px, offset: -286px -37px),
eye: (w: 19px, h: 19px, x: 306px, y: 37px, size: 19px 19px, offset: -306px -37px),
eye_blue: (w: 19px, h: 19px, x: 326px, y: 37px, size: 19px 19px, offset: -326px -37px),
gear: (w: 19px, h: 19px, x: 346px, y: 37px, size: 19px 19px, offset: -346px -37px),
lock: (w: 19px, h: 19px, x: 366px, y: 37px, size: 19px 19px, offset: -366px -37px),
reply: (w: 19px, h: 19px, x: 229px, y: 57px, size: 19px 19px, offset: -229px -57px),
rss: (w: 19px, h: 19px, x: 249px, y: 57px, size: 19px 19px, offset: -249px -57px),
search: (w: 19px, h: 19px, x: 269px, y: 57px, size: 19px 19px, offset: -269px -57px),
star: (w: 19px, h: 19px, x: 289px, y: 57px, size: 19px 19px, offset: -289px -57px),
star_yellow: (w: 19px, h: 19px, x: 309px, y: 57px, size: 19px 19px, offset: -309px -57px),
tick: (w: 19px, h: 19px, x: 329px, y: 57px, size: 19px 19px, offset: -329px -57px),
tick_green: (w: 19px, h: 19px, x: 349px, y: 57px, size: 19px 19px, offset: -349px -57px)
);