$sprites: (
_url: (url(static("alpha/images/sprites.png")) url(static("alpha/images/sprites@2x.png"))),
_size: 400px 400px,
_w: 400px,
_h: 400px,
_ratio: (1 2),
header_shadow: (w: 400px, h: 120px, x: 0px, y: 280px, size: 400px 120px, offset: -0px -280px),
logo: (w: 228px, h: 80px, x: 0px, y: 0px, size: 228px 80px, offset: -0px -0px),
user_rating_0: (w: 20px, h: 36px, x: 229px, y: 0px, size: 20px 36px, offset: -229px -0px),
user_rating_1: (w: 20px, h: 36px, x: 250px, y: 0px, size: 20px 36px, offset: -250px -0px),
user_rating_2: (w: 20px, h: 36px, x: 271px, y: 0px, size: 20px 36px, offset: -271px -0px),
user_rating_3: (w: 20px, h: 36px, x: 292px, y: 0px, size: 20px 36px, offset: -292px -0px),
user_rating_4: (w: 20px, h: 36px, x: 313px, y: 0px, size: 20px 36px, offset: -313px -0px),
user_rating_5: (w: 20px, h: 36px, x: 334px, y: 0px, size: 20px 36px, offset: -334px -0px),
user_rating_admin: (w: 20px, h: 36px, x: 355px, y: 0px, size: 20px 36px, offset: -355px -0px),
delete: (w: 19px, h: 19px, x: 376px, y: 0px, size: 19px 19px, offset: -376px -0px),
eye: (w: 19px, h: 19px, x: 229px, y: 37px, size: 19px 19px, offset: -229px -37px),
eye_blue: (w: 19px, h: 19px, x: 249px, y: 37px, size: 19px 19px, offset: -249px -37px),
gear: (w: 19px, h: 19px, x: 269px, y: 37px, size: 19px 19px, offset: -269px -37px),
lock: (w: 19px, h: 19px, x: 289px, y: 37px, size: 19px 19px, offset: -289px -37px),
reply: (w: 19px, h: 19px, x: 309px, y: 37px, size: 19px 19px, offset: -309px -37px),
rss: (w: 19px, h: 19px, x: 329px, y: 37px, size: 19px 19px, offset: -329px -37px),
search: (w: 19px, h: 19px, x: 349px, y: 37px, size: 19px 19px, offset: -349px -37px),
star: (w: 19px, h: 19px, x: 369px, y: 37px, size: 19px 19px, offset: -369px -37px),
star_yellow: (w: 19px, h: 19px, x: 229px, y: 57px, size: 19px 19px, offset: -229px -57px),
tick: (w: 19px, h: 19px, x: 249px, y: 57px, size: 19px 19px, offset: -249px -57px),
tick_green: (w: 19px, h: 19px, x: 269px, y: 57px, size: 19px 19px, offset: -269px -57px)
);