$sprites: (
_url: (url(static("alpha/images/sprites.png")) url(static("alpha/images/sprites@2x.png"))),
_ratio: (1 2),
_w: 400px,
_h: 400px,
_size: 400px 400px,
header_shadow: (w: 400px, h: 120px, x: 0px, y: 280px, size: 400px 120px, offset: -0px -280px),
logo: (w: 228px, h: 80px, x: 0px, y: 0px, size: 228px 80px, offset: -0px -0px),
avatar_placeholder: (w: 56px, h: 56px, x: 229px, y: 0px, size: 56px 56px, offset: -229px -0px),
user: (w: 32px, h: 32px, x: 286px, y: 0px, size: 32px 32px, offset: -286px -0px),
user_rating_0: (w: 20px, h: 36px, x: 0px, y: 81px, size: 20px 36px, offset: -0px -81px),
user_rating_1: (w: 20px, h: 36px, x: 21px, y: 81px, size: 20px 36px, offset: -21px -81px),
user_rating_2: (w: 20px, h: 36px, x: 42px, y: 81px, size: 20px 36px, offset: -42px -81px),
user_rating_3: (w: 20px, h: 36px, x: 63px, y: 81px, size: 20px 36px, offset: -63px -81px),
user_rating_4: (w: 20px, h: 36px, x: 84px, y: 81px, size: 20px 36px, offset: -84px -81px),
user_rating_5: (w: 20px, h: 36px, x: 105px, y: 81px, size: 20px 36px, offset: -105px -81px),
user_rating_admin: (w: 20px, h: 36px, x: 126px, y: 81px, size: 20px 36px, offset: -126px -81px),
delete: (w: 19px, h: 19px, x: 319px, y: 0px, size: 19px 19px, offset: -319px -0px),
eye: (w: 19px, h: 19px, x: 339px, y: 0px, size: 19px 19px, offset: -339px -0px),
eye_blue: (w: 19px, h: 19px, x: 359px, y: 0px, size: 19px 19px, offset: -359px -0px),
gear: (w: 19px, h: 19px, x: 379px, y: 0px, size: 19px 19px, offset: -379px -0px),
lock: (w: 19px, h: 19px, x: 286px, y: 33px, size: 19px 19px, offset: -286px -33px),
reply: (w: 19px, h: 19px, x: 306px, y: 33px, size: 19px 19px, offset: -306px -33px),
rss: (w: 19px, h: 19px, x: 326px, y: 33px, size: 19px 19px, offset: -326px -33px),
search: (w: 19px, h: 19px, x: 346px, y: 33px, size: 19px 19px, offset: -346px -33px),
star: (w: 19px, h: 19px, x: 366px, y: 33px, size: 19px 19px, offset: -366px -33px),
star_yellow: (w: 19px, h: 19px, x: 229px, y: 57px, size: 19px 19px, offset: -229px -57px),
tick: (w: 19px, h: 19px, x: 249px, y: 57px, size: 19px 19px, offset: -249px -57px),
tick_green: (w: 19px, h: 19px, x: 269px, y: 57px, size: 19px 19px, offset: -269px -57px)
);