$base-margin: 12px;
$base-spacing-content: 8px;

$input-padding: $base-margin / 2;
$button-padding: ($base-margin / 2) $base-margin;

// pink
// $primary-color: #ff88aa;
// $body-color-background: #ffaacc;

//$dark-theme: true;
//$text-color: #ffffff;
//$body-color: #000000;
//$body-color-background: #555555;
//$light-border-color: mix($text-color, $body-color, 20%);

@import "style";
