{% extends 'base.html' %}

{% load url from future %}
{% load linuxos %}
{% load highlight %}
{% load paginator_tags %}
{% load breadcrumbs_tags %}

{% block breadcrumbs %}
{% breadcrumb url='haystack_search' %}Vyhľadávanie{% endbreadcrumb %}
{{ block.super }}
{% endblock %}

{% block content %}
<h1>Výsledky vyhľadávania</h1>

<form method="get" action="{% url 'haystack_search' %}" class="search">
	<fieldset>
		{% include 'includes/form_loop.html' with form=form %}
		<div class="submit-row">
			<div class="positive">
				<button class="btn" type="submit" title="Hľadať"><span>Hľadať</span></button>
			</div>
		</div>
	</fieldset>
</form>

{% if query %}
{% autopaginate results pagenum items_per_page=20 %}
{% for result in results %}
	<div class="module-row">
		<h3><a href="{{ result.object.get_absolute_url }}">{% highlight result.title with query max_length 0 %}</a></h3>
		<span class="label
			{% ifequal result.content_type "forum.topic" %} label-info{% endifequal %}
			{% if result.content_type == "article.article" or result.content_type == "wiki.page" or result.content_type == "news.news" %} label-success{% endif %}">
			{{ result.content_type|labelize_content_type|capfirst }}
		</span>
		{% with result.text|add:"<xapian>"|add:result.highlighted.text as result_text %}
			{% highlight result_text with query max_length 300 %}
		{% endwith %}
		<div class="info">
		{% if result.author %}Autor: {{ result.author }}&nbsp;|&nbsp;{% endif %}
		{% if result.created %}Vytvorené: {{ result.created|date:"d.m.Y H:i" }}&nbsp;|&nbsp;{% endif %}
		Skóre: {{ result.score }}&nbsp;|&nbsp;
		<a href="{{ result.object.get_absolute_url }}">Čítať</a>
		</div>
	</div>
{% empty %}
	<p>Žiadne výsledky neboli nájdené.</p>
{% endfor %}
{% paginator haystack_search %}

{% endif %}

{% endblock %}
