{% extends "desktops/base.html" %}

{% block head_title %}{{ desktop }} | {{ super() }}{% endblock %}

{% block breadcrumbs %}
	{{ breadcrumb(desktop) }}
	{{ breadcrumb("Desktopy", url='desktops:list') }}
	{{ super() }}
{% endblock %}

{% block content %}

{% include "desktops/partials/informations.html" %}

<div class="main-content with-sidebar">

	<h1>{{ desktop }}</h1>

	<div class="info">
		<span class="time">{{ desktop.created|humandatetime }}</span> |
		<span class="user"><a href="{{ desktop.author.get_absolute_url() }}">{{ desktop.author }}</a></span>
	</div>

	<a href="{{ desktop.image.url }}">
		<img src="{{ desktop.image_detail.url }}" alt="{{ desktop }}" />
	</a>

	{{ desktop.text|safe }}

	{% if request.user.is_authenticated %}
		<form action="{{ request.path }}" method="post">{% csrf_token %}
			<button class="btn" name="favorite" value="{{ favorited|yesno(",1") }}" type="submit">
				<span class="wrap">
					<span class="text">
						{{ favorited|yesno("Odstrániť z obľúbených,Pridať medzi obľúbené") }}
						({{ desktop.favorited_count }})
					</span>
				</span>
			</button>
		</form>
	{% endif %}
</div>

{% endblock %}

{% block discussion %}{{ render_comments_toplevel(desktop) }}{% endblock %}
