{% extends "desktop/default/default_base.html" %}

{% load staticfiles %}

{% block extrastyle %}
{{ block.super }}
<style type="text/css" media="screen">
#colmain, #colleft {
	float: right;
	left: -68%;
}

#colmain {
	float: left;
}

#colinner {
	left: 68%;
	right: auto;
	float: right;
	border-left: solid 1px #c4d1e3;
	border-right: none;
}

.hdrleft {
	float: right;
}

#site_breadcrumbs {
	padding-left: 0px;
	padding-right: 5px;
	margin-left: 0px;
	margin-right: -3px;
	background: url('{% static 'desktop/default/images/breadcrumb_bg_reverse.png' %}') no-repeat top right;
}

</style>
{% endblock %}
