<div class="module sidebar">
	<h2>Informácie</h2>
	<div class="module-row">
		<div class="info top">Autor: <a href="{{ blog.author.get_absolute_url() }}">{{ blog.author }}</a></div>
		{% if blog.author == user %}
			<hr />
			<ul>
				{% if post and blog.slug and post.slug %}
					<li><a href="{{ url("blog:post_edit", blog.slug, post.slug) }}">Upraviť zápis</a></li>
				{% endif %}
				<li><a href="{{ url("blog:post_create") }}">Pridať zápis</a></li>
				<li><a href="{{ url("blog:edit") }}">Upraviť informácie</a></li>
			</ul>
		{% endif %}
		<hr />
		{{ blog.sidebar|safe }}
	</div>
</div>
