{% extends "blog/blog_base.html" %}

{% load paginator_tags i18n %}
{% load threaded_comments_tags %}
{% load breadcrumbs_tags %}
{% load linuxos %}

{% block title %}Blogy{% endblock %}

{% block breadcrumbs %}
	{% if blog %}
		{% breadcrumb url='blog:list' %}{{ blog }}{% endbreadcrumb %}
	{% endif %}
	{% breadcrumb url='blog:list' %}Blog{% endbreadcrumb %}
	{{ block.super }}
{% endblock %}

{% block content %}
{% if blog %}
	{% include "blog/block_informations.html" %}
{% endif %}

{% if blog %}
	<h1>{{ blog }}</h1>

	{% ifequal page 1 %}
		<div class="annotation">{{ blog.description|safe }}</div>
	{% endifequal %}
{% else %}
	<h1>Blogy</h1>
{% endif %}

<div class="module blog{% if blog %} category{% endif %}">
	{% autopaginate post_list page items_per_page=20 %}
	{% add_discussion_attributes post_list %}
	{% with long=1 %}
		{% for post in post_list %}
			{% include "blog/block_post_list_item.html" %}
		{% endfor %}
	{% endwith %}
	{% paginator blog:list %}
</div>
{% endblock %}
