{% extends "blog/blog_base.html" %}

{% load paginator_tags i18n %}
{% load threaded_comments_tags %}
{% load breadcrumbs_tags %}
{% load linuxos %}

{% block title %}Blogy{% endblock %}

{% block breadcrumbs %}
	{% if category %}
		{% breadcrumb url='blog:list' %}{{ category }}{% endbreadcrumb %}
	{% endif %}
	{% breadcrumb url='blog:list' %}Blog{% endbreadcrumb %}
	{{ block.super }}
{% endblock %}

{% block content %}
{% if category %}
	<div class="module sidebar">
		<h2>Informácie</h2>
		<div class="module-row">
			<div class="info top">Autor: <a href="{{ category.author.get_absolute_url }}">{{ category.author }}</a></div>
			{% if category.author == user %}
				<hr />
				<ul>
					<li><a href="{% url "blog:edit" %}">Upraviť informácie</a></li>
					<li>Pridať blog</li>
				</ul>
			{% endif %}
			<hr />
			{{ category.sidebar|safe }}
		</div>
	</div>
{% endif %}

{% if category %}
	<h1>{{ category }}</h1>

	{% ifequal page 1 %}
		<div class="annotation">{{ category.description|safe }}</div>
	{% endifequal %}
{% else %}
	<h1>Blogy</h1>
{% endif %}

<div class="module blog{% if category %} category{% endif %}">
	{% autopaginate post_list page items_per_page=20 %}
	{% add_discussion_attributes post_list %}
	{% with long=1 %}
		{% for item in post_list %}
			<div class="module-row">
				<h3><a href="{{ item.get_absolute_url }}">{{ item }}</a></h3>
				<div class="info">
					<span class="time">{{ item.pub_time|humandatetime }}</span> |
					<span class="user"><a href="{{ item.author.get_absolute_url }}">{{ item.author }}</a></span>
				</div>
				<p>{{ item.perex|safe }}</p>
			</div>
		{% endfor %}
	{% endwith %}
	{% paginator blog:list %}
</div>
{% endblock %}
