{% extends "blog/blog_base.html" %}

{% block title %}{{ object }}{% endblock %}
{% block breadcrumbs %}
	{{ breadcrumb(object) }}
	{{ breadcrumb(object.blog, url=object.blog.get_absolute_url()) }}
	{{ breadcrumb("Blog", url='blog:post-list') }}
	{{ super() }}
{% endblock %}

{% block content %}

{% with blog=object.blog, post=object %}
	{% include "blog/block_informations.html" %}
{% endwith %}

<h1>{{ object }}</h1>

<div class="info">
	<span class="time">{{ object.pub_time|humandatetime }}</span> |
	<span class="category"><a href="{{ object.blog.get_absolute_url() }}">{{ object.blog }}</a></span> |
	<span class="user"><a href="{{ object.author().get_absolute_url() }}">{{ object.author() }}</a></span>
</div>

{% include "blog/post_detail_content.html" %}

{% if object.blog.author == user or attachments %}
	<h2>Prílohy</h2>

	{% if object.blog.author == user %}
		<ul class="object-tools">
			<li class="btn"><span><a href="{{ url("blog:post-attachments-update", object.blog.slug, object.slug) }}">Spravovať</a></span></li>
		</ul>
	{% endif %}

	{% if attachments_files %}
		<ul>
			{% for attachment in attachments_files %}
				<li>
					<a href="{{ attachment.url }}">{{ attachment.basename }}</a> <small>({{ attachment.size|filesizeformat }})</small>
				</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if attachments_images %}
		<br />
		<hr />
		<div class="gallery">
			{% for attachment in attachments_images %}
				<div class="image">
					<a href="{{ attachment.url }}">
						<img src="{{ attachment.attachmentimage.attachment_standard.url }}" alt="{{ attachment.basename }}" />
					</a>
					<div class="title">
						{{ attachment.basename }}
						<small>({{ attachment.size|filesizeformat }})</small>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endif %}


{% endblock %}

{% block discussion %}{{ render_threaded_comments_toplevel(object) }}{% endblock %}
