{% extends "base.html" %}

{% block head_title %}{{ blog }} - úprava seriálov{% endblock %}

{% block breadcrumbs %}
	{{ breadcrumb("Správa seriálov") }}
	{{ breadcrumb(blog, url=blog.get_absolute_url()) }}
	{{ breadcrumb("Blog", url='blog:post-list', page=1) }}
	{{ super() }}
{% endblock %}

{% block content %}
	<ul class="object-tools">
		<li class="btn"><span class="wrap"><a href="{{ url("blog:post-series-management-create", blog.slug) }}" class="text">Pridať nový seriál</a></span></li>
	</ul>

	<h1>Úprava seriálov</h1>

	<p>V tejto sekcii môžte spravovať seriály k blogu „{{ blog }}“.</p>

	<div class="module">
		<div class="tabular">
			<table>
				<thead>
					<th colspan="3">Seriál</th>
				</thead>
				<tbody>
					{% for series in object_list %}
						<tr>
							<td><a href="{{ url("blog:post-series-management-update", blog.slug, series.pk) }}">{{ series }}</a></td>
							<td class="date">{{ series.updated|humandatetime() }}</td>
							<td class="actions"><small><a href="{{ url("blog:post-series-management-delete", blog.slug, series.pk) }}" class="text-color-alert">Zmazať</a></small></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
