{% extends "blog/blog_base.html" %}

{% block head_title %}{{ object }} - úprava{% endblock %}

{% block breadcrumbs %}
	{{ breadcrumb("Správa príloh") }}
	{{ breadcrumb(object, url=object.get_absolute_url()) }}
	{{ breadcrumb(object.blog, url=object.blog.get_absolute_url()) }}
	{{ breadcrumb("Blog", url='blog:post-list', page=1) }}
	{{ super() }}
{% endblock %}

{% block content %}
<h1>Správa príloh</h1>

<form action="{{ request.path }}" enctype="multipart/form-data" method="post">{% csrf_token %}
	<fieldset class="module">
		{% include "includes/form_attachment_loop.html" %}
		<div class="submit-row">
			<div class="positive">
				<button class="btn primary" type="submit" title="Uložiť"><span class="wrap"><span class="text">Uložiť</span></span></button>
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}
