{% extends "base.html" %}
{% block head_title %}Screenshoty multimediálnych programov{% endblock %}
{% block breadcrumbs %}
{{ breadcrumb("Screenshoty multimediálnych programov") }}
{{ breadcrumb("Linux a multimédia", url="page_multimedia") }}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Screenshoty multimediálnych programov</h1>

<div class="gallery">

<div class="image">
	<a href="/media/IMG/audacity.png"><img src="/media/IMG/thumbs/audacity.png" style="width: 140px; height: 105px;" alt="thumbs/audacity.png"/></a>
	<div class="title">Audacity</div>
</div>

<div class="image">
	<a href="/media/IMG/audiolinux.png"><img src="/media/IMG/thumbs/audiolinux.png" style="width: 140px; height: 105px;" alt="thumbs/audiolinux.png"/></a>
	<div class="title">XMMS, KsCD</div>
</div>

<div class="image">
	<a href="/media/IMG/avidemux.png"><img src="/media/IMG/thumbs/avidemux.png" style="width: 140px; height: 105px;" alt="thumbs/avidemux.png"/></a>
	<div class="title">Avidemux</div>
</div>

<div class="image">
	<a href="/media/IMG/blender225.png"><img src="/media/IMG/thumbs/blender225.png" style="width: 140px; height: 108px;" alt="thumbs/blender225.png"/></a>
	<div class="title">Blender 2.25</div>
</div>

<div class="image">
	<a href="/media/IMG/gimp.jpg"><img src="/media/IMG/thumbs/gimp.png" style="width: 140px; height: 105px;" alt="thumbs/gimp.png"/></a>
	<div class="title">Gimp 1.3</div>
</div>

<div class="image">
	<a href="/media/IMG/gimp2.jpg"><img src="/media/IMG/thumbs/gimp2.png" style="width: 140px; height: 98px;" alt="thumbs/gimp2.png"/></a>
	<div class="title">Gimp 1.3</div>
</div>

<div class="image">
	<a href="/media/IMG/k3b_superkaramba.png"><img src="/media/IMG/thumbs/k3b_superkaramba.png" style="width: 140px; height: 105px;" alt="thumbs/k3b + superkaramba.png"/></a>
	<div class="title">K3b</div>
</div>

<div class="image">
	<a href="/media/IMG/madman.jpg"><img src="/media/IMG/thumbs/madman.png" style="width: 140px; height: 100px;" alt="thumbs/madman.png"/></a>
	<div class="title">Madman</div>
</div>

<div class="image">
	<a href="/media/IMG/mplayerblue.png"><img src="/media/IMG/thumbs/mplayerblue.png" style="width: 140px; height: 105px;" alt="thumbs/mplayerblue.png"/></a>
	<div class="title">Mplayer</div>
</div>

<div class="image">
	<a href="/media/IMG/pixie.jpg"><img src="/media/IMG/thumbs/pixie.png" style="width: 140px; height: 99px;" alt="thumbs/pixie.png"/></a>
	<div class="title">Pixie</div>
</div>

<div class="image">
	<a href="/media/IMG/sodipodi-0.32.jpg"><img src="/media/IMG/thumbs/sodipodi-0.32.png" style="width: 140px; height: 105px;" alt="thumbs/sodipodi-0.32.png"/></a>
	<div class="title">Sodipodi 0.32</div>
</div>

<div class="image">
	<a href="/media/IMG/xine.jpg"><img src="/media/IMG/thumbs/xine.png" style="width: 140px; height: 105px;" alt="thumbs/xine.png"/></a>
	<div class="title">Xine</div>
</div>

<div class="image">
	<a href="/media/IMG/xmmskalak.png"><img src="/media/IMG/thumbs/xmmskalak.png" style="width: 140px; height: 59px;" alt="thumbs/xmmskalak.png"/></a>
	<div class="title">XMMS</div>
</div>

</div>

{% endblock %}
