{% extends "base.html" %}
{% block head_title %}Screenshoty internetových programov{% endblock %}
{% block breadcrumbs %}
{{ breadcrumb("Screenshoty internetových programov") }}
{{ breadcrumb("Linux a Internet", url="page_internet") }}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Screenshoty internetových programov</h1>

<div class="gallery">

<div class="image">
	<a href="/media/IMG/d4x.png"><img src="/media/IMG/thumbs/d4x.png" style="width: 140px; height: 99px;" alt="thumbs/d4x.png"/></a>
	<div class="title">Downloader 4 X 2.5</div>
</div>

<div class="image">
	<a href="/media/IMG/evolution-fullscreen.png"><img src="/media/IMG/thumbs/evolution-fullscreen.png" style="width: 140px; height: 105px;" alt="thumbs/evolution-fullscreen.png"/></a>
	<div class="title">Evolution</div>
</div>

<div class="image">
	<a href="/media/IMG/evolution.png"><img src="/media/IMG/thumbs/evolution.png" style="width: 140px; height: 98px;" alt="thumbs/evolution.png"/></a>
	<div class="title">Evolution</div>
</div>

<div class="image">
	<a href="/media/IMG/exchange_folders_email.png"><img src="/media/IMG/thumbs/exchange_folders_email.png" style="width: 140px; height: 99px;" alt="thumbs/exchange_folders_email.png"/></a>
	<div class="title">Evolution</div>
</div>

<div class="image">
	<a href="/media/IMG/firebird.png"><img src="/media/IMG/thumbs/firebird.png" style="width: 140px; height: 99px;" alt="thumbs/firebird.png"/></a>
	<div class="title">Mozilla Firefox</div>
</div>

<div class="image">
	<a href="/media/IMG/kbear.png"><img src="/media/IMG/thumbs/kbear.png" style="width: 140px; height: 98px;" alt="thumbs/kbear.png"/></a>
	<div class="title">KBear FTP klient</div>
</div>

<div class="image">
	<a href="/media/IMG/konqueror.png"><img src="/media/IMG/thumbs/konqueror.png" style="width: 140px; height: 98px;" alt="thumbs/konqueror.png"/></a>
	<div class="title">Konqueror browser</div>
</div>

<div class="image">
	<a href="/media/IMG/mozilla1.5.png"><img src="/media/IMG/thumbs/mozilla1.5.png" style="width: 140px; height: 99px;" alt="thumbs/mozilla1.5.png"/></a>
	<div class="title">Mozilla 1.5</div>
</div>

<div class="image">
	<a href="/media/IMG/opera.png"><img src="/media/IMG/thumbs/opera.png" style="width: 140px; height: 98px;" alt="thumbs/opera.png"/></a>
	<div class="title">Opera</div>
</div>

<div class="image">
	<a href="/media/IMG/quanta.png"><img src="/media/IMG/thumbs/quanta.png" style="width: 140px; height: 99px;" alt="thumbs/quanta.png"/></a>
	<div class="title">Quanta</div>
</div>

<div class="image">
	<a href="/media/IMG/sim.jpg"><img src="/media/IMG/thumbs/sim.png" style="width: 140px; height: 105px;" alt="thumbs/sim.png"/></a>
	<div class="title">SIM ICQ klient</div>
</div>

<div class="image">
	<a href="/media/IMG/tb.png"><img src="/media/IMG/thumbs/tb.png" style="width: 140px; height: 98px;" alt="thumbs/tb.png"/></a>
	<div class="title">Mozilla Thunderbird</div>
</div>

</div>

{% endblock %}
