/* Vyčistenie nadradených štýlov */
.wym_skin_shakal p, .wym_skin_shakal h2, .wym_skin_shakal ul, .wym_skin_shakal li { background: transparent; margin: 0; padding: 0; border-width: 0; list-style: none; }

/* Zobrazovanie len pravého panelu */
.wym_skin_shakal .wym_area_left { display: none; }
.wym_skin_shakal .wym_area_right { display: block; }

/* Štýl panelu */
.wym_skin_shakal .wym_panel { background-color: #e1e8f1; border: solid 1px #e6e4e4; }
.wym_skin_shakal .wym_panel h2 { padding: 10px 3px; border-bottom: 1px solid #c8d5e1; }
.wym_skin_shakal .wym_panel .wym_top_toolbar { border-top: 1px solid #f7f9ff; }

/* Položky panelu */
.wym_skin_shakal .wym_panel .wym_top_toolbar ul { background: white; padding: 0px; border: #33688f 1px solid; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); }
.wym_skin_shakal .wym_panel .wym_top_toolbar li a { display: block; border-bottom: 1px solid #eee; padding: .3em; text-decoration: none; }
.wym_skin_shakal .wym_panel .wym_top_toolbar li:last-child a { border: none; }
#site_content .wym_skin_shakal .wym_panel .wym_top_toolbar li a:hover { border-radius: 0; background: #3f88c0; color: white; }

/* Typografia */
.wym_skin_shakal h2 { font-size: 110%; font-weight: bold; color: #1d5886; text-shadow: #ffffff 0px 1px 0px; }

/* Box */
.wym_skin_shakal { background: white; padding: 0px; margin-right: -12px; clear: both; }
.wym_skin_shakal:after { content: ".", display: block; height: 0; clear: both; visibility: hidden; }

/* Informácie o editore */
.wym_skin_shakal .wym_wymeditor_link { float: right; position: absolute; top: 20px; right: 48px; }
.wym_skin_shakal .wym_area_bottom { overflow-y: hidden; clear: both; }

/* Html a iframe */
.wym_skin_shakal .wym_html, .wym_skin_shakal .wym_iframe { width: 100%; }
.wym_skin_shakal .wym_iframe iframe { width: 100%; height: 200px; border: 1px solid #e6e4e4; background: white; color: black; padding: 2px; }
.wym_skin_shakal .wym_html textarea { width: 100%; height: 200px; padding: 2px; }

/* Layout */
.wym_skin_shakal .wym_area_left { width: 200px; float: left;}
.wym_skin_shakal .wym_area_right { width: 200px; float: right;}
.wym_skin_shakal .wym_area_top {}
.wym_skin_shakal .wym_area_main { margin-right: 6px; }

/* Spoločné nastavenia */

.wym_skin_shakal .wym_section {  }
.wym_skin_shakal .wym_section:after { content: ".", display: block; height: 0; clear: both; visibility: hidden; }

/* Toolbar */
.wym_skin_shakal .wym_area_top .wym_panel.wym_classes { display: none; }
.wym_skin_shakal .wym_area_top .wym_panel { float: left; background: none; border: none; margin-bottom: 4px; }
.wym_skin_shakal .wym_area_top .wym_panel .wym_top_toolbar { position: absolute; display: none; margin-top: 32px; }
.wym_skin_shakal .wym_area_top .wym_panel:hover .wym_top_toolbar { position: absolute; display: block; }
.wym_skin_shakal .wym_tools h2 { display: none; }
.wym_skin_shakal .wym_html h2 { display: none; }
.wym_skin_shakal .wym_tools { margin-right: 9em; }

.wym_skin_shakal .wym_buttons a { display: block; width: 18px; height: 22px; overflow: hidden; text-indent: -9999px; background-image: url(editoricons.png) !important; text-decoration: none; margin: 5px -3px; }
.wym_skin_shakal .wym_buttons a:hover { background-position: -18px 0px; border-radius: 0px; }

.wym_skin_shakal .wym_buttons li.wym_tools_undo a { background-position: 0 -22px;}
.wym_skin_shakal .wym_buttons li.wym_tools_redo a { background-position: 0 -44px;}
.wym_skin_shakal .wym_buttons li.wym_tools_undo a:hover { background-position: -18px -22px;}
.wym_skin_shakal .wym_buttons li.wym_tools_redo a:hover { background-position: -18px -44px;}

.wym_skin_shakal .wym_buttons li.wym_tools_strong a { background-position: 0 -66px;}
.wym_skin_shakal .wym_buttons li.wym_tools_emphasis a { background-position: 0 -88px;}
.wym_skin_shakal .wym_buttons li.wym_tools_strong a:hover { background-position: -18px -66px;}
.wym_skin_shakal .wym_buttons li.wym_tools_emphasis a:hover { background-position: -18px -88px;}

.wym_skin_shakal .wym_buttons li.wym_tools_ordered_list a { background-position: 0 -110px;}
.wym_skin_shakal .wym_buttons li.wym_tools_unordered_list a { background-position: 0 -132px;}
.wym_skin_shakal .wym_buttons li.wym_tools_indent a { background-position: 0 -154px}
.wym_skin_shakal .wym_buttons li.wym_tools_outdent a { background-position: 0 -176px}
.wym_skin_shakal .wym_buttons li.wym_tools_ordered_list a:hover { background-position: -18px -110px;}
.wym_skin_shakal .wym_buttons li.wym_tools_unordered_list a:hover { background-position: -18px -132px;}
.wym_skin_shakal .wym_buttons li.wym_tools_indent a:hover { background-position: -18px -154px}
.wym_skin_shakal .wym_buttons li.wym_tools_outdent a:hover { background-position: -18px -176px}

.wym_skin_shakal .wym_buttons li.wym_tools_link a { background-position: 0 -198px}
.wym_skin_shakal .wym_buttons li.wym_tools_unlink a { background-position: 0 -220px}
.wym_skin_shakal .wym_buttons li.wym_tools_link a:hover { background-position: -18px -198px}
.wym_skin_shakal .wym_buttons li.wym_tools_unlink a:hover { background-position: -18px -220px}

.wym_skin_shakal .wym_buttons li.wym_tools_image a { background-position: 0 -242px}
.wym_skin_shakal .wym_buttons li.wym_tools_image a:hover { background-position: -18px -242px}

.wym_skin_shakal .wym_buttons li.wym_tools_html a { background-position: 0 -264px}
.wym_skin_shakal .wym_buttons li.wym_tools_preview a { background-position: 0 -286px}
.wym_skin_shakal .wym_buttons li.wym_tools_paste a { background-position: 0 -352px}
.wym_skin_shakal .wym_buttons li.wym_tools_html a:hover { background-position: -18px -264px}
.wym_skin_shakal .wym_buttons li.wym_tools_preview a:hover { background-position: -18px -286px}
.wym_skin_shakal .wym_buttons li.wym_tools_paste a:hover { background-position: -18px -352px}
