{% extends "wiki/wiki_base.html" %}

{% block breadcrumbs %}
	{{ breadcrumb(page, url=page.get_absolute_url()) }}
	{{ breadcrumb("Wiki", url="wiki:home") }}
	{{ super() }}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<ul class="object-tools btn-group">
	<li class="btn"><span class="wrap"><a class="text" href="{{ url("wiki:create", page.slug) }}">Pridať stránku</a></span></li>
{% if user.is_staff and perms.article.can_change %}
	<li class="btn"><span class="wrap"><a class="text" href="{{ url("wiki:edit", page.slug) }}">Editovať</a></span></li>
{% endif %}
</ul>
{% endif %}

<h1>{{ page }}</h1>
{{ page.text|safe }}

<div class="module tabular">
	<div class="module-row">
		{% with pages=children %}
			{% include "wiki/pages_table.html" %}
		{% endwith %}
	</div>
	{{ pagination() }}
</div>

{% endblock %}
