{% extends 'wiki/wiki_base.html' %}

{% load breadcrumbs_tags %}
{% load paginator_tags %}

{% block breadcrumbs %}
	{% breadcrumb url='wiki:page' page.slug %}{{ page }}{% endbreadcrumb %}
	{% breadcrumb url='wiki:home' %}Wiki{% endbreadcrumb %}
	{{ block.super }}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<ul class="object-tools btn-group">
	<li class="btn"><span><a href="{% url 'wiki:create' page.slug %}">Pridať stránku</a></span></li>
{% if user.is_staff and perms.article.can_change %}
	<li class="btn"><span><a href="{% url 'wiki:edit' page.slug %}">Editovať</a></span></li>
{% endif %}
</ul>
{% endif %}

<h1>{{ page }}</h1>
{{ page.text|safe }}

<div class="module">
	{% autopaginate children pagenum items_per_page=50 %}
	<div class="module-row">
		{% include 'wiki/pages_table.html' with pages=children %}
	</div>
	{% paginator wiki:page-page slug=page.slug %}
</div>

{% endblock %}
