{% extends "wiki/wiki_base.html" %}

{% block extraheaders %}
<meta name="robots" content="noindex, nofollow" />
{{ form.media }}
{% endblock %}

{% block content %}
{% if valid %}
	<div class="module preview">
		<h2>Náhľad</h2>
		<h1> {{ item }}</h1>
		{{ item.text|safe }}
	</div>
{% endif %}

<form action="{% block form_url %}{% endblock %}" method="post" id="wiki-form">{% csrf_token %}
	<fieldset>
		{% include "includes/form_loop.jinja.html" %}
		<div class="submit-row">
			<div class="positive">
				<button class="btn" type="submit" title="Náhľad"><span>Náhľad</span></button>
				{% if valid %}
					{% block submit_btn %}{% endblock %}
				{% endif %}
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}
