{% extends "wiki/edit_base.html" %}

{% block head_title %}Editovať stránku{% endblock %}

{% block breadcrumbs %}
	{{ breadcrumb("Editovať") }}
	{{ breadcrumb(page, url=page.get_absolute_url()) }}
	{{ breadcrumb("Wiki", url="wiki:home") }}
	{{ super() }}
{% endblock %}

{% block form_url %}{{ url("wiki:edit", slug=page.slug) }}{% endblock %}
{% block submit_btn %}<button class="btn primary" type="submit" title="Uložiť" name="update" value="1"><span class="wrap"><span class="text">Uložiť</span></span></button>{% endblock %}
