{% extends "news/news_base.html" %}

{% block breadcrumbs %}
	{{ breadcrumb(news|truncatechars(80)) }}
	{{ breadcrumb("Správy", url="news:list") }}
	{{ super() }}
{% endblock %}

{% block head_title %}
{{ news }}
{% endblock %}

{% block content %}
<form action="{{ request.path }}" method="post">{% csrf_token %}
<ul class="object-tools btn-group">
	{% if user.is_staff and perms.news.can_change %}
		<li class="btn"><span class="wrap"><a href="{{ url("admin:news_news_change", news.pk) }}" class="text">Admin</a></span></li>
	{% endif %}
	{% if perms.news.can_change %}
		<li class="btn"><span class="wrap"><a href="{{ url("news:update", news.slug) }}" class="text">Upraviť</a></span></li>
	{% endif %}
	{% if perms.news.can_change %}
		{% with is_new = news.created == news.updated %}
			{% if not news.approved or is_new %}<li class="btn"><button type="submit" name="approve" value="1" class="wrap"><span class="text">Schváliť</span></button></li>{% endif %}
			{% if news.approved or is_new %}<li class="btn"><button type="submit" name="approve" value="" class="wrap"><span class="text">Zamietnúť</span></button></li>{% endif %}
		{% endwith %}
	{% endif %}
</ul>
</form>
<h1>{{ news }}</h1>

<div class="info">
	<span class="time">{{ news.created|humandatetime }}</span> |
	<span class="user">{{ user_link(news.author, news.authors_name) }}</span> |
	<span class="category"><a href="{{ news.category.get_absolute_url() }}">{{ news.category }}</a></span>
</div>

<p>
{{ news.long_text|safe }}
</p>

{% include "news/partials/source.html" %}
{% endblock %}

{% block discussion %}{{ render_comments_toplevel(news) }}{% endblock %}
