{% extends "news/news_base.html" %}

{% block extraheaders %}
<meta name="robots" content="noindex, nofollow" />
{{ form.media }}
{% endblock %}

{% block head_title %}Pridať správu{% endblock %}
{% block breadcrumbs %}
	{{ breadcrumb("Pridať správu") }}
	{{ breadcrumb("Správy", url="news:list") }}
	{{ super() }}
{% endblock %}

{% block content %}
<h1>Pridať správu </h1>

{% if valid %}
	<div class="module preview">
		<h2>Náhľad</h2>
		<h3>{{ item }}</h3>
		<div class="info">
			<span class="time">Teraz</span> |
			<span class="user">{{ user_link(item.author, item.authors_name) }}</span>
		</div>
		<p>{{ item.short_text|safe }}</p>
		<hr />
		<p>{{ item.long_text|safe }}</p>
	</div>
{% endif %}

<form action="{{ url("news:create") }}" method="post" id="news-form">{% csrf_token %}
	<fieldset>
		{% include "includes/form_loop.html" %}
		<div class="submit-row">
			<div class="positive">
				<button class="btn" type="submit" title="Náhľad"><span>Náhľad</span></button>
				{% if valid %}
				<button class="btn" type="submit" title="Vytvoriť správu" name="create" value="1"><span>Vytvoriť správu</span></button>
				{% endif %}
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}
