{% extends "news/news_base.html" %}{% load breadcrumbs_tags threaded_comments %}{% load url from future %}

{% block breadcrumbs %}
{% breadcrumb %}{{ news|truncatechars:80 }}{% endbreadcrumb %}
{{ block.super }}
{% endblock %}

{% block content %}
{% if user.is_staff and perms.news.can_change %}
<ul class="object-tools">
	<li><a href="{% url 'admin:news_news_change' news.pk %}">Upraviť správu</a></li>
</ul>
{% endif %}
<h1>{{ news }}</h1>
<p>
{{ news.long_text|safe }}
</p>
{% endblock %}

{% block discussion %}{% render_threaded_comments_toplevel news %}{% endblock %}
