{% extends "error.html" %}
{% block head_title %}{% if detail %}{{ detail }}{% else %}Požadovaný súbor nebol nájdený{% endif %}{% endblock %}
{% block pagetitle %}Požadovaný súbor nebol nájdený{% endblock %}
{% block errorcode %}404{% endblock %}
{% block details %}
	<p>{% if detail %}{{ detail }}{% else %}Zdá sa, že stránka, na ktorú ste boli odkázaní neexistuje. Ak máte pocit, že táto stránka, by mala existovať môžte nám tento problém spolu s podrobnosťami nahlásiť.{% endif %}</p>
	<h2>Podrobnosti</h2>
	<ul>
		<li>Čas: {{ date_now }}</li>
		<li>Požadovaná adresa: {{ request.get_full_path() }}</li>
	</ul>
{% endblock %}
