{% extends "error.html" %}
{% block head_title %}{% if detail %}{{ detail }}{% else %}Priveľa požiadaviek{% endif %}{% endblock %}
{% block pagetitle %}Priveľa požiadaviek{% endblock %}
{% block errorcode %}429{% endblock %}
{% block details %}
	<p>{% if detail %}{{ detail }}{% else %}Z poslednej dobe ste zaslali priveľa požiadaviek na server.{% endif %}</p>
	<h2>Podrobnosti</h2>
	<ul>
		<li>Čas: {{ date_now }}</li>
		<li>Požadovaná adresa: {{ request.get_full_path() }}</li>
	</ul>
{% endblock %}
