{% load linuxos %}{% load url from future %}
<div class="discussion header entry{% ifequal comment.user request.user %} me{% endifequal %}">
	<div class="title"><a id="link_{{ comment.pk }}"></a>{{ comment.subject }}</div>
	<span class="icon"></span>
	<span class="user">
		{% user_link comment.user comment.user_name %}
		{% if comment.user %}
			<span class="distribution"><strong>Distribúcia: </strong>{{ comment.user.get_profile.distribution }}</span>
		{% endif %}
	</span>
	<span class="info">
		{{ comment.submit_date|humandatetime }} | <a href="#link_{{ comment.pk }}">Link</a>
	</span>
</div>
<div class="text">
{{ comment.comment|safe }}
</div>
{% if comment.user.get_profile.signature %}
	<div class="signature">
		{{ comment.user.get_profile.signature|safe }}
	</div>
{% endif %}
{% if comment.pk %}<div class="links"><a href="{% url 'comments-reply-comment' comment.pk %}" class="reply">Odpovedať</a></div>{% endif %}
