{% load avatar %}{% load linuxos %}
<div class="discussion header {% if user %}vcard {% endif %}{{ comment_type }}{% if not single %}{% ifequal user request.user %} me{% endifequal %}{{ comment.get_tags }}{% endif %}">
	<div class="comment_info">
		<span class="title">{% block comment_title %}{% endblock %}</span>
		<span class="info">
			{% if comment.submit_date %}{{ comment.submit_date|humandatetime }}{% else %}{{ comment.created|humandatetime }}{% endif %}
			{% if comment.pk %} | <a href="#link_{{ comment.pk }}">Link</a>{% endif %}
			{% if comment.prev_new %} | <a href="#link_{{ comment.prev_new }}" class="comment-link next">Predchádzajúci</a>{% endif %}
			{% if comment.next_new %} | <a href="#link_{{ comment.next_new }}" class="comment-link prev">Nasledujúci</a>{% endif %}
		</span>
	</div>
	<span class="icon">
		{% if user %}
			<img src="{% avatar_for_user user 48 %}" class="gravatar photo" alt="Avatar" />
		{% endif %}
	</span>
	<span class="user">
		<span class="user_link">{% user_link user user_name %}</span>
		<span class="user_rating {% if user.is_staff %}admin{% elif user.is_active %}rating_{{ user.rating.get_rating_label }}{% else %}rating_0{% endif %}"{% if user.rating %} title="Body: {{ user.rating.rating }}"{% endif %}></span>
		<span class="note distribution">{{ user.distribution }}&nbsp;</span>
		<span class="role rank">{% if user.is_staff %}Administrátor{% elif user.is_active %}Používateľ{% else %}Návštevník{% endif %}</span>
	</span>
	{% if comment.is_removed and not can_display_deleted %}
	{% elif not comment.is_public and not single %}
	{% else %}
		{% if comment.attachments.all %}
			<ul class="files">
			{% for attachment in comment.attachments.all %}
				<li><a href="{{ attachment.url }}">{{ attachment.basename }}</a></li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endif %}
	<div class="clear"></div>
</div>
