{% extends "base.html" %}

{% block breadcrumbs %}
{{ breadcrumb("Diskusia") }}
{{ breadcrumb(object, url=object.get_absolute_url()) }}
{{ breadcrumb(module_name, url=module_url) }}
{{ super() }}
{% endblock %}

{% block extraheaders %}
<meta name="robots" content="noindex, nofollow" />
{% if form %}{{ form.media }}{% endif %}
{% endblock %}

{% block content %}
	<h1>Obsah diskusie</h1>
	Diskusia k: <a href="{{ object.get_absolute_url() }}">{{ object }}</a>
{% endblock %}

{% block discussion %}
	{% if single %}
		<div class="comments_tree secondary_content">
			<ul class="comment_thread thread_1">
				<li class="comment">
					{% include "comments/comment_item.html" %}
				</li>
			</ul>
		</div>
	{% else %}
		{{ render_threaded_comments_toplevel(object) }}
	{% endif %}
{% endblock %}
