{% load linuxos %}{% load url from future %}{% load gravatar %}
<div class="discussion header entry{% ifequal comment.user request.user %} me{% endifequal %}{% if comment.is_new %} new{% endif %}{% if comment.pk in highlight %} highlight{% endif %}">
	<div class="title">{{ comment.subject }}&nbsp;<a id="link_{{ comment.pk }}" href="#"></a></div>
	<span class="icon">
		{% if comment.user %}
			<img src="{% gravatar_for_user comment.user 46 %}" class="gravatar" alt="Avatar" />
		{% endif %}
	</span>
	<span class="user">
		{% user_link comment.user comment.user_name %}
		{% if comment.user %}
			<span class="distribution"><strong>Distribúcia: </strong>{{ comment.user.get_profile.distribution }}</span>
		{% endif %}
	</span>
	<span class="info">
		{% if comment.submit_date %}{{ comment.submit_date|humandatetime }}{% else %}Teraz{% endif %}{% if comment.pk %}
		| <a href="#link_{{ comment.pk }}">Link</a>{% endif %}
		{% if comment.prev_new %} | <a href="#link_{{ comment.prev_new }}" class="comment-link next">Predchádzajúci</a>{% endif %}
		{% if comment.next_new %} | <a href="#link_{{ comment.next_new }}" class="comment-link prev">Nasledujúci</a>{% endif %}
	</span>
	<div class="clear"></div>
</div>
<div class="content">
	<div class="text">
	{{ comment.comment|safe }}
	</div>
	{% if comment.user.get_profile.signature %}
		<div class="signature">
			{{ comment.user.get_profile.signature|safe }}
		</div>
	{% endif %}
	{% if comment.pk and not readonly %}
		<div class="links">
			{% if not comment.is_locked %}
				<div class="btn reply">
					<span>
						<a href="{% url 'comments-reply-comment' comment.pk %}" class="reply">Odpovedať</a>
					</span>
				</div>
			{% endif %}
			{% if user.is_authenticated and not comment.is_locked %}
				<div class="btn-group voting">
					<div class="btn">
						<span>
							<a href="#" class="up">+ 1</a>
						</span>
					</div>
					<div class="btn">
						<span>
							<a href="#" class="down">- 1</a>
						</span>
					</div>
				</div>
			{% endif %}
			{% if user.is_authenticated %}
				{% if user.is_staff and perms.threaded_comments.change_threaded_comment or not comment.is_locked %}
					<div class="btn-group admin">
						{% if user.is_staff and perms.threaded_comments.change_threaded_comment %}
							<div class="btn">
								<span>
									<a href="{% url 'comments-lock' comment.pk %}?lock={{ comment.is_locked|yesno:",1" }}" class="lock">{% if comment.is_locked %}Odomknúť{% else %}Zamknúť{% endif %}</a>
								</span>
							</div>
						{% endif %}
						{% if not comment.is_locked %}
							<div class="btn">
								<span>
									<a href="#" class="resolved">Riešenie</a>
								</span>
							</div>
						{% endif %}
					</div>
				{% endif %}
			{% endif %}
		</div>
	{% endif %}
	<div class="clear"></div>
</div>
