{% with %}
	{% set comment_type="entry" %}
	{% set user=comment.user %}
	{% set user_name=comment.user_name %}
	{% include "comments/comment_header.jinja.html" %}
{% endwith %}

{% set is_authenticated=user.is_authenticated %}
{% set is_staff=user.is_staff %}
{% set is_removed=comment.is_removed %}
{% set is_locked=comment.is_locked %}
{% set is_public=comment.is_public %}

<div class="discussion content">
	{% if is_removed and not can_display_deleted %}
		<ul class="messages"><li class="error">Príspevok bol vymazaný. {% if is_staff %} Zobraziť ho môžte na <a href="{{ comment.get_single_comment_url() }}" rel="nofollow">tejto adrese</a>.{% endif %}</li></ul>
	{% elif not is_public and not single %}
		<ul class="messages"><li class="warning">Príspevok bol označený závadným. Zobraziť ho môžte na <a href="{{ comment.get_single_comment_url() }}" rel="nofollow">tejto adrese</a>.</li></ul>
	{% else %}
		<div class="text">
		{{ comment.comment|safe }}
		</div>
		{% if comment.user.signature %}
			<div class="signature">
				{{ comment.user.signature|safe }}
			</div>
		{% endif %}
	{% endif %}
</div>
{% if comment.pk and not readonly and not single %}
	<div class="links">
		{% if not is_locked %}
			<div class="btn reply">
				<span>
					<a href="{{ url('comments-reply-comment', comment.pk) }}" class="reply" rel="nofollow">Odpovedať</a>
				</span>
			</div>
		{% endif %}
		{% if is_authenticated and not is_locked and is_public and not is_removed %}
			<!--
			<div class="btn-group voting">
				<div class="btn">
					<span>
						<a href="#" class="up" rel="nofollow">+ 1</a>
					</span>
				</div>
				<div class="btn">
					<span>
						<a href="#" class="down" rel="nofollow">- 1</a>
					</span>
				</div>
			</div>
			-->
		{% endif %}
		{% if is_authenticated %}
			{% if is_staff and perms.threaded_comments.change_threaded_comment or not is_locked %}
				{% set comments_admin_url=url('comments-admin', comment.pk) %}
				<div class="btn-group admin">
					{% if is_staff and perms.threaded_comments.change_threaded_comment %}
						<div class="btn">
							<span>
								<a href="{{ comments_admin_url }}?delete={{ is_removed|yesno(",1") }}" class="delete" rel="nofollow">{% if is_removed %}Obnoviť{% else %}Zmazať{% endif %}</a>
							</span>
						</div>
						{% if not is_removed %}
							<div class="btn">
								<span>
									<a href="{{ comments_admin_url }}?public={{ is_public|yesno(",1") }}" class="private" rel="nofollow">{% if is_public %}Závadný{% else %}Nezávadný{% endif %}</a>
								</span>
							</div>
						{% endif %}
						<div class="btn">
							<span>
								<a href="{{ comments_admin_url }}?lock={{ is_locked|yesno(",1") }}" class="lock" rel="nofollow">{% if is_locked %}Odomknúť{% else %}Zamknúť{% endif %}</a>
							</span>
						</div>
					{% endif %}
					{% if not is_locked and is_public and not is_removed %}
						<!--
						<div class="btn">
							<span>
								<a href="#" class="resolved" rel="nofollow">Riešenie</a>
							</span>
						</div>
						-->
					{% endif %}
				</div>
			{% endif %}
		{% endif %}
	</div>
{% endif %}
<div class="clear"></div>
