{% extends "base.html" %}{% load breadcrumbs_tags %}

{% block breadcrumbs %}
{% breadcrumb %}Diskusia{% endbreadcrumb %}
{% breadcrumb absolute_url=content_object.get_absolute_url %}{{ content_object }}{% endbreadcrumb %}
{% breadcrumb absolute_url=module_url %}{{ module_name }}{% endbreadcrumb %}
{{ block.super }}
{% endblock %}

{% block extraheaders %}{{ form.media }}{% endblock %}

{% block content %}
<h1>Pridať komentár</h1>

{% if parent %}
<h2>Príspevok, na ktorý odpovedáte</h2>
<div class="module preview">
	<div class="clearpadding">{% include "comments/comment_item.html" with comment=parent readonly=1 %}</div>
</div>
{% endif %}

{% if valid %}
<h2>Náhľad</h2>
<div class="module preview">
	<div class="clearpadding">{% include "comments/comment_item.html" %}</div>
</div>
{% endif %}

{% include "comments/form.html" %}
{% endblock %}
