{% extends "base.jinja.html" %}

{% block breadcrumbs %}
{{ breadcrumb("Diskusia") }}
{{ breadcrumb(content_object|truncatechars(50), absolute_url=content_object.get_absolute_url) }}
{{ breadcrumb(module_name, absolute_url=module_url) }}
{{ super() }}
{% endblock %}

{% block title %}Pridať komentár{% endblock %}

{% block extraheaders %}
<meta name="robots" content="noindex, nofollow" />
{{ form.media }}
{% endblock %}

{% block content %}
<h1>Pridať komentár</h1>

{% if parent %}
<h2>Príspevok, na ktorý odpovedáte</h2>
<div class="module preview">
	{% with comment=parent, readonly=1 %}
		<div class="clearpadding">{% include "comments/comment_item.html" %}</div>
	{% endwith %}
</div>
{% endif %}

{% if valid %}
<h2>Náhľad</h2>
<div class="module preview">
	<div class="clearpadding">{% include "comments/comment_item.html" %}</div>
</div>
{% endif %}

{% if form %}
{% include "comments/form.html" %}
{% endif %}

{% endblock %}
