html, body {
	padding: 0;
	margin: 0;
	font-family: 'FixedsysExcelsiorIIIb';
	font-size: 16px;
	background: #000000;
	color: #ffffff;
}

pre, li, a, p, ul, button, input, textarea, select, option {
	font-family: 'FixedsysExcelsiorIIIb';
	font-size: 16px;
	line-height: $line-height;
}

pre, li, a, p, ul, button {
	color: #ffffff;
}

input:focus, textarea:focus, select:focus, a:focus {
	outline: none;
}

input, textarea, select, option, button {
	border: none;
}

input, textarea, select, option {
	color: black;
	background: white;
}

img {
	border: none;
}

.clearfix {
	clear: both;
}
