.calendar-widget {
	td, th {
		width: 14.2857%;
	}
	.extra {
		span {
			opacity: 0.25;
		}
	}
	.active {
		background-color: $menu-active-background;
		color: $menu-active-color;
	}
	.tooltip-content {
		width: 200px;
	}
	.events {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			padding: 0;
			margin: 0;
			&:before {
				display: none;
			}
		}
		a {
			display: block;
		}
	}
}
