#top_header {
	background: $menu-background;
	color: $menu-color;
	&:after {
		display: block;
		content: " ";
		height: 0px;
		clear: both;
	}

	.hdrleft {
		display: none;
	}

	.badge {
		margin-left: -8px;
	}

	li {
		color: $menu-color;
	}

	a {
		display: inline-block;
		color: $menu-color;
		padding: 0 8px;
		text-decoration: none;
	}

	.active a, a:hover {
		color: $menu-active-color;
		background: $menu-active-background;
	}
}

#main_menu {
	padding: 0 16px;;
	margin: 0;
	list-style: none;
	float: left;

	li {
		padding: 0;
		margin: 0;
		display: inline-block;
	}
}

#top_right {
	float: right;
	height: $line-height;
}

#user_panel, #rss_panel, #search_panel {
	padding-right: 16px;
	z-index: 100;
	float: right;
	position: relative;
}

#user_panel {
	max-width: 160px;

	.text {
		text-align: right;
	}

	.btn.username, a {
		display: block;
		color: $menu-color;
		padding: 0 8px;
		text-decoration: none;
		&:hover {
			color: $menu-active-color;
			background: $menu-active-background;
		}
	}
	.text {
		@include text-ellipsis;
	}
	&:hover {
		height: 400px;

		#userlinks {
			display: block;
		}

		.text {
			color: $menu-active-color;
			background: $menu-active-background;
		}
	}
}

#userlinks, #rsslinks {
	float: none;
	display: none;
	list-style: none;
	position: absolute;
	right: 16px;
	min-width: 160px;
	z-index: 100;

	@include panel($border: #000000, $background: #c0c0c0, $shadow: true);

	li {
		padding: 0;
		margin: 0;
	}
}

#rss_panel {
	&:hover {
		height: 400px;

		#rsslinks {
			display: block;
		}
	}

	#rsslinks {
		right: -40px;
	}
}

#site_breadcrumbs {
	clear: both;
	color: #c0c0c0;
	position: relative;
	margin-bottom: -$line-height;
	z-index: 1;

	ul {
		padding: 0;
		margin: 0 16px;
		list-style: none;
		@include text-ellipsis;
	}

	li {
		display: inline;
		background: #000000;
		padding: 0 8px;

		&:after {
			content: '  >';
			display: inline;
		}

		&:last-child:after {
			content: '';
		}
	}

	li, a {
		color: #c0c0c0;
	}

	.icon {
		display: none;
	}

	a {
		display: inline;
		padding: 0;
		&:hover {
			color: #ffffff;
		}
	}
}

#search_panel {
	position: relative;

	&:hover {
		height: 40px;
		.input-container {
			display: block;
		}
	}

	button {
		border: none;
		color: $menu-color;
		background: $menu-background;
		line-height: $line-height;
		height: $line-height;
		padding: 0 8px;
		margin: 0;
		box-shadow: none;
		&:hover {
			color: $menu-active-color;
			background: $menu-active-background;
		}
	}

	.input-container {
		display: block;
		position: absolute;
		right: 0;
		top: 20px;
		line-height: $line-height;
		height: $line-height;
		border: none;
		display: none;
		@include panel($border: #000000, $background: #c0c0c0, $shadow: true);
	}
}

#mainwrap {
	@include panel($border: #c0c0c0, $background: #000000, $shadow: false);
}

#colmask {
	background: #000088;
}

#site_content, .secondary_content, #aside_left, #aside_right {
	padding: 0px 7px 0px 8px;
}

.object-tools {
	float: right;
}

.module-row {
	padding: 8px 0;
}

.module-links.bottom {
	padding-top: 7px;
	margin-top: 8px;
	border-top: 1px solid #444488;
}

.module {
	border-bottom: 1px solid #c0c0c0;
	padding-bottom: 15px;
	&:last-child {
		border-bottom: none;
	}
}

.submit-row {
	padding-top: 16px;
	.positive {
		float: right;
	}
}

fieldset.module {
	border: 8px solid #880000;
	background: #ff0000;
	color: white;
	padding: 20px 8px;
	p {
		color: white;
	}
	&:last-child {
		border-bottom: 8px solid #880000;
	}
}

.fieldset {
	border: 1px solid #c0c0c0;
	padding: 8px;
	margin: 16px 7px;

	.legend {
		text-align: center;
		color: white;
		margin-top: -18px;
		float: left;
		background: #000088;
		padding: 0 8px;
	}
}

.clearfix {
	@include clearfix;
}

/* === Formulár === */
.form-row {
	padding: 8px 0;;
	border-bottom: 1px solid #ff8888;
	@extend .clearfix;

	.field_label, .formset_label {
		display: block;
		float: left;
		width: 160px;
	}

	.required:after {
		content: " *";
	}

	.help {
		padding-left: 160px;
		color: #d0d0d0;
	}

	label {
		color: #ffffff;
	}

	.radio-description {
		padding: 0;
		margin: 0;
		color: #d0d0d0;
	}

	input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"] {
		vertical-align: middle;
		width: 15em;
	}

	ul {
		padding: 0;
		margin: 0;
		margin-left: 172px;
	}

	li {
		list-style: none;
	}
}

.form-row ul.errorlist, ul.errorlist {
	list-style: none;
	padding: 8px;
	margin: 7px;
	border: 1px solid #d0d0d0;

	li {
		color: white;
		&:before {
			content: "";
		}
	}
}

.btn {
	padding: 0;
	margin: 0 8px 0 0;
	background: none;
	border: none;
	height: $line-height;
	line-height: $line-height;
	list-style: none;
	cursor: pointer;
	display: block;
	box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.8);
	color: #000000;
	background: #c0c0c0;

	.wrap {
		padding: 0 8px;
		line-height: $line-height;
		color: #000000;
		cursor: pointer;
	}

	.text {
		white-space: nowrap;
		color: #000000;
	}

	a:hover {
		background: none;
	}
}

.btn-group .btn {
	float: left;
	&:before { content: ""; }
}

.module-row {
	border-bottom: 1px solid #444488;
	&:last-child {
		border-bottom: none;
	}
}
