#top_header {
	background: $menu-background;
	color: $menu-color;
	&:after {
		display: block;
		content: " ";
		height: 0px;
		clear: both;
	}

	.hdrleft {
		display: none;
	}

	a {
		display: block;
		color: $menu-color;
		padding: 0 8px;
		text-decoration: none;
	}

	.active a, a:hover {
		color: $menu-active-color;
		background: $menu-active-background;
	}
}

#main_menu {
	padding: 0 16px;;
	margin: 0;
	list-style: none;
	float: left;

	li {
		padding: 0;
		margin: 0;
		display: inline-block;
	}
}

#top_right {
	float: right;
	height: 20px;
}

#user_panel, #rss_panel {
	padding-right: 16px;
	z-index: 1;
	float: right;
	position: relative;
}

#user_panel {
	max-width: 160px;

	.text {
		text-align: right;
	}

	.btn.username, a {
		display: block;
		color: $menu-color;
		padding: 0 8px;
		text-decoration: none;
		&:hover {
			color: $menu-active-color;
			background: $menu-active-background;
		}
	}
	.text {
		@include text-ellipsis;
	}
	&:hover {
		height: 400px;

		#userlinks {
			display: block;
		}

		.text {
			color: $menu-active-color;
			background: $menu-active-background;
		}
	}
}

#userlinks, #rsslinks {
	float: none;
	display: none;
	list-style: none;
	position: absolute;
	right: 16px;
	min-width: 160px;
	z-index: 1;

	@include panel($border: #000000, $background: #c0c0c0, $shadow: true);

	li {
		padding: 0;
		margin: 0;
	}
}

#rss_panel {
	&:hover {
		height: 400px;

		#rsslinks {
			display: block;
		}
	}

	#rsslinks {
		right: -40px;
	}
}

#search-panel {
	float: right;
}

#site_breadcrumbs {
	clear: both;
	background: #000000;
	color: #c0c0c0;

	ul {
		padding: 0;
		margin: 0 16px;
		list-style: none;
		@include text-ellipsis;
	}

	li {
		display: inline;

		&:after {
			content: ' >';
			display: inline;
		}

		&:last-child:after {
			content: '';
		}
	}

	li, a {
		color: #c0c0c0;
	}

	.icon {
		display: none;
	}

	a {
		display: inline;
		padding: 0 8px;
		&:hover {
			color: #ffffff;
		}
	}
}
