{% extends "base.html" %}
{% block head_title %}Screenshoty vedeckých programov{% endblock %}
{% block breadcrumbs %}
{{ breadcrumb("Screenshoty vedeckých programov") }}
{{ breadcrumb("Veda a Linux", url="page_veda") }}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Screenshoty vedeckých programov</h1>

<div class="gallery">

<div class="image">
	<a href="/media/IMG/celestia.jpg"><img src="/media/IMG/thumbs/celestia.png" style="width: 140px; height: 105px;" alt="thumbs/celestia.png"/></a>
	<div class="title">Celestia</div>
</div>

<div class="image">
	<a href="/media/IMG/celestia2.jpg"><img src="/media/IMG/thumbs/celestia2.png" style="width: 140px; height: 112px;" alt="thumbs/celestia2.png"/></a>
	<div class="title">Celestia</div>
</div>

<div class="image">
	<a href="/media/IMG/kalzium.png"><img src="/media/IMG/thumbs/kalzium.png" style="width: 140px; height: 105px;" alt="thumbs/kalzium.png"/></a>
	<div class="title">Kalzium</div>
</div>

<div class="image">
	<a href="/media/IMG/kile.png"><img src="/media/IMG/thumbs/kile.png" style="width: 140px; height: 107px;" alt="thumbs/kile.png"/></a>
	<div class="title">Kile</div>
</div>

<div class="image">
	<a href="/media/IMG/kivio.png"><img src="/media/IMG/thumbs/kivio.png" style="width: 140px; height: 107px;" alt="thumbs/kivio.png"/></a>
	<div class="title">Kivio</div>
</div>

<div class="image">
	<a href="/media/IMG/kmplot.png"><img src="/media/IMG/thumbs/kmplot.png" style="width: 140px; height: 107px;" alt="thumbs/kmplot.png"/></a>
	<div class="title">Kmplot</div>
</div>

<div class="image">
	<a href="/media/IMG/kstars.png"><img src="/media/IMG/thumbs/kstars.png" style="width: 140px; height: 98px;" alt="thumbs/kstars.png"/></a>
	<div class="title">KStars</div>
</div>

<div class="image">
	<a href="/media/IMG/oregano.png"><img src="/media/IMG/thumbs/oregano.png" style="width: 140px; height: 115px;" alt="thumbs/oregano.png"/></a>
	<div class="title">Oregano</div>
</div>

<div class="image">
	<a href="/media/IMG/varicad.png"><img src="/media/IMG/thumbs/varicad.png" style="width: 140px; height: 107px;" alt="thumbs/varicad.png"/></a>
	<div class="title">VariCAD</div>
</div>

</div>

{% endblock %}

