<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="sk" xml:lang="sk">
<head>
	<title>{% block head_title %}LinuxOS.sk{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if style_options.small %}
		{% include "template_overrides/alpha/css.compress.small.html" %}
	{% elif style_options.colorscheme == "mlp" %}
		{% include "template_overrides/alpha/css.compress.mlp.html" %}
	{% else %}
		{% include "template_overrides/alpha/css.compress.html" %}
	{% endif %}
	{% if style_options.font_size == 13 %}
	<style type="text/css" media="screen">
	body, html {
		font-size: 13px;
	}
	</style>
	{% endif %}
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="canonical" href="{{ get_base_uri() }}{{ request.path }}" />
	<meta property="og:site_name" content="LinuxOS.sk" />
	{{ render_all_feeds(template="feeds/header_feeds.html") }}
	{% include "includes/common_headers.html" %}
	{% include "partials/microformats_header.html" %}
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{% if form %}{{ form.media.css }}{% endif %}
	{% block extrastyle %}{% endblock %}{% block extraheaders %}{% endblock %}
	{% block socialheaders %}
		{% with
			name="LinuxOS.sk",
			description="Najväčší slovenský komunitný portál venujúci sa open-source, Linuxu a Unixom. nájdete tu diskusné fórum, pravidelné novinky a zaujímavé články."
		%}
			{% include "partials/social_media.html" %}
		{% endwith %}
	{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
	{% include 'includes/analytics.html' %}

	{% block messages %}
		<div id="global_messages">
			{{ render_messages(messages) }}
		</div>
	{% endblock %}

	<input id="main_menu_toggle_input" type="checkbox"{% if request.GET._visible_menu %} checked="checked"{% endif %}>
	<label id="menu_shadow" for="main_menu_toggle_input" class="toggle-menu-action"></label>

	<header>
		<div id="header">
			<div id="logo"><a href="{{ url("home") }}">LinuxOS.sk</a></div>

			<label id="main_menu_toggle" for="main_menu_toggle_input" href="{{ current_link_add(_visible_menu=1) }}" class="toggle-menu-action">Menu</label>

			<div id="menu_panel">
				<div class="actions">
					<a href="{{ url("template-list") }}" class="templates">Šablóny</a>
					<div class="touchhover-emul feeds">
						{{ render_all_feeds(template="feeds/home_feeds.html") }}
					</div>
					<a href="{{ url('fulltext:search', page=1) }}" class="search-link" title="Hľadať">Hľadať</a>
				</div>
				<div id="user_panel" class="touchhover-emul{% if user.is_authenticated %} authenticated{% endif %}">
					<label id="main_menu_back" for="main_menu_toggle_input" class="toggle-menu-action">Skryť menu</label>
					{% include "partials/user_panel.html" %}
				</div>

				<ul id="main_menu" class="tabs">
					{% block site_menu %}{% include "partials/site_menu.html" %}{% endblock %}
				</ul>

				<div id="search_panel" class="search">
					<form method="get" action="{{ url('fulltext:search', page=1) }}" class="search btn">
						<div class="search-input">
							<input type="text" name="q"/>
							<button class="btn-search" title="Hľadať">Hľadať</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</header>

	<div id="main_content">
		<div class="content-module">
			{% block breadcrumbs %}
				{{ breadcrumb('Domov', class='home', url='home') }}
				{{ render_breadcrumbs(breadcrumbs) }}
			{% endblock %}

			{% block content %}
			{% endblock %}
		</div>

		<div class="discussion-block">
			{% block discussion %}
			{% endblock %}
		</div>
	</div>

	<div id="sidebar_1">
		{% block left %}
			<div class="module news">
				{% if request.user.is_authenticated or ANONYMOUS_NEWS %}
					<ul class="object-tools">
						<li class="btn"><span class="wrap"><a href="{{ url("news:create") }}" class="text">Pridať správu</a></span></li>
					</ul>
				{% endif %}
				<h2 class="block-title">
					Správy
				</h2>
				{{ news_frontpage() }}
				<div class="module-links bottom">
					<a href="{{ url('news:list', page=1) }}" class="next">Ďalšie</a>
				</div>
				{{ news_calendar() }}
				<div class="module-links bottom">
					<a href="{{ url('news:event-list', page=1) }}" class="next">Všetky udalosti</a>
				</div>
				{% if request.user.is_authenticated or ANONYMOUS_NEWS %}
					<div class="submit-row">
						<div class="positive">
							<div class="btn"><span class="wrap"><a class="text" href="{{ url("news:create") }}">Pridať správu</a></span></div>
						</div>
					</div>
				{% endif %}
			</div>
		{% endblock %}
	</div>

	<div id="sidebar_2">
		{% block right %}
			<div id="module_block_polls" class="module polls">
				<h2 class="block-title">Anketa</h2>
				<div class="module-row">
					{{ render_messages(messages, 'polls') }}
					{{ polls_frontpage() }}
				</div>
			</div>
			<div class="module-group">
				<div id="module_block_linux" class="module linux">
					<h2 class="block-title">O Linuxe</h2>
					<ul class="menu">
						{% include "partials/menu_linux.html" %}
					</ul>
				</div>
				{% if tweets is defined %}
					<div id="module_block_tweets" class="module tweets">
						<h2 class="block-title">Tweety</h2>
						{% include "partials/tweets.html" %}
					</div>
				{% endif %}
				<div id="module_block_portal" class="module portal">
					<h2 class="block-title">Portál</h2>
					<ul class="menu">
						{% include "partials/menu_portal.html" %}
					</ul>
				</div>
				<div id="module_block_recommended" class="module odporucam">
					<h2 class="block-title">Odporúčame</h2>
					<div class="module-row">
						{% include "static/block-odporucame.html" %}
					</div>
				</div>
				<div id="module_block_support" class="module podporte">
					<h2 class="block-title">Podporte nás</h2>
					<div class="module-row">
						{% include "static/block-podporte.html" %}
					</div>
				</div>
			</div>
		{% endblock %}
	</div>
	<div class="page-footer">
		<a href="https://linuxos.sk/" style="font-weight: bold;">LinuxOS.sk</a> © 2004-{{ now("Y") }} | <a href="/team/" style="font-weight: bold;">LinuxOS.sk - Team</a> | <b>ISSN 1337-7639</b> | <a href="{{ url("page_ochrana-osobnych-udajov") }}">Osobné údaje</a><br />
	Hosting sponzorovaný <a href="https://vpsfree.cz/">vpsFree.cz</a> o.s.
	</div>

	<script type="text/javascript">
	//<![CDATA[
	window._urls = window._urls || {};
	window._urls.static_base = '{{ static("") }}';
	//]]>
	</script>
	{% include "template_overrides/alpha/js.compress.html" %}
	{% compress js %}{% if form and not form.no_compress %}{{ form.media.js }}{% endif %}{% endcompress %}
	{% if form and form.no_compress %}
		{{ form.media.js }}
	{% endif %}
	{% block extrajs %}
	{% endblock %}
</body>
</html>
