{% extends "base.html" %}
{% load breadcrumbs_tags %}
{% block title %}Screenshoty kancelárskych programov{% endblock %}
{% block breadcrumbs %}
{% breadcrumb %}Screenshoty kancelárskych programov{% endbreadcrumb %}
{% breadcrumb url='page_kancelaria' %}Linux v kancelárii{% endbreadcrumb %}{{ block.super }}
{% endblock %}

{% block content %}
<h1>Screenshoty kancelárskych programov</h1>
<table>

<tr>

<td align='center' style="padding: 1em">
<a href="/media/IMG/oowriter.png"><img border="0" src="/media/IMG/thumbs/oowriter.png" width="140" height="98" alt="thumbs/oowriter.png"/></a>
<div><FONT FACE="Verdana" size="2">OpenOffice Writer</font></div>
</td>
<td align='center' style="padding: 1em">
<a href="/media/IMG/oocalc.png"><img border="0" src="/media/IMG/thumbs/oocalc.png" width="140" height="105" alt="thumbs/oocalc.png"/></a>
<div><FONT FACE="Verdana" size="2">OpenOffice Calc</font></div>
</td>
<td align='center' style="padding: 1em">
<a href="/media/IMG/impress.png"><img border="0" src="/media/IMG/thumbs/impress.png" width="140" height="98" alt="thumbs/impress.png"/></a>
<div><FONT FACE="Verdana" size="2">OpenOffice Impress</font></div>
</td>
<td align='center'>
<a href="/media/IMG/oodraw.jpg"><img border="0" src="/media/IMG/thumbs/oodraw.png" width="140" height="98" alt="thumbs/oodraw.png"/></a>
<div><FONT FACE="Verdana" size="2">OpenOffice Draw</font></div>
</td>
</tr>

<tr>

<td align='center'>
<a href="/media/IMG/kword.jpg"><img border="0" src="/media/IMG/thumbs/kword.png" width="140" height="98" alt="thumbs/kword.png"/></a>
<div><FONT FACE="Verdana" size="2">KWord (Koffice)</font></div>
</td>
<td align='center'>
<a href="/media/IMG/kspread.png"><img border="0" src="/media/IMG/thumbs/kspread.png" width="140" height="98" alt="thumbs/kspread.png"/></a>
<div><FONT FACE="Verdana" size="2">KSpread (Koffice)</font></div>
</td>
<td align='center'>
<a href="/media/IMG/kpresenter.png"><img border="0" src="/media/IMG/thumbs/kpresenter.png" width="140" height="98" alt="thumbs/kpresenter.png"/></a>
<div><FONT FACE="Verdana" size="2">KPresenter (Koffice)</font></div>
</td>
<td align='center'>
<a href="/media/IMG/kivio.png"><img border="0" src="/media/IMG/thumbs/kivio.png" width="140" height="98" alt="thumbs/kivio.png"/></a>
<div><FONT FACE="Verdana" size="2">Kivio (Koffice)</font></div>
</td>
</tr>
<tr>
<td align='center'>
<a href="/media/IMG/kontour.png"><img border="0" src="/media/IMG/thumbs/kontour.png" width="140" height="98" alt="thumbs/kontour.png"/></a>
<div><FONT FACE="Verdana" size="2">Kontour (Koffice)</font></div>
</td>

<td align='center'>
<a href="/media/IMG/kformula.png"><img border="0" src="/media/IMG/thumbs/kformula.png" width="140" height="90" alt="thumbs/kformula.png"/></a>
<div><FONT FACE="Verdana" size="2">KFormula (Koffice)</font></div>
</td>
</tr>
</table>
{% endblock %}
