{% extends "article/article_base.html" %}
{% load breadcrumbs_tags paginator_tags %}
{% load threaded_comments_tags %}
{% load hitcount_tags %}

{% block title %}{% if category %}{{ category }}{% else %}Články{% endif %}{% endblock %}

{% block breadcrumbs %}
	{% if category %}
		{% breadcrumb %}{{ category }}{% endbreadcrumb %}
	{% endif %}
	{% breadcrumb url="article:article-list" %}Články{% endbreadcrumb %}
	{{ block.super }}
{% endblock %}

{% block extraheaders %}
	{{ block.super }}
	{% ifequal page '1' %}
		<meta name="description" lang="sk" content="{% if category %}{{ category.description }}{% else %}Portál LinuxOS.sk prináša pravidelne články zo sveta open source. Na tejto stránke môžte nájsť články zo všetkých kategórií.{% endif %}" />
	{% endifequal %}
{% endblock %}

{% block content %}
{% add_discussion_attributes article_list %}
{% add_hitcount article_list %}
<h1>{% if category %}{{ category }}{% else %}Články{% endif %}</h1>
{% if category %}
<p class="description">{{ category.description }}</p>
{% else %}
<p class="description">Portál LinuxOS.sk prináša pravidelne články zo sveta open source. Na tejto stránke môžte nájsť články zo všetkých kategórií.</p>
<ul>
	{% for category in article_categories %}
	<li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
	{% endfor %}
</ul>
{% endif %}
<div class="module">
	{% autopaginate article_list page items_per_page=10 %}
	{% for article in article_list %}
		{% include 'article/block_list_item.html' with thumbnail=0 %}
	{% endfor %}
	{% if category %}
		{% paginator article:list-category category=category.slug %}
	{% else %}
		{% paginator article:article-list %}
	{% endif %}
</div>
{% endblock %}
