{% extends "article/article_base.html" %}{% load breadcrumbs_tags linuxos threaded_comments_tags %}

{% block title %}{{ article.title }}{% endblock %}

{% block breadcrumbs %}
	{% breadcrumb %}{{ article.title|truncatechars:80 }}{% endbreadcrumb %}
	{% breadcrumb url="article:article-list" %}Články{% endbreadcrumb %}
	{{ block.super }}
{% endblock %}

{% block content %}
{% if user.is_staff and perms.article.can_change %}
<ul class="object-tools">
	<li class="btn"><span><a href="{% url 'admin:article_article_change' article.pk %}">Editovať článok</a></span></li>
</ul>
{% endif %}
<h1>{{ article.title }}</h1>

<div class="info top">
	{{ article.pub_time|date:"d.m.Y H:i" }} |
	{{ article.category }} |
	{% if article.author %}
	<a href="{% url 'auth_profile' article.author.pk %}">
			{% firstof article.author.get_full_name article.author.username %}
		</a>
	{% else %}
		{{ article.authors_name }}
	{% endif %}
</div>

<div class="content">
{% if article.image_standard.url %}
	<div class="article thumbnail pull-left">
		<img src="{{ article.image_standard.url }}" alt="{{ article.title }}" />
	</div>
{% endif %}
{{ article.display_content }}
</div>

{% for poll in article.poll_set %}
<div class="module polls">
<h3>{{ poll }}</h3>
<form action="{% url 'polls:post' pk=poll.pk %}" method="post" id="polls-form">{% csrf_token %}
	{% render_messages messages poll.msg_id %}
	{% include "polls/block_poll_detail_embedded.html" with input=1 %}
	<input type="hidden" name="msg_id" value="{{ poll.msg_id }}" />
	<input type="hidden" name="next" value="{{ request.path }}" />
	<div class="submit-row">
		<div class="positive">
			<button type="submit" class="btn"><span>Hlasovať</span></button>
		</div>
	</div>
</form>
</div>
{% endfor %}
{% endblock %}

{% block discussion %}{% render_threaded_comments_toplevel article %}{% endblock %}
