{% extends "article/article_base.html" %}{% load breadcrumbs_tags i18n article %}{% load url from future %}

{% block breadcrumbs %}
{% breadcrumb %}{{ article.title|truncatechars:80 }}{% endbreadcrumb %}
{{ block.super }}
{% endblock %}

{% block content %}
{% if user.is_staff and perms.article.can_change %}
<ul class="object-tools">
	<li><a href="{% url 'admin:article_article_change' article.pk %}">{% trans 'Edit article' %}</a></li>
</ul>
{% endif %}
<h1>{{ article.title }}</h1>

<div class="info top">
	{{ article.time|date:"SHORT_DATETIME_FORMAT" }} |
	{{ article.category }} |
	{% if article.author %}
	<a href="{% url 'auth_profile' article.author.pk %}">
			{% firstof article.author.get_full_name article.author.username %}
		</a>
	{% else %}
		{{ article.authors_name }}
	{% endif %}
</div>

<div class="content">
{{ article|content }}
</div>
{% endblock %}
