{% extends "article/article_base.html" %}

{% block head_title %}{% if category %}{{ category }}{% else %}Články{% endif %}{% endblock %}

{% block breadcrumbs %}
	{% if category %}
		{{ breadcrumb(category) }}
	{% endif %}
	{{ breadcrumb("Články", url="article:list", page=1) }}
	{{ super() }}
{% endblock %}

{% block extraheaders %}
	{{ super() }}
	{% if page_obj.number == 1 %}
		<meta name="description" lang="sk" content="{% if category %}{{ category.description }}{% else %}Portál LinuxOS.sk prináša pravidelne články zo sveta open source. Na tejto stránke môžte nájsť články zo všetkých kategórií.{% endif %}" />
	{% endif %}
{% endblock %}

{% block content %}
{{ add_discussion_attributes(article_list) }}
{{ add_hitcount(article_list) }}
<h1>{% if category %}{{ category }}{% else %}Články{% endif %}</h1>
{% if category %}
<p class="description">{{ category.description }}</p>
{% else %}
<p class="description">Portál LinuxOS.sk prináša pravidelne články zo sveta open source. Na tejto stránke môžte nájsť články zo všetkých kategórií.</p>
<ul>
	{% for category in category_list %}
		<li><a href="{{ category.get_absolute_url() }}">{{ category }}</a></li>
	{% endfor %}
	<li><a href="{{ url("article:series", page=1) }}">Seriály</a></li>
</ul>
{% endif %}
<div class="module">
	{% for article in article_list %}
		{% with thumbnail=0, is_last=loop.last %}
			{% include 'article/block_list_item.html' %}
		{% endwith %}
	{% endfor %}
	{{ pagination() }}
</div>
{% endblock %}
