<div class="module-row module-item-margin{% if is_last %} last{% endif %}">
	<h3><a href="{{ article.get_absolute_url() }}">{{ article.title }}</a></h3>
	<div class="info top">
		<span class="first">{{ article.pub_time|date("d.m.Y H:i") }}</span> |
		<span><a href="{{ article.category.get_absolute_url() }}">{{ article.category }}</a></span> |
		<span>
			{% if article.author %}
				{{ user_link(article.author, article.authors_name) }}
			{% else %}
				{{ article.authors_name }}
			{% endif %}
		</span>
	</div>
	{% if thumbnail %}
		{% if article.image_standard.url %}
			<div class="article thumbnail pull-left">
				<img src="{{ article.image_standard.url }}" alt="{{ article.title }}" />
			</div>
		{% endif %}
	{% endif %}
	<div class="perex">{{ article.perex|safe }}</div>
	<div class="info bottom">
		<span class="stat first">Prečítané: {{ firstof(article.display_count, '0') }}x</span> |
		<span class="comments">
			{# get_comments_for_item(article, display_last=1) #}
		</span>
	</div>
</div>
