<div class="module-row module-item-margin{% if is_last %} last{% endif %}{% if extra_classes %} {{ extra_classes }}{% endif %}">
	<h3><a href="{{ article.get_absolute_url() }}">{{ article.title }}</a></h3>
	<div class="info top">
		<span class="first">{{ article.pub_time|localtime|date("d.m.Y H:i") }}</span> |
		<span><a href="{{ article.category.get_absolute_url() }}">{{ article.category }}</a></span> |
		<span>
			{% if article.author %}
				{{ user_link(article.author, article.authors_name) }}
			{% else %}
				{{ article.authors_name }}
			{% endif %}
		</span>
	</div>
	{% if show_thumbnail %}
		{% if article.image %}
			<div class="article thumbnail pull-left">
				<img src="{{ thumbnail(article.image, size=(100, 100), crop=True) }}" alt="{{ article.title }}" />
			</div>
		{% endif %}
	{% endif %}
	<div class="perex">{{ article.perex|safe }}</div>
	<div class="info bottom">
		<span class="stat first">Prečítané: {{ firstof(article.display_count, '0') }}x</span> |
		<span class="comments">
			{{ get_comments_for_item(article, display_last=1) }}
		</span>
	</div>
</div>
