{% load l10n linuxos %}{% load url from future %}
	<div class="module-row{% if forloop.last %} last{% endif %}">
		<h3><a href="{{ article.get_absolute_url }}">{{ article.title}}</a></h3>
		<div class="info top">
			{{ article.time|date:"d.m.Y H:i" }} |
			<a href="{% url 'article:list-category' category=article.category.slug %}">{{ article.category }}</a> |
			{% if article.author %}
				{% user_link article.author article.authors_name %}
			{% else %}
				{{ article.authors_name }}
			{% endif %}
		</div>
		{% if thumbnail %}
			{% if article.image.thumbnail_standard.url %}
				<div class="article thumbnail">
					<img src="{{ article.image.thumbnail_standard.url }}" alt="{{ article.title }}" />
				</div>
			{% endif %}
		{% endif %}
		<div class="perex">{{ article.perex|safe }}</div>
		<div class="info bottom">
			<span class="stat">Prečítané: {% firstof article.display_count '0' %}x</span>
		</div>
	</div>
