@font-face {
	font-family: "Visitor";
	src: url("visitor1.woff") format("woff"),
		 url("visitor1.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

html { padding: 0; margin: 0; }
body { background: #fff; color: #000; padding 0; margin: 5; font-size: 15px; font-family: sans-serif; }

h1 { font-size: 24px; font-weight: bold; }
h2 { font-size: 22px; font-weight: bold; }
h3 { font-size: 18px; font-weight: bold; }
h4 { font-size: 17px; font-weight: bold; }
h5 { font-size: 16px; font-weight: bold; }
h6 { font-size: 15px; font-weight: bold; }

div, p, h1, h2, h3, h4, h5, h6, ul, ol, address, blockquote, pre { background: #fafafa; padding: 8px 5px 5px; margin: 10px; }
p, div { border: 1px dashed #eee; background: #fff; }

ul, ol, dl { background: #fafafa; margin: 10px; padding: 5px 0 5px 12px; list-style-position: outside; min-height: 1.6em; border-left: 5px solid #eee; }
ul ul, ul ol, ol ol, ol ul { margin: 5px 0 0 -15px }
ul > li ul, ul > li ol, ol > li ul, ol > li ol { border-top: 1px solid #eee }
li, dd, dt { margin: 0px 0 4px 20px; padding: 4px 0 0 5px; }
dt { margin-bottom: 0 }
dd + dt { margin-top: 4px; }
dd { margin: 2px 0 0 4em }

table { border-collapse: collapse; border: 1px solid #ddd; font-size: 15px; }
th, td { padding: 4px 8px; border: 1px solid #f0f0f0; }
td { color: #333; }
th { font-weight: bold; color: black; background: #f8f8f8; text-align: left; }
caption { color: #333; font-style: italic; text-align: center; }

blockquote { margin-left: 30px; font-style: italic; color: #333; padding: 12px 5px; }
blockquote:before { content: "“"; margin-left: -30px; font-size: 50px; color: #eee; position: absolute; }
pre { background-color: #eee; border: 1px solid #ddd; font-family: monospace; font-size: 15px; }

img { margin: 10px; border-style: solid; border-color: #ddd; border-width: 1px; }
a img { border-width: 1px; border-color: blue; }

acronym { border: 1px solid gray; }
span { background-color: #eee; }

h1 h1, h1 h2, h1 h3, h1 h4, h1 h5, h1 h6, h1 p, h1 pre, h1 address,
h2 h1, h2 h2, h2 h3, h2 h4, h2 h5, h2 h6, h2 p, h2 pre, h2 address,
h3 h1, h3 h2, h3 h3, h3 h4, h3 h5, h3 h6, h3 p, h3 pre, h3 address,
h4 h1, h4 h2, h4 h3, h4 h4, h4 h5, h4 h6, h4 p, h4 pre, h4 address,
h5 h1, h5 h2, h5 h3, h5 h4, h5 h5, h5 h6, h5 p, h5 pre, h5 address,
h6 h1, h6 h2, h6 h3, h6 h4, h6 h4, h6 h6, h6 p, h6 pre, h6 address,
p h1, p h2, p h3, p h4, p h5, p h6, p pre, p address,
pre h1, pre h2, pre h3, pre h4, pre h5, pre h6, pre p, pre pre, pre address,
address h1, address h2, address h3, address h4, address h5, address h6,
address p, address pre, address address
{ background-color: #ff9999 !important; border: 1px solid red !important; font-size: 12px !important; font-weight: normal; }

br { height: 5px; line-height: 5px; }

div, p, ol, ul, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, blockquote, pre, address { position: relative; }
div::before, p::before, ol::before, ul::before, dl::before, li::before, dt::before, dd::before, h1::before, h2::before, h3::before, h4::before, h5::before, h6::before, blockquote::before, pre::before, address::before {
	position: absolute;
	left: -1px;
	top: -1px;
	padding: 0px 3px;
	font: 10px/10px "Visitor", monospace;
	color: silver;
	background: rgba(255,255,255,0.5);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	white-space: nowrap;
}
div:hover::before, p:hover::before, ol:hover::before, ul:hover::before, dl:hover::before, li:hover::before, dt:hover::before, dd:hover::before, h1:hover::before, h2:hover::before, h3:hover::before, h4:hover::before, h5:hover::before, h6:hover::before, blockquote:hover::before, pre:hover::before, address:hover::before {
	color: rgb(65,105,225);
	background: rgba(255,255,255,0.);
	outline: 1px solid rgba(65,105,225,0.9);
}
div::before { content: "sekcia dokumentu" }
div[class]::before                   { content: "sekcia dokumentu typu \"" attr(class) "\"" }
body.short div::before               { content: "div" }
body.short div[class]::before        { content: "div." attr(class) }
p::before                            { content: "odstavec" }
p[class]::before                     { content: "odstavec typu \"" attr(class) "\"" }
body.short p::before                 { content: "p" }
body.short p[class]::before          { content: "p." attr(class) }
ol::before                           { content: "1. zoznam" }
ol[class]::before                    { content: "1. zoznam typu \"" attr(class) "\"" }
body.short ol::before                { content: "ol" }
body.short ol[class]::before         { content: "ol." attr(class) }
ul::before                           { content: "zoznam" }
ul[class]::before                    { content: "zoznam \"" attr(class) "\"" }
body.short ul::before                { content: "ul" }
body.short ul[class]::before         { content: "ul." attr(class) }
dl::before                           { content: "def. zoznam" }
dl[class]::before                    { content: "def. zoznam typu \"" attr(class) "\"" }
body.short dl::before                { content: "dl" }
body.short dl[class]::before         { content: "dl." attr(class) }
li::before                           { content: "položka zoznamu" }
li[class]::before                    { content: "položka zoznamu typu \"" attr(class) "\"" }
body.short li::before                { content: "li" }
body.short li[class]::before         { content: "li." attr(class) }
dt::before                           { content: "termín" }
dt[class]::before                    { content: "termín typu type \"" attr(class) "\"" }
body.short dt::before                { content: "dt" }
body.short dt[class]::before         { content: "dt." attr(class) }
dd::before                           { content: "popis" }
dd[class]::before                    { content: "popis typu type \"" attr(class) "\"" }
body.short dd::before                { content: "dd" }
body.short dd[class]::before         { content: "dd." attr(class) }
h1::before                           { content: "nadpis 1" }
h1[class]::before                    { content: "nadpis 1 typu \"" attr(class) "\"" }
body.short h1::before                { content: "h1" }
body.short h1[class]::before         { content: "h1." attr(class) }
h2::before                           { content: "nadpis 2" }
h2[class]::before                    { content: "nadpis 2 typu \"" attr(class) "\"" }
body.short h2::before                { content: "h2" }
body.short h2[class]::before         { content: "h2." attr(class) }
h3::before                           { content: "nadpis 3" }
h3[class]::before                    { content: "nadpis 3 typu \"" attr(class) "\"" }
body.short h3::before                { content: "h3" }
body.short h3[class]::before         { content: "h3." attr(class) }
h4::before                           { content: "nadpis 4" }
h4[class]::before                    { content: "nadpis 4 typu \"" attr(class) "\"" }
body.short h4::before                { content: "h4" }
body.short h4[class]::before         { content: "h4." attr(class) }
h5::before                           { content: "nadpis 5" }
h5[class]::before                    { content: "nadpis 5 typu \"" attr(class) "\"" }
body.short h5::before                { content: "h5" }
body.short h5[class]::before         { content: "h5." attr(class) }
h6::before                           { content: "nadpis 6" }
h6[class]::before                    { content: "nadpis 6 typu \"" attr(class) "\"" }
body.short h6::before                { content: "h6" }
body.short h6[class]::before         { content: "h6." attr(class) }
blockquote::before                   { content: "bloková citácia" }
blockquote[class]::before            { content: "bloková citácia typu \"" attr(class) "\"" }
body.short blockquote::before        { content: "blockquote" }
body.short blockquote[class]::before { content: "blockquote." attr(class) }
pre::before                          { content: "prefomátovaný text" }
pre[class]::before                   { content: "preformátovaný text typu \"" attr(class) "\"" }
body.short pre::before               { content: "pre" }
body.short pre[class]::before        { content: "pre." attr(class) }
address::before                      { content: "kontaktné informácie" }
address[class]::before               { content: "kontaktné informácie typu type \"" attr(class) "\"" }
body.short address::before           { content: "address" }
body.short ddress[class]::before     { content: "address." attr(class) }

ul[class]:not(:empty)::before, body:not(.short) ul:not(:empty)::before,
ol[class]:not(:empty)::before, body:not(.short) ol:not(:empty)::before,
dl[class]:not(:empty)::before, body:not(.short) dl:not(:empty)::before {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); / IE 9 /
	-webkit-transform: rotate(90deg); / Safari and Chrome /
	-o-transform: rotate(90deg); / Opera 11+ /
	-moz-transform: rotate(90deg); / Firefox /
	transform-origin: bottom left;
	-ms-transform-origin:  bottom left;
	-webkit-transform-origin: bottom left;
	-o-transform-origin: bottom left;
	-moz-transform-origin: bottom left;
	top: -11px;
}

span, strong, b, em, i, a, abbr, acronym, kbd, q, cite, samp, var, del,
ins, dfn, code, sup, sub {
	position: relative;
}
span:hover::before,
strong:hover::before,
b:hover::before,
em:hover::before,
i:hover::before,
a:hover::before,
abbr:hover::before,
acronym:hover::before,
kbd:hover::before,
cite:hover::before,
samp:hover::before,
var:hover::before,
del:hover::before,
ins:hover::before,
dfn:hover::before,
code:hover::before,
sup:hover::before,
sub:hover::before {
	position: absolute;
	top: -8px;
	left: -2px;
	padding: 0px 3px;
	font: 10px/10px "Visitor", monospace;
	hyphens: none;
	color: rgb(65,105,225);
	background: rgba(255,255,255,0.9);
	outline: 1px solid rgba(65,105,225,0.9);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	white-space: nowrap;
}
span:hover::before                      { content: "textový rozsah" }
span[class]:hover::before               { content: "textový rozsah typu \"" attr(class) "\"" }
body.short span:hover::before           { content: "span" }
body.short span[class]:hover::before    { content: "span." attr(class) }
strong:hover::before,
b:hover::before                         { content: "silný dôraz" }
strong[class]:hover::before,
b[class]:hover::before                  { content: "silný dôraz typu \"" attr(class) "\"" }
body.short strong:hover::before,
body.short b:hover::before              { content: "strong" }
body.short strong[class]:hover::before,
body.short b[class]:hover::before       { content: "strong." attr(class) }
em:hover::before,
i:hover::before                         { content: "dôraz" }
em[class]:hover::before,
i[class]:hover::before                  { content: "dôraz typu \"" attr(class) "\"" }
body.short em:hover::before,
body.short i:hover::before              { content: "em" }
body.short em[class]:hover::before,
body.short i[class]:hover::before       { content: "em." attr(class) }
a[href]:hover::before                   { content: "odkaz" }
a[href][class]:hover::before            { content: "odkaz typu \"" attr(class) "\"" }
body.short a[href]:hover::before        { content: "a-href" }
body.short a[href][class]:hover::before { content: "a-href." attr(class) }
abbr:hover::before                      { content: "skratka" }
abbr[class]:hover::before               { content: "skratka typu \"" attr(class) "\"" }
body.short abbr:hover::before           { content: "abbr" }
body.short abbr[class]:hover::before    { content: "abbr." attr(class) }
acronym:hover::before                   { content: "akronym" }
acronym[class]:hover::before            { content: "akronym typu\"" attr(class) "\"" }
body.short acronym:hover::before        { content: "acronym" }
body.short acronym[class]:hover::before { content: "acronym." attr(class) }
kbd:hover::before                       { content: "vstup klávesnice" }
kbd[class]:hover::before                { content: "vstup klávesnice typu \"" attr(class) "\"" }
body.short kbd:hover::before            { content: "kbd" }
body.short kbd[class]:hover::before     { content: "kbd." attr(class)}
q:hover::before(2)                   { content: "quotation" }
q[class]:hover::before(2)               { content: "quotation type \"" attr(class) "\"" }
body.short q:hover::before(2)           { content: "q" }
body.short q[class]:hover::before(2)    { content: "q." attr(class) }
cite:hover::before                      { content: "autor práce" }
cite[class]:hover::before               { content: "autor práce typu \"" attr(class) "\""}
body.short cite:hover::before           { content: "cite" }
body.short cite[class]:hover::before    { content: "cite." attr(class) }
samp:hover::before                      { content: "ukážkový text" }
samp[class]:hover::before               { content: "ukážkový text typu \"" attr(class) "\"" }
body.short samp:hover::before           { content: "samp" }
body.short samp[class]:hover::before    { content: "samp." attr(class) }
var:hover::before                       { content: "premenná" }
var[class]:hover::before                { content: "premenná typu\"" attr(class) "\"" }
body.short var:hover::before            { content: "var" }
body.short var[class]:hover::before     { content: "var." attr(class) }
del:hover::before                       { content: "vymazaný text" }
del[class]:hover::before                { content: "vymazaný text typu\"" attr(class) "\"" }
body.short del:hover::before            { content: "del" }
body.short del[class]:hover::before     { content: "del." attr(class) }
ins:hover::before                       { content: "vložený text" }
ins[class]:hover::before                { content: "vložený text typu \"" attr(class) "\"" }
body.short ins:hover::before            { content: "ins" }
body.short ins[class]:hover::before     { content: "ins." attr(class) }
dfn:hover::before                       { content: "definícia" }
dfn[class]:hover::before                { content: "definícia typu \"" attr(class) "\"" }
body.short dfn:hover::before            { content: "dfn" }
body.short dfn[class]:hover::before     { content: "dfn." attr(class) }
code:hover::before                      { content: "fragment kódu" }
code[class]:hover::before               { content: "fragment kódu typu \"" attr(class) "\"" }
body.short code:hover::before           { content: "code" }
body.short code[class]:hover::before    { content: "code." attr(class) }
sup:hover::before                       { content: "horný index" }
sup[class]:hover::before                { content: "horný index typu \"" attr(class) "\"" }
body.short sup:hover::before            { content: "sup" }
body.short sup[class]:hover::before     { content: "sup." attr(class) }
sub:hover::before                       { content: "dolný index" }
sub[class]:hover::before                { content: "dolný index typu \"" attr(class) "\""}
body.short sub:hover::before            { content: "sub" }
body.short sub[class]:hover::before     { content: "sub." attr(class) }

span:hover,
strong:hover, b:hover,
em:hover, i:hover,
a[href]:hover,
abbr:hover,
acronym:hover,
kbd:hover,
q:hover,
cite:hover,
samp:hover,
var:hover,
del:hover,
ins:hover,
dfn:hover,
code:hover,
sup:hover,
sub:hover { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAgSURBVAiZY3DMfPj/////DDDMxIAGMAQYHTMf/kcWAADRgQ4R3lkO7wAAAABJRU5ErkJggg==) bottom left no-repeat,
						url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAgSURBVAiZY/z//z8DDDhlPfrPxIAGMAQYHTMf/kcWAABxJAgb2YLYKgAAAABJRU5ErkJggg==) bottom right no-repeat }


body > pre > .hll { background-color: #ffffcc }
body > pre >  { background: #ffffff; }
body > pre > .c { color: #408080; font-style: italic } /* Comment */
body > pre > .err { border: 1px solid #FF0000 } /* Error */
body > pre > .k { color: #008000; font-weight: bold } /* Keyword */
body > pre > .o { color: #666666 } /* Operator */
body > pre > .cm { color: #408080; font-style: italic } /* Comment.Multiline */
body > pre > .cp { color: #BC7A00 } /* Comment.Preproc */
body > pre > .c1 { color: #408080; font-style: italic } /* Comment.Single */
body > pre > .cs { color: #408080; font-style: italic } /* Comment.Special */
body > pre > .gd { color: #A00000 } /* Generic.Deleted */
body > pre > .ge { font-style: italic } /* Generic.Emph */
body > pre > .gr { color: #FF0000 } /* Generic.Error */
body > pre > .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body > pre > .gi { color: #00A000 } /* Generic.Inserted */
body > pre > .go { color: #888888 } /* Generic.Output */
body > pre > .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
body > pre > .gs { font-weight: bold } /* Generic.Strong */
body > pre > .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body > pre > .gt { color: #0044DD } /* Generic.Traceback */
body > pre > .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
body > pre > .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
body > pre > .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
body > pre > .kp { color: #008000 } /* Keyword.Pseudo */
body > pre > .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
body > pre > .kt { color: #B00040 } /* Keyword.Type */
body > pre > .m { color: #666666 } /* Literal.Number */
body > pre > .s { color: #BA2121 } /* Literal.String */
body > pre > .na { color: #7D9029 } /* Name.Attribute */
body > pre > .nb { color: #008000 } /* Name.Builtin */
body > pre > .nc { color: #0000FF; font-weight: bold } /* Name.Class */
body > pre > .no { color: #880000 } /* Name.Constant */
body > pre > .nd { color: #AA22FF } /* Name.Decorator */
body > pre > .ni { color: #999999; font-weight: bold } /* Name.Entity */
body > pre > .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
body > pre > .nf { color: #0000FF } /* Name.Function */
body > pre > .nl { color: #A0A000 } /* Name.Label */
body > pre > .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
body > pre > .nt { color: #008000; font-weight: bold } /* Name.Tag */
body > pre > .nv { color: #19177C } /* Name.Variable */
body > pre > .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
body > pre > .w { color: #bbbbbb } /* Text.Whitespace */
body > pre > .mb { color: #666666 } /* Literal.Number.Bin */
body > pre > .mf { color: #666666 } /* Literal.Number.Float */
body > pre > .mh { color: #666666 } /* Literal.Number.Hex */
body > pre > .mi { color: #666666 } /* Literal.Number.Integer */
body > pre > .mo { color: #666666 } /* Literal.Number.Oct */
body > pre > .sb { color: #BA2121 } /* Literal.String.Backtick */
body > pre > .sc { color: #BA2121 } /* Literal.String.Char */
body > pre > .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
body > pre > .s2 { color: #BA2121 } /* Literal.String.Double */
body > pre > .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
body > pre > .sh { color: #BA2121 } /* Literal.String.Heredoc */
body > pre > .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
body > pre > .sx { color: #008000 } /* Literal.String.Other */
body > pre > .sr { color: #BB6688 } /* Literal.String.Regex */
body > pre > .s1 { color: #BA2121 } /* Literal.String.Single */
body > pre > .ss { color: #19177C } /* Literal.String.Symbol */
body > pre > .bp { color: #008000 } /* Name.Builtin.Pseudo */
body > pre > .vc { color: #19177C } /* Name.Variable.Class */
body > pre > .vg { color: #19177C } /* Name.Variable.Global */
body > pre > .vi { color: #19177C } /* Name.Variable.Instance */
body > pre > .il { color: #666666 } /* Literal.Number.Integer.Long */
