{% extends "base.html" %}

{% block breadcrumbs %}
	{{ breadcrumb("Nahlásený obsah") }}
	{{ super() }}
{% endblock %}

{% block head_title %}{{ object_type_verbose_name|title }} nahlásený{% endblock %}

{% block content %}
	<form action="{{ request.path }}" method="post">
		{% csrf_token %}
		<ul class="object-tools">
			<li class="btn"><button class="wrap" type="submit" name="manage" value="1"><span href="#" class="text">Spravovať</span></button></li>
		</ul>
	</form>

	<h1>{{ object_type_verbose_name|title }} {% if object.statistics.flag_count %}nahlásený{% else %}nenahlásený{% endif %}</h1>
	{% if object.statistics.flag_count %}
		<p>{{ object_type_verbose_name|title }} s názvom „{{ object.statistics.content_object }}“ bol nahlásený.</p>

		<div class="module ratings">
			{% for rating in object_list %}
				<div class="module-row">
					<p><strong>{{ rating.get_marked_flag_display() }}</strong> | <a href="{{ rating.user.get_absolute_url() }}">{{ rating.user }}</a></p>
					{% if rating.comment %}
						<p>{{ rating.comment|linebreaksbr }}</p>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
