{% load i18n staticfiles %}{% load url from future %}<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"  lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'desktop/default/base.css' %}" />
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<title>{% block title %}{% endblock %}</title>
	{% block extrastyle %}{% endblock %}{% block extraheaders %}{% endblock %}
</head>
<body>
	<header>
		<div id="top_header">
			<div class="hdrleft">
				<a id="linuxos_logo" href="{% url 'home' %}">LinuxOS</a>
			</div>
			<div class="hdrmain">
				<div id="user_panel"class="button flat{% if user.is_authenticated %} authenticated{% endif %}">
					{% if user.is_authenticated %}
						<span class="username"><a href="#">{% firstof user.get_full_name user.username %}</a></span>
						<ul id="userlinks" class="dropdown menu">
							<li>
								<a href="{% url 'auth_profile' request.user.id %}">{% trans "Profile" %}</a>
							</li>
							{% if user.is_superuser %}
							<li>
								<a href="{% url 'admin:index' %}">{% trans 'Site administration' %}</a>
							</li>
							{% endif %}
							<li>
								<a href="{% url 'auth_logout' %}">{% trans 'Log out' %}</a>
							</li>
							<li>
								<a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>
							</li>
						</ul>
					{% else %}
						<span class="login"><a href="{% url 'auth_login' %}?next={% url 'home' %}">{% trans "Log in" %}</a></span>
						<ul id="userlinks" class="dropdown menu">
							<li>
								<a href="{% url 'auth_login' %}?next={% url 'home' %}">{% trans "Log in" %}</a>
							</li>
							<li>
								<a href="{% url 'registration_register' %}">{% trans 'Sign up' %}</a>
							</li>
							<li>
								<a href="{% url 'auth_password_reset' %}">{% trans "Password reset" %}</a>
							</li>
						</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</header>
	<div id="colmask">
		<div id="colinner">
			<div id="colmain">
				{% block messages %}
					{% if messages %}
						<ul class="messages">
							{% for message in messages %}
								<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endblock %}
				<div id="site_content">
					{% block content %}{% endblock %}
				</div>
			</div>
			<aside id="colleft">
					{% block left %}
					{% endblock %}
			</aside>
		</div>
	</div>
</body>
</html>
