{% load url from future %}{% load breadcrumbs_tags i18n linuxos news staticfiles survey %}<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"  lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'desktop/default/base.css' %}" />
	{% include "includes/common_headers.html" %}
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<title>{% block title %}{% endblock %}</title>
{% if style_options.small %}
<style type="text/css" media="screen">
html, body {
	font-size: 90%;
}

.module-row {
	padding: .4em .4em;
}

#site_content, #aside_left {
	padding: .7em;
}

.module + .module, .content + .module, .module + form {
	margin-top: .7em;
}
</style>
{% endif %}
{% if style_options.reverse %}
<style type="text/css" media="screen">

@media only screen and (max-width: 1279px) {

#col1, #aside {
	float: right;
	left: -68%;
}

#col1 {
	float: left;
}

#colleft {
	left: 68%;
	right: auto;
	float: right;
	border-left: solid 1px #c4d1e3;
	border-right: none;
}

.hdrleft {
	float: right;
}

#site_breadcrumbs {
	padding-left: 0px;
	padding-right: 5px;
	margin-left: 0px;
	margin-right: -3px;
	background: url('/static/desktop/default/images/breadcrumb_bg_reverse.png') no-repeat top right;
}

}
</style>
{% endif %}
	{% block extrastyle %}{% endblock %}{% block extraheaders %}{% endblock %}
</head>
<body>
	<header>
	{% block site_header %}
		<div id="top_header">
			<div class="hdrleft">
				<a id="linuxos_logo" href="{% url 'home' %}">LinuxOS</a>
			</div>
			<div class="hdrmain">
				<ul id="main_menu" class="tabs">
					<li{% ifequal section 'article' %} class="active"{% endifequal %}><a href="{% url 'article:article-list' %}">Články</a></li>
					<li{% ifequal section 'forum' %} class="active"{% endifequal %}><a href="{% url 'forum:overview' %}">Fórum</a></li>
					<li{% ifequal section 'news' %} class="active"{% endifequal %}><a href="{% url 'news:list' %}">Správy</a></li>
					<li{% ifequal section 'wiki' %} class="active"{% endifequal %}><a href="{% url 'wiki:home' %}">Wiki</a></li>
				</ul>
				<div class="pull-right">
					<div id="user_panel"class="btn{% if user.is_authenticated %} authenticated{% endif %}">
						{% if user.is_authenticated %}
							<span class="username"><a href="{{ request.user.get_absolute_url }}"><span class="icon-user"></span>{% firstof request.user.get_full_name request.user.username %}</a></span>
							<ul id="userlinks" class="dropdown menu">
								<li>
									<a href="{{ request.user.get_absolute_url }}" rel="nofollow">{% trans "Profile" %}</a>
								</li>
								{% if user.is_superuser %}
								<li>
									<a href="{% url 'admin:index' %}" rel="nofollow">{% trans 'Site administration' %}</a>
								</li>
								{% endif %}
								<li>
									<a href="{% url 'auth_logout' %}" rel="nofollow">{% trans 'Log out' %}</a>
								</li>
								<li>
									<a href="{% url 'auth_password_change' %}" rel="nofollow">{% trans "Change password" %}</a>
								</li>
							</ul>
						{% else %}
							<span class="login"><a href="{% url 'auth_login' %}?next={% url 'home' %}" rel="nofollow">{% trans "Log in" %}</a></span>
							<ul id="userlinks" class="dropdown menu">
								<li>
									<a href="{% url 'auth_login' %}?next={% url 'home' %}" rel="nofollow">{% trans "Log in" %}</a>
								</li>
								<li>
									<a href="{% url 'registration_register' %}" rel="nofollow">{% trans 'Sign up' %}</a>
								</li>
								<li>
									<a href="{% url 'auth_password_reset' %}" rel="nofollow">{% trans "Password reset" %}</a>
								</li>
							</ul>
						{% endif %}
					</div>
					<div id="search-panel">
						<form method="get" action="{% url 'haystack_search' %}" class="search btn">
							<div class="search-input">
								<input type="text" name="q" /><button class="btn-search" title="Hľadať">Hľadať</button>
							</div>
						</form>
					</div>
				</div>
				{% block breadcrumbs %}
					{% breadcrumb class='home' url='home' %}Home{% endbreadcrumb %}
					{% render_breadcrumbs %}
				{% endblock %}
			</div>
		</div>
	{% endblock %}
	</header>
	<div id="colmask">
		<div id="colmid">
			<div id="colleft">
				<div id="col1">
					{% block messages %}
						{% render_messages messages %}
					{% endblock %}
					<div id="site_content">
						{% block content %}{% endblock %}
					</div>
					{% block discussion %}{% endblock %}
				</div>
				<aside>
					<div id="aside">
						<div id="col2">
							<div id="aside_left">
								{% block left %}
									<div class="module news">
										<h2>Správy</h2>
										{% news_frontpage %}
										<div class="module-links bottom">
											<a href="{% url 'news:create' %}">Pridať správu</a> |
											<a href="{% url 'news:list' %}" class="next">Ďalšie</a>
										</div>
									</div>
								{% endblock %}
							</div>
						</div>
						<div id="col3">
							<div id="aside_right">
								{% block right %}
									<div class="module survey">
										<h2>Anketa</h2>
										{% render_messages messages 'survey' %}
										{% survey_frontpage %}
									</div>
								{% endblock %}
							</div>
						</div>
					</div>
				</aside>
			</div>
		</div>
	</div>
</body>
</html>
