<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">{% load template_dynamicloader %}{# template_set_static_path templates/desktop/default #}
{% load webdesign %}
<html xmlns="http://www.w3.org/1999/xhtml"  lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{% template_static_path base.css %}" />
	<title>{% block title %}{% endblock %}</title>
	{% block extrastyle %}{% endblock %}{% block extraheaders %}{% endblock %}
</head>
<body>
<div id="top">
	{# block top #}<!--<h1><a href="{% url home %}">Shakal</a></h1>-->{# endblock #}
	{% block top %}
	<div id="top_logo"><a href="{% url home %}"><img src="{% template_static_path images/linuxos_logo.png %}" alt="LinuxOS" style="width: 180px; height: 50px;" /></a></div>
	<div id="top_breadcrumb"></div>
	{% endblock %}
</div><!-- #top -->
<div id="colmask"><div id="colinner">
	<div id="main">{% block main %}{% endblock %}</div><!-- #main -->
	<div id="left">{% block left %}{% lorem %}{% endblock %}</div><!-- #left -->
</div><!-- #colinner --></div><!-- #colmask -->
<div id="footer">
	{% block footer %}Shakal CMS{% endblock %}
</div><!-- end #footer -->
</body>
</html>
