{% extends "base.html" %}
{% load url from future %}
{% load threaded_comments %}
{% load hitcount_tags %}

{% block title %}LinuxOS.sk - slovenský linuxový portál{% endblock %}

{% block content %}
{% add_discussion_attributes articles %}
{% add_discussion_attributes top_articles %}
{% add_hitcount articles %}
{% add_hitcount top_articles %}
<h1 style="display: none">LinuxOS.sk - slovenský linuxový portál</h1>
<div class="module forum">
	<h2>Diskusné fórum</h2>
	<div class="module-row">
		{% with caption="Najnovšie komentáre" %}
		{% include "forum/block_topics_table.html" with forum=forum_new %}
		{% endwith %}
	</div>
	<div class="module-row">
		{% with caption="Nediskutované témy" %}
		{% include "forum/block_topics_table.html" with forum=forum_no_comments %}
		{% endwith %}
	</div>
	<div class="module-row">
		{% with caption="Najdiskutovanejšie témy" %}
		{% include "forum/block_topics_table.html" with forum=forum_most_comments %}
		{% endwith %}
	</div>
	<div class="module-links bottom">
		<a href="{% url 'forum:create' %}">Pridať novú tému</a> |
		<a href="{% url 'forum:overview' %}" class="next">Prezerať celé fórum</a>
	</div>
</div>

<div class="module article">
	<h2>Články</h2>
	{% for top_article in top_articles %}
		<div class="article top">
			{% with article=top_article %}
			{% include 'article/block_list_item.html' with thumbnail=1 %}
			{% endwith %}
		</div>
	{% endfor %}
	{% for article in articles %}
		{% include 'article/block_list_item.html' with thumbnail=0 %}
	{% endfor %}
	<div class="module-links bottom">
		{% for category in article_categories %}
			<a href="{{ category.get_absolute_url }}">{{ category }}</a>
			|
		{% endfor %}
		<a href="{% url 'article:article-list' %}" class="next">Ďalšie</a>
	</div>
</div>
{% endblock %}
