.collapsed .inline-related, .collapsed .add-row {
	display: none;
}

.form-horizontal fieldset.inline-group > h2 {
	margin: -30px 0 0 0;
}

.formatwrapper label {
	display: inline-block;
	padding: 4px 8px;
	margin-right: 1px;
}

.formatwrapper input {
	display: inline-block;
	vertical-align: middle;
}

th.field-thumbnail {
	width: 64px;
}

td.field-thumbnail img {
	width: 64px;
}

.attachment-upload .attachment-upload-fallback {
	display: block;
}

.attachment-upload .attachment-upload-ajax {
	display: none;
}

.attachment-upload.ajax .attachment-upload-fallback {
	display: none;
}

.attachment-upload.ajax .attachment-upload-ajax {
	display: block;
}

.attachment-template {
	display: none;
}

.attachment-upload-container {
	margin: 4px;
	padding: 10px;
	height: 200px;
	text-align: center;
	border: 2px dashed transparent;
	border-radius: 5px;
}

.attachment-upload-container.dragover {
	border: 2px dashed #569;
}

.attachment-upload-container h2 {
	margin: 50px 0 10px 0;
}

.progress-container {
	clear: both;
	border: 1px solid #ddd;
	height: 7px;
}

.progress-container .progress-value {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background: #57c;
	height: 5px;
}
