<table class="table table-striped table-condensed table-topics">
	{% if caption %}
		<thead>
			<tr>
				<th class="title">{{ caption }}</th>
				<th class="status">Stav</th>
				<th class="comments">Reakcií</th>
				<th class="date">Posledná</th>
			</tr>
		</thead>
	{% endif %}
	<tbody>
		{% for topic in topic_list %}
			<tr>
				<td class="title"><a href="{{ topic.get_absolute_url() }}">{{ topic.title }}</a></td>
				<td class="status">
					{% if topic.new_comments %}&nbsp;<span class="label success new" title="Nové komentáre">Nové komentáre</span>{% endif %}
					{% if topic.is_resolved %}&nbsp;<span class="label success resolved" title="Vyriešené">Vyriešené</span>{% endif %}
					{% if topic.is_locked %}&nbsp;<span class="label warning locked" title="Zamknuté">Zamknuté</span>{% endif %}
					{% if topic.discussion_watch %}&nbsp;<span class="label info watch" title="Sledované">Sledované</span>{% endif %}
				</td>
				<td class="comments"><span class="badge {{ topic.new_comments|yesno("new,watch,default") }}">{{ topic.comment_count }}</span></td>
				<td class="date">{{ topic.last_comment|humandatetime("Žiadna reakcia") }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
