{% load linuxos %}{% load url from future %}
<table class="table table-striped table-condensed table-topics">
	<caption>{{ caption }}</caption>
	<tr>
		<th class="title">Predmet</th>
		<th>Stav</th>
		<th>Reakcií</th>
		<th>Posledná</th>
	</tr>
	{% for topic in forum %}
	<tr>
		<td class="title"><a href="{% url 'forum:topic-detail' topic.id %}">{{ topic.subject }}</a></td>
		<td class="status"></td>
		<td class="comments"><span class="badge badge-{{ topic.new_comments|yesno:"new,watch,default" }}">{{ topic.comment_count }}</span></td>
		<td class="last-comment">{{ topic.last_comment|humandatetime:"Žiadna reakcia" }}</td>
	</tr>
	{% endfor %}
</table>
