{% extends "forum/forum_base.html" %}
{% load breadcrumbs_tags paginator_tags %}
{% load threaded_comments_tags %}

{% block title %}
	{% if forum_section %}
		{{ forum_section }}
	{% else %}
		Diskusné fórum
	{% endif %}
{% endblock %}

{% block breadcrumbs %}
	{% if forum_section %}
		{% breadcrumb %}{{ forum_section|truncatechars:60 }}{% endbreadcrumb %}
	{% endif %}
	{% breadcrumb url='forum:overview' %}Fórum{% endbreadcrumb %}
	{{ block.super }}
{% endblock %}

{% block extraheaders %}
	{% ifequal pagenum '1' %}
		<meta name="description" lang="sk" content="{% if forum_section %}{{ forum_section.description }}{% else %}Diskusné fórum slúži tak začínajúcim ako aj pokročilejším užívateľom Linuxu. Tu sa môžete spýtať otázku či predložiť problém, s ktorým si sami neviete poradiť.{% endif %}" />
	{% endifequal %}
{% endblock %}

{% block content %}

<ul class="object-tools">
	<li class="btn"><span><a href="{% url 'forum:create' %}">Pridať novú tému</a></span></li>
</ul>
<h1>{% if forum_section %}{{ forum_section }}{% else %}Diskusné fórum{% endif %}</h1>

{% if forum_section %}
<p class="description">{{ forum_section.description }}</p>
{% else %}
<p class="description">Diskusné fórum slúži tak začínajúcim ako aj pokročilejším užívateľom Linuxu. Tu sa môžete spýtať otázku či predložiť problém, s ktorým si sami neviete poradiť. Fórum je rozdelené do nasledujúcich kategórií:</p>

<ul>
	{% for section in sections %}
	<li><a href="{{ section.get_absolute_url }}">{{ section }}</a></li>
	{% endfor %}
</ul>

{% endif %}

<div class="module forum">
	{% autopaginate forum pagenum items_per_page=50 %}
	{% add_discussion_attributes forum %}
	<div class="module-row">
		{% include "forum/block_topics_table.html" with caption="Témy" %}
	</div>
	{% if forum_section %}
		{% paginator forum:section-page section=forum_section.slug %}
	{% else %}
		{% paginator forum:overview-page %}
	{% endif %}
</div>

{% endblock %}
