{% extends "forum/forum_base.html" %}{% load breadcrumbs_tags %}

{% block extraheaders %}
<meta name="robots" content="noindex, nofollow" />
{{ form.media }}
{% endblock %}

{% block title %}Pridať tému{% endblock %}
{% block breadcrumbs %}
	{% breadcrumb %}Pridať tému{% endbreadcrumb %}
	{% breadcrumb url='forum:overview' %}Fórum{% endbreadcrumb %}
	{{ block.super }}
{% endblock %}

{% block content %}
<h1>Pridať tému</h1>

{% if valid %}
	<div class="module preview">
		<h2>Náhľad</h2>
		<h3>{{ item }}</h3>
		<div class="clearpadding">
		{% with topic=item %}
			{% with comment_type="topic" %}{% with comment=topic %}{% with user=topic.author %}{% with user_name=topic.authors_name %}
			{% include "forum/topic_header.html" %}
			{% endwith %}{% endwith %}{% endwith %}{% endwith %}
			{% include "forum/topic_content.html" %}
		{% endwith %}
		</div>
	</div>
{% endif %}

<form action="{% url 'forum:create' %}" enctype="multipart/form-data" method="post">{% csrf_token %}
	<fieldset>
		{% include 'includes/form_attachment_loop.html' with form=form %}
		<div class="submit-row">
			<div class="positive">
				<button class="btn" type="submit" title="Náhľad"><span>Náhľad</span></button>
				{% if valid %}
				<button class="btn" type="submit" title="Vytvoriť tému" name="create" value="1"><span>Vytvoriť tému</span></button>
				{% endif %}
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}
