{% extends "forum/forum_base.html" %}{% load breadcrumbs_tags threaded_comments %}

{% block title %}{{ topic }}{% endblock %}

{% block breadcrumbs %}
	{% breadcrumb %}{{ topic|truncatechars:60 }}{% endbreadcrumb %}
	{% breadcrumb url='forum:section' section=topic.section.slug %}{{ topic.section|truncatechars:60 }}{% endbreadcrumb %}
	{% breadcrumb url='forum:overview' %}Fórum{% endbreadcrumb %}
	{{ block.super }}
{% endblock %}

{% block content %}

<ul class="object-tools btn-group">
	<li class="btn">
		<span>
			<a href="#" class="resolved">Vyriešené</a>
		</span>
	</li>
</ul>

<h1>{{ topic }}</h1>
{% include "forum/topic_header.html" %}
{% endblock %}

{% block discussion %}{% render_threaded_comments_toplevel topic %}{% endblock %}
