{% extends "forum/forum_base.html" %}{% load breadcrumbs_tags %}

{% block content %}
<h1>{{ topic }}</h1>

<div class="discussion header topic">
	<div class="title"><strong>Sekcia</strong>: </div>
	<span class="user">
		{% if topic.user %}
			<a href="{{ topic.user.get_absolute_url }}">{% firstof topic.user.get_full_name topic.user.username %}</a>
		{% else %}
			{{ topic.username }}
		{% endif %}
	</span>
	<span class="info">
		{{ topic.time|date:"SHORT_DATETIME_FORMAT" }}
	</span>
	<div class="text">
		{{ topic.text|safe }}
	</div>
	{% if topic.user.signature %}
		<div class="signature">
			{{ topic.user.signature }}
		</div>
	{% endif %}
</div>
{% endblock %}
