{% load linuxos %}
<div class="discussion header topic">
	<div class="title"><strong>Sekcia</strong>: <a href="{{ topic.section.get_absolute_url }}">{{ topic.section }}</a></div>
	{% if topic.user %}
		<span class="icon">
		</span>
	{% endif %}
	<span class="user">
		{% if topic.user %}
			<a href="{{ topic.user.get_absolute_url }}">{% firstof topic.user.get_full_name topic.user.username %}</a>
		{% else %}
			{{ topic.username }}
		{% endif %}
		{% if topic.user %}
			<span class="distribution"><strong>Distribúcia: </strong>{{ topic.user.get_profile.distribution }}</span>
		{% endif %}
	</span>
	<span class="info">
		{{ topic.time|humandatetime }}
	</span>
</div>
<div class="text">
	{{ topic.text|safe }}
</div>
{% if topic.user.signature %}
	<div class="signature">
		{{ topic.user.signature }}
	</div>
{% endif %}
