{% extends "forum/forum_base.html" %}{% load breadcrumbs_tags threaded_comments %}

{% block title %}{{ topic }}{% endblock %}

{% block breadcrumbs %}
	{% breadcrumb %}{{ topic|truncatechars:60 }}{% endbreadcrumb %}
	{% breadcrumb url='forum:section' section=topic.section.slug %}{{ topic.section|truncatechars:60 }}{% endbreadcrumb %}
	{% breadcrumb url='forum:overview' %}Fórum{% endbreadcrumb %}
	{{ block.super }}
{% endblock %}

{% block content %}

<ul class="object-tools btn-group">
	{% if topic.resolved_perm %}
		<li class="btn">
			<span>
				<a href="{{ topic.get_absolute_url }}?resolved={{ topic.is_resolved|yesno:",1" }}" class="resolved" rel="nofollow">{% if topic.is_resolved %}Nastaviť nevyriešené{% else %}Nastaviť vyriešené{% endif %}</a>
			</span>
		</li>
	{% endif %}
</ul>

<h1>{{ topic }}</h1>
{% include "forum/topic_header.html" %}
{% endblock %}

{% block discussion %}{% render_threaded_comments_toplevel topic %}{% endblock %}
