{% extends "forum/forum_base.html" %}{% load breadcrumbs_tags %}{% load url from future %}

{% block title %}Pridať tému{% endblock %}
{% block breadcrumbs %}{% breadcrumb %}Pridať tému{% endbreadcrumb %}{{ block.super }}{% endblock %}

{% block content %}
<h1>Pridať tému</h1>

{% if valid %}
	<div class="module preview">
		<h2>Náhľad</h2>
		<h3>{{ item }}</h3>
		<div class="clearpadding">
			{% include "forum/topic_header.html" with topic=item %}
		</div>
	</div>
{% endif %}

<form action="{% url 'forum:create' %}" method="post" id="registration-form">{% csrf_token %}
	<fieldset>
		{% include 'includes/form_loop.html' with form=form %}
		<div class="submit-row">
			<div class="positive">
				<button type="submit" title="Náhľad"><span>Náhľad</span></button>
				{% if valid %}
				<button type="submit" title="Vytvoriť tému" name="create" value="1"><span>Vytvoriť tému</span></button>
				{% endif %}
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}
