{% if other_desktops %}
	<div class="module sidebar desktops">
		{% if desktop and desktop.author == request.user %}
			<h2>Správa</h2>

			<p>
				<a href="{{ desktop.get_update_url() }}">Upraviť desktop</a>
			</p>
		{% endif %}

		{% for label, desktop_list in other_desktops %}
			<h2>{{ label }}</h2>

			<div class="module-row">
				{% for desktop in desktop_list %}
					{% include "desktops/partials/desktop_link.html" %}
				{% endfor %}
			</div>
			<div class="module-links bottom">
				<a href="{{ url("desktops:list-author", desktop.author.pk) }}" class="next">Ďalšie desktopy</a>
			</div>
		{% endfor %}
	</div>
{% endif %}
