{% if other_desktops %}
	<div class="module sidebar desktops foldable-sidebar">
		<h2 class="block-title">Ostatné desktopy</h2>
		{% if desktop and desktop.author == request.user %}
			<div class="module-row">
				<ul>
					<li><a href="{{ desktop.get_update_url() }}">Upraviť desktop</a></li>
				</ul>
			</div>
		{% endif %}

		{% for label, desktop_list in other_desktops %}
			{% if desktop_list %}
				<div class="module-row">
					<h3>{{ label }}</h3>

					{{ add_discussion_attributes(desktop_list) }}
					{% for desktop in desktop_list %}
						{% include "desktops/partials/desktop_link.html" %}
					{% endfor %}
				</div>
				<div class="module-links bottom">
					<a href="{{ url("desktops:list-author", category=desktop.author.pk, page=1) }}" class="next">Ďalšie desktopy</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
