{% if page_obj.has_next() or page_obj.has_previous() %}
<div class="pagination">
	<ul>
		<li class="prev{% if not page_obj.has_previous() %} disabled{% endif %}">{% if page_obj.has_previous() %}<a href="{{ pager_url(page_obj.previous_page_number()) }}">{% else %}<span>{% endif %}&lt;{% if page_obj.has_previous() %}</a>{% else %}</span>{% endif %}</li>

		{% for page in page_obj.page_range %}
			{% if page %}
			<li class="page {% if page_obj.number == page %}active{% endif %}"><a href="{{ pager_url(page) }}">{{ page }}</a></li>
			{% else %}
			<li class="disabled skip"><span>...</span></li>
			{% endif %}
		{% endfor %}
		<li class="next{% if not page_obj.has_next() %} disabled{% endif %}">{% if page_obj.has_next() %}<a href="{{ pager_url(page_obj.next_page_number()) }}">{% else %}<span>{% endif %}&gt;{% if page_obj.has_next() %}</a>{% else %}</span>{% endif %}</li>
	</ul>
</div>
{% endif %}
